<style>
    .ajax-content{
        width: max-content;
        display: none;
    }
   /* .table{
        border: 1px solid;
        border-collapse: inherit;
    }
    .table>thead>tr>th{
        border-left: 1px solid;
    }
    .table>tbody>tr>td{
        border-left: 1px solid;
        border-top: 1px solid;
    }*/
    .block2{
        margin-left: -400px;
    }
    .block3{
        margin-left: -800px;
    }
    .block4{
        margin-left: -1200px;
    }


</style>
<!-- Content Wrapper. Contains page content -->







<div class="content-wrapper" style="min-height: 1700px;">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>        Basic Profile Report  </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Basic Profile Report</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="col-lg-12">
           <div class="box" style="overflow-x: scroll;">


              <div class="box" style="overflow-x: scroll;">
                  <div class="box-header">

                    <div  class="col-md-4">
                       <label class="control-label"> Agents List</label>
                       <select class="form-control" id="rm_id" name="rm_id" ng-model="$parent.rm_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist">
                          <option value="" >Select agents</option>
                       </select>
                    </div>

                         <div class="col-md-4">
                           <label class="control-label">Intake Year</label>
                           <select class="form-control" name="intake_year" id="intake_year" ng-model="$parent.intake_year" >
                               <option value="" >Please Select Year</option>
                               <option value="2018">2018</option>
                               <option value="2019">2019</option>
                               <option value="2020">2020</option>
                               <option value="2021">2021</option>
                           </select>
                         </div>

                         <div  class="col-md-2">
                            <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="basicprofilereport()"> GET REPORT</button>
                         </div>
                      </div>
                  </div>

                  <div class="box-header">
                     <h3 class="box-title">Students Basic Profile Report</h3>
                  </div>

              <!-- /.box-header -->
              <div class="box-body no-padding">

                 <table id="myTable" class="table table-bordered table-hover">
                    <thead>
                       <tr>

                          <th style="width: 40px">STAGES</th>
                          <th style="width: 40px">0 To 30</th>
                          <th style="width: 40px">30 To 60</th>
                          <th style="width: 40px">60 To  100</th>
                          <th style="width: 40px">Average</th>

                       </tr>
                    </thead>
                    <tbody class="tb_jobsched">

                    <tr ng-repeat="(key , value) in basicProfileReportList" >

                          <td>{{key}}</td>

                          <td> <a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="basicprofilereportdata(30,key)" > {{value.zero_to_thirty ? value.zero_to_thirty : 0}} </a></td>
                          <td> <a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="basicprofilereportdata(60,key)" >{{value.thirty_to_sixty ? value.thirty_to_sixty : 0}} </a></td>
                          <td> <a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="basicprofilereportdata(100,key)" >{{value.sixty_to_hundred ? value.sixty_to_hundred : 0 }} </a></td>
                          <td> {{value.avrage_profile_complete}} </td>

                       </tr>



                    </tbody>
                 </table>
              </div>
              <!-- /.box-body -->
           </div>
        </div>

    </section>
    <!-- /.content -->
</div>


<div class="modal fade" id="modal-count-lead">
           <div class="modal-dialog">
              <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 1000px;">
                 <a class="btn" title="Export Table" ng-click='agentIncomeData.generate()' ng-href="{{ agentIncomeData.link() }}" download="agentIncomeData.csv">
                 <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                 </a>
                 <table ng-table="basicProfileReportListData" class="table table-bordered" show-filter="true" export-csv="agentIncomeData" separator="," export-csv-ignore="ignore">
                    <tr ng-repeat="valueee in $data" id="basicProfileReportListData" >
                       <td title="'Lead-id'" filter="{ id : 'number'}" sortable="'id'"><a target="_blank" href="/student/{{valueee.id}}/product/0" >{{valueee.id}}</a></td>

                       <td title="'Student Name'" filter="{ customer_name : 'text'}" sortable="'first_name'">{{valueee.customer_name}}</td>

                       <td title="'Student Email'" filter="{ customer_email : 'text'}" sortable="'customer_email'">{{valueee.customer_email ? valueee.customer_email : 0}}</td>

                       <td title="'student Mobile'" filter="{ customer_mobile : 'text'}" sortable="'customer_mobile'">{{valueee.customer_mobile ? valueee.customer_mobile : 0}}</td>

                       <td title="'Lead State'" filter="{ lead_state : 'text'}" sortable="'lead_state'">{{valueee.current_lead_state ? valueee.current_lead_state : 0}}</td>

                       <td title="'Basic Profile Percentage'" filter="{ basic_profile_percentage : 'text'}" sortable="'basic_profile_percentage'">{{valueee.basic_profile_percentage ? valueee.basic_profile_percentage : 0}}</td>

                       <td title="'Assign To'" filter="{ agent_email : 'text'}" sortable="'agent_email'">{{valueee.agent_email ? valueee.agent_email : 0}}</td>

                       <td title="'Comments'" ><a target="_blank" href="/comments/lead/{{valueee.id}}/0" >Comments</a></td>
                    </tr>
                 </table>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
                 </div>
              </div>
              <!-- /.modal-content -->
           </div>
           <!-- /.modal-dialog -->
        </div>
<!-- /.content-wrapper -->


<div class="modal fade" id="modal-count-tllead">
           <div class="modal-dialog">
              <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 1000px;">
                 <a class="btn" title="Export Table" ng-click='tlIncomeData.generate()' ng-href="{{ tlIncomeData.link() }}" download="tlIncomeData.csv">
                 <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                 </a>
                 <table ng-table="tableParamstlIncomeData" class="table table-bordered" show-filter="true" export-csv="tlIncomeData" separator="," export-csv-ignore="ignore">
                    <tr ng-repeat="valueee in $data" id="tableParamstlIncomeData" >
                       <td title="'Lead-id'" filter="{ lead_id : 'number'}" sortable="'lead_id'"><a target="_blank" href="/student/{{valueee.lead_id}}/product/0" >{{valueee.lead_id}}</a></td>

                       <td title="'Student Name'" filter="{ customer_name : 'text'}" sortable="'first_name'">{{valueee.customer_name}}</td>

                       <td title="'Student Email'" filter="{ customer_email : 'text'}" sortable="'customer_email'">{{valueee.customer_email ? valueee.customer_email : 0}}</td>

                       <td title="'student Mobile'" filter="{ customer_mobile : 'text'}" sortable="'customer_mobile'">{{valueee.customer_mobile ? valueee.customer_mobile : 0}}</td>

                       <td title="'Lead State'" filter="{ lead_state : 'text'}" sortable="'lead_state'">{{valueee.current_lead_state ? valueee.current_lead_state : 0}}</td>

                       <td title="'Assign To'" filter="{ agent_email : 'text'}" sortable="'agent_email'">{{valueee.agent_email ? valueee.agent_email : 0}}</td>

                       <td title="'Estimated Income'" filter="{ estimated_income : 'text'}" sortable="'estimated_income'">{{valueee.estimated_income ? valueee.estimated_income : 0}}</td>
                       <!-- <td title="'Requested Loan Amount'" filter="{ requested_amount : 'text'}" sortable="'requested_amount'">{{valueee.requested_loan_amount ? valueee.requested_loan_amount : 0}}</td> -->

                       <td title="'Comments'" ><a target="_blank" href="/comments/lead/{{valueee.lead_id}}/0" >Comments</a></td>
                    </tr>
                 </table>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
                 </div>
              </div>
              <!-- /.modal-content -->
           </div>
           <!-- /.modal-dialog -->
        </div>
<!-- /.content-wrapper -->

<!-- <script src="components/raphael/raphael.min.js"></script>
<script src="components/morris.js/morris.min.js"></script> -->

<script type="text/javascript">

</script>
