<style>
    .ajax-content{
        width: max-content;
        display: none;
    }
   /* .table{
        border: 1px solid;
        border-collapse: inherit;
    }
    .table>thead>tr>th{
        border-left: 1px solid;
    }
    .table>tbody>tr>td{
        border-left: 1px solid;
        border-top: 1px solid;
    }*/
    .block2{
        margin-left: -400px;
    }
    .block3{
        margin-left: -800px;
    }
    .block4{
        margin-left: -1200px;
    }


</style>
<!-- Content Wrapper. Contains page content -->







<div class="content-wrapper" style="min-height: 1700px;">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>        Imperial Dashboard        <small>Control panel</small>      </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Imperial Dashboard</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="col-lg-12">
           <div class="box" style="overflow-x: scroll;">
              <div class="box-header">
                 <h3 class="box-title">OVERALL REPORT</h3>
                 <!--<div class="col-md-3 pull-right">
                   <label class="control-label">Intake Year</label>
                   <select class="form-control" name="intake_year_filter" id="intake_year_filter" ng-model="$parent.intake_year_filter" ng-change="intakeYearFilter()">
                       <option value="" >Please Select Year</option>
                       <option value="2018">2018</option>
                       <option value="2019">2019</option>
                       <option value="2020">2020</option>
                       <option value="2021">2021</option>
                       <option value="2022">2022</option>
                       <option value="2023">2023</option>
                       <option value="WITHOUTINTAKE">WITHOUTINTAKE</option>
                   </select>
                 </div>-->
                 <div class="col-md-12">
                   <div class="col-md-3">
                      <label class="control-label">Start Date</label>
                      <input type="date" class="form-control txtBoxBS" name="lead_start_date" id="lead_start_date" ng-model="lead_start_date">
                   </div>
                   <div class="col-md-3">
                      <label class="control-label">End Date</label>
                      <input type="date" class="form-control txtBoxBS" name="lead_end_date" id="lead_end_date" ng-model="lead_end_date">
                   </div>

                   <div class="col-md-3">
                     <label class="control-label">Intake Year</label>
                     <select class="form-control" name="intake_year_filter" id="intake_year_filter" ng-model="$parent.intake_year_filter">
                         <option value="" >Please Select Year</option>
                         <option value="2023">2023</option>
                         <option value="2024">2024</option>
                         <option value="2025">2025</option>
                         <option value="2026">2026</option>
                         <option value="2027">2027</option>
                         <option value="ALL">ALL</option>
                     </select>
                   </div>

                   <div class="col-md-3">
                      <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="imperialOverAllReport()">SHOW</button>
                   </div>
                 </div>
              </div>
              <br/>
              <br/>
              <!-- /.box-header -->
              <div class="box-body no-padding">

                 <table id="myTable" class="table table-bordered table-hover">
                    <thead>
                       <tr>
                            <th colspan="1"></th>
                            <th colspan="3" ><span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;">IMPERIAL SANTACRUZ</span></th>
                            <th colspan="3" ><span class="badge bg-red" style="FONT-SIZE: large;width: 100%;">IMPERIAL BORIVALI</span></th>
                            <th colspan="3" ><span class="badge bg-aqua" style="FONT-SIZE: large;width: 100%;">IMPERIAL THANE</span></th>
                            <th colspan="3" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">IMPERIAL HINJEVADI</th>
                            <th colspan="3" ><span class="badge bg-blue" style="FONT-SIZE: large;width: 100%;">IMPERIAL KOTHRUD</span></th>
                            <th colspan="3" ><span class="badge bg-blue" style="FONT-SIZE: large;width: 100%;">IMPERIAL BANGLORE</span></th>

                            <th colspan="3" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">IMPERIAL HYDERABAD</span></th>

                            <th colspan="3" ><span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;">IMPERIAL KOLKATA</span></th>
                       </tr>
                       <tr>

                          <th style="width: 40px">STAGES</th>
                          <th >ENROLLED</th>
                          <th >NOT ENROLLED</th>
                          <th >TOTAL</th>
                          <th >ENROLLED</th>
                          <th >NOT ENROLLED</th>
                          <th >TOTAL</th>
                          <th >ENROLLED</th>
                          <th >NOT ENROLLED</th>
                          <th >TOTAL</th>
                          <th >ENROLLED</th>
                          <th >NOT ENROLLED</th>
                          <th >TOTAL</th>
                          <th >ENROLLED</th>
                          <th >NOT ENROLLED</th>
                          <th >TOTAL</th>
                          <th >ENROLLED</th>
                          <th >NOT ENROLLED</th>
                          <th >TOTAL</th>
                          <th >ENROLLED</th>
                          <th >NOT ENROLLED</th>
                          <th >TOTAL</th>
                          <th >ENROLLED</th>
                          <th >NOT ENROLLED</th>
                          <th >TOTAL</th>

                       </tr>
                    </thead>
                    <tbody class="tb_jobsched">

                    <tr ng-repeat="(key, value) in dashboardListImperialBranch" >

                          <td>{{key}}</td>
                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'Paid', '27')" >{{value.Paid1921 ? value.Paid1921 : 0}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'Unpaid', '27')" >{{value.Unpaid1921 ? value.Unpaid1921 : 0}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'ALL', '27')" >{{value.Paid1921 + value.Unpaid1921}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'Paid', '24')" >{{value.Paid2476 ? value.Paid2476 : 0}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'Unpaid', '24')" >{{value.Unpaid2476 ? value.Unpaid2476 : 0}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'ALL', '24')" >{{value.Paid2476 + value.Unpaid2476}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'Paid', '26')" >{{value.Paid2477 ? value.Paid2477 : 0}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'Unpaid', '26')" >{{value.Unpaid2477 ? value.Unpaid2477 : 0}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'ALL', '26')" >{{value.Paid2477 + value.Unpaid2477 }}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'Paid', '23')" >{{value.Paid2478 ? value.Paid2478 : 0}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'Unpaid', '23')" >{{value.Unpaid2478 ? value.Unpaid2478 : 0}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'ALL', '23')" >{{value.Paid2478 + value.Unpaid2478}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'Paid', '28')" >{{value.Paid2479 ? value.Paid2479 : 0}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'Unpaid', '28')" >{{value.Unpaid2479 ? value.Unpaid2479 : 0}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'ALL', '28')" >{{value.Paid2479 + value.Unpaid2479 }}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'Paid', '668')" >{{value.Paid31293 ? value.Paid31293 : 0}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'Unpaid', '668')" >{{value.Unpaid31293 ? value.Unpaid31293 : 0}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'ALL', '668')" >{{value.Paid31293 + value.Unpaid31293}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'Paid', '724')" >{{value.Paid42007 ? value.Paid42007 : 0}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'Unpaid', '724')" >{{value.Unpaid42007 ? value.Unpaid42007 : 0}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'ALL', '724')" >{{value.Paid42007 + value.Unpaid42007}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'Paid', '462')" >{{value.Paid13848 ? value.Paid13848 : 0}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'Unpaid', '462')" >{{value.Unpaid13848 ? value.Unpaid13848 : 0}}</a></td>

                          <td><a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="imperialFilterDataModal(key, 'ALL', '462')" >{{value.Paid13848 + value.Unpaid13848}}</a></td>

                       </tr>

                    </tbody>
                 </table>
              </div>
              <!-- /.box-body -->
           </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="modal-count-lead">
           <div class="modal-dialog">
              <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 1000px;">
                 <a class="btn" title="Export Table" ng-click='imperialData.generate()' ng-href="{{ imperialData.link() }}" download="imperialData.csv">
                 <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                 </a>
                 <table ng-table="tableParamsImperialData" class="table table-bordered" show-filter="true" export-csv="imperialData" separator="," export-csv-ignore="ignore">
                    <tr ng-repeat="valueee in $data" id="tableParamsImperialData">
                       <td title="'Lead-id'" filter="{ lead_id : 'number'}" sortable="'lead_id'"><a target="_blank" href="/student/{{valueee.lead_id}}/product/0" >{{valueee.lead_id}}</a></td>

                       <td title="'Student Name'" filter="{ first_name : 'text'}" sortable="'first_name'">{{valueee.first_name + " " + valueee.last_name}}</td>

                       <td title="'Student Email'" filter="{ email : 'text'}" sortable="'email'">{{valueee.email ? valueee.email : 0}}</td>

                       <td title="'student Mobile'" filter="{ mobile_number : 'text'}" sortable="'mobile_number'">{{valueee.mobile_number ? valueee.mobile_number : 0}}</td>

                       <td title="'Lead State'" filter="{ lead_state : 'text'}" sortable="'lead_state'">{{valueee.current_lead_state ? valueee.current_lead_state : 0}}</td>

                       <td title="'Assign To'" filter="{ agent_email : 'text'}" sortable="'agent_email'">{{valueee.agent_email ? valueee.agent_email : 0}}</td>

                       <!-- <td title="'Requested Loan Amount'" filter="{ requested_amount : 'text'}" sortable="'requested_amount'">{{valueee.requested_loan_amount ? valueee.requested_loan_amount : 0}}</td> -->

                       <td title="'Comments'" ><a target="_blank" href="/comments/lead/{{valueee.lead_id}}/0/0" >Comments</a></td>
                    </tr>
                 </table>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
                 </div>
              </div>
              <!-- /.modal-content -->
           </div>
           <!-- /.modal-dialog -->
        </div>
<!-- /.content-wrapper -->
