<style>
    .ajax-content{
        width: max-content;
        display: none;
    }
   /* .table{
        border: 1px solid;
        border-collapse: inherit;
    }
    .table>thead>tr>th{
        border-left: 1px solid;
    }
    .table>tbody>tr>td{
        border-left: 1px solid;
        border-top: 1px solid;
    }*/
    .block2{
        margin-left: -400px;
    }
    .block3{
        margin-left: -800px;
    }
    .block4{
        margin-left: -1200px;
    }

.multiselect-parent .dropdown-toggle {
  width: 250px;
}

.multiselect-parent .dropdown-menu {
  width: 250px;
}


</style>
<!-- Content Wrapper. Contains page content -->







<div class="content-wrapper" style="min-height: 1700px;">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>        Imperial  Student List        <small>Control panel</small>      </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Imperial Student List</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="col-lg-12">
           <div class="box" style="overflow-x: scroll;">
              <div class="box-header">
                 <h3 class="box-title"> Filter Fields </h3>
                 <br/>
                 <br/>

                 <div class="col-md-12">
                   <div class="col-md-3">
                     <label class="control-label">Type </label>
                     <select class="form-control" name="imperial_type" id="imperial_type" ng-model="$parent.imperial_type">
                         <option value="" >Please Select Year</option>
                         <option value="Paid">Imperial Enrolled</option>
                         <option value="Unpaid">Imperial Non Enrolled</option>
                         <option value="ALL">All</option>
                     </select>
                   </div>
                   <div class="col-md-3">
                      <label class="control-label"> Agents List </label>
                      <div  ng-dropdown-multiselect="" options="agentslist" selected-model="lead_rm_id" extra-settings="rmSetting" ></div>
                   </div>

                   <div class="col-md-3">
                      <label class="control-label">Lead State</label>
                      <div  ng-dropdown-multiselect="" options="allStatus" selected-model="lead_state_id" extra-settings="leadStateSetting" ></div>
                   </div>

                   <div class="col-md-3">
                     <label class="control-label">Intake Year</label>
                     <select class="form-control" name="intake_year" id="intake_year" ng-model="$parent.intake_year">
                         <option value="" >Please Select Year</option>
                         <option value="2023">2023</option>
                         <option value="2024">2024</option>
                         <option value="2025">2025</option>
                         <option value="2026">2026</option>
                         <option value="2027">2027</option>
                         <option value="ALL">ALL</option>
                     </select>
                   </div>

                   <div class="col-md-3">
                      <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="imperialFilterReport()">SHOW</button>
                   </div>
                 </div>
              </div>
              <br/>
              <br/>
              <!-- /.box-header -->
              <div class="box-body no-padding">

                <span > Total No - <b>{{ tableParams.total() }}</b></span> <br>

                <a class="btn" title="Export Table" ng-click='imperialStudentData.generate()' ng-href="{{ imperialStudentData.link() }}" download="imperialStudentData.csv">
                <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                </a>

                  <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true" export-csv="imperialStudentData" separator="," export-csv-ignore="ignore">
                      <tr ng-repeat="value in $data" id="list_table" ng-class="{act : activeMenu === value.lead_id}">

                          <td title="'Name'" filter="{ customer_name: 'text'}" sortable="'customer_name'" ><a href="/student/{{value.lead_id}}/product/0" target="_blank" ng-click="setActive(value.lead_id)">{{value.customer_name}}</a></td>
                          <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td>
                          <td title="'Mobile'" filter="{ mobile_number: 'number'}" sortable="'mobile_number'">{{value.mobile_number}}</td>
                          <td title="'Status'" filter="{ current_lead_state: 'text'}" sortable="'current_lead_state'">{{value.current_lead_state}}</td>
                          <td title="'Lead Creation Date'" filter="{ datecreated: 'text'}" sortable="'datecreated'">{{value.datecreated | date:'dd-MM-yyyy'}}</td>
                          <td title="'Next Followup Date'" filter="{ followup_date: 'text'}" sortable="'followup_date'">{{value.followup_date | date:'dd-MM-yyyy'}}</td>
                          <td title="'Loan Amount'" filter="{requested_loan_amount: 'number'}" sortable="'requested_loan_amount'">{{value.requested_loan_amount}}</td>
                          <td title="'Forex Status'" filter="{forex_application_status: 'number'}" sortable="'forex_application_status'">{{value.forex_application_status}}</td>
                          <td title="'Forex Loan Amount'" filter="{forex_conversion_amount: 'number'}" sortable="'forex_conversion_amount'">{{value.forex_conversion_amount ? value.forex_conversion_amount : value.requested_loan_amount}}</td>
                          <td title="'Intake'" filter="{intake: 'text'}" sortable="'intake'">{{value.intake}}</td>
                          <td title="'Assigned To'" filter="{ partner_name: 'text'}" sortable="'partner_name'">{{value.partner_name}}</td>
                          <td title="'Imperial Status'" filter="{imperial_enrolled: 'text'}" sortable="'imperial_enrolled'" > {{value.imperial_enrolled}}</td>
                          <td title="'Chat'" ><a href="/students/chat-with-student/{{value.login_id}}/{{value.name}}" target="_blank" ng-click="setActive(value.lead_id)">App Chat</a></td>

                      </tr>
                  </table>
              </div>
              <!-- /.box-body -->
           </div>
        </div>

    </section>
    <!-- /.content -->
</div>
