<style>
    .ajax-content{
        width: max-content;
        display: none;
    }
   /* .table{
        border: 1px solid;
        border-collapse: inherit;
    }
    .table>thead>tr>th{
        border-left: 1px solid;
    }
    .table>tbody>tr>td{
        border-left: 1px solid;
        border-top: 1px solid;
    }*/
    .block2{
        margin-left: -400px;
    }
    .block3{
        margin-left: -800px;
    }
    .block4{
        margin-left: -1200px;
    }


</style>
<!-- Content Wrapper. Contains page content -->







<div class="content-wrapper" style="min-height: 1700px;">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>        Dashboard        <small>Control panel</small>      </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="col-lg-12">
           <div class="box" style="overflow-x: scroll;">
              <div class="box-header">
                 <h3 class="box-title">OVERALL REPORT</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">

                 <table id="myTable" class="table table-bordered table-hover">
                    <thead>
                       <tr>
                            <th colspan="1"></th>
                            <th colspan="2" ><span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;">JENNY TEAM</span></th>
                            <th colspan="2" ><span class="badge bg-red" style="FONT-SIZE: large;width: 100%;">RAKESH TEAM</span></th>
                           <th colspan="2" ><span class="badge bg-blue" style="FONT-SIZE: large;width: 100%;">GURPREET TEAM</span></th>
                            <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">NILESH TEAM</span></th>
                            <th colspan="2" ><span class="badge bg-grey" style="FONT-SIZE: large;width: 100%;">BANIT SAWHNEY</span></th>

                            <!-- <th colspan="2" style="FONT-SIZE: large;"> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> TOP SPOT</th> -->
                       </tr>
                       <tr>

                          <th style="width: 40px">STAGES</th>
                          <th >NO. OF STUDENTS</th>
                          <th >NO. OF APPLICATIONS</th>
                          <th >NO. OF STUDENTS</th>
                          <th >NO. OF APPLICATIONS</th>
                          <th >NO. OF STUDENTS</th>
                          <th >NO. OF APPLICATIONS</th>
                          <th >NO. OF STUDENTS</th>
                          <th >NO. OF APPLICATIONS</th>
                          <th >NO. OF STUDENTS</th>
                          <th >NO. OF APPLICATIONS</th>
                       </tr>
                    </thead>
                    <tbody class="tb_jobsched">

                    <tr ng-repeat="(key, value) in dashboardListCompare" >

                          <td>{{key}}</td>
                          <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdata(3,1,key)" > {{value.team1Lead ? value.team1Lead : 0}} </a></td>
                          <td>{{value.team1Product ? value.team1Product : 0}}</td>
                          <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdata(2,1,key)" >{{value.team2Lead ? value.team2Lead : 0}} </a></td>
                          <td>{{value.team2Product ? value.team2Product : 0}}</td>
                          <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdata(4120,1,key)" >{{value.team4Lead ? value.team4Lead : 0}} </a></td>
                          <td>{{value.team4Product ? value.team4Product : 0}}</td>
                          <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdata(4122,1,key)" >{{value.team3Lead ? value.team3Lead : 0}} </a></td>
                          <td>{{value.team3Product ? value.team3Product : 0}}</td>
                          <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdata(1,1,key)" >{{value.team5Lead ? value.team5Lead : 0}} </a></td>
                          <td>{{value.team5Product ? value.team5Product : 0}}</td>
                          <!-- <td> <span ng-if="value.team1Lead > value.team2Lead" class="badge bg-yellow">JENNY</span>
                          <span ng-if="value.team1Lead < value.team2Lead" class="badge bg-red">RAKESH</span>
                          <span ng-if="value.team1Lead == value.team2Lead" class="badge bg-green">EQUAL</span></td> -->
<!--
                          <td><span ng-if="value.team1Product > value.team2Product" class="badge bg-yellow">JENNY</span>
                          <span ng-if="value.team1Product < value.team2Product" class="badge bg-red">RAKESH</span>
                          <span ng-if="value.team1Product == value.team2Product" class="badge bg-green">EQUAL</span></td> -->
                       </tr>

                    </tbody>
                 </table>
              </div>
              <!-- /.box-body -->
           </div>
        </div>
        <br/><br/>
        <hr>
        <br/><br/>
        <div class="col-lg-12">
           <div class="box" style="overflow-x: scroll;">
              <div class="box-header">
                 <h3 class="box-title">RAKESH'S TEAM OVERALL REPORT</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                 <table class="table table-striped">
                    <tbody>
                       <tr>
                            <th colspan="1"></th>
                            <th colspan="2" ><span class="badge bg-red" style="FONT-SIZE: large;width: 100%;">RAKESH</span></th>
                            <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">ASHOK</span></th>

                             <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">MANASI</span></th>
                             <!-- <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">AMAN</span></th> -->
                             <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">LALITHA</span></th>

                       </tr>
                       <tr>
                          <th style="width: 40px">STAGES</th>
                          <th >NO. OF STUDENTS</th>
                          <th >NO. OF APPLICATIONS</th>
                          <th >NO. OF STUDENTS</th>
                          <th >NO. OF APPLICATIONS</th>
                          <th >NO. OF STUDENTS</th>
                          <th >NO. OF APPLICATIONS</th>
                          <th >NO. OF STUDENTS</th>
                          <th >NO. OF APPLICATIONS</th>


                       </tr>
                       <tr ng-repeat="(key1, value1) in dashboardListTeamCompare">

                          <td>{{key1}}</td>
                          <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdata(2,0,key1)" >{{value1.team2Lead2 ? value1.team2Lead2 : 0}} </a></td>
                          <td>{{value1.team2Product2 ? value1.team2Product2 : 0}}</td>
                          <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdata(4,0,key1)" >{{value1.team2Lead4 ? value1.team2Lead4 : 0}} </a></td>
                          <td>{{value1.team2Product4 ? value1.team2Product4 : 0}}</td>
                          <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdata(3670,0,key1)" >{{value1.team2Lead3670 ? value1.team2Lead3670 : 0}} </a></td>
                          <td>{{value1.team2Product3670 ? value1.team2Product3670 : 0}}</td>
                          <!-- <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdata(8638,0,key1)" >{{value1.team2Lead8638 ? value1.team2Lead8638 : 0}} </a></td>
                          <td>{{value1.team2Product8638 ? value1.team2Product8638 : 0}}</td> -->
                          <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdata(2649,0,key1)" >{{value1.team2Lead2649 ? value1.team2Lead2649 : 0}} </a></td>
                          <td>{{value1.team2Product2649 ? value1.team2Product2649 : 0}}</td>

                       </tr>
                    </tbody>
                 </table>
              </div>
              <!-- /.box-body -->
           </div>
        </div>
        <br/><br/>
        <hr>
        <br/><br/>
        <div class="col-lg-12">
           <div class="box" style="overflow-x: scroll;">
              <div class="box-header">
                 <h3 class="box-title">JENNY'S TEAM OVERALL REPORT</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                 <table class="table table-striped">
                    <tbody>
                       <tr>
                            <th colspan="1"></th>
                            <th colspan="2" ><span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;">JENNY</span></th>
                            <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">RANBIR</span></th>
                            <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">ZAINAB</span></th>
                            <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">AKSHAY</span></th>
                            </tr>
                       <tr>
                          <th style="width: 40px">STAGES</th>
                          <th >NO. OF STUDENTS</th>
                          <th >NO. OF APPLICATIONS</th>
                          <th >NO. OF STUDENTS</th>
                          <th >NO. OF APPLICATIONS</th>
                          <th >NO. OF STUDENTS</th>
                          <th >NO. OF APPLICATIONS</th>
                          <th >NO. OF STUDENTS</th>
                          <th >NO. OF APPLICATIONS</th>
                       </tr>
                       <tr ng-repeat="(key2, value2) in dashboardListTeamCompare">

                          <td>{{key2}}</td>
                          <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdata(3,0,key2)" >{{value2.team1Lead3 ? value2.team1Lead3 : 0}} </a></td>
                          <td>{{value2.team1Product3 ? value2.team1Product3 : 0}}</td>
                          <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdata(5,0,key2)" >{{value2.team1Lead5 ? value2.team1Lead5 : 0}} </a></td>
                          <td>{{value2.team1Product5 ? value2.team1Product5 : 0}}</td>
                          <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdata(2650,0,key2)" >{{value2.team1Lead2650 ? value2.team1Lead2650 : 0}} </a></td>
                          <td>{{value2.team1Product2650 ? value2.team1Product2650 : 0}}</td>
                          <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdata(2651,0,key2)" >{{value2.team1Lead2651 ? value2.team1Lead2651 : 0}} </a></td>
                          <td>{{value2.team1Product2651 ? value2.team1Product2651 : 0}}</td>
                       </tr>
                    </tbody>
                 </table>
              </div>
              <!-- /.box-body -->
           </div>
        </div>
        <br/><br/>
        <hr>
        <br/><br/>
        <div class="col-lg-12">
           <div class="box" style="overflow-x: scroll;">
              <div class="box-header">
                 <h3 class="box-title">GURPREET'S TEAM OVERALL REPORT</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                 <table class="table table-striped">
                    <tbody>
                       <tr>
                            <th colspan="1"></th>
                            <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">GURPREET</span></th>

                       </tr>
                       <tr>
                          <th style="width: 40px">STAGES</th>
                          <th >NO. OF STUDENTS</th>
                          <th >NO. OF APPLICATIONS</th>

                       </tr>
                       <tr ng-repeat="(key1, value1) in dashboardListTeamCompare">

                          <td>{{key1}}</td>
                          <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(4120,0,key1)" >{{value1.team4Lead4120 ? value1.team4Lead4120 : 0}} </a></td>
                          <td>{{value1.team4Product4120 ? value1.team4Product4120 : 0}}</td>

                       </tr>
                    </tbody>
                 </table>
              </div>
              <!-- /.box-body -->
           </div>
        </div>
        <br/><br/>
        <hr>
        <br/><br/>
        <div class="col-lg-12">
           <div class="box" style="overflow-x: scroll;">
              <div class="box-header">
                 <h3 class="box-title">NILESH'S TEAM NEW ID OVERALL REPORT</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                 <table class="table table-striped">
                    <tbody>
                       <tr>
                            <th colspan="1"></th>
                            <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">NILESH NEW ID</span></th>

                       </tr>
                       <tr>
                          <th style="width: 40px">STAGES</th>
                          <th >NO. OF STUDENTS</th>
                          <th >NO. OF APPLICATIONS</th>

                       </tr>
                       <tr ng-repeat="(key1, value1) in dashboardListTeamCompare">

                          <td>{{key1}}</td>
                          <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(4122,0,key1)" >{{value1.team3Lead4122 ? value1.team3Lead4122 : 0}} </a></td>
                          <td>{{value1.team3Product4122 ? value1.team3Product4122 : 0}}</td>

                        </tr>
                    </tbody>
                 </table>
              </div>
              <!-- /.box-body -->
           </div>
        </div>
        <br/><br/>
        <hr>
        <br/><br/>
        <div class="col-lg-12">
           <div class="box" style="overflow-x: scroll;">
              <div class="box-header">
                 <h3 class="box-title">BANIT'S TEAM OVERALL REPORT</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                 <table class="table table-striped">
                    <tbody>
                       <tr>
                            <th colspan="1"></th>
                            <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">BANIT NEW ID</span></th>

                       </tr>
                       <tr>
                          <th style="width: 40px">STAGES</th>
                          <th >NO. OF STUDENTS</th>
                          <th >NO. OF APPLICATIONS</th>

                       </tr>
                       <tr ng-repeat="(key1, value1) in dashboardListTeamCompare">

                          <td>{{key1}}</td>
                          <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(1,0,key1)" >{{value1.team5Lead1 ? value1.team5Lead1 : 0}} </a></td>
                          <td>{{value1.team5Product1 ? value1.team5Product1 : 0}}</td>

                        </tr>
                    </tbody>
                 </table>
              </div>
              <!-- /.box-body -->
           </div>
        </div>
        <!-- Small boxes (Stat box) -->

        <!-- <div class="row">
            <div ng-class="{'row': key%4==3}" ng-repeat="(key, data) in dashboardData">
                <div class="col-lg-3 col-xs-6">

                    <div ng-class="{'small-box bg-aqua': key%4==0, 'small-box bg-green': key%4==1, 'small-box bg-yellow': key%4==2, 'small-box bg-red': key%4==3}">
                        <div class="inner">
                            <h3>{{data.lead_count}}</h3>
                            <p>{{data.display_name}}</p>
                        </div>
                        <div class="icon">
                            <i ng-class="{'ion ion-bag': key%4==0, 'ion ion-stats-bars': key%4==1, 'ion ion-person-add': key%4==2, 'ion ion-pie-graph': key%4==3}"></i>
                        </div>
                        <a href="#" class="small-box-footer ajax" ng-click="enable(data.current_lead_state)">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                    <div ng-class="{'ajax-content': key%4==0, 'ajax-content block2': key%4==1, 'ajax-content block3': key%4==2, 'ajax-content block4': key%4==3}" id="{{data.current_lead_state}}">
                        <div class="table-responsive">
                          <table class="table" show-filter="true">
                              <thead>
                                  <tr>
                                      <th ng-repeat="header in allApplicationsHeaders" colspan="{{header.colspan}}" style="text-align:center;">{{header.value}}</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="tableData in allApplicationsBody">{{tableData}}
                                      <td ng-repeat="row in tableData" width="row.width">{{row.value}}</td>
                                  </tr>
                              </tbody>
                          </table>
                        </div>
                    </div>
                </div>

            </div>
        </div> -->

    </section>
    <!-- /.content -->
</div>

<div class="modal fade" id="modal-application-lead">
   <div class="modal-dialog">
      <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 900px;">
         <a class="btn" title="Export Table" ng-click='applistleadcsv.generate()' ng-href="{{ applistleadcsv.link() }}" download="applistleadcsv.csv">
         <i class="glyphicon glyphicon-new-window"></i> &#160;Export
         </a>
         <table ng-table="tableParamsApplication" class="table table-bordered" show-filter="true" export-csv="applistleadcsv" separator="," export-csv-ignore="ignore">
            <tr ng-repeat="valuee in $data" id="applicationleadfilterdatainfo">
               <td title="'Lead-id'" filter="{ id : 'number'}" sortable="'id'"><a target="_blank" href="/student/{{valuee.id}}/product/0" >{{valuee.id}}</a></td>
               <td title="'Customer Name'" filter="{ customer_name : 'text'}" sortable="'customer_name'">{{valuee.customer_name ? valuee.customer_name : 0}}</td>
               <td title="'Customer Mobile'" filter="{ customer_mobile : 'text'}" sortable="'customer_mobile'">{{valuee.customer_mobile ? valuee.customer_mobile : 0}}</td>
               <td title="'Customer Email'" filter="{ customer_email : 'text'}" sortable="'customer_email'">{{valuee.customer_email ? valuee.customer_email : 0}}</td>
               <td title="'Parents Email'" filter="{ parent_email : 'text'}" sortable="'parent_email'">{{valuee.parent_email ? valuee.parent_email : 0}}</td>
               <td title="'Decision Maker Email'" filter="{ decision_maker_email : 'text'}" sortable="'decision_maker_email'">{{valuee.decision_maker_email ? valuee.decision_maker_email : 0}}</td>
               <td title="'Decision Maker Mobile'" filter="{ decision_maker_mobile : 'text'}" sortable="'decision_maker_mobile'">{{valuee.decision_maker_mobile ? valuee.decision_maker_mobile : 0}}</td>
               <td title="'Lead State'" filter="{ current_lead_state : 'text'}" sortable="'current_lead_state'">{{valuee.current_lead_state ? valuee.current_lead_state : 0}}</td>
               <td title="'Loan Amount'" filter="{ requested_loan_amount : 'number'}" sortable="'requested_loan_amount'">{{valuee.requested_loan_amount ? valuee.requested_loan_amount : 0}}</td>
               <td title="'Assign To'" filter="{ email : 'text'}" sortable="'email'">{{valuee.email ? valuee.email : 0}}</td>
            </tr>
         </table>
         <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>

<!-- /.content-wrapper -->

<!-- <script src="components/raphael/raphael.min.js"></script>
<script src="components/morris.js/morris.min.js"></script> -->

<script type="text/javascript">

</script>
