<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<style>
   .ajax-content{
       width: max-content;
       display: none;
   }
  /* .table{
       border: 1px solid;
       border-collapse: inherit;
   }
   .table>thead>tr>th{
       border-left: 1px solid;
   }
   .table>tbody>tr>td{
       border-left: 1px solid;
       border-top: 1px solid;
   }*/
   .block2{
       margin-left: -400px;
   }
   .block3{
       margin-left: -800px;
   }
   .block4{
       margin-left: -1200px;
   }

   table {
      border-collapse: separate;
}
table td,
table th {
  /*border: 1px solid black;*/
  padding: 0.5rem 1rem;
}
table thead th {
    top: 0;
    background: white;
    text-align: center;
}
table td {
  background: #fff;
  padding: 4px 5px;
  text-align: center;
}

table tbody th {
  /*font-weight: 100;
  font-style: italic;
  text-align: left;*/
  position: relative;
}
table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}
table tbody th {
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;
}
table tbody td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

[role="region"][aria-labelledby][tabindex] {
  width: 100%;
  max-height: 98vh;
  overflow: auto;
}
[role="region"][aria-labelledby][tabindex]:focus {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  outline: 0;
}




</style>
<!-- Content Wrapper. Contains page content -->







<div class="content-wrapper" style="min-height: 1700px;">


   <!-- Content Header (Page header) -->
   <section class="content-header">
       <h1>        Dashboard        <small>Control panel</small>      </h1>
       <ol class="breadcrumb">
           <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
           <li class="active">Dashboard</li>
       </ol>
   </section>
   <!-- Main content -->
   <section class="content">
       <div class="col-lg-12">
          <div class="box" style="overflow-x: scroll;">
             <div class="box-header">
                <h3 class="box-title">OVERALL REPORT INTAKE YEAR ({{intakeYear}})</h3>
                <div class="col-md-3 pull-right">
                  <label class="control-label">Intake Year</label>
                  <select class="form-control" name="intake_year_filter" id="intake_year_filter" ng-model="$parent.intake_year_filter" ng-change="intakeYearFilter()">
                      <option value="" >Please Select Year</option>
                      <option value="2023">2023</option>
                      <option value="2024">2024</option>
                      <option value="2025">2025</option>
                      <option value="2026">2026</option>
                      <option value="2027">2027</option>
                  </select>
                </div>
             </div>
             <!-- /.box-header -->
             <div class="box-body no-padding" role="region" aria-labelledby="caption" tabindex="0">

                <table id="myTable" class="table table-bordered table-hover">
                   <thead>
                      <tr>
                           <th colspan="1"></th>
                           <th colspan="2" ><span class="badge bg-red" style="FONT-SIZE: large;width: 100%;">RAKESH TEAM (Target - 500)</span></th>
                           <th colspan="2" ><span class="badge bg-blue" style="FONT-SIZE: large;width: 100%;">Sudarshan TEAM (Target - 500)</span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">AKSHAY TEAM (Target - 320)</span></th>
                           <th colspan="2" ><span class="badge bg-grey" style="FONT-SIZE: large;width: 100%;">CHARLES TEAM (Target - 175)</span></th>
                           <th colspan="2" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">SUDHIR TEAM (Target - 250)</span></th>
                           <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">BANIT SAWHNEY (Target - 1745)</span></th>
                      </tr>
                      <tr>

                         <th style="width: 40px">STAGES</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <!--
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th> -->
                      </tr>
                   </thead>
                   <tbody class="tb_jobsched">

                   <tr ng-repeat="(key, value) in newdashboardListCompare" >

                         <td>{{key}}</td>
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(2,1,key)" >{{value.team1Lead ? value.team1Lead : 0}} </a></td>
                         <td>{{value.team1Product ? value.team1Product : 0}}</td>
                         <!-- <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(3,1,key)" > {{value.team1Lead ? value.team1Lead : 0}} </a></td>
                         <td>{{value.team1Product ? value.team1Product : 0}}</td> -->
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(5,1,key)" > {{value.team2Lead ? value.team2Lead : 0}} </a></td>
                         <td>{{value.team2Product ? value.team2Product : 0}}</td>
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(2651,1,key)" >{{value.team3Lead ? value.team3Lead : 0}} </a></td>
                         <td>{{value.team3Product ? value.team3Product : 0}}</td>
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(25459,1,key)" >{{value.team4Lead ? value.team4Lead : 0}} </a></td>
                         <td>{{value.team4Product ? value.team4Product : 0}}</td>
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(46955,1,key)" >{{value.team5Lead ? value.team5Lead : 0}} </a></td>
                         <td>{{value.team5Product ? value.team5Product : 0}}</td>
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(1,1,key)" >{{value.team6Lead ? value.team6Lead : 0}} </a></td>
                         <td>{{value.team6Product ? value.team6Product : 0}}</td>

                     <!--     <td> <span ng-if="value.team1Lead > value.team2Lead" class="badge bg-yellow">JENNY</span>
                         <span ng-if="value.team2Lead > value.team1Lead" class="badge bg-red">RAKESH</span>
                         <span ng-if="value.team1Lead == value.team2Lead" class="badge bg-green">EQUAL</span></td> -->

                         <!-- <td> <span ng-if="(value.team1Lead > value.team2Lead) && (value.team1Lead > value.team3Lead) && (value.team1Lead > value.team4Lead)" class="badge bg-yellow">JENNY</span>
                         <span ng-if="(value.team2Lead > value.team1Lead) && (value.team2Lead > value.team3Lead) && (value.team2Lead > value.team4Lead) " class="badge bg-red">RAKESH</span>
                         <span ng-if="(value.team4Lead > value.team1Lead) && (value.team4Lead > value.team2Lead) && (value.team4Lead > value.team3Lead)" class="badge bg-grey">GURPREET</span>
                         <span ng-if="(value.team3Lead > value.team1Lead) && (value.team3Lead > value.team2Lead) && (value.team3Lead > value.team4Lead)" class="badge bg-green">NILESH</span>
                         <span ng-if="value.team1Lead == value.team2Lead == value.team3Lead == value.team4Lead" class="badge bg-green">EQUAL</span></td> -->

                         <!-- <td><span ng-if="value.team1Product > value.team2Product" class="badge bg-yellow">JENNY</span>
                         <span ng-if="value.team2Product > value.team1Product" class="badge bg-red">RAKESH</span>
                         <span ng-if="value.team1Product == value.team2Product" class="badge bg-green">EQUAL</span></td> -->

                         <!-- <td><span ng-if="(value.team1Product > value.team2Product) && (value.team1Product > value.team3Product) && (value.team1Product > value.team4Product)" class="badge bg-yellow">JENNY</span>
                         <span ng-if="(value.team2Product > value.team1Product) && (value.team2Product > value.team3Product) && (value.team2Product > value.team4Product)" class="badge bg-red">RAKESH</span>
                         <span ng-if="(value.team4Product > value.team1Product) && (value.team4Product > value.team2Product) && (value.team4Product > value.team3Product)" class="badge bg-yellow">GURPREET</span>
                         <span ng-if="(value.team3Product > value.team1Product) && (value.team3Product > value.team2Product) && (value.team3Product > value.team4Product)" class="badge bg-red">NILESH</span>
                         <span ng-if="value.team1Product == value.team2Product == value.team3Product == value.team4Product" class="badge bg-green">EQUAL</span></td> -->
                      </tr>

                   </tbody>
                </table>
             </div>
             <!-- /.box-body -->
          </div>
       </div>
       <br/><br/>
       <hr>
       <br/><br/>
       <div class="col-lg-12">
          <div class="box" style="overflow-x: scroll;">
             <div class="box-header">
                <h3 class="box-title">RAKESH'S TEAM OVERALL REPORT ( Target - 500)</h3>
             </div>
             <!-- /.box-header -->
             <div class="box-body no-padding" role="region1" aria-labelledby="caption" tabindex="0">
                <table class="table table-bordered table-hover">
                   <thead>
                    <tr>
                           <th colspan="1"></th>
                           <th colspan="2" ><span class="badge bg-red" style="FONT-SIZE: large;width: 100%;">RAKESH (125)</span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Hitisha B (125)</span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Mageshwari (125)</span></th>
                           <!-- <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Aarti</span></th> -->
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Rishav K (125)</span></th>
                           <!-- <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Tarun</span></th> -->
                           <!-- <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Telugu 2</span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Kannada 1</span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> sumedh.n</span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Gujarat</span></th> -->
                           <!-- <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Charanjeet S</span></th> -->
                      </tr>
                      <tr>
                         <th style="width: 40px">STAGES</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                          <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <!-- <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                          <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th> -->
                         <!--<th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th> -->
                      </tr>
                   </thead>
                   <tbody>

                      <tr ng-repeat="(key1, value1) in newdashboardListTeamCompare">

                         <td>{{key1}}</td>
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(2,0,key1)" >{{value1.team1Lead2 ? value1.team1Lead2 : 0}} </a></td>
                         <td>{{value1.team1Product2 ? value1.team1Product2 : 0}}</td>
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(33304,0,key1)" >{{value1.team1Lead33304 ? value1.team1Lead33304 : 0}} </a></td>
                         <td>{{value1.team1Product33304 ? value1.team1Product33304 : 0}}</td>
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(33302,0,key1)" >{{value1.team1Lead33302 ? value1.team1Lead33302 : 0}} </a></td>
                         <td>{{value1.team1Product33302 ? value1.team1Product33302 : 0}}</td>
                         <!-- <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(46293,0,key1)" >{{value1.team1Lead46293 ? value1.team1Lead46293 : 0}} </a></td>
                         <td>{{value1.team1Product46293 ? value1.team1Product46293 : 0}}</td> -->
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(25458,0,key1)" >{{value1.team1Lead25458 ? value1.team1Lead25458 : 0}} </a></td>
                         <td>{{value1.team1Product25458 ? value1.team1Product25458 : 0}}</td>
                         <!-- <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(25461,0,key1)" >{{value1.team1Lead25461 ? value1.team1Lead25461 : 0}} </a></td>
                         <td>{{value1.team1Product25461 ? value1.team1Product25461 : 0}}</td> -->

                         <!-- <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(2649,0,key1)" >{{value1.team1Lead2649 ? value1.team1Lead2649 : 0}} </a></td>
                         <td>{{value1.team1Product2649 ? value1.team1Product2649 : 0}}</td>

                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(25462,0,key1)" >{{value1.team1Lead25462 ? value1.team1Lead25462 : 0}} </a></td>
                         <td>{{value1.team1Product25462 ? value1.team1Product25462 : 0}}</td>

                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(33300,0,key1)" >{{value1.team1Lead33300 ? value1.team1Lead33300 : 0}} </a></td>
                         <td>{{value1.team1Product33300 ? value1.team1Product33300 : 0}}</td>
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(33301,0,key1)" >{{value1.team1Lead33301 ? value1.team1Lead33301 : 0}} </a></td>
                         <td>{{value1.team1Product33301 ? value1.team1Product33301 : 0}}</td>

                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(33303,0,key1)" >{{value1.team1Lead33303 ? value1.team1Lead33303 : 0}} </a></td>
                         <td>{{value1.team1Product33303 ? value1.team1Product33303 : 0}}</td>
                          -->
                      </tr>
                   </tbody>
                </table>
             </div>
             <!-- /.box-body -->
          </div>
       </div>
       <br/><br/>
       <hr>
       <br/><br/>
       <div class="col-lg-12">
          <div class="box" style="overflow-x: scroll;">
             <div class="box-header">
                <h3 class="box-title">SudarshanS'S TEAM OVERALL REPORT (Target - 500)</h3>
             </div>
             <!-- /.box-header -->
             <div class="box-body no-padding" role="region2" aria-labelledby="caption" tabindex="0">
                <table class="table table-bordered table-hover">
                   <thead>

                      <tr>
                           <th colspan="1"></th>
                           <th colspan="2" ><span class="badge bg-blue" style="FONT-SIZE: large;width: 100%;"> Sudarshan</span></th>

                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Roshani</span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Manasi</span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Karan</span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Ashok G</span></th>
                           <!--<th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Bangalore 1 </span></th>-->

                      </tr>
                      <tr>
                         <th style="width: 40px">STAGES</th>

                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <!-- <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th> -->
                         <!--<th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>-->

                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="(key1, value1) in newdashboardListTeamCompare">

                         <td>{{key1}}</td>
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(5,0,key1)" >{{value1.team2Lead5 ? value1.team2Lead5 : 0}} </a></td>
                         <td>{{value1.team2Product5 ? value1.team2Product5 : 0}}</td>
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(3670,0,key1)" >{{value1.team2Lead3670 ? value1.team2Lead3670 : 0}} </a></td>
                         <td>{{value1.team2Product3670 ? value1.team2Product3670 : 0}}</td>
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(8638,0,key1)" >{{value1.team2Lead8638 ? value1.team2Lead8638 : 0}} </a></td>
                         <td>{{value1.team2Product8638 ? value1.team2Product8638 : 0}}</td>
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(25460,0,key1)" >{{value1.team2Lead25460 ? value1.team2Lead25460 : 0}} </a></td>
                         <td>{{value1.team2Product25460 ? value1.team2Product25460 : 0}}</td>
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(4,0,key1)" >{{value1.team2Lead4 ? value1.team2Lead4 : 0}} </a></td>
                         <td>{{value1.team2Product4 ? value1.team2Product4 : 0}}</td>

                         <!-- <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(2650,0,key1)" >{{value1.team2Lead2650 ? value1.team2Lead2650 : 0}} </a></td>
                         <td>{{value1.team2Product2650 ? value1.team2Product2650 : 0}}</td> -->




                         <!--<td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(25459,0,key1)" >{{value1.team2Lead25459 ? value1.team2Lead25459 : 0}} </a></td>
                         <td>{{value1.team2Product25459 ? value1.team2Product25459 : 0}}</td>-->

                      </tr>
                   </tbody>
                </table>
             </div>
             <!-- /.box-body -->
          </div>
       </div>
       <br/><br/>
       <hr>
       <br/><br/>
       <div class="col-lg-12">
          <div class="box" style="overflow-x: scroll;">
             <div class="box-header">
                <h3 class="box-title">AKSHAY'S TEAM NEW ID OVERALL REPORT (Target - 320)</h3>
             </div>
             <!-- /.box-header -->
             <div class="box-body no-padding" role="region3" aria-labelledby="caption" tabindex="0">
                 <table class="table table-bordered table-hover">
                   <thead>
                      <tr>
                           <th colspan="1"></th>
                           <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">AKSHAY (50)</span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Umesh P (100)</span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Vijay D (70)</span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Manoj (50) </span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Santosh (50)</span></th>
                           <!-- <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Pune 2</span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Hyderabad 1</span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Hyderabad 2</span></th> -->
                           <!-- <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">karthik M</span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Jithendra G</span></th> -->

                      </tr>
                      <tr>
                         <th style="width: 40px">STAGES</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <!-- <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th> -->
                         <!-- <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th> -->
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="(key1, value1) in newdashboardListTeamCompare">

                         <td>{{key1}}</td>
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(2651,0,key1)" >{{value1.team3Lead2651 ? value1.team3Lead2651 : 0}} </a></td>
                         <td>{{value1.team3Product2651 ? value1.team3Product2651 : 0}}</td>

                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(33308,0,key1)" >{{value1.team3Lead33308 ? value1.team3Lead33308 : 0}} </a></td>
                         <td>{{value1.team3Product33308 ? value1.team3Product33308 : 0}}</td>

                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(33307,0,key1)" >{{value1.team3Lead33307 ? value1.team3Lead33307 : 0}} </a></td>
                         <td>{{value1.team3Product33307 ? value1.team3Product33307 : 0}}</td>

                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(33309,0,key1)" >{{value1.team3Lead33314 ? value1.team3Lead33314 : 0}} </a></td>
                         <td>{{value1.team3Product33314 ? value1.team3Product33314 : 0}}</td>

                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(33310,0,key1)" >{{value1.team3Lead33310 ? value1.team3Lead33310 : 0}} </a></td>
                         <td>{{value1.team3Product33310 ? value1.team3Product33310 : 0}}</td>

                         <!-- <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(33311,0,key1)" >{{value1.team3Lead33311 ? value1.team3Lead33311 : 0}} </a></td>
                         <td>{{value1.team3Product33311 ? value1.team3Product33311 : 0}}</td>

                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(33312,0,key1)" >{{value1.team3Lead33312 ? value1.team3Lead33312 : 0}} </a></td>
                         <td>{{value1.team3Product33312 ? value1.team3Product33312 : 0}}</td>

                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(33313,0,key1)" >{{value1.team3Lead333130 ? value1.team3Lead33313 : 0}} </a></td>
                         <td>{{value1.team3Product33313 ? value1.team3Product33313 : 0}}</td> -->

                       </tr>
                   </tbody>
                </table>
             </div>
             <!-- /.box-body -->
          </div>
       </div>
       <br/><br/>
       <hr>
       <br/><br/>
       <div class="col-lg-12">
          <div class="box" style="overflow-x: scroll;">
             <div class="box-header">
                <h3 class="box-title">Charles'S TEAM OVERALL REPORT (Target - 175)</h3>
             </div>

             <div class="box-body no-padding">
                <table class="table table-striped">
                   <tbody>
                      <tr>
                           <th colspan="1"></th>
                           <th colspan="2" ><span class="badge bg-grey" style="FONT-SIZE: large;width: 100%;"> Charles </span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Amit singh </span></th>
                           <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Sharath Chandra </span></th>

                           </tr>
                      <tr>
                         <th style="width: 40px">STAGES</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                      </tr>
                      <tr ng-repeat="(key1, value1) in newdashboardListTeamCompare">

                        <td>{{key1}}</td>
                        <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(25459,0,key1)" >{{value1.team4Lead25459 ? value1.team4Lead25459 : 0}} </a></td>
                        <td>{{value1.team4Product25459 ? value1.team4Product25459 : 0}}</td>
                        <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(25463,0,key1)" >{{value1.team4Lead25463 ? value1.team4Lead25463 : 0}} </a></td>
                        <td>{{value1.team4Product25463 ? value1.team4Product25463 : 0}}</td>
                        <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(49255,0,key1)" >{{value1.team4Lead49255 ? value1.team4Lead49255 : 0}} </a></td>
                        <td>{{value1.team4Product49255 ? value1.team4Product49255 : 0}}</td>


                      </tr>
                   </tbody>
                </table>
             </div>
          </div>
       </div>
       <br/><br/>
       <hr>
       <br/><br/>
       <div class="col-lg-12">
          <div class="box" style="overflow-x: scroll;">
             <div class="box-header">
                <h3 class="box-title">Sudhir'S TEAM OVERALL REPORT (Target - 250)</h3>
             </div>

             <div class="box-body no-padding">
                <table class="table table-striped">
                   <tbody>
                      <tr>
                           <th colspan="1"></th>
                           <th colspan="2" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Sudhir </span></th>
                           <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;"> Arun gopi </span></th>
                           <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;"> Harikrishna </span></th>
                           <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;"> Naveen </span></th>
                           <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;"> arvind salla </span></th>
                        </tr>
                      <tr>
                         <th style="width: 40px">STAGES</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>
                      </tr>
                      <tr ng-repeat="(key1, value1) in newdashboardListTeamCompare">

                        <td>{{key1}}</td>
                        <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(46955,0,key1)" >{{value1.team5Lead46955 ? value1.team5Lead46955 : 0}} </a></td>
                        <td>{{value1.team5Product46955 ? value1.team5Product46955 : 0}}</td>
                        <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(49105,0,key1)" >{{value1.team5Lead49105 ? value1.team5Lead49105 : 0}} </a></td>
                        <td>{{value1.team5Product49105 ? value1.team5Product49105 : 0}}</td>
                        <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(49256,0,key1)" >{{value1.team5Lead49256 ? value1.team5Lead49256 : 0}} </a></td>
                        <td>{{value1.team5Product49256 ? value1.team5Product49256 : 0}}</td>
                        <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(49257,0,key1)" >{{value1.team5Lead49257 ? value1.team5Lead49257 : 0}} </a></td>
                        <td>{{value1.team5Product49257 ? value1.team5Product49257 : 0}}</td>
                        <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(49258,0,key1)" >{{value1.team5Lead49258 ? value1.team5Lead49258 : 0}} </a></td>
                        <td>{{value1.team5Product49258 ? value1.team5Product49258 : 0}}</td>

                      </tr>
                   </tbody>
                </table>
             </div>
          </div>
       </div>
       <br/><br/>
       <hr>
       <br/><br/>
       <div class="col-lg-12">
          <div class="box" style="overflow-x: scroll;">
             <div class="box-header">
                <h3 class="box-title">BANIT'S TEAM OVERALL REPORT (Target - 3000)</h3>
             </div>
             <!-- /.box-header -->
             <div class="box-body no-padding" role="region4" aria-labelledby="caption" tabindex="0">
                <table class="table table-striped">
                   <tbody>
                      <tr>
                           <th colspan="1"></th>
                           <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">BANIT</span></th>

                      </tr>
                      <tr>
                         <th style="width: 40px">STAGES</th>
                         <th >NO. OF STUDENTS</th>
                         <th >NO. OF APPLICATIONS</th>

                      </tr>
                      <tr ng-repeat="(key1, value1) in newdashboardListTeamCompare">

                         <td>{{key1}}</td>
                         <td><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="dashboardlistteamdataintakewise(1,0,key1)" >{{value1.team6Lead1 ? value1.team6Lead1 : 0}} </a></td>
                         <td>{{value1.team6Product1 ? value1.team6Product1 : 0}}</td>

                       </tr>
                   </tbody>
                </table>
             </div>
             <!-- /.box-body -->
          </div>
       </div>

       <!-- Small boxes (Stat box) -->

       <!-- <div class="row">
           <div ng-class="{'row': key%4==3}" ng-repeat="(key, data) in dashboardData">
               <div class="col-lg-3 col-xs-6">

                   <div ng-class="{'small-box bg-aqua': key%4==0, 'small-box bg-green': key%4==1, 'small-box bg-yellow': key%4==2, 'small-box bg-red': key%4==3}">
                       <div class="inner">
                           <h3>{{data.lead_count}}</h3>
                           <p>{{data.display_name}}</p>
                       </div>
                       <div class="icon">
                           <i ng-class="{'ion ion-bag': key%4==0, 'ion ion-stats-bars': key%4==1, 'ion ion-person-add': key%4==2, 'ion ion-pie-graph': key%4==3}"></i>
                       </div>
                       <a href="#" class="small-box-footer ajax" ng-click="enable(data.current_lead_state)">More info <i class="fa fa-arrow-circle-right"></i></a>
                   </div>
                   <div ng-class="{'ajax-content': key%4==0, 'ajax-content block2': key%4==1, 'ajax-content block3': key%4==2, 'ajax-content block4': key%4==3}" id="{{data.current_lead_state}}">
                       <div class="table-responsive">
                         <table class="table" show-filter="true">
                             <thead>
                                 <tr>
                                     <th ng-repeat="header in allApplicationsHeaders" colspan="{{header.colspan}}" style="text-align:center;">{{header.value}}</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr ng-repeat="tableData in allApplicationsBody">{{tableData}}
                                     <td ng-repeat="row in tableData" width="row.width">{{row.value}}</td>
                                 </tr>
                             </tbody>
                         </table>
                       </div>
                   </div>
               </div>

           </div>
       </div> -->
   </section>
   <!-- /.content -->
</div>

<div class="modal fade" id="modal-application-lead">
  <div class="modal-dialog">
     <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 900px;">
        <a class="btn" title="Export Table" ng-click='applistleadcsv.generate()' ng-href="{{ applistleadcsv.link() }}" download="applistleadcsv.csv">
        <i class="glyphicon glyphicon-new-window"></i> &#160;Export
        </a>
        <table ng-table="tableParamsApplication" class="table table-bordered table-striped" show-filter="true" export-csv="applistleadcsv" separator="," export-csv-ignore="ignore">
           <tr ng-repeat="valuee in $data" id="applicationleadfilterdatainfo">
              <td title="'Lead-id'" filter="{ id : 'number'}" sortable="'id'"><a target="_blank" href="/student/{{valuee.id}}/product/0" >{{valuee.id}}</a></td>
              <td title="'Customer Name'" filter="{ customer_name : 'text'}" sortable="'customer_name'">{{valuee.customer_name ? valuee.customer_name : 0}}</td>
              <td title="'Customer Mobile'" filter="{ customer_mobile : 'text'}" sortable="'customer_mobile'">{{valuee.customer_mobile ? valuee.customer_mobile : 0}}</td>
              <td title="'Customer Email'" filter="{ customer_email : 'text'}" sortable="'customer_email'">{{valuee.customer_email ? valuee.customer_email : 0}}</td>
              <td title="'Parents Email'" filter="{ parent_email : 'text'}" sortable="'parent_email'">{{valuee.parent_email ? valuee.parent_email : 0}}</td>
              <td title="'Decision Maker Email'" filter="{ decision_maker_email : 'text'}" sortable="'decision_maker_email'">{{valuee.decision_maker_email ? valuee.decision_maker_email : 0}}</td>
              <td title="'Decision Maker Mobile'" filter="{ decision_maker_mobile : 'text'}" sortable="'decision_maker_mobile'">{{valuee.decision_maker_mobile ? valuee.decision_maker_mobile : 0}}</td>
              <td title="'Lead State'" filter="{ current_lead_state : 'text'}" sortable="'current_lead_state'">{{valuee.current_lead_state ? valuee.current_lead_state : 0}}</td>
              <td title="'Loan Amount'" filter="{ requested_loan_amount : 'number'}" sortable="'requested_loan_amount'">{{valuee.requested_loan_amount ? valuee.requested_loan_amount : 0}}</td>
              <td title="'Intake Year'" filter="{ intake : 'text'}" sortable="'intake'">{{valuee.intake ? valuee.intake : 0}}</td>
              <td title="'Assign To'" filter="{ agent_email : 'text'}" sortable="'agent_email'">{{valuee.agent_email ? valuee.agent_email : 0}}</td>
              <td title="'Counsellors Names'" filter="{ counsellor_name : 'text'}" sortable="'counsellor_name'">{{valuee.counsellor_name ? valuee.counsellor_name : 0}}</td>
           </tr>
        </table>
        <div class="modal-footer">
           <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
           <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
        </div>
     </div>
     <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- /.content-wrapper -->

<!-- <script src="components/raphael/raphael.min.js"></script>
<script src="components/morris.js/morris.min.js"></script> -->

<script type="text/javascript">

</script>
