<style>
    .ajax-content{
        width: max-content;
        display: none;
    }
   /* .table{
        border: 1px solid;
        border-collapse: inherit;
    }
    .table>thead>tr>th{
        border-left: 1px solid;
    }
    .table>tbody>tr>td{
        border-left: 1px solid;
        border-top: 1px solid;
    }*/
    .block2{
        margin-left: -400px;
    }
    .block3{
        margin-left: -800px;
    }
    .block4{
        margin-left: -1200px;
    }


</style>
<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper" style="min-height: 1820px;">

   <!-- Content Header (Page header) -->
   <section class="content-header">
      <h1>        Dashboard        <small>Control panel</small>      </h1>
      <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li class="active">Dashboard</li>
      </ol>
   </section>
   <!-- Main content -->
   <section class="content">
      <div class="col-lg-12">
         <div class="box" style="overflow-x: scroll;">
            <div class="box-header">
               <h3 class="box-title">OVERALL BANKS REPORT</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
               <table id="myTable" class="table table-bordered table-hover">
                  <thead>
                     <tr>
                        <th colspan="1"></th>
                        <th colspan="6" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Nationalized & Private Banks</span></th>
                        <th colspan="9" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Non Banking Financial Company (NBFC)</span></th>
                        <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">International Funds</span></th>
                        <th colspan="3" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">US Banks</span></th>
                     </tr>
                     <tr>
                        <th colspan="1"></th>
                        <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">BOB</span></th>
                        <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">SBI</span></th>
                        <th colspan="2" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Axis</th>
                        <th colspan="2" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> ICICI</th>
                        <th colspan="2" > <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Credila</th>
                        <th colspan="2" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Incred</th>
                        <th colspan="2" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Avanse</th>
                        <th colspan="2" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">Auxilo</th>
                        <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">Bajaj Finance</th>
                        <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">MPower</th>
                        <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">Prodigy</th>
                        <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">US BANKS</th>
                        <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">Ascent</th>
                        <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">Sallie Mae</th>
                     </tr>
                     <tr>
                        <th style="width: 40px">STAGES</th>
                        <th >NO. OF APPLICATIONS</th>
                        <th >NO. OF APPLICATIONS</th>
                        <th >NO. OF Collateral</th>
                        <th >NO. OF Non-Collateral</th>
                        <th >NO. OF Collateral</th>
                        <th >NO. OF Non-Collateral</th>
                        <th >NO. OF Collateral</th>
                        <th >NO. OF Non-Collateral</th>
                        <th >NO. OF Collateral</th>
                        <th >NO. OF Non-Collateral</th>
                        <th >NO. OF Collateral</th>
                        <th >NO. OF Non-Collateral</th>
                        <th >NO. OF Collateral</th>
                        <th >NO. OF Non-Collateral</th>
                        <th >NO. OF APPLICATIONS</th>
                        <th >NO. OF APPLICATIONS</th>
                        <th >NO. OF APPLICATIONS</th>
                        <th >NO. OF APPLICATIONS</th>
                        <th >NO. OF APPLICATIONS</th>
                        <th >NO. OF APPLICATIONS</th>
                     </tr>
                  </thead>
                  <tbody class="tb_jobsched">
                     <tr ng-repeat="(key, value) in dashboardListBankStudentCompare" >
                        {{value}}
                        <td>{{key}}</td>
                        <td>{{value.product2 ? value.product2 : 0}}</td>
                        <td>{{value.product3 ? value.product3 : 0}}</td>
                        <td>{{value.product1 ? value.product1 : 0}}</td>
                        <td>{{value.product10 ? value.product10 : 0}}</td>
                        <td>{{value.product19 ? value.product19 : 0}}</td>
                        <td>{{value.product20 ? value.product20 : 0}}</td>
                        <td>{{value.product6 ? value.product6 : 0}}</td>
                        <td>{{value.product13 ? value.product13 : 0}}</td>
                        <td>{{value.product8 ? value.product8 : 0}}</td>
                        <td>{{value.product9 ? value.product9 : 0}}</td>
                        <td>{{value.product7 ? value.product7 : 0}}</td>
                        <td>{{value.product18 ? value.product18 : 0}}</td>
                        <td>{{value.product5 ? value.product5 : 0}}</td>
                        <td>{{value.product12 ? value.product12 : 0}}</td>
                        <td>{{value.product15 ? value.product15 : 0}}</td>
                        <td>{{value.product4 ? value.product4 : 0}}</td>
                        <td>{{value.product14 ? value.product14 : 0}}</td>
                        <td>{{value.product16 ? value.product16 : 0}}</td>
                        <td>{{value.product21 ? value.product21 : 0}}</td>
                        <td>{{value.product22 ? value.product22 : 0}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <!-- /.box-body -->
         </div>
      </div>
      <div class="col-lg-12">
         <div class="nav-tabs-custom" style="cursor: move;">
           <!-- Tabs within a box -->
           <ul class="nav nav-tabs pull-right ui-sortable-handle">
              <li class="active"><a href="#" data-toggle="tab" data-target="#tab1" aria-expanded="true" aria-controls="tab1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"><b>OVERALL</b></span></a></li>

              <li class=""><a href="#" data-toggle="tab" data-target="#tab5" aria-expanded="true" aria-controls="tab5" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"><b>AKSHAY</b></span></a></li>

              <li class=""><a href="#" data-toggle="tab" data-target="#tab4" aria-expanded="true" aria-controls="tab4" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"><b>PRATIKSHA</b></span></a></li>

              <li class=""><a href="#" data-toggle="tab" data-target="#tab3" aria-expanded="true" aria-controls="tab3" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"><b>RANBIR</b></span></a></li>

              <li class=""><a href="#" data-toggle="tab" data-target="#tab2" aria-expanded="true" aria-controls="tab2" ><span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;"><b>JENNY</b></span></a></li>

              <li class="pull-left header"><i class="fa fa-inbox"></i>JENNY TEAM'S BANKS REPORT</li>
           </ul>
           <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
              <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                 <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                       <h3 class="box-title">OVERALL TEAM BANKS REPORT</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                       <table id="myTable" class="table table-bordered table-hover">
                          <thead>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="6" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Nationalized & Private Banks</span></th>
                                <th colspan="9" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Non Banking Financial Company (NBFC)</span></th>
                                <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">International Funds</span></th>
                                <th colspan="3" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">US Banks</span></th>
                             </tr>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">BOB</span></th>
                                <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">SBI</span></th>
                                <th colspan="2" > <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Axis</th>
                                 <th colspan="2" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> ICICI</th>
                                <th colspan="2" > <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Credila</th>
                                <th colspan="2" > <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Incred</th>
                                <th colspan="2" > <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Avanse</th>
                                <th colspan="2" > <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Auxilo</th>
                                <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">Bajaj Finance</th>
                                <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">MPower</th>
                                <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">Prodigy</th>
                                <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">US BANKS</th>
                                <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">Ascent</th>
                                <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">Sallie Mae</th>
                             </tr>
                             <tr>
                                <th style="width: 40px">STAGES</th>
                               <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>

                             </tr>
                          </thead>
                          <tbody class="tb_jobsched">
                             <tr ng-repeat="(key, value) in dashboardListBankTeamStudentCompare" >
                                {{value}}
                                <td>{{key}}</td>
                                <td>{{value.productteam1_2 ? value.productteam1_2 : 0}}</td>
                                <td>{{value.productteam1_3 ? value.productteam1_3 : 0}}</td>
                                <td>{{value.productteam1_1 ? value.productteam1_1 : 0}}</td>
                                <td>{{value.productteam1_10 ? value.productteam1_10 : 0}}</td>
                                <td>{{value.productteam1_19 ? value.productteam1_19 : 0}}</td>
                                <td>{{value.productteam1_20 ? value.productteam1_20 : 0}}</td>
                                <td>{{value.productteam1_6 ? value.productteam1_6 : 0}}</td>
                                <td>{{value.productteam1_13 ? value.productteam1_13 : 0}}</td>
                                <td>{{value.productteam1_8 ? value.productteam1_8 : 0}}</td>
                                <td>{{value.productteam1_9 ? value.productteam1_9 : 0}}</td>
                                <td>{{value.productteam1_7 ? value.productteam1_7 : 0}}</td>
                                <td>{{value.productteam1_18 ? value.productteam1_18 : 0}}</td>
                                <td>{{value.productteam1_5 ? value.productteam1_5 : 0}}</td>
                                <td>{{value.productteam1_12 ? value.productteam1_12 : 0}}</td>
                                <td>{{value.productteam1_15 ? value.productteam1_15 : 0}}</td>
                                <td>{{value.productteam1_4 ? value.productteam1_4 : 0}}</td>
                                <td>{{value.productteam1_14 ? value.productteam1_14 : 0}}</td>
                                <td>{{value.productteam1_16 ? value.productteam1_16 : 0}}</td>
                                <td>{{value.productteam1_21 ? value.productteam1_21 : 0}}</td>
                                <td>{{value.productteam1_22 ? value.productteam1_22 : 0}}</td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                    <!-- /.box-body -->
                 </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab2">
                  <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                       <h3 class="box-title">JENNY'S BANKS REPORT</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                       <table id="myTable" class="table table-bordered table-hover">
                          <thead>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="6" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Nationalized & Private Banks</span></th>
                                <th colspan="9" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Non Banking Financial Company (NBFC)</span></th>
                                <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">International Funds</span></th>
                                <th colspan="3" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">US Banks</span></th>
                             </tr>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="1" ><span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;">BOB</span></th>
                                <th colspan="1" ><span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;">SBI</span></th>
                                <th colspan="2" > <span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;"> Axis</th>
                                 <th colspan="2" ><span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;"> ICICI</th>
                                <th colspan="2" > <span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;"> Credila</th>
                                <th colspan="2" > <span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;"> Incred</th>
                                <th colspan="2" > <span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;"> Avanse</th>
                                <th colspan="2" > <span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;"> Auxilo</th>
                                <th colspan="1" ><span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;">Bajaj Finance</th>
                                <th colspan="1" ><span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;">MPower</th>
                                <th colspan="1" ><span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;">Prodigy</th>
                                <th colspan="1" ><span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;">US BANKS</th>
                                 <th colspan="1" ><span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;">Ascent</th>
                                <th colspan="1" ><span class="badge bg-yellow" style="FONT-SIZE: large;width: 100%;">Sallie Mae</th>
                             </tr>
                             <tr>
                                <th style="width: 40px">STAGES</th>
                                <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                             </tr>
                          </thead>
                          <tbody class="tb_jobsched">
                             <tr ng-repeat="(key, value) in dashboardListBankTeamIndividualStudentCompare" >
                                {{value}}
                                <td>{{key}}</td>
                                <td>{{value.login_3_2 ? value.login_3_2 : 0}}</td>
                                <td>{{value.login_3_3 ? value.login_3_3 : 0}}</td>
                                <td>{{value.login_3_1 ? value.login_3_1 : 0}}</td>
                                <td>{{value.login_3_10 ? value.login_3_10 : 0}}</td>
                                <td>{{value.login_3_19 ? value.login_3_19 : 0}}</td>
                                <td>{{value.login_3_20 ? value.login_3_20 : 0}}</td>
                                <td>{{value.login_3_6 ? value.login_3_6 : 0}}</td>
                                <td>{{value.login_3_13 ? value.login_3_13 : 0}}</td>
                                <td>{{value.login_3_8 ? value.login_3_8 : 0}}</td>
                                <td>{{value.login_3_9 ? value.login_3_9 : 0}}</td>
                                <td>{{value.login_3_7 ? value.login_3_7 : 0}}</td>
                                <td>{{value.login_3_18 ? value.login_3_18 : 0}}</td>
                                <td>{{value.login_3_5 ? value.login_3_5 : 0}}</td>
                                <td>{{value.login_3_12 ? value.login_3_12 : 0}}</td>
                                <td>{{value.login_3_15 ? value.login_3_15 : 0}}</td>
                                <td>{{value.login_3_4 ? value.login_3_4 : 0}}</td>
                                <td>{{value.login_3_14 ? value.login_3_14 : 0}}</td>
                                <td>{{value.login_3_16 ? value.login_3_16 : 0}}</td>
                                <td>{{value.login_3_21 ? value.login_3_21 : 0}}</td>
                                <td>{{value.login_3_22 ? value.login_3_22 : 0}}</td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                    <!-- /.box-body -->
                 </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab3">
                  <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                       <h3 class="box-title">RANBIR'S BANKS REPORT</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                       <table id="myTable" class="table table-bordered table-hover">
                          <thead>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="6" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Nationalized & Private Banks</span></th>
                                <th colspan="9" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Non Banking Financial Company (NBFC)</span></th>
                                <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">International Funds</span></th>
                                <th colspan="3" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">US Banks</span></th>
                             </tr>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">BOB</span></th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">SBI</span></th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Axis</th>
                                 <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> ICICI</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Credila</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Incred</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Avanse</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Auxilo</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Bajaj Finance</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">MPower</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Prodigy</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">US BANKS</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Ascent</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Sallie Mae</th>
                             </tr>
                             <tr>
                                <th style="width: 40px">STAGES</th>
                                 <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                             </tr>
                          </thead>
                          <tbody class="tb_jobsched">
                             <tr ng-repeat="(key, value) in dashboardListBankTeamIndividualStudentCompare" >
                                {{value}}
                                <td>{{key}}</td>
                                <td>{{value.login_5_2 ? value.login_5_2 : 0}}</td>
                                <td>{{value.login_5_3 ? value.login_5_3 : 0}}</td>
                                <td>{{value.login_5_1 ? value.login_5_1 : 0}}</td>
                                <td>{{value.login_5_10 ? value.login_5_10 : 0}}</td>
                                <td>{{value.login_5_19 ? value.login_5_19 : 0}}</td>
                                <td>{{value.login_5_20 ? value.login_5_20 : 0}}</td>
                                <td>{{value.login_5_6 ? value.login_5_6 : 0}}</td>
                                <td>{{value.login_5_13 ? value.login_5_13 : 0}}</td>
                                <td>{{value.login_5_8 ? value.login_5_8 : 0}}</td>
                                <td>{{value.login_5_9 ? value.login_5_9 : 0}}</td>
                                <td>{{value.login_5_7 ? value.login_5_7 : 0}}</td>
                                <td>{{value.login_5_18 ? value.login_5_18 : 0}}</td>
                                <td>{{value.login_5_5 ? value.login_5_5 : 0}}</td>
                                <td>{{value.login_5_12 ? value.login_5_12 : 0}}</td>
                                <td>{{value.login_5_15 ? value.login_5_15 : 0}}</td>
                                <td>{{value.login_5_4 ? value.login_5_4 : 0}}</td>
                                <td>{{value.login_5_14 ? value.login_5_14 : 0}}</td>
                                <td>{{value.login_5_16 ? value.login_5_16 : 0}}</td>
                                <td>{{value.login_5_21 ? value.login_5_21 : 0}}</td>
                                <td>{{value.login_5_22 ? value.login_5_22 : 0}}</td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                    <!-- /.box-body -->
                 </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab4">
                  <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                       <h3 class="box-title">PRATIKSHA'S BANKS REPORT</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                       <table id="myTable" class="table table-bordered table-hover">
                          <thead>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="6" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Nationalized & Private Banks</span></th>
                                <th colspan="9" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Non Banking Financial Company (NBFC)</span></th>
                                <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">International Funds</span></th>
                                <th colspan="3" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">US Banks</span></th>
                             </tr>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">BOB</span></th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">SBI</span></th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Axis</th>
                                 <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> ICICI</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Credila</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Incred</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Avanse</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Auxilo</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Bajaj Finance</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">MPower</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Prodigy</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">US BANKS</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Ascent</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Sallie Mae</th>
                             </tr>
                             <tr>
                                <th style="width: 40px">STAGES</th>
                                <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                             </tr>
                          </thead>
                          <tbody class="tb_jobsched">
                             <tr ng-repeat="(key, value) in dashboardListBankTeamIndividualStudentCompare" >
                                {{value}}
                                <td>{{key}}</td>
                                <td>{{value.login_2650_2 ? value.login_2650_2 : 0}}</td>
                                <td>{{value.login_2650_3 ? value.login_2650_3 : 0}}</td>
                                <td>{{value.login_2650_1 ? value.login_2650_1 : 0}}</td>
                                <td>{{value.login_2650_10 ? value.login_2650_10 : 0}}</td>
                                <td>{{value.login_2650_19 ? value.login_2650_19 : 0}}</td>
                                <td>{{value.login_2650_20 ? value.login_2650_20 : 0}}</td>
                                <td>{{value.login_2650_6 ? value.login_2650_6 : 0}}</td>
                                <td>{{value.login_2650_13 ? value.login_2650_13 : 0}}</td>
                                <td>{{value.login_2650_8 ? value.login_2650_8 : 0}}</td>
                                <td>{{value.login_2650_9 ? value.login_2650_9 : 0}}</td>
                                <td>{{value.login_2650_7 ? value.login_2650_7 : 0}}</td>
                                <td>{{value.login_2650_18 ? value.login_2650_18 : 0}}</td>
                                <td>{{value.login_2650_5 ? value.login_2650_5 : 0}}</td>
                                <td>{{value.login_2650_12 ? value.login_2650_12 : 0}}</td>
                                <td>{{value.login_2650_15 ? value.login_2650_15 : 0}}</td>
                                <td>{{value.login_2650_4 ? value.login_2650_4 : 0}}</td>
                                <td>{{value.login_2650_14 ? value.login_2650_14 : 0}}</td>
                                <td>{{value.login_2650_16 ? value.login_2650_16 : 0}}</td>
                                <td>{{value.login_2650_21 ? value.login_2650_21 : 0}}</td>
                                <td>{{value.login_2650_22 ? value.login_2650_22 : 0}}</td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                    <!-- /.box-body -->
                 </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab5">
                  <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                       <h3 class="box-title">AKSHAY'S BANKS REPORT</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                       <table id="myTable" class="table table-bordered table-hover">
                          <thead>
                              <tr>
                                <th colspan="1"></th>
                                <th colspan="6" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Nationalized & Private Banks</span></th>
                                <th colspan="9" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Non Banking Financial Company (NBFC)</span></th>
                                <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">International Funds</span></th>
                                <th colspan="3" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">US Banks</span></th>
                             </tr>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">BOB</span></th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">SBI</span></th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Axis</th>
                                 <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> ICICI</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Credila</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Incred</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Avanse</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Auxilo</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Bajaj Finance</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">MPower</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Prodigy</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">US BANKS</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Ascent</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Sallie Mae</th>
                             </tr>
                             <tr>
                                <th style="width: 40px">STAGES</th>
                               <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                             </tr>
                          </thead>
                          <tbody class="tb_jobsched">
                             <tr ng-repeat="(key, value) in dashboardListBankTeamIndividualStudentCompare" >
                                {{value}}
                                <td>{{key}}</td>
                                <td>{{value.login_2651_2 ? value.login_2651_2 : 0}}</td>
                                <td>{{value.login_2651_3 ? value.login_2651_3 : 0}}</td>
                                <td>{{value.login_2651_1 ? value.login_2651_1 : 0}}</td>
                                <td>{{value.login_2651_10 ? value.login_2651_10 : 0}}</td>
                                <td>{{value.login_2651_19 ? value.login_2651_19 : 0}}</td>
                                <td>{{value.login_2651_20 ? value.login_2651_20 : 0}}</td>
                                <td>{{value.login_2651_6 ? value.login_2651_6 : 0}}</td>
                                <td>{{value.login_2651_13 ? value.login_2651_13 : 0}}</td>
                                <td>{{value.login_2651_8 ? value.login_2651_8 : 0}}</td>
                                <td>{{value.login_2651_9 ? value.login_2651_9 : 0}}</td>
                                <td>{{value.login_2651_7 ? value.login_2651_7 : 0}}</td>
                                <td>{{value.login_2651_18 ? value.login_2651_18 : 0}}</td>
                                <td>{{value.login_2651_5 ? value.login_2651_5 : 0}}</td>
                                <td>{{value.login_2651_12 ? value.login_2651_12 : 0}}</td>
                                <td>{{value.login_2651_15 ? value.login_2651_15 : 0}}</td>
                                <td>{{value.login_2651_4 ? value.login_2651_4 : 0}}</td>
                                <td>{{value.login_2651_14 ? value.login_2651_14 : 0}}</td>
                                <td>{{value.login_2651_16 ? value.login_2651_16 : 0}}</td>
                                <td>{{value.login_2651_21 ? value.login_2651_21 : 0}}</td>
                                <td>{{value.login_2651_22 ? value.login_2651_22 : 0}}</td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                    <!-- /.box-body -->
                 </div>
              </div>
           </div>
        </div>
      </div>
      <div class="col-lg-12">
         <div class="nav-tabs-custom" style="cursor: move;">
           <!-- Tabs within a box -->
           <ul class="nav nav-tabs pull-right ui-sortable-handle">
              <li class="active"><a href="#" data-toggle="tab" data-target="#tabb1" aria-expanded="true" aria-controls="tabb1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"><b>OVERALL</b></span></a></li>

              <li class=""><a href="#" data-toggle="tab" data-target="#tabb6" aria-expanded="true" aria-controls="tabb6" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"><b>MANASI</b></span></a></li>

              <li class=""><a href="#" data-toggle="tab" data-target="#tabb5" aria-expanded="true" aria-controls="tabb5" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"><b>NIYAZ</b></span></a></li>

              <li class=""><a href="#" data-toggle="tab" data-target="#tabb4" aria-expanded="true" aria-controls="tabb4" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"><b>RAKESH</b></span></a></li>

              <li class=""><a href="#" data-toggle="tab" data-target="#tabb3" aria-expanded="true" aria-controls="tabb3" ><span class="badge bg-red" style="FONT-SIZE: large;width: 100%;"><b>JUVENTUS</b></span></a></li>

              <li class="pull-left header"><i class="fa fa-inbox"></i>JUVENTUS TEAM'S BANKS REPORT</li>
           </ul>
           <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
              <div role="tabpanel" class="tab-pane fade in active" id="tabb1">
                 <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                       <h3 class="box-title">OVERALL TEAM BANKS REPORT</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                       <table id="myTable" class="table table-bordered table-hover">
                          <thead>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="6" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Nationalized & Private Banks</span></th>
                                <th colspan="9" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Non Banking Financial Company (NBFC)</span></th>
                                <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">International Funds</span></th>
                                <th colspan="3" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">US Banks</span></th>
                             </tr>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">BOB</span></th>
                                <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">SBI</span></th>
                                <th colspan="2" > <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Axis</th>
                                 <th colspan="2" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> ICICI</th>
                                <th colspan="2" > <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Credila</th>
                                <th colspan="2" > <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Incred</th>
                                <th colspan="2" > <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Avanse</th>
                                <th colspan="2" > <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Auxilo</th>
                                <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">Bajaj Finance</th>
                                <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">MPower</th>
                                <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">Prodigy</th>
                                <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">US BANKS</th>
                                <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">Ascent</th>
                                <th colspan="1" ><span class="badge bg-green" style="FONT-SIZE: large;width: 100%;">Sallie Mae</th>
                             </tr>
                             <tr>
                                <th style="width: 40px">STAGES</th>
                                <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                             </tr>
                          </thead>
                          <tbody class="tb_jobsched">
                             <tr ng-repeat="(key, value) in dashboardListBankTeamStudentCompare" >
                                {{value}}
                                <td>{{key}}</td>
                                <td>{{value.productteam2_2 ? value.productteam2_2 : 0}}</td>
                                <td>{{value.productteam2_3 ? value.productteam2_3 : 0}}</td>
                                <td>{{value.productteam2_1 ? value.productteam2_1 : 0}}</td>
                                <td>{{value.productteam2_10 ? value.productteam2_10 : 0}}</td>
                                <td>{{value.productteam2_19 ? value.productteam2_19 : 0}}</td>
                                <td>{{value.productteam2_20 ? value.productteam2_20 : 0}}</td>
                                <td>{{value.productteam2_6 ? value.productteam2_6 : 0}}</td>
                                <td>{{value.productteam2_13 ? value.productteam2_13 : 0}}</td>
                                <td>{{value.productteam2_8 ? value.productteam2_8 : 0}}</td>
                                <td>{{value.productteam2_9 ? value.productteam2_9 : 0}}</td>
                                <td>{{value.productteam2_7 ? value.productteam2_7 : 0}}</td>
                                <td>{{value.productteam2_18 ? value.productteam2_18 : 0}}</td>
                                <td>{{value.productteam2_5 ? value.productteam2_5 : 0}}</td>
                                <td>{{value.productteam2_12 ? value.productteam2_12 : 0}}</td>
                                <td>{{value.productteam2_15 ? value.productteam2_15 : 0}}</td>
                                <td>{{value.productteam2_4 ? value.productteam2_4 : 0}}</td>
                                <td>{{value.productteam2_14 ? value.productteam2_14 : 0}}</td>
                                <td>{{value.productteam2_16 ? value.productteam2_16 : 0}}</td>
                                <td>{{value.productteam2_21 ? value.productteam2_21 : 0}}</td>
                                <td>{{value.productteam2_22 ? value.productteam2_22 : 0}}</td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                    <!-- /.box-body -->
                 </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tabb3">
                  <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                       <h3 class="box-title">JUVENTUS'S BANKS REPORT</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                       <table id="myTable" class="table table-bordered table-hover">
                          <thead>
                              <tr>
                                <th colspan="1"></th>
                                <th colspan="6" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Nationalized & Private Banks</span></th>
                                <th colspan="9" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Non Banking Financial Company (NBFC)</span></th>
                                <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">International Funds</span></th>
                                <th colspan="3" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">US Banks</span></th>
                             </tr>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="1" ><span class="badge bg-red" style="FONT-SIZE: large;width: 100%;">BOB</span></th>
                                <th colspan="1" ><span class="badge bg-red" style="FONT-SIZE: large;width: 100%;">SBI</span></th>
                                <th colspan="2" > <span class="badge bg-red" style="FONT-SIZE: large;width: 100%;"> Axis</th>
                                 <th colspan="2" ><span class="badge bg-red" style="FONT-SIZE: large;width: 100%;"> ICICI</th>
                                <th colspan="2" > <span class="badge bg-red" style="FONT-SIZE: large;width: 100%;"> Credila</th>
                                <th colspan="2" > <span class="badge bg-red" style="FONT-SIZE: large;width: 100%;"> Incred</th>
                                <th colspan="2" > <span class="badge bg-red" style="FONT-SIZE: large;width: 100%;"> Avanse</th>
                                <th colspan="2" > <span class="badge bg-red" style="FONT-SIZE: large;width: 100%;"> Auxilo</th>
                                <th colspan="1" ><span class="badge bg-red" style="FONT-SIZE: large;width: 100%;">Bajaj Finance</th>
                                <th colspan="1" ><span class="badge bg-red" style="FONT-SIZE: large;width: 100%;">MPower</th>
                                <th colspan="1" ><span class="badge bg-red" style="FONT-SIZE: large;width: 100%;">Prodigy</th>
                                <th colspan="1" ><span class="badge bg-red" style="FONT-SIZE: large;width: 100%;">US BANKS</th>
                                <th colspan="1" ><span class="badge bg-red" style="FONT-SIZE: large;width: 100%;">Ascent</th>
                                <th colspan="1" ><span class="badge bg-red" style="FONT-SIZE: large;width: 100%;">Sallie Mae</th>
                             </tr>
                             <tr>
                                <th style="width: 40px">STAGES</th>
                                <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                             </tr>
                          </thead>
                          <tbody class="tb_jobsched">
                             <tr ng-repeat="(key, value) in dashboardListBankTeamIndividualStudentCompare" >
                                {{value}}
                                <td>{{key}}</td>
                                <td>{{value.login_2_2 ? value.login_2_2 : 0}}</td>
                                <td>{{value.login_2_3 ? value.login_2_3 : 0}}</td>
                                <td>{{value.login_2_1 ? value.login_2_1 : 0}}</td>
                                <td>{{value.login_2_10 ? value.login_2_10 : 0}}</td>
                                <td>{{value.login_2_19 ? value.login_2_19 : 0}}</td>
                                <td>{{value.login_2_20 ? value.login_2_20 : 0}}</td>
                                <td>{{value.login_2_6 ? value.login_2_6 : 0}}</td>
                                <td>{{value.login_2_13 ? value.login_2_13 : 0}}</td>
                                <td>{{value.login_2_8 ? value.login_2_8 : 0}}</td>
                                <td>{{value.login_2_9 ? value.login_2_9 : 0}}</td>
                                <td>{{value.login_2_7 ? value.login_2_7 : 0}}</td>
                                <td>{{value.login_2_18 ? value.login_2_18 : 0}}</td>
                                <td>{{value.login_2_5 ? value.login_2_5 : 0}}</td>
                                <td>{{value.login_2_12 ? value.login_2_12 : 0}}</td>
                                <td>{{value.login_2_15 ? value.login_2_15 : 0}}</td>
                                <td>{{value.login_2_4 ? value.login_2_4 : 0}}</td>
                                <td>{{value.login_2_14 ? value.login_2_14 : 0}}</td>
                                <td>{{value.login_2_16 ? value.login_2_16 : 0}}</td>
                                <td>{{value.login_2_21 ? value.login_2_21 : 0}}</td>
                                <td>{{value.login_2_22 ? value.login_2_22 : 0}}</td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                    <!-- /.box-body -->
                 </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tabb4">
                  <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                       <h3 class="box-title">RAKESH'S BANKS REPORT</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                       <table id="myTable" class="table table-bordered table-hover">
                          <thead>
                              <tr>
                                <th colspan="1"></th>
                                <th colspan="6" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Nationalized & Private Banks</span></th>
                                <th colspan="9" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Non Banking Financial Company (NBFC)</span></th>
                                <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">International Funds</span></th>
                                <th colspan="3" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">US Banks</span></th>
                             </tr>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">BOB</span></th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">SBI</span></th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Axis</th>
                                 <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> ICICI</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Credila</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Incred</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Avanse</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Auxilo</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Bajaj Finance</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">MPower</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Prodigy</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">US BANKS</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Ascent</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Sallie Mae</th>
                             </tr>
                             <tr>
                                <th style="width: 40px">STAGES</th>
                                <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                             </tr>
                          </thead>
                          <tbody class="tb_jobsched">
                             <tr ng-repeat="(key, value) in dashboardListBankTeamIndividualStudentCompare" >
                                {{value}}
                                <td>{{key}}</td>
                                <td>{{value.login_4_2 ? value.login_4_2 : 0}}</td>
                                <td>{{value.login_4_3 ? value.login_4_3 : 0}}</td>
                                <td>{{value.login_4_1 ? value.login_4_1 : 0}}</td>
                                <td>{{value.login_4_10 ? value.login_4_10 : 0}}</td>
                                <td>{{value.login_4_19 ? value.login_4_19 : 0}}</td>
                                <td>{{value.login_4_20 ? value.login_4_20 : 0}}</td>
                                <td>{{value.login_4_6 ? value.login_4_6 : 0}}</td>
                                <td>{{value.login_4_13 ? value.login_4_13 : 0}}</td>
                                <td>{{value.login_4_8 ? value.login_4_8 : 0}}</td>
                                <td>{{value.login_4_9 ? value.login_4_9 : 0}}</td>
                                <td>{{value.login_4_7 ? value.login_4_7 : 0}}</td>
                                <td>{{value.login_4_18 ? value.login_4_18 : 0}}</td>
                                <td>{{value.login_4_5 ? value.login_4_5 : 0}}</td>
                                <td>{{value.login_4_12 ? value.login_4_12 : 0}}</td>
                                <td>{{value.login_4_15 ? value.login_4_15 : 0}}</td>
                                <td>{{value.login_4_4 ? value.login_4_4 : 0}}</td>
                                <td>{{value.login_4_14 ? value.login_4_14 : 0}}</td>
                                <td>{{value.login_4_16 ? value.login_4_16 : 0}}</td>
                                <td>{{value.login_4_21 ? value.login_4_21 : 0}}</td>
                                <td>{{value.login_4_22 ? value.login_4_22 : 0}}</td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                    <!-- /.box-body -->
                 </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tabb5">
                  <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                       <h3 class="box-title">NIYAZ'S BANKS REPORT</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                       <table id="myTable" class="table table-bordered table-hover">
                          <thead>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="6" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Nationalized & Private Banks</span></th>
                                <th colspan="9" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Non Banking Financial Company (NBFC)</span></th>
                                <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">International Funds</span></th>
                                <th colspan="3" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">US Banks</span></th>
                             </tr>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">BOB</span></th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">SBI</span></th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Axis</th>
                                 <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> ICICI</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Credila</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Incred</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Avanse</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Auxilo</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Bajaj Finance</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">MPower</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Prodigy</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">US BANKS</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Ascent</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Sallie Mae</th>
                             </tr>
                             <tr>
                                <th style="width: 40px">STAGES</th>
                                 <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                             </tr>
                          </thead>
                          <tbody class="tb_jobsched">
                             <tr ng-repeat="(key, value) in dashboardListBankTeamIndividualStudentCompare" >
                                {{value}}
                                <td>{{key}}</td>
                                <td>{{value.login_2649_2 ? value.login_2649_2 : 0}}</td>
                                <td>{{value.login_2649_3 ? value.login_2649_3 : 0}}</td>
                                <td>{{value.login_2649_1 ? value.login_2649_1 : 0}}</td>
                                <td>{{value.login_2649_10 ? value.login_2649_10 : 0}}</td>
                                <td>{{value.login_2649_19 ? value.login_2649_19 : 0}}</td>
                                <td>{{value.login_2649_20 ? value.login_2649_20 : 0}}</td>
                                <td>{{value.login_2649_6 ? value.login_2649_6 : 0}}</td>
                                <td>{{value.login_2649_13 ? value.login_2649_13 : 0}}</td>
                                <td>{{value.login_2649_8 ? value.login_2649_8 : 0}}</td>
                                <td>{{value.login_2649_9 ? value.login_2649_9 : 0}}</td>
                                <td>{{value.login_2649_7 ? value.login_2649_7 : 0}}</td>
                                <td>{{value.login_2649_18 ? value.login_2649_18 : 0}}</td>
                                <td>{{value.login_2649_5 ? value.login_2649_5 : 0}}</td>
                                <td>{{value.login_2649_12 ? value.login_2649_12 : 0}}</td>
                                <td>{{value.login_2649_15 ? value.login_2649_15 : 0}}</td>
                                <td>{{value.login_2649_4 ? value.login_2649_4 : 0}}</td>
                                <td>{{value.login_2649_14 ? value.login_2649_14 : 0}}</td>
                                <td>{{value.login_2649_16 ? value.login_2649_16 : 0}}</td>
                                <td>{{value.login_2649_21 ? value.login_2649_21 : 0}}</td>
                                <td>{{value.login_2649_22 ? value.login_2649_22 : 0}}</td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                    <!-- /.box-body -->
                 </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tabb6">
                  <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                       <h3 class="box-title">MANASI'S BANKS REPORT</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                       <table id="myTable" class="table table-bordered table-hover">
                          <thead>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="6" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Nationalized & Private Banks</span></th>
                                <th colspan="9" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">Non Banking Financial Company (NBFC)</span></th>
                                <th colspan="2" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">International Funds</span></th>
                                <th colspan="3" ><span class="badge bg-black" style="FONT-SIZE: large;width: 100%;">US Banks</span></th>
                             </tr>
                             <tr>
                                <th colspan="1"></th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">BOB</span></th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">SBI</span></th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Axis</th>
                                 <th colspan="2" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> ICICI</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Credila</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Incred</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Avanse</th>
                                <th colspan="2" > <span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;"> Auxilo</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Bajaj Finance</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">MPower</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Prodigy</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">US BANKS</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Ascent</th>
                                <th colspan="1" ><span class="badge bg-navy" style="FONT-SIZE: large;width: 100%;">Sallie Mae</th>
                             </tr>
                             <tr>
                                <th style="width: 40px">STAGES</th>
                               <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF Collateral</th>
                              <th >NO. OF Non-Collateral</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                              <th >NO. OF APPLICATIONS</th>
                             </tr>
                          </thead>
                          <tbody class="tb_jobsched">
                             <tr ng-repeat="(key, value) in dashboardListBankTeamIndividualStudentCompare" >
                                {{value}}
                                <td>{{key}}</td>
                                <td>{{value.login_3670_2 ? value.login_3670_2 : 0}}</td>
                                <td>{{value.login_3670_3 ? value.login_3670_3 : 0}}</td>
                                <td>{{value.login_3670_1 ? value.login_3670_1 : 0}}</td>
                                <td>{{value.login_3670_10 ? value.login_3670_10 : 0}}</td>
                                <td>{{value.login_3670_19 ? value.login_3670_19 : 0}}</td>
                                <td>{{value.login_3670_20 ? value.login_3670_20 : 0}}</td>
                                <td>{{value.login_3670_6 ? value.login_3670_6 : 0}}</td>
                                <td>{{value.login_3670_13 ? value.login_3670_13 : 0}}</td>
                                <td>{{value.login_3670_8 ? value.login_3670_8 : 0}}</td>
                                <td>{{value.login_3670_9 ? value.login_3670_9 : 0}}</td>
                                <td>{{value.login_3670_7 ? value.login_3670_7 : 0}}</td>
                                <td>{{value.login_3670_18 ? value.login_3670_18 : 0}}</td>
                                <td>{{value.login_3670_5 ? value.login_3670_5 : 0}}</td>
                                <td>{{value.login_3670_12 ? value.login_3670_12 : 0}}</td>
                                <td>{{value.login_3670_15 ? value.login_3670_15 : 0}}</td>
                                <td>{{value.login_3670_4 ? value.login_3670_4 : 0}}</td>
                                <td>{{value.login_3670_14 ? value.login_3670_14 : 0}}</td>
                                <td>{{value.login_3670_16 ? value.login_3670_16 : 0}}</td>
                                <td>{{value.login_3670_21 ? value.login_3670_21 : 0}}</td>
                                <td>{{value.login_3670_22 ? value.login_3670_22 : 0}}</td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                    <!-- /.box-body -->
                 </div>
              </div>
           </div>
        </div>
      </div>
   </section>
   <!-- /.content -->
</div>

<!-- /.content-wrapper -->

<!-- <script src="components/raphael/raphael.min.js"></script>
<script src="components/morris.js/morris.min.js"></script> -->

<script type="text/javascript">

</script>
