<style type="text/css">
	.telesoftbutton {
    display: block;
    width: 140px;
    height: 40px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
</style>
<div class="content-wrapper" style="min-height: 1000px;">
<section>
	<!-- <iframe width="100%" src="http://202.134.183.154:91/index.asp?btype=1" style="height: -webkit-fill-available;"></iframe> -->
	<div class="col-md-12" style="text-align: -webkit-center; margin-top: 56px;">
		<a class="telesoftbutton" href="http://202.134.183.154:91/index.asp?btype=1" target="_blank">LOGIN</a>
	</div>
	
</section>

</div>