<style>
        tr:hover {
            border:2px solid #ddd;
            background-color: #ddd!important;
        }
        .act{
            background : #dac9c9!important;
        }
        .modal-backdrop.in {
            display: none;
        }
        .modal-open {
            overflow: scroll; 
        }
        </style>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1> Total Leads </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Total Leads</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box" style="overflow-x: scroll;">
                            <div class="box-header">
                                <h3 class="box-title">{{title}}</h3>
                            </div>
                            <div class="box-body">
                              <span > Total No - <b>{{ totalTableParams.total() }}</b></span>
                                <table ng-table="totalTableParams" class="table table-bordered table-striped" show-filter="true">
                                    <tr ng-repeat="value in $data" id="list_table">
                                        <td ng-if="type != 'alleads'"><input type="checkbox" ng-model="checkedvalue" ng-change="selectEntity(value, checkedvalue)"></td>
                                        <!--td title="'Student Id'" filter="{lead_id: 'number'}" sortable="'lead_id'"><a href="/student/{{value.lead_id}}/product/0" target="_blank">{{value.lead_id}}</a></td-->
                                        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'" ng-if="!isEditable"><a href="/student/{{value.lead_id}}/product/0" target="_blank" ng-click="setActive(value.lead_id)">{{value.name}}</a></td>
                                        <!--td title="'Name'" ng-if="isEditable"><input name="name" type="text" ng-click="changeName(value.name)" ng-model="value.name"/></td-->
                                        <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td>
                                        <td title="'Mobile'" filter="{ mobile_number: 'number'}" sortable="'mobile_number'">{{value.mobile_number}}</td>
                                        <td title="'Status'" filter="{ current_lead_state: 'text'}" sortable="'current_lead_state'">{{value.current_lead_state}}</td>
                                        <!-- <td title="'Loan Type'" filter="{loan_type: 'text'}" sortable="'loan_type'">{{value.loan_type}}</td> -->
                                        <td title="'Next Followup Date'" filter="{ followup_date: 'text'}" sortable="'followup_date'">{{value.followup_date | date:'dd-MM-yyyy'}}</td>
                                        <td title="'Loan Amount'" filter="{requested_loan_amount: 'number'}" sortable="'requested_loan_amount'">{{value.requested_loan_amount}}</td>
                                        <td title="'Intake'" ng-if="!value.isEditable" filter="{intake: 'text'}" sortable="'intake'">{{value.intake}}</td>
                                        <td title="'Intake'" ng-if="value.isEditable">
                                            <select class="form-control" name="intake" id="intake" ng-model="value.intake">
                                                <option value="">Please Select</option>
                                                <option value="January - February {{present}}">January - February {{present}}</option>
                                                <option value="June - July {{present}}">June - July {{present}}</option>
                                                <option value="August - September {{present}}">August - September {{present}}</option>
                                                <option value="January - February {{next}}">January - February {{next}}</option>
                                                <option value="June - July {{next}}">June - July {{next}}</option>
                                                <option value="August - September {{next}}">August - September {{next}}</option>
                                                <option value="January - February {{future}}">January - February {{future}}</option>
                                                <option value="June - July {{future}}">June - July {{future}}</option>
                                                <option value="August - September {{future}}">August - September {{future}}</option>
                                            </select>
                                        </td>
                                        <td title="'Assigned To'" ng-if="!value.isEditable" filter="{ partner_name: 'text'}" sortable="'partner_name'">{{value.partner_name}}</td>
                                        <td title="'Assigned To'" ng-if="value.isEditable" >
                                          <select class="form-control" name="facilitator_id" id="facilitator_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist" ng-model="value.facilitator_id" >
                                              <option value="" >Select Telecaller agents</option>
                                          </select>
                                        </td>
                                        <td title="'Offer Name'" ng-if="type=='offer'" filter="{ offer_name: 'text'}" sortable="'offer_name'">{{value.offer_name}}</td>       
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        