<style>
/* Center the loader */
#loaderAjax {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 10000;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f9992f;
  border-bottom: 16px solid #f9992f;
  border-right: 16px solid #004b7a;
  border-left: 16px solid #004b7a;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#loaderAjax {
  display: none;
  text-align: center;
}

</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>COMMENTS DATA</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#"><i class="fa fa-dashboard"></i> lead</a></li>
            <li class="active">Comment Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <div id="loaderAjax"></div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header" >


                        <!--<button class="btn btn-wd btn-primary"  ng-click="$back()"> Back To leads</button>-->
                        <button class="btn btn-wd btn-primary" data-toggle="collapse" data-target="#add_comment_education_loan"> ADD NEW COMMENT EDUCATION LOAN </button>
                        <button class="btn btn-wd btn-primary" data-toggle="collapse" data-target="#add_comment_forex"> ADD NEW COMMENT FOREX </button>
                        <button class="btn btn-wd btn-primary pull-right" data-toggle="modal" data-target="#modal-default"> All Comments</button>
                        <hr/>
                        <div id="add_comment_education_loan" class="row form-group collapse" >

                          <div class="col-md-12">
                            <h3> Education Loan Comment </h3> <br/>

                            <div class="col-md-3">
                              <label class="control-label">Comment Type</label>
                              <select class="form-control" name="comment_type" id="comment_type" ng-model="$parent.comment_type">
                                <option value="" >Select Comment Type</option>
                                  <option value="bank">Bank</option>
                                  <option value="student">Student</option>
                              </select>
                            </div>


                            <div class="col-md-3">
                              <label class="control-label"> Product Name </label>

                                <div ng-if="loanApplicationId==0" ng-dropdown-multiselect="" options="appliedproductslist.data" selected-model="$parent.product_type" extra-settings="productNameSetting" style="width: 100%;"></div>
                                <div><input ng-if="loanApplicationId!=0" ng-model="$parent.product_type_name" disabled></div>

                            </div>

                            <div class="col-md-3">
                              <label class="control-label"> Time </label>
                              <input id="time_value" type= "number" name="time_value" class="form-control inputtext" form="usrform" ng-model="$parent.time_value" >
                            </div>


                          </div>
                          <div class="col-md-12">

                            <div class="col-md-3" >
                              <label class="control-label">Loan Lead State</label>
                              <select class="form-control" name="lead_state" id="lead_state" required ng-init="status='Please Select'" ng-model="$parent.lead_state" ng-change="updateLeadState()">
                                  <option value="" >Please Select</option>
                                  <option ng-repeat="option in allStatus" value="{{option.id}}">{{option.status}}</option>
                              </select>
                            </div>



                            <div class="col-md-3">
                              <label class="control-label">Reason</label>
                              <select class="form-control" name="reason" id="reason" required ng-init="status='Please Select'" ng-model="$parent.reason" ng-change="reasonChanged()" disabled="true">
                                  <option value="" >Please Select</option>
                                  <option ng-repeat="option in allStatusDeclineReason" value="{{option.id}}">{{option.status}}</option>
                              </select>
                            </div>
                            <div class="col-md-3">
                              <label class="control-label">Enter Your Reason :</label>
                              <textarea id="reasontext" name="reasontext" ng-model="$parent.reasontext" class="form-control txtBoxBS" disabled="true"></textarea>
                            </div>
                          </div>
                          <br>
                          <div class="col-md-12">

                            <div class="col-md-2">
                             <label class="control-label">Next Followup Date</label>
                             <input type="date" class="form-control txtBoxBS" id="next_FollowUp_Date" ng-model="$parent.next_FollowUp_Date" ng-blur="nextFollowupDateCount()">
                           </div>

                            <div class="col-md-6">
                              <label class="control-label">Comment</label>
                              <textarea id="comments_value" name="comments_value" class="form-control txtBoxBS" form="usrform" ng-model="$parent.comments_value" ></textarea>
                            </div>

                            <div class="col-md-2">
                              <button class="btn btn-wd btn-md btn-primary" style="margin-top: 25px;" ng-click="updateLeadComment()"><b>SAVE</b></button>
                            </div>
                          </div>

                        </div>

                        <div id="add_comment_forex" class="row form-group collapse" >

                          <div class="col-md-12">
                            <h3> Forex Comment </h3>
                            <div class="col-md-3">
                              <label class="control-label">Comment Type</label>
                              <select class="form-control" name="forex_comment_type" id="forex_comment_type" ng-model="$parent.forex_comment_type">
                                <option value="" >Select Comment Type</option>
                                  <option value="bank">Bank</option>
                                  <option value="student">Student</option>
                              </select>
                            </div>

                            <div class="col-md-3">
                              <label class="control-label"> Forex Name </label>
                                <div ng-if="forexApplicationId==0" ng-dropdown-multiselect="" options="appliedforexlist.data" selected-model="$parent.forex_type" extra-settings="forexNameSetting" style="width: 100%;"></div>
                                <div><input ng-if="forexApplicationId!=0" ng-model="$parent.forex_type_name" disabled></div>
                            </div>

                            <div class="col-md-3">
                              <label class="control-label"> Time </label>
                              <input id="time_value" type= "number" name="forex_time_value" class="form-control inputtext" form="usrform" ng-model="$parent.forex_time_value" >
                            </div>

                          </div>
                          <div class="col-md-12">

                            <div class="col-md-3" id="FOREX_STATE">
                              <label class="control-label">Forex Lead State</label>
                              <select class="form-control" name="forex_lead_state" id="forex_lead_state" required ng-init="status='Please Select'" ng-model="$parent.forex_lead_state">
                                  <option value="" >Please Select</option>
                                  <option ng-repeat="option in allForexStatus" value="{{option.id}}">{{option.status}}</option>
                              </select>
                            </div>

                          </div>
                          <br>
                          <div class="col-md-12">

                            <div class="col-md-6">
                              <label class="control-label">Comment</label>
                              <textarea id="forex_comments_value" name="forex_comments_value" class="form-control txtBoxBS" form="usrform" ng-model="$parent.forex_comments_value" ></textarea>
                            </div>
                             <div class="col-md-2">
                              <label class="control-label">Next Followup Date</label>
                              <input type="date" class="form-control txtBoxBS" id="forex_next_FollowUp_Date" ng-model="$parent.forex_next_FollowUp_Date">
                            </div>
                            <div class="col-md-2">
                              <button class="btn btn-wd btn-md btn-primary" style="margin-top: 25px;" ng-click="updateForexComment()"><b>SAVE</b></button>
                            </div>
                          </div>

                        </div>
                        <br/> <br/>
                          <h3 class="box-title">{{title}}   </h3>
                    </div>
                    <div class="box-body">
                      <span style="font-size:18px;">Customer Name : <b>{{userInfo[0].customerName}}</b></span><br/>
                      <span style="font-size:18px;">Customer Number : <b>{{userInfo[0].customerNumber}}</b></span><br/><br/>
                      <span style="font-size:18px;">Lead State : <b>{{userInfo[0].current_lead_state}}</b></span><br/>
                      <span style="font-size:18px;"> Next Follow Date : <b>{{ claculateTime(userInfo[0].followup_date) | date: 'dd-MM-yyyy' }}</b></span><br/>
                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="comments_table">
                                <!-- <td title="'Comment Id'" filter="{ id : 'number'}" sortable="'id'">{{value.id}}</td>
                                <td title="'Lead Id'" filter="{ entity_id : 'number'}" sortable="'id'">{{value.entity_id}}</td>
                                <td title="'Application Id'" filter="{ application_id : 'number'}" sortable="'id'">{{value.application_id}}</td> -->
                                <td title="'Comment For'" filter="{ comment_for : 'text'}" sortable="'comment_for'">{{value.comment_for}}</td>
                                <td title="'Comment Type'" filter="{ comment_type : 'text'}" sortable="'comment_type'">{{value.comment_type}}</td>
                                <td title="'Product'" filter="{ product_name : 'text'}" sortable="'product_name'">{{value.product_name}}</td>
                                <td title="'Comment'" filter="{ comment : 'text'}" sortable="'comment'">
                                  <textarea cols="60" rows="8" charswidth="30" style="resize:vertical" readonly>{{value.comment}}</textarea>
                                </td>
                                <td title="'Decline Reason'" filter="{ decline_reason : 'text'}" sortable="'decline_reason'">{{value.decline_reason}}</td>
                                <td title="'Other Decline Reason'" filter="{ other_decline_reason : 'text'}" sortable="'other_decline_reason'">{{value.decline_reason_other}}</td>
                                <td title="'Time Spent'" filter="{ time_spent : 'number'}" sortable="'time_spent'">{{value.time_spent}}</td>
                                <td title="'Comment By'" filter="{ partner_name : 'text'}" sortable="'partner_name'">{{value.partner_name}}</td>
                                <td title="'Comment Date'" filter="{ date_updated : 'number'}" sortable="'date_updated'">{{claculateTime(value.date_updated) | date: 'dd-MM-yyyy - HH:mm:ss'}}</td>

                                  </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row form-group">
                    <div class="col-md-3">
                        <h4 class="modal-title"><b>ALL Commets<b></h4>
                    </div>

                </div>
            </div>
            <div class="modal-body">
                <div class="box-body clearfix" style="overflow-y: scroll; max-height: 500px;">

                  <div class="row" ng-repeat="value in commentslist">
                    <hr/>
                    <div class="col-md-2">
                      <small class="pull-left">Comment Type :  {{value.comment_type}}</small>
                    </div>
                    <div class="col-md-10">
                      <blockquote  class="pull-right">

                          <h5>{{value.comment}}</h5>
                          <small>By <cite title="Source Title">{{value.partner_name}}</cite>   On  <cite title="Source Title">{{value.date_updated}}</cite></small>

                      </blockquote>
                    </div>

                  </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
