<style>
    .submit_button, .common-submit_button{
        text-align: center;
    }
    .common-submit_button{
        margin-top: 20px;
    }
    .submit-button-input{
        height: 40px;
        width: 80px;
        font-weight: bold;
        font-size: 18px;
    }
    .next-link{
        text-align: right;
    }
    .leads_applied_products_course_id{
        display: none;
    }
    .get-offer{
        float: right!important;
        cursor: pointer;
    }
    .hiddenField{
        display: none;
    }
    .textclr{
        color: white;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Student Create</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-users"></i> Student</a></li>
            <li class="active">Student Create</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs" style="background-color: #00C0EF">
                        <li ng-class="active" ng-repeat="(key, value) in template">
                            <a data-target="#{{key}}" data-toggle="tab" ng-click="selectTab(key)" style="cursor: pointer;"><b>{{key}}</b></a>
                        </li>
                        <!-- <li class="get-offer" ng-if="getOffers">
                            <a ng-click="gotoOffer(leadId)"><b>Get Offers</b></a>
                        </li> -->
                        <li class="get-offer" ng-if="!getOffers">
                            <a><b>Please fill required information to generate offers.</b></a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div class="active tab-pane" ng-repeat="(key, value) in template">

                            <form class="form-horizontal" ng-repeat="(object, fieldsList) in value"  style="margin-top: 10px;" ng-submit="submitCreateForm(fieldsList[0].group_url, fieldsList[0].group_object)" ng-if="fieldsList!='1'">


                                <!--input type="button" ng-click="cloneOptedUniversities(object, fieldsList)" ng-if="fieldsList[0].group_type == 'MULTIPLE'" style="float: right;" value="Add"-->
                                <div ng-if="fieldsList[0].group_display_name != 'Forex Detail' && fieldsList[0].group_display_name != 'Lead Detail'" style="display: block;" >
                                  {{fieldsList[0].group_display_name}}

                                <div id="{{ object + 99999 }}"  style="padding-top: 10px;">

                                    <div id="{{ object }}" style="box-shadow: 0px 2px 5px 2px rgb(167, 167, 167); padding: 5px;">
                                        <div class="row form-group formRow">
                                            <div ng-repeat="(index, list) in fieldsList" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-class="{'col-md-3': fieldsList[index].is_dependent==0, 'col-md-3 hiddenField': fieldsList[index].is_dependent==1}">
                                                <label for="{{fieldsList[index].field_name}}" class="control-label" ng-if="fieldsList[index].field_ui_type != 'radio'">{{fieldsList[index].field_display_name}} <span ng-if="fieldsList[index].mandatory">*</span></label>
                                                <input type="text" class="form-control txtBoxBS" ng-if="fieldsList[index].field_ui_type == 'text'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-change="checkUser(fieldsList[index].field_column_name)" ng-required="fieldsList[index].mandatory">
                                                <input type="password" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'password'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-blur="checkUser(fieldsList[index].field_column_name)">
                                                <input class="form-control" name="{{fieldsList[index].field_name}}" list="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course' )" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0)" ng-required="fieldsList[index].mandatory">
                                                <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course'" ng-change="appendMapping(fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name, fieldsList[index].list_items)" ng-required="fieldsList[index].mandatory">
                                                    <option>Please Select</option>
                                                    <!--option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option-->
                                                    <option ng-if="fieldsList[index].field_name!='opted_country'" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
											    </select>
                                                <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down_year' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course'" ng-change="appendMapping(fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name, fieldsList[index].list_items)" ng-required="fieldsList[index].mandatory">
                                                    <option>Please Select</option>
                                                    <option value="{{present}}">{{present}}</option>
                                                    <option value = "{{next}}">{{next}}</option>
                                                    <option value = "{{future}}">{{future}}</option>

                                                </select>
                                                <datalist class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course')" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0)" ng-required="fieldsList[index].mandatory" style="display: none">
													<option>Please Select</option>
                                                    <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.display_name}}">{{option.display_name}}</option>
                                                    <option ng-if="fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course'" ng-repeat="option in fieldsList[index].list_items" value="{{option.display_name}}">{{option.display_name}}</option>
											    </datalist>
                                                <!--select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course')" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0)" ng-required="fieldsList[index].mandatory">
													<option>Please Select</option>
                                                    <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                                    <option ng-if="fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course'" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
											    </select-->
                                                <div class="col-sm-2 col-sm-offset-2" ng-if="fieldsList[index].field_ui_type == 'radio'" ng-repeat="option in fieldsList[index].list_items">
                                                    <label class="rbt_container">{{option.display_name}}
                                                        <input type="radio" name="{{fieldsList[index].field_name}}" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" value="{{option.id}}" ng-change="checkUser(fieldsList[index].field_column_name)" ng-required="fieldsList[index].mandatory">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                                <div ng-if="fieldsList[index].field_column_name==error.field" ng-bind-html="error.message" style="margin-top: 10px; font-weight: bold; color: #ff0000;">
                                                </div>
                                                <div ng-dropdown-multiselect="" options="fieldsList[index].list_items" selected-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" extra-settings="loanTypeSetting" ng-if="fieldsList[index].field_ui_type == 'static_multiselect_drop_down' && fieldsList[index].field_column_name != 'registration_type'" ng-required="fieldsList[index].mandatory"></div>
                                                <div ng-dropdown-multiselect="" options="fieldsList[index].list_items" selected-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" extra-settings="loanTypeSetting" ng-if="fieldsList[index].field_ui_type == 'static_multiselect_drop_down' && fieldsList[index].field_column_name == 'registration_type'" ng-click="selectregistrationType()" ng-required="fieldsList[index].mandatory"></div>
                                                <angucomplete-alt id="ex2" placeholder="Search City" pause="300" selected-object="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" ng-if="fieldsList[index].field_ui_type == 'auto_search'" ng-required="fieldsList[index].mandatory"></angucomplete-alt>

                                            </div>
                                        </div>
                                        <!--div class="submit_button"><input type="submit" name="submit" value="Submit"></div-->
                                    </div>
                                  </div>
                                </div>

                                <div id="{{ object + 77777 }}" ng-if="fieldsList[0].group_display_name == 'Forex Detail' || fieldsList[0].group_display_name == 'Lead Detail'" style="display: none;" >
                                  {{fieldsList[0].group_display_name}}

                                <div id="{{ object + 99999 }}"  style="padding-top: 10px;">

                                    <div id="{{ object }}" style="box-shadow: 0px 2px 5px 2px rgb(167, 167, 167); padding: 5px;">
                                        <div class="row form-group formRow">
                                            <div ng-repeat="(index, list) in fieldsList" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-class="{'col-md-3': fieldsList[index].is_dependent==0, 'col-md-3 hiddenField': fieldsList[index].is_dependent==1}">
                                                <label for="{{fieldsList[index].field_name}}" class="control-label" ng-if="fieldsList[index].field_ui_type != 'radio'">{{fieldsList[index].field_display_name}} <span ng-if="fieldsList[index].mandatory">*</span></label>
                                                <input type="text" class="form-control txtBoxBS" ng-if="fieldsList[index].field_ui_type == 'text'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-change="checkUser(fieldsList[index].field_column_name)" ng-required="fieldsList[index].mandatory">
                                                <input type="password" class="form-control" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'password'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-blur="checkUser(fieldsList[index].field_column_name)">
                                                <input class="form-control" name="{{fieldsList[index].field_name}}" list="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course' )" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0)" ng-required="fieldsList[index].mandatory">
                                                <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course'" ng-change="appendMapping(fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name, fieldsList[index].list_items)" ng-required="fieldsList[index].mandatory">
                                                    <option>Please Select</option>
                                                    <!--option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option-->
                                                    <option ng-if="fieldsList[index].field_name!='opted_country'" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
											    </select>
                                                <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down_year' && fieldsList[index].field_name!='opted_country' && fieldsList[index].field_name!='opted_university' && fieldsList[index].field_name!='opted_course'" ng-change="appendMapping(fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name, fieldsList[index].list_items)" ng-required="fieldsList[index].mandatory">
                                                    <option>Please Select</option>
                                                    <option value="{{present}}">{{present}}</option>
                                                    <option value = "{{next}}">{{next}}</option>
                                                    <option value = "{{future}}">{{future}}</option>

                                                </select>
                                                <datalist class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course')" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0)" ng-required="fieldsList[index].mandatory" style="display: none">
													<option>Please Select</option>
                                                    <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.display_name}}">{{option.display_name}}</option>
                                                    <option ng-if="fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course'" ng-repeat="option in fieldsList[index].list_items" value="{{option.display_name}}">{{option.display_name}}</option>
											    </datalist>
                                                <!--select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="(fieldsList[index].field_ui_type == 'static_drop_down') && (fieldsList[index].field_name=='opted_country' || fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course')" ng-change="showDependent(fieldsList[index].field_table_name, fieldsList[index].field_column_name, fieldsList[index].field_name, 0)" ng-required="fieldsList[index].mandatory">
													<option>Please Select</option>
                                                    <option ng-if="fieldsList[index].field_name=='opted_country' && option.mapping" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
                                                    <option ng-if="fieldsList[index].field_name=='opted_university' || fieldsList[index].field_name=='opted_course'" ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
											    </select-->
                                                <div class="col-sm-2 col-sm-offset-2" ng-if="fieldsList[index].field_ui_type == 'radio'" ng-repeat="option in fieldsList[index].list_items">
                                                    <label class="rbt_container">{{option.display_name}}
                                                        <input type="radio" name="{{fieldsList[index].field_name}}" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" value="{{option.id}}" ng-change="checkUser(fieldsList[index].field_column_name)" ng-required="fieldsList[index].mandatory">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                                <div ng-if="fieldsList[index].field_column_name==error.field" ng-bind-html="error.message" style="margin-top: 10px; font-weight: bold; color: #ff0000;">
                                                </div>
                                                <div ng-dropdown-multiselect="" options="fieldsList[index].list_items" selected-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" extra-settings="loanTypeSetting" ng-if="fieldsList[index].field_ui_type == 'static_multiselect_drop_down'" ng-required="fieldsList[index].mandatory"></div>
                                                <angucomplete-alt id="ex2" placeholder="Search City" pause="300" selected-object="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" ng-if="fieldsList[index].field_ui_type == 'auto_search'" ng-required="fieldsList[index].mandatory"></angucomplete-alt>

                                            </div>
                                        </div>
                                        <!--div class="submit_button"><input type="submit" name="submit" value="Submit"></div-->
                                    </div>
                                  </div>
                                </div>
                            </form>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="common-submit_button"><input class="submit-button-input" type="button" name="submit" value="Submit" ng-click="commonSubmit()"></div>
                                </div>
                                <div class="col-md-6" >
                                    <button type="button" class="btn btn-lg btn-primary common-submit_button" ng-if="getOffers" ng-click="gotoOffer(leadId)"><b>Get Offers!</b></button>
                                </div>
                            </div>

                            <!--div class="next-link" ng-if="customerId"><a href="/student/create/page/2">Next</a></div-->

                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
        </div>
    </section>
</div>
