<style>
    h3 {
        border-bottom: 2px solid skyblue;
    }

    .row {
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    select {
        width: 100%;
        height: 34px;
    }
</style>
<div class="container" style="padding:20px;">
    <div style=" border:1px solid grey;">
        <div class="row">
            <h3>PURPOSE OF LOAN</h3>
            <div class="col-md-6">
                <label class="control-label">Purpose of loan</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value="New education loan">
            </div>
        </div>

        <div class="row">
            <h3>COURSE DETAILS</h3>
            <div class="col-md-6">
                <label class="control-label">Country Of study</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value="Abroad">
            </div>
            <div class="col-md-6">
                <label class="control-label">Country Opted for education</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value="{{countryName}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Course Type</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value="{{courseName}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Course Name</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value="{{educationName}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Institute Name</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value="{{leadData.opted_university_create_object[0].other_details.institute}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">University Name</label>
                <input type="text" name="name" class="form-control" value="{{universityName}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Nature Of course</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control"  value="{{educationName}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Course duration</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control"  value="{{leadData.opted_university_create_object[0].course_duration}}">
            </div>
        </div>

        <div class="row">
            <h3>COURSE FEE</h3>
            <div class="col-md-6">
                <label class="control-label">Admission Fee</label>
                <input type="text" name="name" class="form-control" value="{{leadData.loan_purpose_object[0].college_fee}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Tution Fee</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value="{{leadData.loan_purpose_object[0].other_details.tution_fee}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Hostel Fee/Living Expenses</label>
                <input type="text" name="name" class="form-control" value="{{leadData.loan_purpose_object[0].lodging_charges}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Examination/Lab/Library Fee</label>
                <input type="text" name="name" class="form-control" value="{{leadData.loan_purpose_object[0].examination_fee}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Purchase of books</label>
                <input type="text" name="name" class="form-control" value="{{leadData.loan_purpose_object[0].book_cost}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Caution Fee</label>
                <input type="text" name="name" class="form-control" value="{{leadData.loan_purpose_object[0].caution_deposit}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Travel Expenses for studies abroad</label>
                <input type="text" name="name" class="form-control" value="{{leadData.loan_purpose_object[0].travel_expenses}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Purchase of computer</label>
                <input type="text" name="name" class="form-control" value="{{leadData.loan_purpose_object[0].other_details.computer_cost}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">MISC. Expenses</label>
                <input type="text" name="name" class="form-control" value="{{leadData.loan_purpose_object[0].other_education_expenses}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Overseas health insurence Fee</label>
                <input type="text" name="name" class="form-control" value="{{leadData.loan_purpose_object[0].other_details.overseas_health_insurance_fee}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Fellowship/Scholarship</label>
                <input type="text" name="name" class="form-control" value="{{leadData.loan_purpose_object[0].other_details.scholarship}}">
            </div>
        </div>

        <div class="row">
            <h3>APPLICANT DETAILS</h3>
            <div class="col-md-6">
                <label class="control-label">Last Educational qualification</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value="{{qualificationName}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Gender</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value="{{genName}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Work Experience</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value="{{leadData.customer_object.other_details.work_experience}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">State of residence</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value="{{leadData.customer_object.current_address.state}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">City of residence</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value="{{leadData.customer_object.current_city_id}}">
            </div>
        </div>

        <div class="row">
            <h3>CO-APPLICANT DETAILS</h3>
            <div class="col-md-6">
                <label class="control-label">Relationship</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value="{{relationshipName}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Existing employee with sbi?</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value="{{existingEmployee}}">
            </div>
        </div>

        <div class="row">
            <h3>CONTACT DETAILS</h3>
            <div class="col-md-6">
                <label class="control-label">Name</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value="{{leadData.customer_object.first_name}} {{leadData.customer_object.last_name}}">
            </div>
            <div class="col-md-6">
                <label class="control-label">Mobile Number</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value={{leadData.login_object.mobile_number}}>
            </div>
            <div class="col-md-6">
                <label class="control-label">Email</label>
                <input type="text" name="name" class="form-control" value={{leadData.login_object.email}}>
            </div>
        </div>
        <div class="row">
            <h3>PERSONAL DETAILS(Student)</h3>
            <div class="col-md-4">
                <label class="control-label">First Name</label>
                <span style="color:red">*</span>
                <input type="text" name="firstname" class="form-control" value={{leadData.customer_object.first_name}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Middle Name</label>
                <input type="text" name="middlename" class="form-control" value={{leadData.customer_object.middle_name}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Last Name</label>
                <span style="color:red">*</span>
                <input type="text" name="lastname" class="form-control" value={{leadData.customer_object.last_name}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Date Of Birth</label>
                <span style="color:red">*</span>
                <input type="text" name="Date Of Birth" class="form-control" value={{leadData.customer_object.dob}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Current Address Line 1</label>
                <span style="color:red">*</span>
                <input type="text" name="Current Address Line 1" class="form-control" value={{leadData.customer_object.current_address.address_1}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Current Address Line 2</label>
                <span style="color:red">*</span>
                <input type="text" name="Current Address Line 2" class="form-control" value={{leadData.customer_object.current_address.address_2}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Landmark</label>
                <input type="text" name="Landmark" class="form-control" value={{leadData.customer_object.current_address.landmark}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">State</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value={{leadData.customer_object.current_address.state}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">City</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value={{leadData.customer_object.current_city_id}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Pincode</label>
                <span style="color:red">*</span>
                <input type="text" name="Pincode" class="form-control" value={{leadData.customer_object.current_address.pin}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Under what quota did you secure admission?</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value={{admissionName}}>
            </div>

        </div>

        <div class="row">
            <h3>PREFERED LOCATION FOR AVAILING LOAN</h3>
            <div class="col-md-4">
                <label class="control-label">State</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value={{leadData.loan_detail_object.other_details.branch_state}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">City</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value={{leadData.loan_detail_object.other_details.branch_city}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Branch</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value={{leadData.loan_detail_object.other_details.branch_name}}>
            </div>
        </div>

        <div class="row">
            <h3>PERMANENT ADDRESS</h3>
            <div class="col-md-4">
                <label class="control-label">Address Line 1</label>
                <span style="color:red">*</span>
                <input type="text" name="Address Line 1" class="form-control" value={{leadData.customer_object.permanent_address.address_1}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Address Line 2</label>
                <input type="text" name="Address Line 2" class="form-control" value={{leadData.customer_object.permanent_address.address_2}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Landmark</label>
                <input type="text" name="Landmark" class="form-control" value={{leadData.customer_object.permanent_address.landmark}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">State</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value={{leadData.customer_object.permanent_address.state}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">City</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value={{leadData.customer_object.permanent_address.city}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Pincode</label>
                <span style="color:red">*</span>
                <input type="text" name="Branch" class="form-control" value={{leadData.customer_object.permanent_address.pincode}}>
            </div>
        </div>

        <div class="row">
            <h3>PAN CARD</h3>
            <div class="col-md-4">
                <label class="control-label">Do you have Aadhaar Number?</label>
                <input type="text" name="Aadhaar Number" class="form-control" value={{aadhaarConfirmation}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">PAN</label>
                <span style="color:red">*</span>
                <a href="">(Know your PAN)</a>
                <input type="text" name="pan" class="form-control" value={{leadData.customer_pan_object.pan_id}}>
                <br>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" ng-if="leadData.customer_pan_object.other_details.submit_pan_later" checked>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" ng-if="!leadData.customer_pan_object.other_details.submit_pan_later"> I Would like to submit my PAN Later
                <span style="color:red">*</span>
            </div>
            <div class="col-md-4">
                <label class="control-label">Other Identity Proof</label>
                <input type="text" name="name" class="form-control" value={{otherIDProofValue}}>
            </div>
        </div>

        <div class="row">
            <h3>CO APPLICANT DETAILS</h3>
            <div class="col-md-4">
                <label class="control-label">First Name</label>
                <span style="color:red">*</span>
                <input type="text" name="firstname" class="form-control" value={{leadData.co_applicant_object.first_name}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Middle Name</label>
                <input type="text" name="middlename" class="form-control" value={{leadData.co_applicant_object.middle_name}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Last Name</label>
                <span style="color:red">*</span>
                <input type="text" name="lastname" class="form-control" value={{leadData.co_applicant_object.last_name}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Address Line 1</label>
                <span style="color:red">*</span>
                <input type="text" name="Address Line 1" class="form-control" value={{leadData.co_applicant_object.current_address.address_1}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Address Line 2</label>
                <input type="text" name="Address Line 2" class="form-control" value={{leadData.co_applicant_object.current_address.address_2}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Landmark</label>
                <input type="text" name="Landmark" class="form-control" value={{leadData.co_applicant_object.current_address.landmark}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">State</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value={{leadData.co_applicant_object.current_address.state}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">City</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value={{leadData.co_applicant_object.current_address.city}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Pincode</label>
                <span style="color:red">*</span>
                <input type="text" name="Pincode" class="form-control" value={{leadData.co_applicant_object.current_address.pin}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Mobile Number</label>
                <span style="color:red">*</span>
                <input type="text" name="Mobile Number" class="form-control" value={{leadData.co_applicant_object.mobile_number}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Employement type</label>
                <span style="color:red">*</span>
                <input type="text" name="name" class="form-control" value="{{occupation}}">
            </div>
            <div class="col-md-4">
                <label class="control-label">Net Annual Income</label>
                <span style="color:red">*</span>
                <input type="text" name="income" class="form-control" value={{leadData.co_applicant_occupation_detail_object.annual_income}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">Do you have Aadhaar Number?</label>
                <input type="text" name="Aadhaar Number" class="form-control" value={{coApplicantAadhaarConfirmation}}>
            </div>
            <div class="col-md-4">
                <label class="control-label">PAN</label>
                <span style="color:red">*</span>
                <a href="">(Know your PAN)</a>
                <input type="text" name="pan" class="form-control" value={{leadData.co_applicant_object.pan_id}}>
                <br>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" ng-if="leadData.co_applicant_object.other_details.submit_pan_later" checked>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" ng-if="!leadData.co_applicant_object.other_details.submit_pan_later"> I Would like to submit my PAN Later
                <span style="color:red">*</span>
            </div>
            <div class="col-md-4">
                <label class="control-label">Other Identity Proof</label>
                <input type="text" name="name" class="form-control" value={{coApplicantOtherIDProofValue}}>
            </div>
            <!--div class="col-md-4">
                <label class="control-label">Other Identity no</label>
                <span style="color:red">*</span>
                <input type="text" name="Other Identity no" class="form-control">
            </div-->
        </div>

        <div class="row">
            <div class="col-md-12">
                <input type="button" name="Submit Application" value="Submit Application" style="float: right;" class="btn btn-primary">
            </div>
        </div>
    </div>
</div>
