    <style>
    .profile-heading{
        color: #091a3c;
    }
    .comment{
        cursor: pointer;
    }
    .control-label{
        text-align: left !important;
    }
    .submit_button{
        text-align: center;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Student Profile</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-users"></i> Student</a></li>
            <li><a href="#">Student List</a></li>
            <li class="active">Student profile</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile bg-aqua">
                        <img class="profile-user-img img-responsive img-circle" src="dist/img/avatar.png" alt="User profile picture">
                        <h3 class="profile-username text-center"><b>{{leadData.customer_object.first_name}} {{leadData.customer_object.middle_name}} {{leadData.customer_object.last_name}}</b></h3>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item txtBlack paddingLR">
                                <span class="profile-heading">Email Id</span> <a class="pull-right">{{leadData.login_object.email}}</a>
                            </li>
                            <li class="list-group-item txtBlack paddingLR">
                                <span class="profile-heading">Phone Number</span> <a class="pull-right">+91 {{leadData.login_object.mobile_number}}</a>
                            </li>
                            <li class="list-group-item txtBlack paddingLR">
                                <span class="profile-heading">Requested Loan Amount</span> <a class="pull-right">{{leadData.lead_object.requested_loan_amount}}</a>
                            </li>
                            <li class="list-group-item txtBlack paddingLR">
                                <span class="profile-heading">Status1</span><p class="pull-right"><span class="label label-success" ng-if="leadData.login_object.status=='1'">Active</span><span class="label label-success" ng-if="leadData.login_object.status=='0'">Inactive</span></p>
                            </li>
                            <li class="list-group-item txtBlack paddingLR">
                              <a class="ist-group-item txtBlack" target="_blank" href="/comments/lead/{{leadId}}/0">Comment History</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border bg-aqua">
                        <h3 class="box-title"><a href="#" data-toggle="collapse" data-target="#sbtBOX" aria-expanded="true" aria-controls="sbtBOX" >About Me</a><b></b></h3>
                    </div>
                    <div class="box-body" id="sbtBOX">
                        <strong><i class="fa fa-book margin-r-5"></i> Education</strong>
                        <p class="text-muted">B.S. in Computer Science from the University of Mumbai</p>
                        <hr>
                        <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                        <p class="text-muted">{{leadData.customer_object.current_address.city}}, {{leadData.customer_object.current_address.state}}</p>
                        <hr>
                        <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>
                        <ul>
                            <li>Skill 1</li>
                            <li>Skill 2</li>
                            <li>Skill 2</li>
                        </ul>
                        <hr>
                        <strong><i class="fa fa-file-text-o margin-r-5"></i>About Me</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="box">
                    <div class="box-header bg-aqua">
                        <h3 class="box-title">Application List</h3>
                    </div>
                    <div class="box-body table-responsive no-padding mxWidthHeight">
                        <table ng-table="tableParams" class="table table-bordered table-striped table-hover" show-filter="true">
                            <tr ng-repeat="value in $data" id="list_table">
                                <td title="'Application Id'" filter="{id: 'number'}" sortable="'id'"><a href="/student/{{leadId}}/product/{{value.product_id}}">{{value.id}}</a></td>
                                <!--td title="'Name'" filter="{ name: 'text'}" sortable="'name'" ng-if="!isEditable">{{value.name}}</td>
                                <td title="'Name'" ng-if="isEditable"><input name="name" type="text" ng-click="changeName(value.name)" ng-model="value.name"/></td>
                                <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td>
                                <td title="'Mobile'" filter="{ mobile: 'number'}" sortable="'mobile'">{{value.mobile}}</td-->
                                <td title="'University'" filter="{ university_name: 'text'}" sortable="'university_name'">{{value.university_name}}</td>
                                <td title="'Course'" filter="{ course_name: 'text'}" sortable="'course_name'">{{value.course_name}}</td>
                                <td title="'Degree'" filter="{ degree: 'text'}" sortable="'degree'">{{value.degree}}</td>
                                <td title="'Application Status'" ng-if="!value.isEditable" filter="{ status: 'text'}" sortable="'status'" ng-if="!isEditable">{{value.current_status}}</td>
                                <td title="'Application Status'" ng-if="value.isEditable">
                                    <select class="form-control" name="status" id="status" required ng-init="'value.current_status = value.current_status'" ng-model="value.current_status">
                                        <option ng-repeat="option in allStatus" value="{{option.id}}">{{option.status}}</option>
                                    </select>
                                </td>
                                <td title="'Bank'" filter="{ bank_name: 'text'}" sortable="'bank_name'">{{value.bank_name}}</td>
                                <td title="'Loan Type'" filter="{ loan_type: 'text'}" sortable="'loan_type'">{{value.loan_type}}</td>
                                <td title="'Comments'" class="comment" ><a class="btn btn-info btn-sm" target="_blank" href="/comments/lead/{{leadId}}/{{value.id}}"> Comments</a></td>
                                <!--td title="'Comments'" ng-if="isEditable">
                                    <select class="form-control" name="comment" id="comment" required ng-init="comment='Please Select'" ng-model="comment" ng-click="changeName(comment)">
                                        <option>Please Select</option>
                                        <option ng-repeat="option in comments" value="{{option.id}}">{{option.value}}</option> ng-if=" value.connect_mail !== '1' "
                                    </select>
                                </td-->
                                <td><button ng-if="!value.isEditable" ng-click="editData(value)">Edit</button></td>
                                <td title="'Application Actions'"><button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-if="value.isEditable" ng-click="saveData(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>
                                <td title="'Send Mail'"><button  class="btn btn-info btn-sm btn-circle" ng-click="connectMail(value)">Connect Mail</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs" style="background-color: #00C0EF">
                        <li ng-class="{'active': key=='Student Detail'}" ng-repeat="(key, value) in template">
                            <a data-target="#{{key}}" data-toggle="tab" ng-click="selectTab(key)" style="cursor: pointer;"><b>{{key}}</b></a>
                        </li>
                        <!--li class="active"><a href="#personalInfo" data-toggle="tab"><b>Personal</b></a></li>
                        <li><a href="#eduInfo" data-toggle="tab"><b>Educational</b></a></li>
                        <li><a href="#parInfo" data-toggle="tab"><b>Parents</b></a></li>
                        <li><a href="#other1" data-toggle="tab"><b>Other Info1</b></a></li>
                        <li><a href="#other2" data-toggle="tab"><b>Other Info2</b></a></li>
                        <li><a href="#other3" data-toggle="tab"><b>Other Info3</b></a></li>
                        <li><a href="#remark" data-toggle="tab"><b>Remarks</b></a></li-->
                    </ul>
                    <div class="tab-content">

                        <div class="active tab-pane" ng-show="active==key" ng-repeat="(key, value) in template">
                            <form class="form-horizontal" ng-repeat="(object, fieldsList) in value"  style="margin-top: 10px;" ng-submit="submitForm(fieldsList[0].group_url, fieldsList[0].group_object)" ng-if="fieldsList[0].group_display=='1'" >
                                {{fieldsList[0].group_display_name+object}} {{leadData[object].first_name}}

                                <button ng-click="clonerow(object, fieldsList)" ng-if="fieldsList[0].group_type == 'MULTIPLE'" style="float: right;">Add</button>

                                <div id="{{ object + 99999 }}"  style="padding-top: 10px;">
                                    <div id="{{ object }}" style="box-shadow: 0px 2px 5px 2px rgb(167, 167, 167); padding: 5px;" ng-if="fieldsList[0].group_type == 'SINGLE' || !leadData[fieldsList[0].group_object]">
                                        <div class="row form-group formRow" >
                                            <div  ng-if="fieldsList[index].field_ui_type != 'radio'"class="col-md-3" ng-repeat="(index, list) in fieldsList">
                                                <label for="{{fieldsList[index].field_name}}" class="control-label">{{fieldsList[index].field_display_name}}</label>
                                                <input type="text" class="form-control txtBoxBS" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-if="fieldsList[index].field_ui_type == 'text'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]">
                                                <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down'">
													<option>Please Select</option>
											      	<option ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
											    </select>
                                                <datepicker ng-if="fieldsList[index].field_ui_type == 'date'" date-format="yyyy-MM-dd"><input ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" type="text"/></datepicker>
                                                <angucomplete-alt id="ex2" placeholder="Search City" pause="300" selected-object="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" ng-if="fieldsList[index].field_ui_type == 'auto_search'" initial-value="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]">
                                            </div>
                                            <div ng-if="fieldsList[index].field_ui_type == 'radio'" class="col-md-6" ng-repeat="(index, list) in fieldsList">
                                                <label style="padding-right: 30px; padding-top:10px;" ng-if="fieldsList[index].field_ui_type == 'radio'" ng-repeat="option in fieldsList[index].list_items">{{option.display_name}}
                                                    <input type="radio" name="{{fieldsList[index].field_name}}" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" value="{{option.id}}" ng-change="checkUser(fieldsList[index].field_column_name)">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="submit_button"><input type="submit" name="submit" value="Submit"></div>
                                    </div>
                                    <div id="{{ object}}{{recordsIndex || ''}}" style="box-shadow: 0px 2px 5px 2px rgb(167, 167, 167); padding: 5px;" ng-if="fieldsList[0].group_type == 'MULTIPLE'" ng-repeat="(recordsIndex, records) in leadData[fieldsList[0].group_object]">
                                        <div class="row form-group formRow" >
                                            <div class="col-md-3" ng-repeat="(index, list) in fieldsList">
                                                <label for="{{fieldsList[index].field_name}}" class="control-label">{{fieldsList[index].field_display_name}}</label>
                                                <input type="text" class="form-control txtBoxBS" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}|{{recordsIndex}}" ng-if="fieldsList[index].field_ui_type == 'text'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex]">
                                                <select class="form-control" name="{{fieldsList[index].field_name}}" id="{{fieldsList[index].field_table_name}}|{{fieldsList[index].field_column_name}}|{{recordsIndex}}" ng-init="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] + '|' + recordsIndex = templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name] + '|' + recordsIndex || 'Please Select'" ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name + '|' + recordsIndex]" ng-if="fieldsList[index].field_ui_type == 'static_drop_down'">
													<option>Please Select</option>
											      	<option ng-repeat="option in fieldsList[index].list_items" value="{{option.id}}">{{option.display_name}}</option>
											    </select>
                                                <datepicker ng-if="fieldsList[index].field_ui_type == 'date'" date-format="yyyy-MM-dd"><input ng-model="templateFields[fieldsList[index].field_table_name + '|' + fieldsList[index].field_column_name]" type="text"/></datepicker>
                                            </div>
                                        </div>
                                        <div ng-if="recordsIndex" id="rm{{recordsIndex}}" class="delete_button"><input type="button" class="btn btn-danger" name="delete" value="Delete" ng-click="deleteValue(object+recordsIndex, 'rm' + recordsIndex)"></div>
                                        <div class="submit_button"><input type="submit" class="btn btn-primary" name="submit" value="Submit"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row form-group">
                    <div class="col-md-3">
                        <h4 class="modal-title"><b>Comment Box<b></h4>
                    </div>
                    <div class="col-md-4">
                        <label for="" class="control-label">Last Followup Date</label>
                        <input type="text" class="form-control txtBoxBS" id="inputName" value="20/1/2018">
                    </div>
                    <div class="col-md-4">
                        <label for="" class="control-label">Next Followup Date</label>
                        <input type="text" class="form-control txtBoxBS" id="inputName" value="20/2/2018">
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="box-body clearfix" style="overflow-y: scroll; max-height: 230px;">
                    <blockquote class="pull-right">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <small>By <cite title="Source Title">Mr.Amol JP</cite>   On  <cite title="Source Title">02/02/2018</cite></small>
                    </blockquote>
                    <blockquote class="pull-right">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <small>By <cite title="Source Title">Mr.Amol JP</cite>   On  <cite title="Source Title">02/02/2018</cite></small>
                    </blockquote>
                    <blockquote class="pull-right">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <small>By <cite title="Source Title">Mr.Amol JP</cite>   On  <cite title="Source Title">02/02/2018</cite></small>
                    </blockquote>
                    <blockquote class="pull-right">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <small>By <cite title="Source Title">Mr.Amol JP</cite>   On  <cite title="Source Title">02/02/2018</cite></small>
                    </blockquote>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="" class="control-label">Your Comment :</label>
                        <textarea name="comment" class="form-control txtBoxBS" form="usrform"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
