<!-- content begin -->
<!--section id="subheader" data-speed="8" data-type="background"-->




<!-- content begin -->

<!--div class="container-fluid" style="padding:0px;margin:0px;margin-top:60px;">
        <div class="row">
            <div class="col-md-12">
                <a href=""><img src="images/offer-top-banner.jpg" class="img-responsive" style="width:100%;"/></a>
            </div>
        </div>
    </div-->

<style>
    .about-inner-column h4 {
        font-size: 2.5em;
        margin-top: 0px;
    }

    @media (min-width: 992px) {
        .about-inner-column {
            padding-left: 30px;

        }
    }
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Register</h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-users"></i> Register</a>
            </li>
            <li class="active">Register</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <!-- <h3 class="box-title">{{title}}</h3> -->
                    </div>
                    <div class="box-body">



                        <!--h4>Partner with us!</h4>
		 <p>Reach out to us by filling the form below and we will get in touch with you.</p-->



                        <form class="row" action="" method="post">
                            <div class="col-md-12 col-sm-12 form-group">
                                <label for="" class="control-label">Roles *</label>
                                <select class="form-control" name="title" ng-init="title = 'Please Select'" ng-model="register.partner_type" ng-required="1">
                                    <option>Please Select</option>
                                    <option ng-repeat="data in roles" value="{{data.id}}">{{data.display_name}}</option>
                                </select>
                            </div>
                            <div class="col-md-12 col-sm-12 form-group">
                                <label for="" class="control-label">Title *</label>
                                <select class="form-control" name="title" ng-init="title = 'Please Select'" ng-model="register.title" ng-required="1">
                                    <option>Please Select</option>
                                    <option ng-repeat="option in allTitles" value="{{option.id}}">{{option.display_name}}</option>
                                </select>
                            </div>
                            <div class="col-md-12 col-sm-12 form-group">
                                <label for="" class="control-label">First Name *</label>
                                <input class="form-control" name="firstname" id="firstname" ng-model="register.first_name" ng-required="1">
                            </div>
                            <div class="col-md-12 col-sm-12 form-group">
                                <label for="" class="control-label">Last Name *</label>
                                <input class="form-control" name="lastname" id="lastname" ng-model="register.last_name" ng-required="1">
                            </div>

                            <div class="col-md-12 col-sm-12 form-group">
                                <label for="" class="control-label">Email *</label>
                                <input class="form-control" name="email" id="email" ng-model="register.email" ng-required="1">
                            </div>
                            <div class="col-md-12 col-sm-12 form-group">
                                <label for="" class="control-label">Mobile Number (optional)</label>
                                <input class="form-control" name="mobile" id="mobile" ng-model="register.mobile">
                            </div>
                            <div class="col-md-12 col-sm-12 form-group">
                                <label for="" class="control-label">College Name *</label>
                                <input class="form-control" name="companyname" id="companyname" ng-model="register.company_name" ng-required="1">
                            </div>
                            <div class="col-md-12 col-sm-12 form-group">
                                <label for="" class="control-label">Landline Number * </label>
                                <input class="form-control" name="landphone" id="landphone" ng-model="register.landline" ng-required="1">
                            </div>

                            <div class="col-md-12 col-sm-12 form-group">
                                <label for="" class="control-label">Address (optional)</label>
                                <textarea class="form-control" value="Your Address" placeholder="Your Address" style="height:130px;" ng-model="register.address"></textarea>
                            </div>
                            <div class="col-md-12 col-sm-12 form-group">
                                <label for="" class="control-label">Country *</label>
                                <select class="form-control" name="country" ng-init="country = 'Please Select'" ng-model="register.country" ng-required="1">
                                    <option>Please Select</option>
                                    <option ng-repeat="option in allCountries" value="{{option.id}}">{{option.display_name}}</option>
                                </select>
                            </div>
                            
                            <div class="col-md-12 col-sm-12 form-group">
                                <input type="button" class="btn btn-primary" value="Submit" ng-click="addPartner(register)">
                            </div>
                        </form>



                    </div>

                </div>
            </div>
        </div>
</div>
</section>
</div>