<style>
    tr:hover {
        border:2px solid #ddd;
        background-color: #ddd!important;
    }
    .act{
        background : #dac9c9!important;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-if="leadShow">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Students</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Students</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                            <div class="row" >
                                    <div class="col-md-2">
                                      <button type="button" class="btn btn-info btn-sm" ng-click="getleads()">Leads</button>
                                    </div>
                                    <div class="col-md-2">
                                      <button type="button" class="btn btn-info btn-sm" ng-click="getcalling()">Calling data</button>
                                    </div>
                             </div>

                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body">
                        <span> Total No - <b>{{ tableParams.total() }}</b></span>
                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="list_table" ng-class="{act : activeMenu === value.lead_id}">
                                <td ng-if="type != 'allleads'"><input type="checkbox" ng-if="value.edit" ng-model="checkedvalue" ng-change="selectEntity(value, checkedvalue)"></td>
                                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'" ng-if="!isEditable"><a href="/student/{{value.lead_id}}/product/0" target="_blank" ng-click="setActive(value.lead_id)">{{value.name}}</a></td>
                                <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td>
                                <td title="'Mobile'" filter="{ mobile_number: 'number'}" sortable="'mobile_number'">{{value.mobile_number}}</td>
                                <td title="'Status'" filter="{ current_lead_state: 'text'}" sortable="'current_lead_state'">{{value.current_lead_state}}</td>
                                <td title="'Next Followup Date'" filter="{ followup_date: 'text'}" sortable="'followup_date'">{{value.followup_date | date:'dd-MM-yyyy'}}</td>
                                <td title="'Loan Amount'" filter="{requested_loan_amount: 'number'}" sortable="'requested_loan_amount'">{{value.requested_loan_amount}}</td>
                                <td title="'Intake'" ng-if="!value.isEditable" filter="{intake: 'text'}" sortable="'intake'">{{value.intake}}</td>
                                <td title="'Intake'" ng-if="value.isEditable">
                                    <select class="form-control" name="intake" id="intake" ng-model="value.intake">
                                        <option value="">Please Select</option>
                                        <option value="January - Febraury {{present}}">January - Febraury {{present}}</option>
                                        <option value="June - July {{present}}">June - July {{present}}</option>
                                        <option value="August - September {{present}}">August - September {{present}}</option>
                                        <option value="January - Febraury {{next}}">January - Febraury {{next}}</option>
                                        <option value="June - July {{next}}">June - July {{next}}</option>
                                        <option value="August - September {{next}}">August - September {{next}}</option>
                                        <option value="January - Febraury {{future}}">January - Febraury {{future}}</option>
                                        <option value="June - July {{future}}">June - July {{future}}</option>
                                        <option value="August - September {{future}}">August - September {{future}}</option>
                                    </select>
                                </td>
                                <td title="'Assigned To'" ng-if="!value.isEditable" filter="{ partner_name: 'text'}" sortable="'partner_name'">{{value.partner_name}}</td>
                                <td title="'Assigned To'" ng-if="value.isEditable" >
                                    <select class="form-control" name="facilitator_id" id="facilitator_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist" ng-model="value.facilitator_id" >
                                        <option value="" >Select Telecaller agents</option>
                                    </select>
                                </td>
                                <td ng-if="type != 'allleads'"><button ng-if="!value.isEditable && value.edit" ng-click="editData(value)">Edit</button></td>
                                <td title="'Application Actions'"><button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-if="value.isEditable" ng-click="saveData(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>
                                <td><button ng-click="mailData(value)">Send Mail</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-if="!leadShow">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Calling DATA</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Calling Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                            <div class="row" >
                                    <div class="col-md-2">
                                      <button type="button" class="btn btn-info btn-sm" ng-click="getleads()">Leads</button>
                                    </div>
                                    <div class="col-md-2">
                                      <button type="button" class="btn btn-info btn-sm" ng-click="getcalling()">Calling data</button>
                                    </div>
                            </div>

                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body" style="overflow: scroll;">
                        <span > Total No - <b>{{ tableParams.total() }}</b></span>
                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="assign_table">
                                <td title="'CallingId'" filter="{ id : 'number'}" sortable="'id'">{{value.id}}</td>
                                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'" >{{value.name}}</td>

                                <td title="'Mobile'" filter="{ mobile: 'number'}" sortable="'mobile'" ng-controller="authController"><a href="#" ng-click="agentAutoCall(value.mobile)" >{{value.mobile}}</a></td>
                                <td title="'Mobile-2'" filter="{ mobile1: 'number'}" sortable="'mobile1'">{{value.mobile1}}</td>

                                <td title="'City'" filter="{ city: 'text'}" sortable="'city'">{{value.city}}</td>
                                <td title="'Assigned To'" filter="{ assigned_name: 'text'}" sortable="'assigned_name'">{{value.assigned_name}}</td>
                                <td title="'Source Name'" filter="{ source_name: 'text'}" sortable="'source_name'">{{value.source_name}}</td>
                                <td title="'Last Follow Up Date'" filter="{ date_updated: 'number'}" sortable="'date_updated'">{{ claculateTime(value.date_updated) | date: 'dd-MM-yyyy - HH:mm:ss' }}</td>
                                <td title="'Follow Up Date'" filter="{ next_folloup_date: 'number'}" sortable="'next_folloup_date'"><span ng-if="value.next_folloup_date"> {{claculateTime(value.next_folloup_date) | date: 'dd-MM-yyyy - HH:mm:ss' }}</span></td>
                                <td title="'Application Status'" filter="{ lead_state: 'text'}" sortable="'lead_state'" >{{value.lead_state}}</td>

                                <td title="'Call Count'" filter="{ call_count : 'number'}" sortable="'call_count'">{{value.call_count}}</td>
                                <td title="'Total Time'" filter="{ call_time : 'number'}" sortable="'call_time'">{{value.call_time}}</td>
                                <td title="'Comments'" class="comment"><a class="btn btn-info btn-sm" target="_blank" href="/comments/calling/{{value.id}}"> Comments</a></td>

                                <td title="'Assigned To'" ng-if="value.isEditable" >
                                    <select class="form-control" name="assigned_to" id="assigned_to" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist" ng-model="value.assigned_to" >
                                        <option value="" >Select Telecaller agents</option>
                                    </select>
                                </td>

                                <td title="'Application Actions'" ng-if="!value.isEditable && value.edit" ><button ng-click="editDataCalling(value)">Edit</button></td>
                                <td title="'Application Actions'" ><button ng-if="value.isEditable" ng-click="cancelEditDataCAlling(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-if="value.isEditable" ng-click="saveDataCalling(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>

                                <td title="'Create Lead'" ng-if="!value.login_id" ><a class="btn btn-info btn-sm" href="/student/create/calling/{{value.id}}" onclick="" target="_blank">Create Lead</></td>
                                <td title="'Create Lead'" ng-if="value.lead_id" ><a class="btn btn-info btn-sm" href="/student/{{value.lead_id}}/product/0"  target="_blank">{{value.lead_id}}</></td>
                                <td><button ng-click="mailData(value)">Send Mail</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
