<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Applications</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Applications</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body">
                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="list_table">
                                <td title="'Application Id'" filter="{application_id: 'number'}" sortable="'application_id'">{{value.application_id}}</td>
                                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'" ng-if="!isEditable"><a href="/student/{{value.application_id}}/product/0" target="_blank">{{value.name}}</a></td>
                                <td title="'Name'" ng-if="isEditable"><input name="name" type="text" ng-click="changeName(value.name)" ng-model="value.name"/></td>
                                <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td>
                                <td title="'Mobile'" filter="{ mobile: 'number'}" sortable="'mobile'">{{value.mobile}}</td>
                                <td title="'University'" filter="{ university: 'text'}" sortable="'university'">{{value.university}}</td>
                                <td title="'Course'" filter="{ course: 'text'}" sortable="'course'">{{value.course}}</td>
                                <td title="'Degree'" filter="{ degree: 'text'}" sortable="'degree'">{{value.degree}}</td>
                                <td title="'Application Status'" filter="{ status: 'text'}" sortable="'status'" ng-if="!isEditable">{{value.status}}</td>
                                <td title="'Application Status'" ng-if="isEditable">
                                    <select class="form-control" name="status" id="status" required ng-init="status='Please Select'" ng-model="status">
                                        <option>Please Select</option>
                                        <option ng-repeat="option in allStatus" value="{{option.id}}">{{option.status}}</option>
                                    </select>
                                </td>
                                <td title="'Bank'" filter="{ bank: 'text'}" sortable="'bank'">{{value.bank}}</td>
                                <td title="'Loan Type'" filter="{ loan_type: 'text'}" sortable="'loan_type'">{{value.loan_type}}</td>
                                <td title="'Loan Amount'" filter="{ loan_amount: 'number'}" sortable="'loan_amount'">{{value.loan_amount}}</td>
                                <td title="'Comments'" filter="{ comments: 'text'}" sortable="'comments'" ng-if="!isEditable">{{value.comments}}</td>
                                <td title="'Comments'" ng-if="isEditable">
                                    <select class="form-control" name="comment" id="comment" required ng-init="comment='Please Select'" ng-model="comment" ng-click="changeName(comment)">
                                        <option>Please Select</option>
                                        <option ng-repeat="option in comments" value="{{option.id}}">{{option.value}}</option>
                                    </select>
                                </td>
                                <td><button ng-if="!isEditable" ng-click="editData()">Edit</button></td>
                                <td><button ng-if="isEditable" ng-click="saveData()">Save</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
