<script type="text/javascript">
    $( document ).ready(function() {
        //alert($('.checkmulti').length);
        $('.checkmulti').click(function() {
            //alert('hii');
            var count = $('.checkmulti:checked').size();
            if(count > 1){
                $('.multidel').show();
            }
            else{
                $('.multidel').hide();
            }
        });
    });
</script>
<div class="content-page">
    <!-- ============================================================== --><!-- Start Content here --><!-- ============================================================== -->
    <div class="content">
        <!-- Page Heading Start -->
        <form class='form-horizontal' role='form' action="user/agent/multidelete" method="post">
            <div class="page-heading">
                <a class="btn btn-primary md-trigger" data-modal="form-modal" href="user/agent/form">Add Agent</a>
                <input type="submit" value="Delete Agents" class="btn btn-primary md-trigger multidel" style="display:none";/>
            </div>
            <!-- Page Heading End--><!-- Your awesome content goes here -->
            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <div class="widget-header">
                            <h2><strong>Agents</strong> List</h2>
                            <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i>
                            <div class="alert alert-success alertDiv">
                                <button type="button" class="close" data-dismiss="alert">Ã—</button>
                                <i class="fa fa-ok-sign"></i>
                                <strong>Hey</strong>
                            </div>
                        </div>
                        <div class="widget-content"><br>
                            <div class="table-responsive">
                                <table id="datatables-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" name="selectall[]" class="selectall" id="selectall"/>Select</th>
                                            <th>Sl</th>
                                            <th>Agent Name</th>
                                            <th>Company Name</th>
                                            <th>Mobile</th>
                                            <th>Status</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th><input type="checkbox" name="selectall[]" class="selectall" id="selectall"/>Select</th>
                                            <th>Sl</th>
                                            <th>Agent Name</th>
                                            <th>Company Name</th>
                                            <th>Mobile</th>
                                            <th>Status</th>
                                            <th>Option</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox" name="chk[]" class="checkmulti" id="checkmulti" value=""/>asa</td>
                                            <td>1</td>
                                            <td>name</td>
                                            <td>Company</td>
                                            <td>mobile</td>
                                            <td>status</td>
                                            <td><a href="user/agent/form/"><i class="fa fa-pencil-square-o"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div ng-include="'views/footer.html'"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $(".selectall").click(function(){
            $('input:checkbox').prop('checked', this.checked);
            if(this.checked==true){
                $('.multidel').show();
            }
            else{
                $('.multidel').hide();
            }
        });
    });
</script>
