<style>
tr:hover {
    border:2px solid #ddd;
    background-color: #ddd!important;
}
/*.act{
    background : #dac9c9!important;
}*/
    .popup .popup-content{
        width: 1000px;
        height: 400px;
        margin-left: -20em;
    }
    /*.popup.in{
        background-color: transparent;
    }
    .modal{
        width: 80%;
        margin-left: 20em;
    }*/
    .modal .modal-content {
        background-color: #ffffff;
        color: rgba(0,0,0,0.5);
    }
    button .close{
        color: rgba(0,0,0,0.5);
    }
    .modal-content{
        margin-top: 30%;
        height: 400px;;
    }
    .modal-body{
        margin-top: 2em;
    }
    .modal-backdrop.in {
            display: none;
        }
    .modal-open {
            overflow: scroll;
    }

    #totalModal #potentialModal #disbursedModal #declinedModal{
        height: 100%;
        width: 100%;
        z-index: 9999;
    }
    .title-name{
        font-style: bold;
        color: #000000;
    }
    .name:hover{
        cursor: pointer;
        text-decoration:underline;
    }
    .listbutton li{
        list-style: none;
        box-sizing: border-box;
        padding: 0.6em;
        padding-top: 1em;
    }

.btn-total,.btn-rev-dec, .btn-pro-off,.btn-interest,.btn-withdrawn, .btn-proc{
        margin-left: -3em;
        width: 200px;
        background-color:#196c81;
        color: #000;
    }
.btn-notint, .btn-disburs-doc,.btn-potential ,.btn-pot-dec, .btn-disbursed, .btn-app-rev, .btn-app-reject {
        margin-left: -3em;
        width: 200px;
        background-color:#3c8dbc;
        color: #000;
    }
    .listbutton li a{
        color: rgb(255, 255, 255);
    }
    .listbutton li a:hover{
        color: #fff;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>All University List </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">University</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body">
                      <span > Total No - <b>{{ tableParams.total() }}</b></span>
                      <br/>
                      <br/>
                      <a class="btn" title="Export Table" ng-click='alluniversitylist.generate()' ng-href="{{ alluniversitylist.link() }}" download="alluniversitylist.csv">
                      <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                    </a>
                    <br/>
                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true" export-csv="alluniversitylist" separator="," export-csv-ignore="ignore">
                            <tr ng-repeat="value in $data" id="list_table" ng-class="{act : activeMenu === value.lead_id}">
                                <!-- <td ng-if="type != 'allleads'"><input type="checkbox" ng-model="checkedvalue" ng-change="selectEntity(value, checkedvalue)"></td> -->

                                <!--td title="'Student Id'" filter="{lead_id: 'number'}" sortable="'lead_id'"><a href="/student/{{value.lead_id}}/product/0" target="_blank">{{value.lead_id}}</a></td-->
                                <!-- <td title="'Name'" filter="{ name: 'text'}" sortable="'name'" ng-if="!isEditable"><a href="/student/{{value.lead_id}}/product/0" target="_blank" ng-click="setActive(value.lead_id)">{{value.partner_name}}</a></td> -->
                                <!--td title="'Name'" ng-if="isEditable"><input name="name" type="text" ng-click="changeName(value.name)" ng-model="value.name"/></td-->
                                <!--<td title="'Name'" class="name" filter="{ partner_name: 'text'}" sortable="'partner_name'"><a href="/university/edit/{{value.partner_id}}">{{value.partner_name}}</a></td>-->
                                <td title="'Name'" class="name" filter="{ partner_name: 'text'}" sortable="'partner_name'"> {{value.partner_name}} </td>
                                <td title="'Company Name'" filter="{ company_name: 'text'}" sortable="'company_name'" >{{value.company_name}}</td>

                                <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td>

                                <td title="'Mobile'" filter="{ mobile_number: 'number'}" sortable="'mobile_number'">{{value.mobile_number}}</td>
                                <td title="'City'" filter="{ counselor_city: 'text'}" sortable="'counselor_city'">{{value.counselor_city}}</td>
                                <td title="'Agreement Signed'" filter="{ agreement: 'text'}" sortable="'agreement'">{{value.agreement}}</td>
                                <td title="'Assigned RM'" filter="{ facilitator_email: 'text'}" sortable="'facilitator_email'" >{{value.facilitator_email}}</td>
                                <td title="'Partner State'" filter="{ partners_state: 'text'}" sortable="'partners_state'" >{{value.partners_state}}</td>
                              <!--  <td title="'Next Followup Date'" filter="{ partners_followup_date: 'text'}" sortable="'partners_followup_date'" >{{value.partners_followup_date}}</td>

                                <td title="'Send Mail'"  >
                                  <button  ng-if="value.FLOWMAIL == '0'" class="btn btn-info btn-sm btn-circle" ng-click="connectFlowMail(value.login_id)">Connect Mail</button>
                                  <button  ng-if="value.FLOWMAIL >= '1'" class="btn btn-info btn-sm btn-circle"  ng-click="connectFlowMail(value.login_id)">Resend Mail</button>
                                </td>
                                <td title="'My Students'"><button  class="btn btn-info btn-sm btn-circle" ng-click="popMenu(value)">My Students</button></td>
                                <td title="'Comments'" class="comment"><a class="btn btn-info btn-sm" target="_blank" href="/university/comments/{{value.partner_id}}"> Comments</a></td>
                                <td title="'My Team'" class="comment"><a class="btn btn-info btn-sm" target="_blank" href="/university/{{value.partner_id}}/member"> My Team</a></td>
                              -->

                                <!--<td title="'Status'" filter="{ current_lead_state: 'text'}" sortable="'current_lead_state'">{{value.current_lead_state}}</td>-->
                                <!-- <td title="'Loan Type'" filter="{loan_type: 'text'}" sortable="'loan_type'">{{value.loan_type}}</td> -->
                                <!-- <td title="'Next Followup Date'" filter="{ followup_date: 'text'}" sortable="'followup_date'">{{value.followup_date | date:'dd-MM-yyyy'}}</td>
                                <td title="'Loan Amount'" filter="{requested_loan_amount: 'number'}" sortable="'requested_loan_amount'">{{value.requested_loan_amount}}</td>
                                <td title="'Intake'" ng-if="!value.isEditable" filter="{intake: 'text'}" sortable="'intake'">{{value.intake}}</td>
                                <td title="'Intake'" ng-if="value.isEditable">
                                    <select class="form-control" name="intake" id="intake" ng-model="value.intake">
                                        <option value="">Please Select</option>
                                        <option value="January - Febraury {{present}}">January - Febraury {{present}}</option>
                                        <option value="June - July {{present}}">June - July {{present}}</option>
                                        <option value="August - September {{present}}">August - September {{present}}</option>
                                        <option value="January - Febraury {{next}}">January - Febraury {{next}}</option>
                                        <option value="June - July {{next}}">June - July {{next}}</option>
                                        <option value="August - September {{next}}">August - September {{next}}</option>
                                        <option value="January - Febraury {{future}}">January - Febraury {{future}}</option>
                                        <option value="June - July {{future}}">June - July {{future}}</option>
                                        <option value="August - September {{future}}">August - September {{future}}</option>
                                    </select>
                                </td> -->
                                <!--<td title="'Assigned To'" ng-if="!value.isEditable" filter="{ partner_name: 'text'}" sortable="'partner_name'">{{}}</td>-->
                                <!-- <td title="'Assigned To'" ng-if="value.isEditable" >
                                  <select class="form-control" name="facilitator_id" id="facilitator_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist" ng-model="value.facilitator_id" >
                              <option value="" >Select Telecaller agents</option>
                            </select> -->

                                <!-- <td ng-if="type != 'allleads'"><button ng-if="!value.isEditable" ng-click="editData(value)">Edit</button></td>
                                <td title="'Application Actions'"><button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-if="value.isEditable" ng-click="saveData(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td> -->

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade popup" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content popup-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: rgba(0, 0, 0, 0.5);">&times;</button>
                  <h4 class="modal-title title-name"></h4>
                </div>
                <div class="modal-body">
                    <ul class="listbutton">
                        <div class="row">
                        <div class="col-sm-3">
                        <li><button class="btn btn-total"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}" target="_blank">Total - {{total}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-notint"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=NOT_INTERESTED" target="_blank">Not Interested - {{notInterested}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-interest"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=INTERESTED" target="_blank">Interested - {{interested}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-potential"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=POTENTIAL" target="_blank">Potential - {{potential}}</a></button></li></div></div>
                        <div class="row">
                        <div class="col-sm-3">
                        <li><button class="btn btn-pot-dec"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=POTENTIAL_DECLINED" target="_blank">Potential Declined -{{potentialDeclined}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-proc"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=APPLICATION_PROCESS" target="_blank">Application Process - {{applicationProcess}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-app-rev"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=APPLICATION_REVIEW" target="_blank">Application Review - {{applicationReview}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-rev-dec"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=APPLICATION_REVIEW_DECLINED" target="_blank">Application Review Declined - {{applicationReviewDeclined}}</a></button></li></div></div>
                        <div class="row">
                        <div class="col-sm-3">
                        <li><button class="btn btn-pro-off"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=PROVISIONAL_OFFER" target="_blank">Provisional Offer - {{provisionalOffer}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-disburs-doc"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=DISBURSAL_DOCUMENTATION" target="_blank">Disbursal Documentation -{{disbursalDocumentation}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-withdrawn"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=APPLICATION_WITHDRAWN" target="_blank">Application Withdraw -{{applicationWithdraw}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-disbursed"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=DISBURSED" target="_blank">Disbursed Leads - {{disbursed}}</a></button></li></div></div>
                        <li><button class="btn btn-app-reject"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=APPLICATION_DECLINED" target="_blank">Application Rejected -{{applicationRejected}}</a></button></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
    </section>
</div>
