<style>
    tr:hover {
        border:2px solid #ddd;
        background-color: #ddd!important;
    }
    .act{
        background : #dac9c9!important;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-if="university">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Universities Approvals</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">University Approvals</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                            <div class="row" >
                                    <div class="col-md-2">
                                      <button type="button" class="btn btn-info btn-sm" ng-click="toggleData('university')">University</button>
                                    </div>
                                    <div class="col-md-2">
                                      <button type="button" class="btn btn-info btn-sm" ng-click="toggleData('course')">Course</button>
                                    </div>
                             </div>
                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body">
                        <span> Total No - <b>{{ universities.total() }}</b></span>
                        <table ng-table="universities" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data">

                                <td title="'University Name'" filter="{ name: 'text'}" class="name" sortable="'name'">{{value.name}}</td>
                                <td title="'Country Name'" filter="{ country_name: 'text'}" sortable="'country_name'">  {{value.country_name}}</td>
                                <td title="'Map'" > <a class="btn btn-info btn-sm" target="_blank" href="/approval-page/university/{{value.id}}"> MAP / ADD NEW </a>  </td>
                                <td title="'Reject'" > <button class="btn btn-info btn-sm" ng-click="reject(value.id, 'university')" > REJECT / DELETE </button>  </td>

                                <!-- <td><input type="checkbox" ng-change="approve(value.id, 'university')" ng-model=checkedUniversities[value.id+'|approved']>Approve</td>
                                <td><input type="checkbox" ng-change="reject(value.id, 'university')" ng-model=checkedUniversities[value.id+'|rejected']>Reject</td> -->

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-if="!university">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Courses Approvals</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Courses Approvals</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                            <div class="row" >
                                    <div class="col-md-2">
                                      <button type="button" class="btn btn-info btn-sm" ng-click="toggleData('university')">University</button>
                                    </div>
                                    <div class="col-md-2">
                                      <button type="button" class="btn btn-info btn-sm" ng-click="toggleData('courses')">Course</button>
                                    </div>
                            </div>

                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body" style="overflow: scroll;">
                        <span > Total No - <b>{{ courses.total() }}</b></span>
                        <table ng-table="courses" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="list_table">

                                <td title="' Course Name '" filter="{ name: 'text'}" class="name" sortable="'name'">{{value.name}}</td>
                                <td title="'Map'" > <a class="btn btn-info btn-sm" target="_blank" href="/approval-page/course/{{value.id}}"> MAP / ADD NEW </a></td>
                                <td title="'Reject'" > <button class="btn btn-info btn-sm" ng-click="reject(value.id, 'course')" > REJECT / DELETE </button>  </td>

                                <!-- <td><input type="checkbox" ng-change="approve(value.id, 'course')" ng-model=checkedCourses[value.id+'|approved']>Approve</td>
                                <td><input type="checkbox" ng-change="reject(value.id, 'course')" ng-model=checkedCourses[value.id+'|rejected']>Reject</td> -->

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
