<style>
    .submit_button, .common-submit_button{
        text-align: center;
    }
    .common-submit_button{
        margin-top: 20px;
    }
    .submit-button-input{
        height: 40px;
        width: 80px;
        font-weight: bold;
        font-size: 18px;
    }
    .next-link{
        text-align: right;
    }
    .leads_applied_products_course_id{
        display: none;
    }
    .get-offer{
        float: right!important;
        cursor: pointer;
    }
    .hiddenField{
        display: none;
    }
    .textclr{
        color: white;
    }
    #containDiv {
      height: 550px;
      width: 100%;
    }


    /* Center the loader */
    #loaderAjax {
      position: absolute;
      left: 50%;
      top: 30%;
      z-index: 10000;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #f9992f;
      border-bottom: 16px solid #f9992f;
      border-right: 16px solid #004b7a;
      border-left: 16px solid #004b7a;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    /* Add animation to "page content" */
    .animate-bottom {
      position: relative;
      -webkit-animation-name: animatebottom;
      -webkit-animation-duration: 1s;
      animation-name: animatebottom;
      animation-duration: 1s
    }

    @-webkit-keyframes animatebottom {
      from { bottom:-100px; opacity:0 }
      to { bottom:0px; opacity:1 }
    }

    @keyframes animatebottom {
      from{ bottom:-100px; opacity:0 }
      to{ bottom:0; opacity:1 }
    }

    #loaderAjax {
      display: none;
      text-align: center;
    }

</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Course Category Mapping</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-users"></i> Course</a></li>
            <li class="active">Course Category Mapping</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <div id="loaderAjax"></div>

        <div class="row" style="overflow-x: scroll;" id="containDiv">
          <div class="col-md-8 col-md-offset-2">
            <div class="box box-info">

                  <form class="form-horizontal" ng-submit="postCourseCategorySubmit()">
                    <div class="box-body">

            <div class="form-group">
               <label class="col-sm-4 control-label"> Course Category Name * </label>
               <div class="col-sm-6">
                 <select class="form-control" name="category_id" ng-model="$parent.category_id" ng-change="getcourseSubCategoryList()" required>
                    <option value=""> Please Select </option>
                    <option ng-repeat="value in category_course_list" value="{{value.id}}">{{value.display_name}}</option>
                 </select>
             </div>
            </div>

            <div class="form-group">
               <label class="col-sm-4 control-label"> Course Sub Category Name * </label>
               <div class="col-sm-6">
                 <select class="form-control" name="category_sub_id" ng-model="$parent.category_sub_id" required>
                    <option value=""> Please Select </option>
                    <option ng-repeat="value in sub_category_course_list" value="{{value.id}}">{{value.display_name}}</option>
                 </select>
             </div>
            </div>

          <div class="form-group" id="mapDiv">
             <label class="col-sm-4 control-label" > Non Mapped Course List * </label>
             <div class="col-sm-6">

             <div  ng-dropdown-multiselect="" options="course_list" selected-model="map_id" extra-settings="mapSetting" ></div>

           </div>
          </div>

            <div class="col-md-12 col-sm-12 form-group">
               <input type="Submit" class="btn btn-primary" value="Submit">
            </div>
         </form>
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
        </div>
    </section>
</div>
