<style>
    .submit_button, .common-submit_button{
        text-align: center;
    }
    .common-submit_button{
        margin-top: 20px;
    }
    .submit-button-input{
        height: 40px;
        width: 80px;
        font-weight: bold;
        font-size: 18px;
    }
    .next-link{
        text-align: right;
    }
    .leads_applied_products_course_id{
        display: none;
    }
    .get-offer{
        float: right!important;
        cursor: pointer;
    }
    .hiddenField{
        display: none;
    }
    .textclr{
        color: white;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Update University</h1>
        <ol class="breadcrumb">
            <li style="font-size:18px; font-weight:bold;"><a href="/university/{{universityId}}/member" style="color: #8663c5;">Team</a></li>
            <!--li><a href="#"><i class="fa fa-users"></i> University</a></li>
            <li class="active">University Update</li-->
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row" >
          <div class="col-md-8 col-md-offset-2">
            <div class="box box-info">

                  <form class="form-horizontal" ng-submit="updatePartner(partnerId)">
                    <div class="box-body">
                  <div class="form-group">
               <label class="col-sm-4 control-label" >Title *</label>
               <div class="col-sm-6">
               <select class="form-control" name="gentitle" ng-init="gentitle = 'Please Select'" ng-model="$parent.gentitle" required>
                  <option>Please Select</option>
                  <option ng-repeat="option in allTitles" value="{{option.id}}">{{option.display_name}}</option>
               </select>
             </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">First Name *</label>
               <div class="col-sm-6">
               <input class="form-control" name="firstname" id="firstname" ng-model="$parent.first_name"  required >
             </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Last Name *</label>
               <div class="col-sm-6">
               <input class="form-control" name="lastname" id="lastname" ng-model="$parent.last_name"  required >
            </div>
          </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Email *</label>
               <div class="col-sm-6">
               <input class="form-control" name="email" id="email" ng-model="$parent.email" required >
            </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Mobile Number *</label>
               <div class="col-sm-6">
               <input class="form-control" name="mobile"  id="mobile" ng-model="$parent.mobile"  required>
            </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Designation </label>
               <div class="col-sm-6">
               <input class="form-control" name="designation" id="designation" ng-model="$parent.designation" >
            </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Company Name *</label>
               <div class="col-sm-6">
               <input class="form-control" name="companyname" id="companyname" ng-model="$parent.company_name"  required >
            </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Agreement signed *</label>
               <div class="col-sm-6">
               <input class="form-control" name="agreement" id="agreement" ng-model="$parent.agreement"  required >
            </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Company Website URL *</label>
               <div class="col-sm-6">
               <input class="form-control" name="companyurl" id="companyurl" ng-model="$parent.company_url" placeholder="e.g ( www.eduloans.org )" required >
            </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Landline Number * </label>
               <div class="col-sm-6">
               <input class="form-control" name="landphone"  id="landphone" ng-model="$parent.landline" required >
            </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Address (optional)</label>
               <div class="col-sm-6">
               <textarea class="form-control" value="Your Address" placeholder="Your Address" style="height:130px;" ng-model="$parent.address"></textarea>
            </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">City *</label>
               <div class="col-sm-6">
               <angucomplete-alt id="city" pause="300" selected-object="$parent.city" selected-object-data="id" remote-url={{searchApi}} remote-url-data-field="data" title-field="display_name" minlength="1" input-class="form-control" match-class="highlight" autocomplete="off" required initial-value="$parent.city.title"></angucomplete-alt>
            </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Total Students</label>
               <div class="col-sm-6">
                   <input class="form-control" name="students_college"  id="students_college" ng-model="$parent.students_college">
                </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Final Year Students</label>
               <div class="col-sm-6">
                   <input class="form-control" name="students_final_year"  id="students_final_year" ng-model="$parent.students_final_year">
                </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Students Going Abroad</label>
               <div class="col-sm-6">
                   <input class="form-control" name="students_going_abroad"  id="students_going_abroad" ng-model="$parent.students_going_abroad">
                </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Country *</label>
               <div class="col-sm-6">
               <select class="form-control" name="country" ng-init="country = 'Please Select'" ng-model="$parent.country" required>
                  <option>Please Select</option>
                  <option ng-repeat="option in allCountries" value="{{option.id}}">{{option.display_name}}</option>
               </select>
            </div>
            </div>
            <div class="form-group" ng-if="company_logo">
               <label class="col-sm-4 control-label">Logo</label>
               <div class="col-sm-6">
               <img src="{{company_logo}}" width="75px">
            </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Upload Logo</label>
               <div class="col-sm-6">
               <input type="file" file="file" id="logofile" file-model="$parent.file" class="ng-isolate-scope">
            </div>
            </div>
            <hr>
                  <div class="form-group">
                        <label class="col-sm-4 control-label"> All Documents </label>
                        <div class="col-sm-6">
                           <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-striped">
                              <tr>
                                 <th>Document Type</th>
                                 <th>File</th>
                                 <th>Uploaded on</th>
                              </tr>
                              <tr ng-repeat="document in allCounselorDocuments">
                                 <td ng-if="document.document_meta_id == '15'">Agreement Document</td>
                                 <td ng-if="document.document_meta_id == '13'">Company Logo</td>
                                 <td ng-if="document.document_meta_id == '14'">GST Document</td>
                                 <td>
                                    <a href="{{document.document_url}}" target="_blank" class="btn btn-sm btn-info">Open</a>
                                 </td>
                                 <td>{{document.date_updated}}</td>
                              </tr>
                           </table>
                        </div>
                     </div>
            <div class="col-md-12 col-sm-12 form-group">
               <input type="Submit" class="btn btn-primary" value="Submit">
            </div>
         </form>
         <div class="row">
                  <div class="col-md-12 col-sm-12 panel-group" id="accordion" style="margin-bottom: 0px;">
                     <div class="panel panel-primary">
                        <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" href="#" aria-expanded="true" aria-controls="collapseOne"><b style="color: white;">Upload Document </b></a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                        <form class="form-horizontal" ng-submit="uploadCounselorFile()">
                         <div class="panel-body" style="color: black">
                            <div class="row">
                      <div class="col-md-12">
                         <h2 style="text-align: center;"><b>Upload Document </b></h2>
                         <hr>
                      </div>
                   </div>
                   <div class="form-group">
                      <label class="col-sm-4 control-label">Select Document Type  :</label>
                      <div class="col-sm-6">
                         <select class="form-control" name="couuDocumentMeta"  ng-init="couuDocumentMeta='Please Select'" ng-model="$parent.couuDocumentMeta">
                            <option>Please Select</option>
                            <option ng-repeat="option in allUploadDocumentTypes" value="{{option.id}}">{{option.name}}</option>
                         </select>
                      </div>
                   </div>
                   <div class="form-group">
                      <label class="col-sm-4 control-label">
                         <p><font size="2" color="red"><b>No Special characters are allowed</b> in uploading file name <br><b>File Size Max 5MB</b></font></p>
                      </label>
                      <div class="col-sm-6">

                         <input type="file" file="userfile" file-model="$parent.userfile"  required class="ng-isolate-scope" style="margin-top: 8px;">
                         <input type="submit" class="btn btn-primary" name="submit" value="Submit" style="margin-top: 8px;" >
                      </div>
                   </div>
                 </form>
                    <!--  <div class="form-group">
                        <label class="col-sm-4 control-label"> </label>
                        <div class="col-sm-6">
                           <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-striped">
                              <tr>
                                 <th>Document Type</th>
                                 <th>File</th>
                                 <th>Uploaded on</th>
                              </tr>
                              <tr ng-repeat="document in allCounselorDocuments">
                                 <td ng-if="document.document_meta_id == '15'">Agreement Document</td>
                                 <td ng-if="document.document_meta_id == '13'">Company Logo</td>
                                 <td ng-if="document.document_meta_id == '14'">GST Document</td>
                                 <td>
                                    <a href="{{document.document_url}}" target="_blank" class="btn btn-sm btn-info">Open</a>
                                 </td>
                                 <td>{{document.date_updated}}</td>
                              </tr>
                           </table>
                        </div>
                     </div> -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
        </div>
    </section>
</div>
