<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Bank RM List</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Bank RM List</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">


                        <div id="add_source" class="row form-group " >
                          <div  class="col-md-3 form-group" >
                            <label class="control-label">Product List</label>
                            <select class="form-control" id="bank_id" ng-model="$parent.bank_id" ng-options="item.id as (item.display_name) for item in productlists" >
                              <option value="" >Select Bank</option>
                      </select>
                          </div>
                          <div class="col-md-3">
                            <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="productsRmList()">GET</button>
                          </div>

                        </div>
                        <br/><br/>
                          <h3 class="box-title">{{title}}   </h3>
                    </div>
                    <div class="box-body">

                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="source_table">
                                <td title="'RM Name'" filter="{ name : 'text'}" sortable="'name'">{{value.name}}</td>
                                <td title="'RM EmailId'" filter="{ email : 'text'}" sortable="'email'">{{value.email}}</td>
                                <td title="'Rm Mobile'" filter="{ mobile : 'number'}" sortable="'mobile'">{{value.mobile}}</td>
                                <td title="'Rm Alternate Mobile'" filter="{ mobile1 : 'number'}" sortable="'mobile1'">{{value.mobile1}}</td>
                                <td title="'Rm State'" filter="{ working_state : 'text'}" sortable="'working_state'">{{value.working_state}}</td>
                                <td title="'Rm City'" filter="{ working_city : 'text'}" sortable="'working_city'">{{value.working_city}}</td>
                                <td title="'Role'" filter="{ contact_type : 'text'}" sortable="'contact_type'">{{value.contact_type}}</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
