<style>
    .submit_button, .common-submit_button{
        text-align: center;
    }
    .common-submit_button{
        margin-top: 20px;
    }
    .submit-button-input{
        height: 40px;
        width: 80px;
        font-weight: bold;
        font-size: 18px;
    }
    .next-link{
        text-align: right;
    }
    .leads_applied_products_course_id{
        display: none;
    }
    .get-offer{
        float: right!important;
        cursor: pointer;
    }
    .hiddenField{
        display: none;
    }
    .textclr{
        color: white;
    }

    .multiselect-parent .dropdown-toggle {
      width: 350px;
    }

    .multiselect-parent .dropdown-menu {
      width: 350px;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Create New Bank RM Member</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-users"></i> Bank RM</a></li>
            <li class="active">Member Create</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row" >
          <div class="col-md-8 col-md-offset-2">
            <div class="box box-info">

                  <form class="form-horizontal" ng-submit="addBankRm()">
                    <div class="box-body">

            <div class="form-group">
               <label class="col-sm-4 control-label"> Name *</label>
               <div class="col-sm-6">
               <input class="form-control" name="rmname" id="rmname" ng-model="$parent.rmname"  required >
             </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Email *</label>
               <div class="col-sm-6">
               <input class="form-control" name="rmemail" id="rmemail" ng-model="$parent.rmemail" required >
            </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Mobile Number *</label>
               <div class="col-sm-6">
               <input class="form-control" name="rmmobile"  id="rmmobile" ng-model="$parent.rmmobile"  required>
            </div>
            </div>

            <div class="form-group">
               <label class="col-sm-4 control-label">Mobile Number Alternate </label>
               <div class="col-sm-6">
               <input class="form-control" name="rmmobile1"  id="rmmobile1" ng-model="$parent.rmmobile1">
            </div>
            </div>

            <div class="form-group">
               <label class="col-sm-4 control-label"> Product *</label>
               <div class="col-sm-6">

            <div  ng-dropdown-multiselect="" options="productlists" selected-model="rmproduct" extra-settings="productSetting" ></div>

            </div>
            </div>

            <div class="form-group">
               <label class="col-sm-4 control-label">Type *</label>
               <div class="col-sm-6">
               <select class="form-control" name="rmtype" id="rmtype" ng-model="$parent.rmtype" ng-change="bankRmByRoleProduct()">
                   <option value="" >Please Select Type</option>
                   <option value="0">PRIMARY (Loan Officer / Loan Team Leader)</option>
                   <option value="1">SECONDARY (Loan Team Leader / Regional Head)</option>
                   <option value="2">TERTIARY (National Head / Head Office)</option>
               </select>

            </div>
            </div>


            <div class="form-group">
                <label class="col-sm-4 control-label"> Parent RM *</label>
                <div class="col-sm-6">
                  <div  ng-dropdown-multiselect="" options="parentrmlist" selected-model="parentrmid" extra-settings="parentRMSetting"></div>
                </div>
			       </div>

            <div class="form-group">
                <label class="col-sm-4 control-label"> State *</label>
                <div class="col-sm-6">
                  <div  ng-dropdown-multiselect="" options="statelists" selected-model="rmstate" extra-settings="stateSetting" events="{ onItemSelect: citiesByStateId, onItemDeselect: citiesByStateId }"></div>
                </div>
			       </div>

             <div class="form-group">
                 <label class="col-sm-4 control-label"> City </label>
                 <div class="col-sm-6">
                   <div  ng-dropdown-multiselect="" options="allcitieslist" selected-model="rmcity" extra-settings="citySetting" ></div>
                 </div>
 			       </div>


             <div class="form-group">
                 <label class="col-sm-4 control-label"> Bank Branch </label>
                 <div class="col-sm-6">
                   <div  ng-dropdown-multiselect="" options="bankbranchlist" selected-model="bankbranchid" extra-settings="bankBranchSetting"></div>
                 </div>
 			       </div>


            <div class="form-group">
                <label class="col-sm-4 control-label">Status *</label>
                <div class="col-sm-6">
                    <select class="form-control" name="rmstatus" id="rmstatus" ng-model="$parent.rmstatus">
                        <option value="" >Please Select Status</option>
                        <option value="0">INACTIVE</option>
                        <option value="1">ACTIVE</option>
                    </select>
                </div>
			</div>

      <div class="form-group">
          <label class="col-sm-4 control-label">DEFAULT For ALL Cities *</label>
          <div class="col-sm-6">
              <select class="form-control" name="rmdefault" id="rmdefault" ng-model="$parent.rmdefault">
                  <option value="" >Please Select Status</option>
                  <option value="YES">YES</option>
                  <option value="NO">NO</option>
              </select>
          </div>
</div>

            <input type="hidden" ng-model="$parent.member_partner_type" ng-init="partner_type='counselor'">
            <div class="col-md-12 col-sm-12 form-group">
               <input type="Submit" class="btn btn-primary" value="Submit">
            </div>
         </form>
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
        </div>
    </section>
</div>
