<style>
table td {border:solid 1px #fab; width:300px; word-wrap:break-word;}

.multiselect-parent .dropdown-toggle {
  width: 250px;
}

.multiselect-parent .dropdown-menu {
  width: 250px;
}

</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>New Bank RM List</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">New Bank RM List</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">


                        <div id="add_source" class="row form-group " >
                          <div  class="col-md-3 form-group" >
                            <label class="control-label">Product List</label>

                            <!--<select class="form-control" id="bank_id" ng-model="$parent.bank_id" ng-options="item.id as (item.display_name) for item in productlists" >
                              <option value="" >Select Bank</option>
                      </select>-->

                      <div  ng-dropdown-multiselect="" options="productlists" selected-model="rmproduct" extra-settings="productSetting" ></div>

                          </div>
                          <div class="col-md-3">
                            <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="bankBranchList()">GET</button>
                          </div>

                          <div class="col-md-3">
                            <a href="/bank/branchadd" class="btn btn-wd btn-primary" style="margin-top: 25px;" >ADD NEW BANK BRANCH</a>
                          </div>
                        </div>
                        <br/><br/>
                          <h3 class="box-title">{{title}}   </h3>
                    </div>
                    <div class="box-body">

                      <a class="btn" title="Export Table" ng-click='bankbranchcsv.generate()' ng-href="{{ bankbranchcsv.link() }}" download="bankbranch.csv">
                      <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                      </a>

                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true" style="overflow-y:scroll;" export-csv="bankbranchcsv" separator="," export-csv-ignore="ignore">
                            <tr ng-repeat="value in $data" id="source_table">
                                <td title="'Branch Name'" filter="{ branch_name : 'text'}" sortable="'branch_name'"><a href="/bank/branchedit/{{value.id}}" target="_blank">{{value.branch_name}}</a></td>
                                <td title="'Branch EmailId'" filter="{ branch_email : 'text'}" sortable="'branch_email'">{{value.branch_email}}</td>
                                <td title="'Branch Mobile'" filter="{ branch_mobile : 'number'}" sortable="'branch_mobile'">{{value.branch_mobile}}</td>
                                <td title="'Branch Alternate Mobile'" filter="{ branch_mobile1 : 'number'}" sortable="'branch_mobile1'">{{value.branch_mobile1}}</td>
                                <td title="'Branch State'" filter="{ state_name : 'text'}" sortable="'state_name'">{{value.state_name}}</td>
                                <td title="'Branch City'" filter="{ city_name : 'text'}" sortable="'city_name'" >{{value.city_name}}</td>
                                <td title="'Status'" filter="{ status : 'text'}" sortable="'status'">{{value.status == '1' ? 'Active' : 'Inactive'}}</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
