<style>
    .submit_button, .common-submit_button{
        text-align: center;
    }
    .common-submit_button{
        margin-top: 20px;
    }
    .submit-button-input{
        height: 40px;
        width: 80px;
        font-weight: bold;
        font-size: 18px;
    }
    .next-link{
        text-align: right;
    }
    .leads_applied_products_course_id{
        display: none;
    }
    .get-offer{
        float: right!important;
        cursor: pointer;
    }
    .hiddenField{
        display: none;
    }
    .textclr{
        color: white;
    }

    .multiselect-parent .dropdown-toggle {
      width: 350px;
    }

    .multiselect-parent .dropdown-menu {
      width: 350px;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Update Bank RM</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-users"></i> Bank RM</a></li>
            <li class="active">Update</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row" >
          <div class="col-md-8 col-md-offset-2">
            <div class="box box-info">

        <form class="form-horizontal" ng-submit="editBankBranch()">

          <div class="box-body">

            <div class="form-group">
               <label class="col-sm-4 control-label"> Branch Name *</label>
               <div class="col-sm-6">
               <input class="form-control" name="branchname" id="branchname" ng-model="$parent.branchname" >
               <input type="hidden" class="form-control" name="branchid" id="branchid" ng-model="$parent.branchid"  >
             </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Email *</label>
               <div class="col-sm-6">
               <input class="form-control" name="branchemail" id="branchemail" ng-model="$parent.branchemail" >
            </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Mobile Number *</label>
               <div class="col-sm-6">
               <input class="form-control" name="branchmobile"  id="branchmobile" ng-model="$parent.branchmobile" >
            </div>
            </div>

            <div class="form-group">
               <label class="col-sm-4 control-label">Mobile Number Alternate </label>
               <div class="col-sm-6">
               <input class="form-control" name="branchmobile1"  id="branchmobile1" ng-model="$parent.branchmobile1" >
            </div>
            </div>

            <div class="form-group">
               <label class="col-sm-4 control-label"> Product *</label>
               <div class="col-sm-6">

            <div  ng-dropdown-multiselect="" options="productlists" selected-model="rmproduct" extra-settings="productSetting" ></div>

            </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label"> State *</label>
                <div class="col-sm-6">
                  <div  ng-dropdown-multiselect="" options="statelists" selected-model="rmstate" extra-settings="stateSetting" events="{ onItemSelect: citiesByStateId, onItemDeselect: citiesByStateId }"></div>
                </div>
			       </div>

             <div class="form-group">
                 <label class="col-sm-4 control-label"> City </label>
                 <div class="col-sm-6">
                   <div  ng-dropdown-multiselect="" options="allcitieslist" selected-model="rmcity" extra-settings="citySetting" ></div>
                 </div>
 			       </div>

             <div class="form-group">
                <label class="col-sm-4 control-label"> Branch Add </label>
                <div class="col-sm-6">
                <input class="form-control" name="branchadd" id="branchadd" ng-model="$parent.branchadd" >
              </div>
             </div>

             <div class="form-group">
                <label class="col-sm-4 control-label"> PIN </label>
                <div class="col-sm-6">
                <input class="form-control" name="branchpin"  id="branchpin" ng-model="$parent.branchpin" >
             </div>
             </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Status *</label>
                <div class="col-sm-6">
                    <select class="form-control" name="branchstatus" id="branchstatus" ng-model="$parent.branchstatus">
                        <option value="" >Please Select Status</option>
                        <option value="0">INACTIVE</option>
                        <option value="1">ACTIVE</option>
                    </select>
                </div>
			        </div>

              <div class="form-group">
                  <label class="col-sm-4 control-label">DEFAULT For ALL Cities *</label>
                  <div class="col-sm-6">
                      <select class="form-control" name="branchdefault" id="branchdefault" ng-model="$parent.branchdefault">
                          <option value="" >Please Select Status</option>
                          <option value="YES">YES</option>
                          <option value="NO">NO</option>
                      </select>
                  </div>
                </div>

            <div class="col-md-12 col-sm-12 form-group">
               <input type="Submit" class="btn btn-primary" value="Submit">
            </div>
            </div>
          </form>
                <!-- /.nav-tabs-custom -->
            </div>
        </div>
    </section>
</div>
