<div class="wrapper" style="height:650px">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Upload Imperial Data
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-users"></i> Bulk Upload</a></li>
          <li class="active">Upload Imperial Data</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">

        <div class="row" ng-controller = "bulkuploadController">
          <div class="col-md-8 col-md-offset-2">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Upload Imperial Data</h3>
              </div>
              <form class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label  class="col-sm-2 control-label">Branch Id</label>

                    <div class="col-sm-10">
                      <select class="form-control" name="select_type" id="branch_id" ng-model="$parent.branch_id" >
                        <option value="" >Select Branch</option>
                        <option value="24" >Borivali</option>
                        <option value="27" >Santacruz</option>
                        <option value="26" >Thane</option>
                        <option value="23" >Pune Hinjewadi</option>
                        <option value="28" >Pune Kothrud</option>
                        <option value="668" >Banglore</option>
                      </select>
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-sm-2 control-label">CSV File </label>

                    <div class="col-sm-10">
                      <input type="file" name="userfile" placeholder="Upload file..." accept=".csv" file-model="userfile" />
                    </div>
                  </div>

                </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-info pull-left" ng-click="uploadImperialFile()">Upload</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </section>
      <!-- /.content -->
    </div>
    <div class="control-sidebar-bg"></div>
  </div>
