<div class="wrapper" style="height:650px">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Upload Data Marketing Email
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-users"></i> Marketing Email</a></li>
          <li class="active">Upload Data</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">

        <div class="row" >
          <div class="col-md-8 col-md-offset-2">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Upload Marketing Email Data</h3>
              </div>
              <form class="form-horizontal">
                <div class="box-body">

                  <div class="form-group">
                    <label  class="col-sm-2 control-label">Source Name</label>

                    <div class="col-sm-10">
                      <input class="form-control" name="source_name"  id="source_name" ng-model="$parent.source_name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">CSV File </label>

                    <div class="col-sm-10">
                      <input type="file" name="userfile" placeholder="Upload file..." accept=".csv" file-model="$parent.userfile" />
                    </div>
                  </div>

                </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-info pull-left" ng-click="uploadMarketingEmailFile()">Upload</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </section>
      <!-- /.content -->
    </div>
    <div class="control-sidebar-bg"></div>
  </div>
