<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Calling DATA</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Calling Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>

                    </div>
                    <div class="box-body" style="overflow: scroll;">
                      <span > Total No - <b>{{ tableParams.total() }}</b></span>
                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="assign_table">
                                <td title="'CallingId'" filter="{ id : 'number'}" sortable="'id'">{{value.id}}</td>
                                <td title="'Name'" ng-if="!value.isEditable" filter="{ name: 'text'}" sortable="'name'" >{{value.name}}</td>
                                <td title="'Name'" ng-if="value.isEditable"><input name="name" type="text" ng-model="value.name"/></td>
                                <!-- <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td> -->

                                <td title="'Mobile'" filter="{ mobile: 'number'}" sortable="'mobile'" ng-controller="authController"><a href="#" ng-click="agentAutoCall(value.mobile)" >{{value.mobile}}</a></td>
                                <td title="'Mobile-2'" ng-if="!value.isEditable" filter="{ mobile1: 'number'}" sortable="'mobile1'">{{value.mobile1}}</td>

                                <td title="'Mobile-2'" ng-if="value.isEditable"><input name="name" type="text" ng-model="value.mobile1"/></td>

                                <td title="'City'" filter="{ city: 'text'}" sortable="'city'">{{value.city}}</td>
                                <!-- <td title="'GRE Score'" ng-if="!value.isEditable" filter="{ gre_score: 'text'}" sortable="'gre_score'">{{value.gre_score}}</td>
                                <td title="'GRE Score'"  ng-if="value.isEditable" > <input name="name" type="text" ng-model="value.gre_score"/> </td> -->

                                <td title="'Assigned To'" filter="{ assigned_name: 'text'}" sortable="'assigned_name'">{{value.assigned_name}}</td>
                                <td title="'Source Name'" filter="{ source_name: 'text'}" sortable="'source_name'">{{value.source_name}}</td>
                                <td title="'Last Follow Up Date'" filter="{ date_updated: 'number'}" sortable="'date_updated'">{{ claculateTime(value.date_updated) | date: 'dd-MM-yyyy - HH:mm:ss' }}</td>
                                <td title="'Follow Up Date'" filter="{ next_folloup_date: 'number'}" sortable="'next_folloup_date'"><span ng-if="value.next_folloup_date"> {{claculateTime(value.next_folloup_date) | date: 'dd-MM-yyyy - HH:mm:ss' }}</span></td>
                                <td title="'Application Status'" ng-if="!value.isEditable" filter="{ lead_state: 'text'}" sortable="'lead_state'" >{{value.lead_state}}</td>
                                <td title="'Application Status'" ng-if="value.isEditable">
                                    <select class="form-control" required ng-init="value.lead_state = value.lead_state" ng-model="value.lead_state">

                                        <option ng-repeat="option in allStatus" value="{{option.id}}">{{option.lead_state}}</option>
                                    </select>
                                </td>
                                <!-- <td title="'Comments'" ><a href="" onclick="">Comments</></td> -->
                                  <!--<td title="'Comments'" class="comment" > <span class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-default" ng-click="commentsById(value.id)"> Comments </span> </td>-->
                                  <td title="'Call Count'" filter="{ call_count : 'number'}" sortable="'call_count'">{{value.call_count}}</td>
                                  <td title="'Total Time'" filter="{ call_time : 'number'}" sortable="'call_time'">{{value.call_time}}</td>
                                  <td title="'Comments'" class="comment"><a class="btn btn-info btn-sm" target="_blank" href="/comments/calling/{{value.id}}"> Comments</a></td>
                                <!-- <td><button ng-if="!value.isEditable" ng-click="editData(value)" type="button" class="btn btn-warning btn-sm">Edit</button></td>
                                <td title="'Application Actions'" ><button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-if="value.isEditable" ng-click="saveData(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td> -->
                                <td title="'Create Lead'" ng-if="!value.login_id" ><a class="btn btn-info btn-sm" href="/student/create/calling/{{value.id}}" onclick="" target="_blank">Create Lead</></td>
                                <td title="'Create Lead'" ng-if="value.lead_id" ><a class="btn btn-info btn-sm" href="/student/{{value.lead_id}}/product/0"  target="_blank">{{value.lead_id}}</></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
