<div class="wrapper" style="height:650px">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Marketing Email Send
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-users"></i> Marketing Email</a></li>
          <li class="active">Send Marketing Email</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">

        <div class="row" >
          <div class="col-md-8 col-md-offset-2">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Send Marketing Email </h3>
              </div>
              <form class="form-horizontal">
                <div class="box-body">

                  <div class="form-group">
                    <label  class="col-sm-2 control-label"> Email Subject </label>

                  <div class="col-sm-10">
                      <input type="text" class="form-control" name="email_subject"  id="email_subject" ng-model="$parent.email_subject">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label"> Email Body </label>

                    <div class="col-sm-10">
                      <textarea class="form-control" name="email_body"  id="email_body" ng-model="$parent.email_body" rows="5" cols="50"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-2 control-label"> Number Of Email Limit </label>

                    <div class="col-sm-10">
                      <input type="number" class="form-control" name="email_limit"  id="email_limit" ng-model="$parent.email_limit">
                    </div>
                  </div>

                  <div class="form-group">
                    <label  class="col-sm-2 control-label"> Remaining Email Number </label>

                    <div class="col-sm-10">
                      <input type="number" class="form-control" name="remaining_email_count"  id="remaining_email_count" ng-model="$parent.remaining_email_count">
                    </div>
                  </div>

                  <div class="form-group">
                    <label  class="col-sm-2 control-label"> Mail From </label>

                    <div class="col-sm-10">
                      <select class="form-control" name="email_from"  id="email_from" ng-model="$parent.email_from" >
                      <option value="" >Select Source</option>
                      <option value="EDULOANS" >Eduloans AWS Account</option>
                      <option value="IMPERIALONLINESTUDY" >Imperialonlinestudy AWS Account</option>
                      </select>
                    </div>
                  </div>

                </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-info pull-left" ng-click="sendMarketingEmail()">SEND</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </section>
      <!-- /.content -->
    </div>
    <div class="control-sidebar-bg"></div>
  </div>
