<div class="wrapper" style="height:650px">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Upload Data
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-users"></i> Bulk Upload</a></li>
          <li class="active">Upload Bank Response</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">

        <div class="row" ng-controller = "bulkuploadController">
          <div class="col-md-8 col-md-offset-2">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Upload Bank Response</h3>
              </div>
              <form class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label  class="col-sm-2 control-label">Select Bank</label>

                    <div class="col-sm-10">
                      <select class="form-control" name="select_bank" id="select_bank" ng-model="select_bank" >
                  <option value="" >Select Type</option>
                  <option value="BOB" >BOB</option>
                  <option value="CREDILA" >CREDILA</option>
                  <option value="INCRED" >INCRED</option>
                  <option value="AXIS" >AXIS</option>
                  <option value="MPOWER" >MPOWER</option>
                  <option value="AUXILO" >AUXILO</option>
                  <option value="AVANSE" >AVANSE</option>
                  <option value="ICICI" >ICICI</option>
                  <option value="BOBIFSC" >BOBIFSC</option>
                </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">CSV File </label>

                    <div class="col-sm-10">
                      <input type="file" name="userfile" placeholder="Upload file..." accept=".csv" file-model="userfile" />
                    </div>
                  </div>

                </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-info pull-left" ng-click="uploadBankRsponseFile()">Upload</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </section>
      <!-- /.content -->
    </div>
    <div class="control-sidebar-bg"></div>
  </div>
