<div class="content-wrapper" style="font-size:15px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Download BOB</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-users"></i> Report</a></li>
            <li class="active">Download BOB</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <button name="download" ng-click="export()">Download</button>
        <div class="row">
            <div class="col-md-12" id="download-section" style="padding-left:50px; padding-right:50px; font-family:sans-serif; font-size:18px;">
                <div>
                    <img src="assets/img/bob.png" style="width: 975px; height:600px;"/>
                </div>
                <div>
                    <div style="border: 2px solid; width: 350px; height: 265px; margin-top: -580px; margin-left: 1000px; text-align: center; padding: 60px 115px 0px 115px;">Please paste a recent photograph of student</div>
                    <div style="border: 2px solid; width: 350px; height: 265px; margin-top: 25px; margin-left: 1000px; text-align: center; padding: 60px 115px 0px 115px;">Please paste a recent photograph of student</div>
                </div>

                <p></p><h4 align="center" style="font-size:40px;"><strong>EDUCATIONAL LOAN APPLICATION FORM</strong></h4><p></p>
                <p>
                    The Branch Manager,
                    <br> Bank of Baroda,
                    <br>___________Branch,
                    <br>_________________.
                </p>
                <p>Dear Sir,</p>
                <p>
                    I / my ward have / has secured admission to
                    <strong>MBA</strong> course conducted by<br/>
                    <strong>Cornell Jonson, Samuel Curtis Johnson Graduate School of Management</strong> School / University / College / Institute located at
                    <strong>United Kingdom.</strong><br/> For my / his / her education we request you to provide us financial assistance of Rs.
                    <strong>____________ </strong>(Rs.<strong>____________</strong>) the details of which are as given in this request application.
                </p>
                <p style="padding-top:5px;">
                    We undertake to repay the loan in <strong>________</strong>monthly installments beginning<br/> _______________months starting after --1- year after the course period or --6- months <br/>after the borrower (student) getting the job.
                </p>
                <p>Please complete all sections in BLOCK LETTERS and tick &amp; ☑ boxes wherever applicable.</p>
                <p><strong>(A) PARTICULARS OF THE STUDENT:</strong></p>
                <p>Name : <span style="text-decoration:underline"><strong>Sudhir B Kanojiaaa</strong></span></p>
                <p>Date of Birth:
                    <strong>
                        <span style="text-decoration:underline">28</span> (DD)
                        <span style="text-decoration:underline">03</span> (MM)
                        <span style="text-decoration:underline">2018</span> (YYYY) Age :
                        <span style="text-decoration:underline">0</span>
                    </strong>
                </p>
                <p>Address: <span style="text-decoration:underline"><strong>asdas, asdas, sadasds, Mumbai</strong></span></p>
                <p>(Overseas address if student going for overseas studies)____________________________________________</p>
                <p>Pin : <span style="text-decoration:underline"><strong>401303</strong></span></p>
                <p>Telephone : <strong>0 Fax : 0 Mobile No.:<span style="text-decoration:underline">8806830100</span></strong></p>
                <p>Nationality :
                    <strong style="text-decoration:underline">0</strong> Maritial Status :
                    <span style="text-decoration:underline"><strong>Married</strong></span> Caste / Religion
                    <span style="text-decoration:underline"><strong>Others</strong></span>
                </p>
                <p>Life Insurance Policy details (if any) <strong>: 0-0-0</strong></p>
                <p><strong>EDUCATIONAL DETAILS : Please enclose mark lists of the examination passed</strong></p>
                <table class="table table-bordered" style="border-collapse: collapse; width:100%; font-size:12px;" border="1">
                    <tbody>
                        <tr>
                            <td>Examination</td>
                            <td><p>Institution / University from which passed</p></td>
                            <td>Year Passing</td>
                            <td>Number of Attempts</td>
                            <td>Percentage of marks</td>
                            <td>Class obtained</td>
                            <td>Specialisation (if any)</td>
                        </tr>
                        <tr>
                            <td><strong>SSC</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>HSC</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Degree</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Post Graduate*</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Any Other*</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <ul>
                    <li><strong style="text-decoration:underline;">&nbsp;To be specified in the column "Specialisation"</strong></li>
                </ul>
                <p><strong>PARTICULARS OF SCHOLARSHIPS / PRIZES WON FOR ACADEMIC DISTINCTION:</strong></p>
                <table class="table table-bordered" style="border-collapse: collapse; width:100%;" border="1">
                    <tbody>
                        <tr>
                            <td rowspan="2">Examination</td>
                            <td rowspan="2">Specify the academic distinction for which the scholarship prize was awarded</td>
                            <td rowspan="2">Name of the Scholarship prize</td>
                            <td rowspan="2">Amount of Scholarship Rs.</td>
                            <td colspan="2">Duration of Scholarship</td>
                        </tr>
                        <tr>
                            <td>From</td>
                            <td>To</td>
                        </tr>
                        <tr>
                            <td>_____</td>
                            <td>_____</td>
                            <td>_____</td>
                            <td>_____</td>
                            <td>_____</td>
                            <td>_____</td>
                        </tr>
                    </tbody>
                </table>
                <p><strong>Any other information (Extra curricular activities and distinction awards received if any):__________________________________________________________________________</strong></p>
                <p><strong> PARTICULARS OF THE COURSE FOR WHICH THE LOAN IS REQUIRED</strong></p>
                <p>Name of the course: <span style="text-decoration:underline"><strong>MBA</strong></span></p>
                <p>University Institution : <strong style="text-decoration:underline"> Cornell Jonson, Samuel Curtis Johnson Graduate School of Management</strong></p>
                <p>Course / Institution is affiliated To / Recognized by Duration of the course: <span style="text-decoration:underline"><strong>2 Year</strong></span></p>
                <p>Part time / Full time / Correspondence / Distance Education : <span style="text-decoration:underline"><strong>Full Time</strong></span></p>
                <p>Expected per month income after completion of the course Rs:<span style="text-decoration:underline"><strong></strong></span></p>
                <p>In case of studies abroad state the details of R.B.I. approval (if necessary). Details of Foreign Exchaneg required. Copies of Passport, Visa and other details to be submitted.</p>
                <p><strong>PURPOSE OF THE LOAN:</strong> (Rs. in 000)</p>
                <table style="border-collapse: collapse; font-size:14px; width:100%;" border="1" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th>Requirement<br>for</th>
                            <th>Fee Payable to College/<br>School/<br>Institution</th>
                            <th>Examination / <br>Library / <br>Laboratory / <br>fees/th&gt;</th>
                            <th>Cost of Books / <br> Equipments / <br>instruments / <br>Uniforms</th>
                            <th>Caution deposits / <br> building fund / <br> refundable deposit</th>
                            <th>Other Edu. Exp.<br>(e.g. Study tours,<br>projects,<br>thesis etc.)</th>
                            <th>Lodging/<br> Boarding</th>
                            <th>Travel Exp/<br>passage money</th>
                            <th>Total<br>Expenses</th>
                        </tr>
                        <tr>
                            <td>1st Yr</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2nd Yr</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3rd Yr</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4th Yr</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5th Yr</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <p><strong>Source of finance : Details of Scholarship / Loans / Own Funds</strong></p>
                <table class="table table-bordered" style="border-collapse: collapse; width:100%;" border="1">
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td><strong> Loan Amount </strong></td>
                            <td><strong> Own Sources </strong></td>
                            <td><strong> Scholarship </strong></td>
                            <td><strong> Total </strong></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>_____</td>
                            <td>_____</td>
                            <td>_____</td>
                            <td>_____</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>_____</td>
                            <td>_____</td>
                            <td>_____</td>
                            <td>_____</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>_____</td>
                            <td>_____</td>
                            <td>_____</td>
                            <td>_____</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>_____</td>
                            <td>_____</td>
                            <td>_____</td>
                            <td>_____</td>
                        </tr>
                    </tbody>
                </table>
                <p><strong>(B) GUARDIANS / PARENTS / GUARANTORS PARTICULARS</strong> : (If guardian &amp; guarantor are different separte sheet showing these particulars for each to be obtained)</p>
                <p>Name: <span style="text-decoration:underline"><strong>asd ads adasddd</strong></span></p>
                <p>Relationship with Student : <span style="text-decoration:underline"><strong>Father</strong></span></p>
                <p>Date of Birth : <strong><span style="text-decoration:underline">12</span> (DD) <span style="text-decoration:underline">04</span> (MM) <span style="text-decoration:underline">1989</span> (YYYY) Age :<span style="text-decoration:underline">29</span></strong></p>
                <p>PAN / GIR No.: <span style="text-decoration:underline"><strong>sadds</strong></span>. Driving License No: ____________________</p>
                <p>Passport No (If any) <span style="text-decoration:underline"><strong>123123</strong><span></span></span></p>
                <p>Residential Address (For Correspondence - <strong>With proof of residence</strong>)</p>
                <p> <span style="text-decoration:underline"><strong>sadds, asdsfads, adfadsfa, Mumbai, 401303</strong></span></p>
                <p>Telephone : <strong style="text-decoration:underline">8806830100</strong> Fax : ____________________ Mobile No.: <span style="text-decoration:underline"><strong>8806830100</strong></span></p>
                <p>Permanent Address: <span style="text-decoration:underline"><strong>, , , </strong></span></p>
                <p> Pin : <strong></strong></p>
                <p>Telephone : <strong style="text-decoration:underline"></strong> Fax: <strong style="text-decoration:underline"></strong> E-mail :<strong style="text-decoration:underline">kanojiask62@gmail.com</strong></p>
                <p>Whether residing in Own / Rented Accomadation <strong>0</strong> Since When Residing: <strong>2018-02-02</strong></p>
                <p>Interest during study period will be serviced - Yes / No0</p>
                <table border="1" style="border-collapse:collapse;width:100%">
                    <tbody>
                        <tr>
                            <td rowspan="2">Sex :</td>
                            <td>Male</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>Education :</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>SSC</td>
                            <td>Any Other Information</td>
                        </tr>
                        <tr>
                            <td>Female</td>
                            <td></td>
                            <td style="border-bottom-color: #fff;"></td>
                            <td></td>
                            <td>Under Graduate</td>
                            <td style="border-bottom-color: #fff;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">Marital Status</td>
                            <td></td>
                            <td style="border-bottom-color: #fff;"></td>
                            <td></td>
                            <td>Graduate</td>
                            <td style="border-bottom-color: #fff;"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center;">Single</td>
                            <td></td>
                            <td style="border-bottom-color: #fff;"></td>
                            <td></td>
                            <td>Post-Graduate</td>
                            <td style="border-bottom-color: #fff;"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center;">Married</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Doctorate</td>
                            <td style="border-bottom-color: #fff;"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center;">Divorced</td>
                            <td></td>
                            <td>If Professional :</td>
                            <td></td>
                            <td>Doctor</td>
                            <td style="border-bottom-color: #fff;"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center;">Widowed</td>
                            <td></td>
                            <td style="border-bottom-color: #fff;"></td>
                            <td></td>
                            <td>Architect</td>
                            <td style="border-bottom-color: #fff;"></td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="6" style="text-align:left;" valign="top">No. of Dependents<br>		(Excluding Spouse)<br>		No. of Children</td>
                            <td></td>
                            <td style="border-bottom-color: #fff;"></td>
                            <td></td>
                            <td>CA</td>
                            <td style="border-bottom-color: #fff;"></td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;</td>
                            <td style="border-bottom-color: #fff;">&nbsp;&nbsp;</td>
                            <td style="border-bottom-color: #fff;">&nbsp;&nbsp;</td>
                            <td style="border-bottom-color: #fff;">&nbsp;&nbsp;</td>
                            <td style="border-bottom-color: #fff;">&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;</td>
                            <td style="border-bottom-color: #fff;">&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                            <td>MBA</td>
                            <td style="border-bottom-color: #fff;">&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;</td>
                            <td style="border-bottom-color: #fff;">&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                            <td>Engineer</td>
                            <td style="border-bottom-color: #fff;">&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                            <td>Lawyer</td>
                            <td style="border-bottom-color: #fff;">&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;</td>
                            <td>Others</td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table class="table table-bordered" style="border-collapse: collapse; width:100%;" border="1">
                    <tbody>
                        <tr>
                            <td>If Salaried: </td>
                            <td> If Self Employed / Professional / Business</td>
                        </tr>
                        <tr>
                            <td>Name of the Organisation_______________</td>
                            <td>&nbsp;Name of the Company_______________</td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table table-bordered" style="border-collapse: collapse; width:100%;" border="1">
                                    <tbody>
                                        <tr>
                                            <td>Designation </td>
                                            <td> _______________</td>
                                            <td> </td>
                                            <td> </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">Department :_______________</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">Office Address :_______________</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">__________________Pin : _______________</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">Tel:_______________Extn No.:_______ Fax: _______________</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">Email: _______________</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="table table-bordered" style="border-collapse: collapse; width:100%;" border="1">
                                    <tbody>
                                        <tr>
                                            <td>Office Address:_______________</td>
                                        </tr>
                                        <tr>
                                            <td>______________________Pin: _______________</td>
                                        </tr>
                                        <tr>
                                            <td>Tel:_______________ Fax : _______________</td>
                                        </tr>
                                        <tr>
                                            <td>Email : _______________</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table class="table table-bordered" style="border-collapse: collapse; width:100%;" border="1">
                                                    <tbody>
                                                        <tr>
                                                            <td>Business Details </td>
                                                            <td></td>
                                                            <td>Pvt. Ltd&nbsp;</td>
                                                            <td> </td>
                                                            <td>Partnership</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Proprietorship</td>
                                                            <td>Others</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered" style="border-collapse: collapse; width:100%;" border="1">
                    <tbody>
                        <tr>
                            <td>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Working with&nbsp;</td>
                                            <td> </td>
                                            <td>Govt. / Public </td>
                                            <td> </td>
                                            <td>Public Ltd. </td>
                                        </tr>
                                        <tr>
                                            <td>Pvt. Ltd.</td>
                                            <td>Partnership</td>
                                            <td>&nbsp;MNC</td>
                                        </tr>
                                        <tr>
                                            <td>Proprietorship</td>
                                        </tr>
                                        <tr>
                                            <td colspan="5"><strong>Working Since:_______ Retirement Age : _______</strong></td>
                                        </tr>
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Established Since: ______</td>
                                        </tr>
                                        <tr>
                                            <td>Designation : Executive | Managerial</td>
                                        </tr>
                                        <tr>
                                            <td>Gross Monthly Income: ______</td>
                                        </tr>
                                        <tr>
                                            <td>Year in Current Business:</td>
                                        </tr>
                                        <tr>
                                            <td>&gt;5 | 3-5 | 1-3 | &lt;1</td>
                                        </tr>
                                        <tr>
                                            <td>(Greater) (Less)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table class="table table-bordered" style="border-collapse: collapse; width:100%;" border="1">
                    <tbody>
                        <tr>
                            <td colspan="3" valign="middle"><strong>Income Details of Parent / Guardian </strong></td>
                            <td><strong>Any Other earning <br> member in the family</strong></td>
                        </tr>
                        <tr>
                            <td>&nbsp;1.</td>
                            <td style="width: 30%;">&nbsp;Gross Monthly Income Rs.<br>&nbsp;(Proof to be submitted)</td>
                            <td style="width: 35%;"> &nbsp;</td>
                            <td> 1122&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;2.</td>
                            <td>&nbsp;Net Monthly Income</td>
                            <td> 1121&nbsp;</td>
                            <td> &nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;3.</td>
                            <td>&nbsp;Appr. Monthly house hold expenses</td>
                            <td> 11212&nbsp;</td>
                            <td> &nbsp;</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>&nbsp;Monthly repayment of other loan<br>&nbsp;amount</td>
                            <td> 1122&nbsp;</td>
                            <td> &nbsp;</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>&nbsp;Net Surplus available</td>
                            <td> 54000&nbsp;</td>
                            <td> &nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;6.</td>
                            <td>&nbsp;Net Income of other family <br>&nbsp;member/s <br>&nbsp;(Excluding Co-applicant &amp; <br>&nbsp;Gaurantor)</td>
                            <td> 1121&nbsp;</td>
                            <td><p class="pull-right">&nbsp;(Relation with the student: <strong>Father</strong>)</p> </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table class="table table-bordered" style="border-collapse: collapse; width:100%;" border="1">
                    <tbody>
                        <tr>
                            <td colspan="5">
                                <p><strong style="text-decoration:underline;">About Bank Account</strong> (Including Credit facilities if any) </p>
                                <p><strong>Deposits</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;Name of the Bank, Branch, Address &amp; Telepnone No</td>
                            <td> Type of Ac &amp; AC No.</td>
                            <td> No. of years account held&nbsp;</td>
                            <td> Balance Outstanding</td>
                            <td> Remarks </td>
                        </tr>
                        <tr>
                            <td>__________</td>
                            <td>__________</td>
                            <td>__________</td>
                            <td>__________</td>
                            <td>__________</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered" style="border-collapse: collapse; width:100%;" border="1">
                    <tbody>
                        <tr>
                            <td colspan="6"><strong>Loans</strong></td>
                        </tr>
                        <tr>
                            <td>Name of the Bank Branch &amp;<br>Telephone No</td>
                            <td>&nbsp;Type of Loan &amp; Limit&nbsp;</td>
                            <td> Security </td>
                            <td> When sanctioned &amp; Repayment Schedule-Amount of Installment&nbsp;</td>
                            <td> Balance Outstanding&nbsp;</td>
                            <td> Overdues<br>if any&nbsp;</td>
                        </tr>
                        <tr>
                            <td>__________</td>
                            <td>__________</td>
                            <td>__________</td>
                            <td>__________</td>
                            <td>__________</td>
                            <td>__________</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table class="table table-bordered" style="border-collapse: collapse; width:100%;" border="1">
                    <tbody>
                        <tr>
                            <td>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Credit Card Details_____________________________________________________________________________<br><br></td>
                                        </tr>
                                        <tr>
                                            <td>Credit Card Owned:___________________________________Card Issuer_________________________________<br><br></td>
                                        </tr>
                                        <tr>
                                            <td>Card No._________________________________________________________________________________________<br><br></td>
                                        </tr>
                                        <tr>
                                            <td>Bank of Baroda Account No. ______________________________________________________________ CA / SB<br><br></td>
                                        </tr>
                                        <tr>
                                            <td>Since (in Years) : _____________________________________<br><br></td>
                                        </tr>
                                        <tr>
                                            <td>Branch Name   : _______________________________________</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="table table-bordered" style="border-collapse: collapse; width:100%;" border="1">
                                    <tbody>
                                        <tr>	</tr>
                                        <tr>
                                            <td rowspan="8">Other Assets</td>
                                            <td>&nbsp;<input type="checkbox"> Color Tv</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;<input type="checkbox"> Refrigerator</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;<input type="checkbox"> Two Wheeler</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;<input type="checkbox"> Cellular Phone</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;<input type="checkbox"> Computer</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;<input type="checkbox"> Washing Machine</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;<input type="checkbox"> Car</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;<input type="checkbox"> Landed Property</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">&nbsp;(Details to be submitted)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><strong style="text-decoration:underline;">DECLARATION BY THE APPLICANTS:</strong></p>
                <ol>
                    <li>The particulars furnished above are to the best of my / our knowledge true and correct.</li>
                    <li>The advance, if granted, will be utilized for the purpose for which it is granted.</li>
                    <li>I / We hereby authorize the bank to pay the fee and other amounts as may be payable directly to the institution concerned.</li>
                    <li>I / We undertake to submit the receipt for all the disbursements made from the loan account.</li>
                    <li>I / We undertake to inform the progress of studies of the student in respect of education for which loan is applied.</li>
                    <li>I / We Shall- keep the bank informed of my activities / Income / scholarship etc. during the tenure of the loan.</li>
                    <li>Immediately on securing job by the student, I / We undertake to inform the employment details.</li>
                    <li>I / We Undertake to maintain a Saving Bank Account and / or Deposit Account with your bank exclusively.</li>
                    <li>I / We will not / have not borrowed from any other Bank or any other source during the currency of the advance without you prior consent in writing.</li>
                    <li>I / We undertake to meet any contingent expenses to continue the course of study.</li>
                </ol>
                <table>
                    <tbody>
                        <tr>
                            <td>Date : ______________________</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your faithfully,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                        </tr>
                        <tr>
                            <td>
                                <p>&nbsp;</p>
                                <p>Place : ______________________</p>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;<br></td>
                            <td>&nbsp;<br></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;"><strong>STUDENT</strong></td>
                            <td style="text-align: center;"><strong>Parent / Guardian</strong></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table border="1" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <p style="text-align: center;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I am willing to stand as gaurantor.</strong></p>
                                <br>
                                <p><strong>Place : ____________________________</strong></p>
                                <br>
                                <p><strong>Date : _____________________________</strong></p>
                                <br>
                                <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Signature of Guarantor/s </strong></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </section>
</div>
