<style>
    .submit_button, .common-submit_button{
        text-align: center;
    }
    .common-submit_button{
        margin-top: 20px;
    }
    .submit-button-input{
        height: 40px;
        width: 80px;
        font-weight: bold;
        font-size: 18px;
    }
    .next-link{
        text-align: right;
    }
    .leads_applied_products_course_id{
        display: none;
    }
    .get-offer{
        float: right!important;
        cursor: pointer;
    }
    .hiddenField{
        display: none;
    }
    .textclr{
        color: white;
    }

    #containDiv {
      height: 550px;
      width: 100%;
    }

    /* Center the loader */
    #loaderAjax {
      position: absolute;
      left: 50%;
      top: 30%;
      z-index: 10000;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #f9992f;
      border-bottom: 16px solid #f9992f;
      border-right: 16px solid #004b7a;
      border-left: 16px solid #004b7a;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    /* Add animation to "page content" */
    .animate-bottom {
      position: relative;
      -webkit-animation-name: animatebottom;
      -webkit-animation-duration: 1s;
      animation-name: animatebottom;
      animation-duration: 1s
    }

    @-webkit-keyframes animatebottom {
      from { bottom:-100px; opacity:0 }
      to { bottom:0px; opacity:1 }
    }

    @keyframes animatebottom {
      from{ bottom:-100px; opacity:0 }
      to{ bottom:0; opacity:1 }
    }

    #loaderAjax {
      display: none;
      text-align: center;
    }

    .multiselect-parent .dropdown-toggle {
      width: 350px;
    }

    .multiselect-parent .dropdown-menu {
      width: 350px;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>APPROVED University Mapping</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-users"></i> University</a></li>
            <li class="active">APPROVED University Mapping</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <div id="loaderAjax"></div>

        <div class="row" style="overflow-x: scroll;" id="containDiv">
          <div class="col-md-8 col-md-offset-2">
            <div class="box box-info">

        <form class="form-horizontal" ng-submit="activeCourseMappingSubmit()">

            <div class="box-body">
              <div class="form-group">
                 <label class="col-sm-4 control-label"> Map With Course Id * </label>
                 <div class="col-sm-6">
                 <input class="form-control" name="course_id" id="course_id" ng-model="$parent.course_id"  disabled >
             </div>
            </div>

            <div class="form-group">
               <label class="col-sm-4 control-label"> Map With Course Name * </label>
               <div class="col-sm-6">
               <input class="form-control" name="course_name" id="course_name" ng-model="$parent.course_name"  disabled >
             </div>
            </div>

            <div class="form-group">
               <label class="col-sm-4 control-label"> Course List * </label>
               <div class="col-sm-6">
               <div  ng-dropdown-multiselect="" options="courseList" selected-model="$parent.course_list" extra-settings="courseListSetting" ></div>
            </div>
          </div>

            <div class="col-md-12 col-sm-12 form-group">
               <input type="Submit" class="btn btn-primary" value="Submit">
            </div>

         </form>
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
        </div>
    </section>
</div>
