<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>City List</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">City List</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header" >


                        <button class="btn btn-wd btn-primary" data-toggle="collapse" data-target="#add_city"> ADD NEW</button>
                        <div id="add_city" class="row form-group collapse" >
                          <div class="col-md-2">
                            <label class="control-label">City Name</label>
                            <input class="form-control" id="city_name" name="city_name" ng-model="$parent.city_name">
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">City Display Name</label>
                            <input class="form-control" id="city_display_name" name="city_display_name" ng-model="$parent.city_display_name">
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">City Mapping State</label>
                            <select class="form-control" id="state_id" name="state_id" ng-model="$parent.state_id" ng-options="item.id as (item.display_name) for item in masterStateDataList" >
                                <option value="" >Select State Name</option>
                            </select>
                          </div>

                          <div class="col-md-2">
                            <label class="control-label">City Status</label>
                            <select class="form-control"  id="city_status" name="city_status" ng-model="$parent.city_status">
                              <option value="" >Select Status</option>
                                        <option ng-repeat="option in DataStatus" value="{{option.id}}">{{option.status}}</option>
                                    </select>
                          </div>
                          <div class="col-md-2">
                            <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="addcitylist()">SAVE</button>
                          </div>
                        </div>
                        <br/><br/>
                          <h3 class="box-title">{{title}}   </h3>
                    </div>
                    <div class="box-body">

                        <table ng-table="tableParamsCity" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="assign_table">
                                <td title="'City Id'" filter="{ id : 'number'}" sortable="'id'">{{value.id}}</td>
                                <td title="'City Name'" ng-if="!value.isEditable" filter="{ name: 'text'}" sortable="'name'" >{{value.name}}</td>
                                <td title="'City Name'" ng-if="value.isEditable"><input name="name" type="text" ng-model="value.name"/></td>
                                <td title="'City Display Name'" ng-if="!value.isEditable" filter="{ display_name: 'text'}" sortable="'display_name'">{{value.display_name}}</td>
                                <td title="'City Display Name'" ng-if="value.isEditable"><input name="display_name" type="text" ng-model="value.display_name"/></td>
                                <td title="'State Name'" ng-if="!value.isEditable" filter="{ state_name: 'text'}" sortable="'state_name'" >{{value.state_name}}</td>
                                <td title="'State Name'" ng-if="value.isEditable" >
                                  <select class="form-control" ng-model="value.state_id" ng-init="value.state_id" ng-options="item.id as (item.display_name) for item in masterStateDataList" >
                                      <option value="" >Select State Name</option>
                                  </select>
                                </td>
                                <td title="'City Status'" ng-if="!value.isEditable"> {{value.status == '1' ? 'Active' : 'Inactive'}}</td>
                                <td title="'City Status'" ng-if="value.isEditable">
                                  <select class="form-control" required ng-init="value.status = value.status" ng-model="value.status">
                                      <option ng-repeat="option in DataStatus" value="{{option.id}}">{{option.status}}</option>
                                  </select>
                                </td>
                                <!-- <td title="'Comments'" ><a href="" onclick="">Comments</></td> -->
                                <td><button ng-if="!value.isEditable" ng-click="editData(value)" type="button" class="btn btn-warning btn-sm">Edit</button></td>
                                <td title="'Application Actions'" >
                                  <button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button>
                                  <button ng-if="value.isEditable" ng-click="updatecitylist(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
