<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Course DATA</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Course Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header" ng-controller="masterManagementController">


                        <button class="btn btn-wd btn-primary" data-toggle="collapse" data-target="#add_university"> ADD NEW</button>
                        <div id="add_university" class="row form-group collapse" >
                          <div class="col-md-2">
                            <label class="control-label">Course Name</label>
                            <input class="form-control" id="course_name" name="course_name" ng-model="course_name">
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">Display Name</label>
                            <input class="form-control" id="course_display_name" name="course_display_name" ng-model="course_display_name">
                          </div>

                          <div class="col-md-2">
                            <label class="control-label">Course Category</label>
                            <select class="form-control" id="course_category_id" name="course_category_id" ng-model="course_category_id" ng-change="getcourseSubCategoryList()">
                                  <option value=""> Please Select </option>
                                  <option ng-repeat="option in categoryList" value="{{option.id}}">{{option.display_name}}</option>
                              </select>
                          </div>

                          <div class="col-md-2">
                            <label class="control-label">Course Sub Category</label>
                            <select class="form-control" id="category_sub_id" name="category_sub_id" ng-model="category_sub_id" >
                                  <option value=""> Please Select </option>
                                  <option ng-repeat="option in sub_category_course_list" value="{{option.id}}">{{option.display_name}}</option>
                              </select>
                          </div>

                          <div class="col-md-2">
                            <label class="control-label">Course Status</label>
                            <select class="form-control" id="course_status" name="course_status" ng-model="course_status">
                                <option ng-repeat="option in DataStatus" value="{{option.id}}">{{option.status}}</option>
                            </select>
                          </div>
                          <div class="col-md-2">
                            <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="masterDataAddCourse()">SAVE</button>
                          </div>
                        </div>
                        <br/><br/>
                          <h3 class="box-title">{{title}}   </h3>
                    </div>
                    <div class="box-body">

                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="assign_table">
                                <td title="'Course Id'" filter="{ id : 'number'}" sortable="'id'">{{value.id}}</td>
                                <td title="'Course Name'" ng-if="!value.isEditable" filter="{ name: 'text'}" sortable="'name'" >{{value.name}}</td>
                                <td title="'Course Name'" ng-if="value.isEditable"><input name="name" type="text" ng-model="value.name"/></td>
                                <td title="'Course Display Name'" ng-if="!value.isEditable" filter="{ display_name: 'text'}" sortable="'display_name'">{{value.display_name}}</td>
                                <td title="'Course Display Name'" ng-if="value.isEditable"><input name="display_name" type="text" ng-model="value.display_name"/></td>

                                <td title="'Course Category Name'"  filter="{ category_name: 'text'}" sortable="'category_name'">{{value.category_name}}</td>
                                <td title="'Course Sub Category Name'"  filter="{ sub_category_name: 'text'}" sortable="'sub_category_name'">{{value.sub_category_name}}</td>

                                <td title="'Course Status'" ng-if="!value.isEditable"> {{value.status == 1 ? 'ACTIVE' : 'INACTIVE'}}</td>
                                <td title="'Course Status'" ng-if="value.isEditable">
                                  <select class="form-control" required ng-init="value.status = value.status" ng-model="value.status">
                                      <option ng-repeat="option in DataStatus" value="{{option.id}}">{{option.status}}</option>
                                  </select>
                                </td>
                                <td title="'Map Course'"><a class="btn btn-info btn-md" target="_blank" href="/active/course/mapping/{{value.id}}"> Map With </a>
                                <!-- <td title="'Comments'" ><a href="" onclick="">Comments</></td> -->
                                <td title="'Application Actions'" ng-if="!value.isEditable"><button ng-if="!value.isEditable" ng-click="editData(value)" type="button" class="btn btn-warning btn-sm">Edit</button></td>
                                <td title="'Application Actions'" ng-if="value.isEditable"><button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-if="value.isEditable" ng-click="masterDataUpdateCourse(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
