<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>COURSES DATA</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Course Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">


                      <button class="btn btn-wd btn-primary" data-toggle="collapse" data-target="#add_university"> ADD NEW</button>
                      <div id="add_university" class="row form-group collapse" >
                        <div class="col-md-4">
                          <label class="control-label">University Name</label>
                          <select class="form-control" id="university_add_name" name="university_add_name" ng-model="university_add_name" ng-options="item.id as (item.display_name) for item in masterDataUniversityList" >
                      <option value="" >Select Country Name</option>
                    </select>
                        </div>
                        <div class="col-md-4">
                          <label class="control-label">Course Name</label>
                          <select class="form-control" id="course_add_name" name="course_add_name" ng-model="course_add_name" ng-options="item.id as (item.display_name) for item in masterDataCourseList" >
                      <option value="" >Select Country Name</option>
                    </select>
                        </div>
                        <div class="col-md-2">
                          <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="addCourseToUniversity()">SAVE</button>
                        </div>
                      </div>
                      <br/><br/>

                      <button class="btn btn-wd btn-primary" data-toggle="collapse" data-target="#search_course"> Search Courses</button>
                      <div id="search_course" class="row form-group collapse" >
                        <div class="col-md-4">
                          <label class="control-label">University Name</label>
                          <select class="form-control" id="university_name" name="university_name" ng-model="university_name" ng-options="item.id as (item.display_name) for item in masterDataUniversityList" >
                      <option value="" >Select University Name</option>
                    </select>
                        </div>

                        <div class="col-md-4">
                          <label class="control-label">Course Status</label>

                          <select class="form-control" id="course_status" name="course_status" ng-model="course_status" >
                      <option value="" >Select Status</option>
                      <option value="1" >Active</option>
                      <option value="0" >Inactive</option>
                      <option value="2" >Pending</option>
                      <option value="3" >Rejected</option>
                    </select>
                        </div>
                        <div class="col-md-2">
                          <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="searchCourse()">GET</button>
                        </div>
                      </div>
                      <br/><br/>
                          <h3 class="box-title">{{title}}   </h3>
                    </div>
                    <div class="box-body">

                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="assign_table">
                                <td title="'Association Id'" filter="{ association_id : 'number'}" sortable="'association_id'"> <a target="_blank" href="/approved-page/course/{{value.id}}/{{value.association_id}}"> {{value.association_id}} <a/> </td>
                                <td title="'Course Id'" filter="{ id : 'number'}" sortable="'id'">  {{value.id}} <a/> </td>
                                <td title="'Course Name'" filter="{ course_name : 'text'}" sortable="'course_name'">{{value.course_name}}</td>
                                <td title="'Course Display Name'" filter="{ course_display_name : 'text'}" sortable="'course_display_name'">{{value.course_display_name}}</td>
                                <td title="'Course Status'" filter="{ status : 'number'}" sortable="'status'">{{value.status}}</td>
                                <td title="'University Name'" filter="{ country_name : 'text'}" sortable="'country_name'">{{value.university_name}}</td>

                                <!-- <td title="'Comments'" ><a href="" onclick="">Comments</></td> -->
                                <td><button ng-if="!value.isEditable" ng-click="editData(value)" type="button" class="btn btn-warning btn-sm">Edit</button></td>
                                <td title="'Application Actions'" ><button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-if="value.isEditable" ng-click="associationListIdDelete(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
