<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>State List</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">State List </li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">


                        <button class="btn btn-wd btn-primary" data-toggle="collapse" data-target="#add_state"> ADD NEW</button>
                        <div id="add_state" class="row form-group collapse" >

                          <div class="col-md-2">
                            <label class="control-label">State Name</label>
                            <input class="form-control" id="state_name" name="state_name" ng-model="$parent.state_name">
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">State Display Name</label>
                            <input class="form-control" id="state_display_name" name="state_display_name" ng-model="$parent.state_display_name">
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">State Mapping Country </label>
                            <select class="form-control" id="country_id" name="country_id" ng-model="$parent.country_id" ng-options="item.id as (item.display_name) for item in masterCountryDataList" >
                                <option value="" >Select Country Name</option>
                            </select>
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">State Status</label>
                            <select class="form-control"  id="state_status" name="state_status" ng-model="$parent.state_status">
                              <option value="" >Select Status</option>
                                        <option ng-repeat="option in DataStatus" value="{{option.id}}">{{option.status}}</option>
                                    </select>
                          </div>
                          <div class="col-md-2">
                            <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="addstatelist()">SAVE</button>
                          </div>
                        </div>
                        <br/><br/>
                          <h3 class="box-title">{{title}} </h3>
                    </div>
                    <div class="box-body">

                        <table ng-table="tableParamsState" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="state_table">
                                <td title="'State Id'" filter="{ id : 'number'}" sortable="'id'">{{value.id}}</td>
                                <td title="'State Name'" ng-if="!value.isEditable" filter="{ name: 'text'}" sortable="'name'" >{{value.name}}</td>
                                <td title="'State Name'" ng-if="value.isEditable"><input name="name" type="text" ng-model="value.name"/></td>
                                <td title="'State Display Name'" ng-if="!value.isEditable" filter="{ display_name: 'text'}" sortable="'display_name'">{{value.display_name}}</td>
                                <td title="'State Display Name'" ng-if="value.isEditable"><input name="display_name" type="text" ng-model="value.display_name"/></td>
                                <td title="'Country Name'" ng-if="!value.isEditable" filter="{ country_name: 'text'}" sortable="'country_name'" >{{value.country_name}}</td>
                                <td title="'Country Name'" ng-if="value.isEditable" >
                                  <select class="form-control" ng-model="value.mapping_id" ng-init="value.mapping_id" ng-options="item.id as (item.display_name) for item in masterCountryDataList" >
                                      <option value="" >Select Country Name</option>
                                  </select>
                                </td>
                                <td title="'State Status'" ng-if="!value.isEditable"> {{value.status == '1' ? 'Active' : 'Inactive'}}</td>
                                <td title="'State Status'" ng-if="value.isEditable">
                                  <select class="form-control" required ng-init="value.status = value.status" ng-model="value.status">
                                      <option ng-repeat="option in DataStatus" value="{{option.id}}">{{option.status}}</option>
                                  </select>
                                </td>
                                <!-- <td title="'Comments'" ><a href="" onclick="">Comments</></td> -->
                                <td><button ng-if="!value.isEditable" ng-click="editData(value)" type="button" class="btn btn-warning btn-sm">Edit</button></td>
                                <td title="'Application Actions'" ><button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-if="value.isEditable" ng-click="updatestatelist(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
