<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Country DATA</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Country Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header" ng-controller="masterManagementController">


                        <button class="btn btn-wd btn-primary" data-toggle="collapse" data-target="#add_university"> ADD NEW</button>
                        <div id="add_university" class="row form-group collapse" >
                          <div class="col-md-2">
                            <label class="control-label">University Name</label>
                            <input class="form-control" id="university_name" name="university_name" ng-model="university_name">
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">Display Name</label>
                            <input class="form-control" id="university_display_name" name="university_display_name" ng-model="university_display_name">
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">University code</label>
                            <input class="form-control" id="university_code" name="university_code" ng-model="university_code">
                          </div>

                          <div class="col-md-2">
                            <label class="control-label">University Status</label>
                            <input class="form-control" id="university_status" name="university_status" ng-model="university_status">
                          </div>
                          <div class="col-md-2">
                            <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="masterDataAddUniversity()">SAVE</button>
                          </div>
                        </div>
                        <br/><br/>
                          <h3 class="box-title">{{title}}   </h3>
                    </div>
                    <div class="box-body">

                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="assign_table">
                                <td title="'University Id'" filter="{ id : 'number'}" sortable="'id'">{{value.id}}</td>
                                <td title="'University Name'" ng-if="!value.isEditable" filter="{ name: 'text'}" sortable="'name'" >{{value.name}}</td>
                                <td title="'University Name'" ng-if="value.isEditable"><input name="name" type="text" ng-model="value.name"/></td>
                                <td title="'University Display Name'" ng-if="!value.isEditable" filter="{ display_name: 'text'}" sortable="'display_name'">{{value.display_name}}</td>
                                <td title="'University Display Name'" ng-if="value.isEditable"><input name="display_name" type="text" ng-model="value.display_name"/></td>
                                <td title="'University Code'" ng-if="!value.isEditable" filter="{ code: 'text'}" sortable="'code'" >{{value.code}}</td>
                                <td title="'University Code'" ng-if="value.isEditable" ><input name="code" type="text" ng-model="value.code"/></td>
                                <td title="'University Status'" ng-if="!value.isEditable"> {{value.status}}</td>
                                <td title="'University Status'" ng-if="value.isEditable">
                                    <input name="status" type="text" ng-model="value.status"/>
                                </td>
                                <!-- <td title="'Comments'" ><a href="" onclick="">Comments</></td> -->
                                <td><button ng-if="!value.isEditable" ng-click="editData(value)" type="button" class="btn btn-warning btn-sm">Edit</button></td>
                                <td title="'Application Actions'" ><button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-if="value.isEditable" ng-click="masterDataUpdateUniversity(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
