<style type="text/css">

.multiselect-parent .dropdown-toggle {
  width: 350px;
}

.multiselect-parent .dropdown-menu {
  width: 350px;
  text-align: left;
}

</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>UNIVERSITY DATA</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">University Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">


                      <button class="btn btn-wd btn-primary" data-toggle="collapse" data-target="#add_university"> ADD NEW</button>
                      <div id="add_university" class="row form-group collapse" >
                        <div class="col-md-4">
                          <label class="control-label">Country Name</label>
                          <select class="form-control" id="country_add_name" name="country_add_name" ng-model="country_add_name" ng-options="item.id as (item.display_name) for item in masterDataList" >
                      <option value="" >Select Country Name</option>
                    </select>
                        </div>
                        <div class="col-md-4">
                          <label class="control-label">University Name</label>
                          <select class="form-control" id="university_add_name" name="university_add_name" ng-model="university_add_name" ng-options="item.id as (item.display_name) for item in masterDataUniversityList" >
                      <option value="" >Select Country Name</option>
                    </select>
                        </div>
                        <div class="col-md-2">
                          <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="addUniversityToCountry()">SAVE</button>
                        </div>
                      </div>
                      <br/><br/>

                      <button class="btn btn-wd btn-primary" data-toggle="collapse" data-target="#search_university"> Search University</button>
                      <div id="search_university" class="row form-group collapse" >


                        <div class="col-md-4">
                        <label class="control-label"> Country Name </label>
                        <div  ng-dropdown-multiselect="" options="countryList" selected-model="$parent.country_list" extra-settings="countrySetting" ></div>
                        </div>

                        <div class="col-md-4">
                        <label class="control-label"> University Status </label>
                        <div  ng-dropdown-multiselect="" options="universityStatus" selected-model="$parent.university_status_list" extra-settings="universityStatusSetting" ></div>
                        </div>


                        <div class="col-md-2">
                          <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="searchUniversity()">GET</button>
                        </div>
                      </div>
                      <br/><br/>
                          <h3 class="box-title">{{title}}   </h3>
                    </div>
                    <div class="box-body">

                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="assign_table">
                              <td title="'Association Id'" filter="{ association_id : 'number'}" sortable="'association_id'"> <a target="_blank" href="/approved-page/university/{{value.association_id}}"> {{value.association_id}} <a/> </td>
                                <td title="'University Id'" filter="{ id : 'number'}" sortable="'id'">  {{value.id}} </td>
                                <td title="'University Name'" filter="{ university_name : 'text'}" sortable="'university_name'">{{value.university_name}}</td>
                                <td title="'University Display Name'" filter="{ university_display_name : 'text'}" sortable="'university_display_name'">{{value.university_display_name}}</td>
                                <td title="'University Code'" filter="{ code : 'text'}" sortable="'code'">{{value.code}}</td>
                                <td title="'University Status'" filter="{ status : 'number'}" sortable="'status'">{{value.status}}</td>
                                <td title="'Country Name'" filter="{ country_name : 'text'}" sortable="'country_name'">{{value.country_name}}</td>

                                <td title="'Map University'"><a class="btn btn-info btn-md" target="_blank" href="/active/university/mapping/{{value.id}}"> Map With </a>

                                <td><button ng-if="!value.isEditable" ng-click="editData(value)" type="button" class="btn btn-warning btn-sm">Edit</button></td>
                                <td title="'Application Actions'" ><button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-if="value.isEditable" ng-click="associationListIdDelete(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
