<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>My Leads</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">My Leads</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">

                        <h3 class="box-title">{{title}}</h3>

                    </div>
                    <div class="box-body" style="overflow: scroll;">

                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="assign_table">
                                <td title="'Application Id'" filter="{ id : 'number'}" sortable="'id'">{{value.id}}</td>
                                <td title="'Name'" ng-if="!value.isEditable" filter="{ customer_name: 'text'}" sortable="'customer_name'" >{{value.customer_name}}</td>
                                <td title="'Profile Complete Date'" filter="{ profile_complete_date: 'number'}" sortable="'profile_complete_date'">{{value.profile_complete_date}}</td>
                                <td title="'Application Actions'" ><button ng-if="value.profile_complete_date" ng-click="downloadReport(value.lead_id)" class="btn btn-info btn-sm btn-circle"> Download </button> <button ng-if="value.isEditable" ng-click="saveData(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>
                                <td title="'Download Status'" filter="{ DOWNLOADED: 'number'}" sortable="'DOWNLOADED'">{{value.DOWNLOADED == 1 ? "YES" : "NO"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="modal-default" ng-controller="assignController">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 750px;">
            <div class="modal-header">
                <div class="row form-group">
                    <div class="col-md-3">
                        <h4 class="modal-title"><b> Comment History <b></h4>
                    </div>
                    <!--<div class="col-md-4">
                        <label for="" class="control-label">Last Followup Date</label>
                        <input type="text" class="form-control txtBoxBS" id="last_FollowUp_Date" value="{{commentslist.date_updated}}" disabled>
                    </div>-->
                    <div class="col-md-4">
                        <label for="" class="control-label">Next Followup Date</label>
                        <input type="date" class="form-control txtBoxBS" id="next_FollowUp_Date" ng-model="next_FollowUp_Date">
                    </div>
                    <!--<div class="col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>-->
                </div>
            </div>
            <div class="modal-body">
                <div class="box-body clearfix" style="overflow-y: scroll; max-height: 230px;">
                    <div class="row" ng-repeat="comments in commentslist" >
                        <div class="col-md-2">
                                <h4>Student</h4>
                        </div>
                        <div class="col-md-10">
                            <blockquote class="pull-right">
                                <pre>{{comments.comment}}</pre><br/>
                              Time Spent - {{comments.time_spent}} Mins,    By - {{ comments.partner_name }}, On - {{ comments.date_updated }}
                            </blockquote>
                        </div>
                    </div>

                </div>
                <div class="row form-group" style="margin-top: 10px;">

                  <div class="col-md-8">
                      <label for="" class="control-label">Time Spent On Call (In Minutes):</label>
                      <input id="time_value" type= "number" name="time_value" class="form-control inputtext" form="usrform" ng-model="time_value" ></textarea>
                  </div>

                    <div class="col-md-8">
                        <label for="" class="control-label">Your Comment :</label>
                        <textarea id="comments_value" name="comment" class="form-control txtBoxBS" form="usrform" ng-model="comments_value" ></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Add</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
