<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Followup Data</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Followup Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header" >

                        <div  id="add_country" class="row form-group" >

                          <div class="col-md-2">
                            <label class="control-label">Agents EmailId :</label>
                            <div  ng-dropdown-multiselect="" options="agentslist" selected-model="lead_rm_id" extra-settings="rmSetting" ></div>
                          </div>

                          <div class="col-md-2">
                            <label class="control-label">LeadState :</label>
                            <div  ng-dropdown-multiselect="" options="allStatus" selected-model="lead_state_id" extra-settings="leadStateSetting" ></div>
                          </div>

                          <div class="col-md-3">
                            <label class="control-label">Start Date</label>
                            <input type="date" class="form-control txtBoxBS" id="start_date" ng-model="start_date">
                          </div>

                          <div class="col-md-3">
                            <label class="control-label">End Date</label>
                            <input type="date" class="form-control txtBoxBS" id="end_date" ng-model="end_date">
                          </div>

                          <div class="col-md-2">
                            <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="leadfollowupbydate()">SHOW</button>
                          </div>
                        </div>
                        <br/><br/>
                          <h3 class="box-title">{{title}}   </h3>
                    </div>

                      <div class="box-body" style="overflow: scroll;">
                        <span > Total No - <b>{{ tableParamsLead.total() }}</b></span>
                          <table ng-table="tableParamsLead" class="table table-bordered table-striped" show-filter="true">
                              <tr ng-repeat="value in $data" id="assign_table">
                                  <td title="'Lead-Id'" filter="{ id : 'number'}" sortable="'id'"><a target="_blank" href="/student/{{value.id}}/product/0" >{{value.id}}</a></td>
                                  <td title="'Name'" filter="{ customer_name: 'text'}" sortable="'customer_name'" >{{value.customer_name}}</td>
                                  <td title="'Mobile'" filter="{ customer_mobile: 'text'}" sortable="'customer_mobile'" >{{value.customer_mobile}}</td>
                                  <td title="'Email'" filter="{ customer_email: 'text'}" sortable="'customer_email'" >{{value.customer_email}}</td>
                                  <td title="'Loan Amount'" filter="{ requested_loan_amount: 'text'}" sortable="'requested_loan_amount'" >{{value.requested_loan_amount}}</td>
                                  <td title="'Lead State'" filter="{ current_lead_state: 'text'}" sortable="'current_lead_state'" >{{value.current_lead_state}}</td>
                                  <td title="'Followup Date'" filter="{ followup_date: 'text'}" sortable="'followup_date'" >{{value.followup_date}}</td>
                                  <td title="'Decision_Maker_Name'" filter="{ decision_maker_name: 'text'}" sortable="'decision_maker_name'" >{{value.decision_maker_name}}</td>
                                  <td title="'Decision_Maker_Mobile'" filter="{ decision_maker_mobile: 'text'}" sortable="'decision_maker_mobile'" >{{value.decision_maker_mobile}}</td>
                                  <td title="'Decision_Maker_Email'" filter="{ decision_maker_email: 'text'}" sortable="'decision_maker_email'" >{{value.decision_maker_email}}</td>
                                  <td title="'Entity Name'" filter="{ entity_name: 'text'}" sortable="'entity_name'" >{{value.entity_name}}</td>
                                  <td title="'Imperial Enrolled'" filter="{ imperial_enrolled: 'text'}" sortable="'imperial_enrolled'" >{{value.imperial_enrolled}}</td>
                                  <td title="'Imperial Loan Required'" filter="{ imperial_loan_required: 'text'}" sortable="'imperial_loan_required'" >{{value.imperial_loan_required}}</td>
                                  <td title="'Facilitator Email'" filter="{ agent_email: 'text'}" sortable="'agent_email'" >{{value.agent_email}}</td>
                                  <td title="'Comments'" ><a target="_blank" href="/comments/lead/{{valueee.lead_id}}/0/0" >Comments</a></td>
                              </tr>
                          </table>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
