<style>
.loader {
   position: relative;
   border: 2px solid #f3f3f3; /* Light grey */
   border-top: 2px solid #3498db; /* Blue */
   border-radius: 50%;
   width: 64px;
   height: 64px;
   animation: spin 2s linear infinite;
   margin:25% 45%;
   }
   @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
   }
.overlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.5);
   transition: opacity 500ms;
   opacity: 0.5;
   z-index:9999;
   }
</style>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>My Leads</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">My Leads</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <span > Total No - <b>{{ tableParams.total() }}</b></span>
                            <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                                <tr ng-repeat="value in $data" id="list_table" ng-class="{act : activeMenu === value.lead_id}">
                                    <td title="'Name'" filter="{ name: 'text'}" class="name" sortable="'name'">{{value.name}}</td>
                                    <td title="'Company Name'" filter="{ company_name: 'text'}" sortable="'company_name'">  {{value.company_name}}</td>
                                    <td title="'Student Assignment'" filter="{ lead_assignment: 'text'}" sortable="'lead_assignment'" ng-if="!value.isEditable">{{value.lead_assignment}} <i class="fa fa-pencil" ng-click="editRecord(value)" style="float:right;"></i></td>
                                    <td title="'Student Assignment'" ng-if="value.isEditable">
                                        <select class="form-control" name="lead_assignment" id="lead_assignment" ng-model="value.lead_assignment" ng-change="saveEditRecord(value)">
                                            <option value="">Please Select</option>
                                            <option value="Manual">Manual</option>
                                            <option value="Auto">Auto</option>
                                        </select>
                                    </td>
                                    <td ng-repeat="rmRow in rmlist"><input type="checkbox"  ng-model="checkedModels[value.id+'|'+rmRow.id]" ng-change="updaterm(value.id+'|'+rmRow.id, value.id, value.login_id, rmRow.id, value.student_assignment)">{{rmRow.name}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                        <!--div class=" form-group formRow">

                                <div class="col-sm-6 " style="display:inline-block!important;float:left;">
                                        <select class="form-control" ng-model = "partnername" style="width:200px;float:left;margin-right:10px;" id="partnername" name = "partnername" >
                                                  <option  ng-repeat="option in names" ng-selected = "partnername" value="{{option.id}}">{{option.name}}</option>
                                         </select>

                                     <select class="form-control" ng-model = "rmname" style="width:200px;float:left;margin-right:10px;" >
                                        <option  ng-repeat="option in rmlist" value="{{option.id}}">{{option.name}}</option>
                                    </select>
                                    <button type="button" class="btn btn-lg btn-primary common-submit_button" ng-click = "assign(partnername,rmname)" >submit</button>
                                </div>


                        </div-->

                </div>
            </div>
        </section>
        <div class="overlay" ng-if="loader">
       <div class="loader" ></div>
    </div>
    </div>
