<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Status Report</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Upload Status</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Upload Lead Status</h3>
              </div>
              <form class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">XML File </label>

                    <div class="col-sm-10">
                      <input type="file" file="$parent.file"/>
                    </div>
                  </div>

                </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-info pull-left" ng-click="uploadBOBStatusReport()">Upload</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </section>
</div>
