<style>
/* Center the loader */
#loaderAjax {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 10000;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f9992f;
  border-bottom: 16px solid #f9992f;
  border-right: 16px solid #004b7a;
  border-left: 16px solid #004b7a;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#loaderAjax {
  display: none;
  text-align: center;
}

#containDiv {
  height: 800px;
  width: 100%;
}
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Student Chat List Data</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Chat Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <div id="loaderAjax"></div>

        <div class="row" >
            <div class="col-xs-12" >
                <div class="box" style="overflow-x: scroll;" id="containDiv">
                    <div class="box-header" >


                        <div class="col-lg-12 form-group" >

                        <div class="col-md-2 form-group">
                        <label  class="control-label">Lead State</label>

                        <div  ng-dropdown-multiselect="" options="allStatus" selected-model="lead_state_id" extra-settings="leadStateSetting" ></div>

                          </div>

                          <div  class="col-md-2 form-group" >
                            <label class="control-label"> Agents List</label>

                      <div  ng-dropdown-multiselect="" options="agentslist" selected-model="lead_rm_id" extra-settings="rmSetting" ></div>

                          </div>
                          <div class="col-md-2">

                               <label class="control-label">Product List</label>
                               <div  ng-dropdown-multiselect="" options="productlists" selected-model="product_id" extra-settings="productSetting" ></div>

                          </div>

                          <div class="col-md-2">
                            <label class="control-label">Intake Year</label>
                            <select class="form-control" name="intake_year_filter" id="intake_year_filter" ng-model="$parent.intake_year_filter">
                                <option value="" >Please Select Year</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="ALL">ALL</option>
                            </select>
                          </div>

                          <div class="col-md-2">
                             <label class="control-label">Hear about Us</label>
                             <select class="form-control" name="hear_About_Us" required id="hear_About_Us" ng-init="status='Please Select'" ng-model="$parent.hear_About_Us" ng-change="hearAboutUsSelect()">
                                 <option value="" >Please Select</option>
                                 <option ng-repeat="option in hearAboutUsOptions" value="{{option.id}}">{{option.status}}</option>
                             </select>
                          </div>

                          <div class="col-md-2" id="counselorDropDown" style="display: none;">
                             <label class="control-label">Entity List</label>
                             <div  ng-dropdown-multiselect="" options="hearAboutUsListData" selected-model="entity_list_id" extra-settings="entityListSetting" ></div>
                          </div>

                        </div>
                        <div class="col-md-12">

                          <div class="col-md-3">
                             <button type="button" class="btn btn-wd btn-primary" style="margin-top: 25px;"  ng-click="allLeadChats()">SHOW ALL Leads</button>
                          </div>

                          <div class="col-md-3">
                             <button type="button" class="btn btn-wd btn-primary" style="margin-top: 25px;" data-toggle="modal" data-target="#modal-send-chat" > Send Chat </button>
                          </div>

                       </div>

                    </div>

                    <hr>


                    <div class="box-body">
                      <span > Total No - <b>{{ leadFilterData.total() }}</b></span><br/>

                             <a class="btn" title="Export Table" ng-click='hearAboutUscsvall.generate()' ng-href="{{ hearAboutUscsvall.link() }}" download="hearAboutUscsvall.csv">
                             <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                             </a>
                             <table ng-table="leadFilterData" class="table table-bordered" show-filter="true" export-csv="hearAboutUscsvall" separator="," export-csv-ignore="ignore">
                                <tr ng-repeat="valueee in $data">
                                   <td title="'Lead-id'" filter="{ id : 'number'}" sortable="'id'"><a target="_blank" href="/student/{{valueee.id}}/product/0" >{{valueee.id}}</a></td>
                                   <td title="'Customer Name'" filter="{ customer_name : 'text'}" sortable="'customer_name'">{{valueee.customer_name ? valueee.customer_name : 0}}</td>
                                   <td title="'Customer Email'" filter="{ customer_email : 'text'}" sortable="'customer_email'">{{valueee.customer_email ? valueee.customer_email : 0}}</td>
                                   <td title="'Customer Mobile'" filter="{ customer_mobile : 'text'}" sortable="'customer_mobile'">{{valueee.customer_mobile ? valueee.customer_mobile : 0}}</td>
                                   <td title="'Customer City'" filter="{ customer_city_name : 'text'}" sortable="'customer_city_name'">{{valueee.customer_city_name ? valueee.customer_city_name : "NOT AVAILABLE"}}</td>               <td title="'Lead State'" filter="{ current_lead_state : 'text'}" sortable="'current_lead_state'">{{valueee.current_lead_state ? valueee.current_lead_state : 0}}</td>
                                   <!-- <td title="'Source Name'" filter="{ display_name : 'text'}" sortable="'display_name'">{{valueee.display_name ? valueee.display_name : 0}}</td> -->
                                   <td title="'Assign To'" filter="{ agent_email : 'text'}" sortable="'agent_email'">{{valueee.agent_email ? valueee.agent_email : 0}}</td>
                                   <td title="'Requested Loan Amount'" filter="{ requested_amount : 'text'}" sortable="'requested_amount'">{{valueee.requested_loan_amount ? valueee.requested_loan_amount : 0}}</td>
                                   <td title="'Comments'" ><a target="_blank" href="/comments/lead/{{valueee.id}}/0" >Comments</a></td>
                                </tr>
                             </table>
                      </div>

                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="modal-send-chat">
   <div class="modal-dialog">

     <div class="modal-content">

     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">Send Chat</h4>
     </div>

      <div class="modal-body col-md-12">


           <div class="form-group">
             <label class="col-sm-2 control-label"> Msg </label>

             <div class="col-sm-10">
               <textarea class="form-control" placeholder="Type Your Msg Here....." ng-model="chatmsg" name="chatmsg" cols="5" rows="5">
               </textarea>
             </div>
           </div>

         </div>
         <div class="box-footer">
           <button type="button" class="btn btn-info pull-Right" ng-click="SendMsg()">Send</button>
         </div>

     </div>

      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
