<style type="text/css">
/*chat box */
.msger {
  display: initial;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  height: 500px;
    overflow-y: scroll;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}

.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
  background-color: white;
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #000;
  border-bottom-right-radius: 0;
  background-color: white;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}
.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-input {
  flex: 1;
  background: #ddd;
}
.msger-send-btn {
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: rgb(0, 180, 50);
}

.msger-chat {
  background-color: #fcfcfe;
  background-image: url('https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Background.max-1000x1000.jpg');
}

.modal-content {
    background-color: #ffffff !important;
    color: #000 !important;
    padding: 0px 0px !important;
    height: 90vh;
    width: 94vw;
}

.modal-dialog {
    position: relative !important;
    width: auto !important;
    height : 90vh !important;
    margin: 3% 3% !important;
}

.videoBox img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.videoContainer{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.ifrmaeVideo{
            position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80vh;
}

</style>

<div class="content-wrapper">
	<section class="content-header">


   </section>
   <section class="content">



   		<div class="col-md-12">
         <h1> Chat List From - {{entity_name}} </h1>
   			<div class="col-md-12" style="text-align: center;">
   				<button class="btn btn-md btn-primary" data-toggle="modal" data-target="#myModal" ng-click="updateIframe()"><i class="fa fa-camera"></i> Make Video Call now</button>
   			</div>
   			<section class="msger">


                       <main class="msger-chat" id="msgScroll">

                         <div ng-repeat="chats in chatList" >

                         <div ng-if="chats.msg_from == login_to_id" class="msg left-msg">
                           <div class="msg-bubble">
                             <div class="msg-info">
                               <div class="msg-info-name">Students {{ entity_name == '' ? 'Students' : entity_name ; }}</div>
                               <div class="msg-info-time">{{chats.date_created}}</div>
                             </div>

                             <div class="msg-text">
                               {{chats.msg}}
                             </div>
                           </div>
                         </div>

                         <div ng-if="chats.msg_from == login_from_id" class="msg right-msg">
                           <div class="msg-bubble">
                             <div class="msg-info">
                               <div class="msg-info-name">Me</div>
                               <div class="msg-info-time">{{chats.date_created}}</div>
                             </div>

                             <div class="msg-text">
                               {{chats.msg}}
                             </div>
                           </div>
                         </div>

                       </div>

                       </main>

                       <form class="msger-inputarea">
                         <input type="text" class="msger-input" name="chat_msg" id="chat_msg"  ng-model="$parent.chat_msg" placeholder="Enter your message...">
                         <button class="msger-send-btn" ng-click="sendChat()" >Send</button>
                       </form>
            </section>
   		</div>
   </section>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="color:black" >&times;</button>
          <h4 class="modal-title">Video Calling</h4>
        </div>

        <div class="modal-body col-md-12">
          <!-- <p>Some text in the modal.</p>
          <div class="col-md-12 videoBox">
          	<img src="https://www.eduloans.org/blogs/wp-content/uploads/2021/08/overseas-education-loan.jpg" alt="Paris" style="width:20%;">
          </div>
          <div class="col-md-12"><br></div>
          <div class="col-md-12 videoBox">
          	<img src="https://www.eduloans.org/blogs/wp-content/uploads/2021/08/overseas-education-loan.jpg" alt="Paris" style="width:50%;">
          </div> -->
          <div class="col-md-12 videoBox videoContainer ">
          <iframe class="ifrmaeVideo" id="tokboxIframe" src="#" ></iframe>
        </div>

        </div>
        <!--<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>-->
      </div>

    </div>
  </div>
