<style>
    .submit_button, .common-submit_button{
        text-align: center;
    }
    .common-submit_button{
        margin-top: 20px;
    }
    .submit-button-input{
        height: 40px;
        width: 80px;
        font-weight: bold;
        font-size: 18px;
    }
    .next-link{
        text-align: right;
    }
    .leads_applied_products_course_id{
        display: none;
    }
    .get-offer{
        float: right!important;
        cursor: pointer;
    }
    .hiddenField{
        display: none;
    }
    .textclr{
        color: white;
    }
    #containDiv {
      height: 550px;
      width: 100%;
    }


    /* Center the loader */
    #loaderAjax {
      position: absolute;
      left: 50%;
      top: 30%;
      z-index: 10000;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #f9992f;
      border-bottom: 16px solid #f9992f;
      border-right: 16px solid #004b7a;
      border-left: 16px solid #004b7a;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    /* Add animation to "page content" */
    .animate-bottom {
      position: relative;
      -webkit-animation-name: animatebottom;
      -webkit-animation-duration: 1s;
      animation-name: animatebottom;
      animation-duration: 1s
    }

    @-webkit-keyframes animatebottom {
      from { bottom:-100px; opacity:0 }
      to { bottom:0px; opacity:1 }
    }

    @keyframes animatebottom {
      from{ bottom:-100px; opacity:0 }
      to{ bottom:0; opacity:1 }
    }

    #loaderAjax {
      display: none;
      text-align: center;
    }

</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Community List</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Community List </a></li>
            <li class="active">Community List</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <div id="loaderAjax"></div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">

                          <h3 class="box-title">{{title}}   </h3>
                    </div>
                    <div class="box-body">

                        <table ng-table="communityTableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="assign_table">

                                <td title="'Community Id'" filter="{ id : 'number'}" sortable="'id'"> <a target="_blank" href="/community/posts/list/{{value.id}}"> {{value.id}} <a/> </td>
                                <td title="'Community Name'" filter="{ community_name : 'text'}" sortable="'community_name'">{{value.community_name}}</td>
                                <td title="'Community Category'" filter="{ category_name : 'text'}" sortable="'category_name'">{{value.category_name}}</td>
                                <td title="'Community Student Count'" filter="{ student_count : 'number'}" sortable="'student_count'"> <a target="_blank" href="/community/student/list/{{value.id}}"> {{value.student_count}} </a> </td>
                                <td title="'Community Created By'" filter="{ partner_name : 'text'}" sortable="'partner_name'">  {{value.customer_name}} {{value.partner_name}} <a/> </td>
                                <td title="'Community Status'" filter="{ status : 'number'}" sortable="'status'">{{value.status == 1 ? 'Active' : 'Inactive'}}</td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
