<style>
/* Center the loader */
#loaderAjax {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 10000;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f9992f;
  border-bottom: 16px solid #f9992f;
  border-right: 16px solid #004b7a;
  border-left: 16px solid #004b7a;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#loaderAjax {
  display: none;
  text-align: center;
}

#containDiv {
  height: 800px;
  width: 100%;
}
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Business Stats Data</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Reports Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <div id="loaderAjax"></div>

        <div class="row" >
            <div class="col-xs-12" >
                <div class="box" style="overflow-x: scroll;" id="containDiv">
                    <div class="box-header" >


                        <div class="col-lg-12 form-group" >

                        <div class="col-md-2 form-group">
                        <label  class="control-label">Lead State</label>

                        <div  ng-dropdown-multiselect="" options="allStatus" selected-model="lead_state_id" extra-settings="leadStateSetting" ></div>

                          </div>

                          <div  class="col-md-2 form-group" >
                            <label class="control-label"> Agents List</label>

                      <div  ng-dropdown-multiselect="" options="agentslist" selected-model="lead_rm_id" extra-settings="rmSetting" ></div>

                          </div>
                          <div class="col-md-2">
                            <label class="control-label">Compare Date 1</label>
                            <input type="date" class="form-control txtBoxBS" id="date_one" ng-model="date_one">
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">Compare Date 2</label>
                            <input type="date" class="form-control txtBoxBS" id="date_two" ng-model="date_two">
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">Compare Date 3</label>
                            <input type="date" class="form-control txtBoxBS" id="date_three" ng-model="date_three">
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">Compare Date 4</label>
                            <input type="date" class="form-control txtBoxBS" id="date_four" ng-model="date_four">
                          </div>


                        </div>

                        <div class="col-lg-12 form-group" >

                        <div class="col-md-2 form-group">
                        <label  class="control-label">Calling Lead State</label>

                        <div  ng-dropdown-multiselect="" options="allStatusCalling" selected-model="calling_lead_state_id" extra-settings="callingleadStateSetting" ></div>

                          </div>

                          <div class="col-md-2 form-group">
                            <label class="control-label">Intake Year</label>
                            <select class="form-control" id="intake_year_business" ng-model="intake_year_business">
                              <option value="" > Select Intake Year </option>
                              <option value="2023" > 2023 </option>
                              <option value="2024" > 2024 </option>
                              <option value="2025" > 2025 </option>
                              <option value="2026" > 2026 </option>
                              <option value="2027" > 2027 </option>
                            </select>
                          </div>

                          <div class="col-md-2">
                            <label class="control-label">Compare Date 5</label>
                            <input type="date" class="form-control txtBoxBS" id="date_five" ng-model="date_five">
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">Compare Date 6</label>
                            <input type="date" class="form-control txtBoxBS" id="date_six" ng-model="date_six">
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">Compare Date 7</label>
                            <input type="date" class="form-control txtBoxBS" id="date_seven" ng-model="date_seven">
                          </div>
                          <div class="col-md-2">
                            <label class="control-label">Compare Date 8</label>
                            <input type="date" class="form-control txtBoxBS" id="date_eight" ng-model="date_eight">
                          </div>

                          <div class="col-md-2 pull-right">
                            <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="businessStatData()">SHOW</button>
                          </div>
                        </div>

                    </div>

                    <hr>

                    <div class="box-body" ng-repeat="(key, value) in businessStatDataList">

                      <div class="pull-center">
                        <label class="control-label"> RM Name : {{key}} </label> <br/>
                      </div>

                        <table ng-if="showTable" ng-table="tableParams" class="table table-bordered table-striped" show-filter="true" export-csv="csv">
                          <tr >
                              <th >Lead State</th>
                              <th > Type </th>
                              <th ng-repeat=" dates in dateRange" > {{dates}}</th>

                                </tr>
                            <tr ng-repeat="(lkey, lvalue) in value" >

                                <td > {{lkey | split : "-" : 0 }} </td>
                                <td > {{lkey | split : "-" : 1 }} </td>
                                <td ng-repeat=" cvalue in lvalue">
                                  {{cvalue}}
                                </td>

                                  </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
