<style type="text/css">
   /* The container */
   .containerCBx {
   display: block;
   position: relative;
   padding-left: 35px;
   margin-bottom: 12px;
   cursor: pointer;
   font-size: 22px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   margin-top: 10px;
   }
   /* Hide the browser's default checkbox */
   .containerCBx input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
   }
   /* Create a custom checkbox */
   .checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 25px;
   width: 25px;
   background-color: #eee;
   }
   /* On mouse-over, add a grey background color */
   .containerCBx:hover input ~ .checkmark {
   background-color: #ccc;
   }
   /* When the checkbox is checked, add a blue background */
   .containerCBx input:checked ~ .checkmark {
   background-color: #2196F3;
   }
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
   content: "";
   position: absolute;
   display: none;
   }
   /* Show the checkmark when checked */
   .containerCBx input:checked ~ .checkmark:after {
   display: block;
   }
   /* Style the checkmark/indicator */
   .containerCBx .checkmark:after {
   left: 9px;
   top: 5px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   }

   @media only screen and (max-width: 600px) {
   .modal-content
     {
      width: auto !important;
     }
   }

</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
      <h1>Filter Reports Data</h1>
      <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li class="active">Filter Reports Data</li>
      </ol>
   </section>
   <!-- Main content -->
   <section class="content">
      <div class="row">
         <div class="col-xs-12">
            <div class="nav-tabs-custom" style="cursor: move;">
               <!-- Tabs within a box -->
               <ul class="nav nav-tabs ui-sortable-handle">
                  <li class="active"><a href="#" data-toggle="tab" data-target="#tab1" aria-expanded="true" aria-controls="tab1" ><span class="badge bg-blue" style="FONT-SIZE: large;width: 100%;"><b>LEAD</b></span></a></li>
                  <li class=""><a href="#" data-toggle="tab" data-target="#tab2" aria-expanded="true" aria-controls="tab2" ><span class="badge bg-blue" style="FONT-SIZE: large;width: 100%;"><b>BANK</b></span></a></li>
                  <li class=""><a href="#" data-toggle="tab" data-target="#tab3" aria-expanded="true" aria-controls="tab3" ><span class="badge bg-blue" style="FONT-SIZE: large;width: 100%;"><b>CALLING</b></span></a></li>
                  <li class=""><a href="#" data-toggle="tab" data-target="#tab4" aria-expanded="true" aria-controls="tab4"><span class="badge bg-blue" style="FONT-SIZE: large;width: 100%;"><b>HEAR ABOUT US</b></span></a></li>
                  <!--<li class=""><a href="#" data-toggle="tab" data-target="#tab5" aria-expanded="true" aria-controls="tab5" ><span class="badge bg-blue" style="FONT-SIZE: large;width: 100%;"><b>ONE GO REPORT</b></span></a></li>
                  <li class=""><a href="#" data-toggle="tab" data-target="#tab6" aria-expanded="true" aria-controls="tab6" ><span class="badge bg-blue" style="FONT-SIZE: large;width: 100%;"><b>CALL CENTER SOFTWARE REPORT</b></span></a></li>-->
                  <li class=""><a href="#" data-toggle="tab" data-target="#tab7" aria-expanded="true" aria-controls="tab7"><span class="badge bg-blue" style="FONT-SIZE: large;width: 100%;"><b>FEEDBACK REPORT</b></span></a></li>
               </ul>
               <div class="tab-content no-padding">
                  <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                     <div class="box" style="overflow-x: scroll;" >
                        <div class="box-header"  >
                           <h3 class="box-title">LEAD VISE REPORT</h3>
                           <hr>
                           <div  id="add_country" class="col-lg-12 form-group" >
                              <div class="col-md-12">
                                 <div  class="col-md-4" >
                                    <label class="control-label">Employee List</label>
                                    <select class="form-control" id="lead_partner_id" name="lead_partner_id" ng-model="lead_partner_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in employeelist" >
                                       <option value="" >Select Employee</option>
                                    </select>
                                 </div>
                                 <div class="col-md-4">
                                    <br>
                                    <label class="containerCBx">TEAM
                                    <input type="checkbox" name="lead_team" id="lead_team" value="11" ng-model="lead_team" >
                                    <span class="checkmark"></span>
                                    </label>
                                 </div>
                                 <div class="col-md-4">
                                    <label class="control-label">Lead State</label>
                                    <!--select class="form-control" id="product_type" name="product_type" ng-model="product_type" ng-options="item.id as (item.display_name) for item in appliedproductslist.data" >
                                       <option value="" >Select Product Name</option>
                                       </select-->
                                    <div  ng-dropdown-multiselect="" options="allStatus" selected-model="lead_state_id" extra-settings="leadStateSetting" ></div>
                                 </div>
                              </div>
                              <div class="col-md-12">
                                 <div class="col-md-4">
                                    <label class="control-label">Start Date</label>
                                    <input type="date" class="form-control txtBoxBS" name="lead_start_date" id="lead_start_date" ng-model="lead_start_date">
                                 </div>
                                 <div class="col-md-4">
                                    <label class="control-label">End Date</label>
                                    <input type="date" class="form-control txtBoxBS" name="lead_end_date" id="lead_end_date" ng-model="lead_end_date">
                                 </div>
                                 <div class="col-md-4">
                                    <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="filterLeadReports()">SHOW</button>
                                 </div>
                              </div>
                           </div>
                           <br/><br/>
                           <h3 class="box-title">{{title}}   </h3>
                        </div>
                        <div class="box-body">
                           <a class="btn" title="Export Table" ng-click='leadlistcsv.generate()' ng-href="{{ leadlistcsv.link() }}" download="leadlistcsv.csv">
                           <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                           </a>
                           <table ng-table="leadAppFilterData" class="table table-bordered table-striped" show-filter="true" export-csv="leadlistcsv" separator="," export-csv-ignore="ignore">
                              <tr>
                                 <th>Lead State</th>
                                 <th>Lead Count</th>
                                 <th>Application Count</th>
                              </tr>
                              <tr ng-repeat="(key, value) in leadAppFilter">
                                 <!-- {{key}}
                                    <td title="'Lead State'" filter="{ key : 'text'}" sortable="'key'">{{key}}</td>
                                    <td title="'Lead Count'" filter="{ lead : 'text'}" sortable="'lead'"><a data-toggle="modal" data-target="#modal-lead" href="#" ng-click="leadFilterInfoData(key)" >{{value.lead ? value.lead : 0}}</a></td>
                                    <td title="'Application Count'" filter="{ application : 'text'}" sortable="'application'">{{value.application ? value.application : 0}}</td> -->
                                 <td >{{key}}</td>
                                 <td ><a data-toggle="modal" data-target="#modal-lead" href="#" ng-click="leadFilterInfoData(key)" >{{value.lead ? value.lead : 0}}</a></td>
                                 <td >{{value.application ? value.application : 0}}</td>
                              </tr>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab2">
                     <div class="box" style="overflow-x: scroll;">
                        <div class="box-header" >
                           <h3 class="box-title">BANK VISE REPORT</h3>
                           <hr>
                           <div  id="add_country" class="col-lg-12 form-group" >
                              <div class="col-md-12">
                                 <div  class="col-md-2 form-group" >
                                    <label class="control-label"> Employee List </label>
                                    <select class="form-control" id="application_partner_id" ng-model="application_partner_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in employeelist" >
                                       <option value="" >Employee agents</option>
                                    </select>
                                 </div>
                                 <div class="col-md-2">
                                    <br>
                                    <label class="containerCBx">TEAM
                                    <input type="checkbox" name="application_team" id="application_team" value="11" ng-model="application_team" >
                                    <span class="checkmark"></span>
                                    </label>
                                 </div>
                                 <div class="col-md-4">
                                    <label class="control-label">Lead State</label>
                                    <!--select class="form-control" id="product_type" name="product_type" ng-model="product_type" ng-options="item.id as (item.display_name) for item in appliedproductslist.data" >
                                       <option value="" >Select Product Name</option>
                                       </select-->
                                    <div  ng-dropdown-multiselect="" options="allStatus" selected-model="lead_state_bankwise_id" extra-settings="leadStateSetting" ></div>
                                 </div>
                                 <div class="col-md-4">
                                    <label class="control-label">Product List</label>
                                    <!--select class="form-control" id="product_type" name="product_type" ng-model="product_type" ng-options="item.id as (item.display_name) for item in appliedproductslist.data" >
                                       <option value="" >Select Product Name</option>
                                       </select-->
                                    <div  ng-dropdown-multiselect="" options="productlists.data" selected-model="product_id" extra-settings="productSetting" ></div>
                                 </div>
                              </div>
                              <div class="col-md-12">
                                 <div class="col-md-4">
                                    <label class="control-label">Start Date</label>
                                    <input type="date" class="form-control txtBoxBS" name="application_start_date" id="application_start_date" ng-model="application_start_date">
                                 </div>
                                 <div class="col-md-4">
                                    <label class="control-label">End Date</label>
                                    <input type="date" class="form-control txtBoxBS" name="application_end_date" id="application_end_date" ng-model="application_end_date">
                                 </div>
                                 <div class="col-md-4">
                                    <button type="button" class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="filterbankReports()">SHOW</button>
                                 </div>
                              </div>
                           </div>
                           <br/><br/>
                           <h3 class="box-title">{{title}}   </h3>
                        </div>
                        <div class="box-body">
                           <a class="btn" title="Export Table" ng-click='applicationlistcsv.generate()' ng-href="{{ applicationlistcsv.link() }}" download="applicationlist.csv">
                           <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                           </a>
                           <table ng-table="applicationTableParams" class="table table-bordered table-striped" show-filter="true" export-csv="applicationlistcsv" separator="," export-csv-ignore="ignore">
                              <!-- <tr>
                                 <th>Product Id </th>
                                 <th> Product Name </th>
                                 <th>Lead State </th>
                                 <th>Application Count </th>
                                 </tr> -->
                              <tr ng-repeat="valuee in $data">
                                 <td title="'Product ID'" filter="{ product_id : 'number'}" sortable="'product_id'">{{valuee.product_id ? valuee.product_id : 0}}</td>
                                 <td title="'Product Name'" filter="{ display_name : 'text'}" sortable="'display_name'">{{valuee.display_name ? valuee.display_name : 0}}</td>
                                 <td title="'Lead Status'" filter="{ current_application_state : 'text'}" sortable="'current_application_state'">{{valuee.current_application_state ? valuee.current_application_state : 0}}</td>
                                 <td title="'Application Count'" filter="{ counts : 'number'}" sortable="'counts'"><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="applicationleadFilterInfoData(valuee.current_application_state,valuee.product_id)" > {{valuee.counts ? valuee.counts : 0}} </a></td>
                                 <!-- <td title="'Time Spent'" filter="{ time_spent : 'number'}" sortable="'time_spent'">{{valuee.time_spent ? valuee.time_spent : 0}}</td> -->
                                 <!-- <td >{{appvalue.product_id}}</td>
                                    <td >{{appvalue.display_name ? appvalue.display_name : 0}}</td>
                                    <td >{{appvalue.current_application_state ? appvalue.current_application_state : 0}}</td>
                                    <td ><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="applicationleadFilterInfoData(appvalue.current_application_state,appvalue.product_id)" > {{appvalue.counts ? appvalue.counts : 0}} ({{ appvalue.time_spent }} Mintues)</a></td> -->
                              </tr>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab3">
                     <div class="box" style="overflow-x: scroll;">
                        <div class="box-header" >
                           <h3 class="box-title">CALLING DATA VISE REPORT</h3>
                           <hr>
                           <div  id="add_country" class="col-lg-12 form-group" >
                              <div class="col-md-12">
                                 <div  class="col-md-2 form-group" >
                                    <label class="control-label"> Employee List </label>
                                    <select class="form-control" id="application_partner_id" ng-model="application_partner_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in employeelist" >
                                       <option value="" >Select Employee</option>
                                    </select>
                                 </div>
                                 <div class="col-md-2">
                                    <br>
                                    <label class="containerCBx">TEAM
                                    <input type="checkbox" name="application_team" id="application_team" value="11" ng-model="application_team" >
                                    <span class="checkmark"></span>
                                    </label>
                                 </div>
                                 <div class="col-md-4">
                                    <label class="control-label">Lead State</label>
                                    <!--select class="form-control" id="product_type" name="product_type" ng-model="product_type" ng-options="item.id as (item.display_name) for item in appliedproductslist.data" >
                                       <option value="" >Select Product Name</option>
                                       </select-->
                                    <div  ng-dropdown-multiselect="" options="allStatusCalling" selected-model="lead_state_calling" extra-settings="leadStateSettingCalling" ></div>
                                 </div>

                              </div>
                              <div class="col-md-12">
                                 <div class="col-md-4">
                                    <label class="control-label">Start Date</label>
                                    <input type="date" class="form-control txtBoxBS" name="application_start_date" id="application_start_date" ng-model="application_start_date">
                                 </div>
                                 <div class="col-md-4">
                                    <label class="control-label">End Date</label>
                                    <input type="date" class="form-control txtBoxBS" name="application_end_date" id="application_end_date" ng-model="application_end_date">
                                 </div>
                                 <div class="col-md-4">
                                    <button type="button" class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="callingReports()">SHOW</button>
                                 </div>
                              </div>
                           </div>
                           <br/><br/>
                           <h3 class="box-title">{{title}}   </h3>
                        </div>
                        <div class="box-body">
                           <a class="btn" title="Export Table" ng-click='callingreportcsv.generate()' ng-href="{{ callingreportcsv.link() }}" download="callingreportcsv.csv">
                           <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                           </a>
                           <table ng-table="callingTableParams" class="table table-bordered table-striped" show-filter="true" export-csv="callingreportcsv" separator="," export-csv-ignore="ignore">
                              <!-- <tr>
                                 <th>Product Id </th>
                                 <th> Product Name </th>
                                 <th>Lead State </th>
                                 <th>Application Count </th>
                                 </tr> -->
                              <tr ng-repeat="valuee in $data">
                                 <!-- <td title="'Agent Email'" filter="{ email : 'text'}" sortable="'email'">{{valuee.email ? valuee.email : 0}}</td> -->
                                 <!--<td title="'Product Name'" filter="{ display_name : 'text'}" sortable="'display_name'">{{valuee.display_name ? valuee.display_name : 0}}</td> -->
                                 <td title="'Lead Status'" filter="{ lead_state : 'text'}" sortable="'lead_state'">{{valuee.lead_state ? valuee.lead_state : 0}}</td>
                                 <td title="'Application Count'" filter="{ counts : 'number'}" sortable="'counts'"><a data-toggle="modal" data-target="#modal-calling-lead" href="#" ng-click="applicationCallingFilterInfoData(valuee.lead_state,valuee.id)" > {{valuee.counts ? valuee.counts : 0}} </a></td>
                                  <td title="'Time Spent'" filter="{ time_spent : 'number'}" sortable="'time_spent'">{{valuee.time_spent ? valuee.time_spent : 0}}</td>
                                 <!-- <td >{{appvalue.product_id}}</td>
                                    <td >{{appvalue.display_name ? appvalue.display_name : 0}}</td>
                                    <td >{{appvalue.current_application_state ? appvalue.current_application_state : 0}}</td>
                                    <td ><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="applicationleadFilterInfoData(appvalue.current_application_state,appvalue.product_id)" > {{appvalue.counts ? appvalue.counts : 0}} ({{ appvalue.time_spent }} Mintues)</a></td> -->
                              </tr>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab4">
                     <div class="box" style="overflow-x: scroll;">
                        <div class="box-header" >
                           <h3 class="box-title">HEAR ABOUT US FILTER REPORT</h3>
                           <hr>
                           <div  id="add_country" class="col-lg-12 form-group" >
                              <div class="col-md-12">

                                <div class="col-md-3">
                                   <label class="control-label">Hear about Us</label>
                                   <select class="form-control" name="hear_About_Us" required id="hear_About_Us" ng-init="status='Please Select'" ng-model="$parent.hear_About_Us" ng-change="hearAboutUsSelect()">
                                       <option value="" >Please Select</option>
                                       <option ng-repeat="option in hearAboutUsOptions" value="{{option.id}}">{{option.status}}</option>
                                   </select>
                                </div>

                                <div class="col-md-3" id="counselorDropDown" style="display: none;">
                                   <label class="control-label">Entity List</label>
                                   <div  ng-dropdown-multiselect="" options="hearAboutUsListData" selected-model="entity_list_id" extra-settings="entityListSetting" ></div>
                                </div>

                                  <div  class="col-md-3" >
                                    <label class="control-label"> Agents List </label>
                                    <div  ng-dropdown-multiselect="" options="employeelist" selected-model="lead_rm_id" extra-settings="rmSetting" ></div>
                                 </div>

                                 <div class="col-md-3">
                                   <label class="control-label">Intake Year</label>
                                   <select class="form-control" name="intake_year_filter" id="intake_year_filter" ng-model="$parent.intake_year_filter">
                                       <option value="" >Please Select Year</option>
                                       <option value="2023">2023</option>
                                       <option value="2024"> 2024 </option>
                                       <option value="2025"> 2025 </option>
                                       <option value="2026"> 2026 </option>
                                       <option value="2027"> 2027 </option>
                                       <option value="ALL">ALL</option>
                                   </select>
                                 </div>

                              </div>
                              <div class="col-md-12">
                                <div class="col-md-3">
                                   <label class="control-label">Lead State</label>
                                   <div  ng-dropdown-multiselect="" options="allStatus" selected-model="lead_state_id" extra-settings="leadStateSetting" ></div>
                                </div>
                                <div class="col-md-3">
                                   <label class="control-label">Product List</label>
                                   <div  ng-dropdown-multiselect="" options="productlists.data" selected-model="product_id" extra-settings="productSetting" ></div>
                                </div>
                                 <div class="col-md-3">
                                    <label class="control-label">Start Date</label>
                                    <input type="date" class="form-control txtBoxBS" name="hearaboutus_start_date" id="hearaboutus_start_date" ng-model="$parent.hearaboutus_start_date">
                                 </div>
                                 <div class="col-md-3">
                                    <label class="control-label">End Date</label>
                                    <input type="date" class="form-control txtBoxBS" name="hearaboutus_end_date" id="hearaboutus_end_date" ng-model="$parent.hearaboutus_end_date">
                                 </div>
                               </div>
                               <div class="col-md-12">
                                 <div class="col-md-3">
                                    <button type="button" class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="hearAboutUsReports()">SHOW</button>
                                 </div>

                                 <div class="col-md-3">
                                    <button type="button" class="btn btn-wd btn-primary" style="margin-top: 25px;" data-toggle="modal" data-target="#modal-hearAboutUs-lead-all" ng-click="hearAboutUsReportsAllLeads()">SHOW ALL Leads</button>
                                 </div>
                              </div>
                           </div>
                           <br/><br/>
                           <h3 class="box-title">{{title}}   </h3>
                        </div>
                        <div class="box-body">
                           <a class="btn" title="Export Table" ng-click='hearAboutUscsv.generate()' ng-href="{{ hearAboutUscsv.link() }}" download="hearAboutUscsv.csv">
                           <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                           </a>
                           <table ng-table="tableParamsHearAboutUs" class="table table-bordered table-striped" show-filter="true" export-csv="hearAboutUscsv" separator="," export-csv-ignore="ignore">

                              <tr ng-repeat="info in $data">
                                <td title="'Rm email'" filter="{ rm_email : 'text'}" sortable="'rm_email'">{{info.rm_email ? info.rm_email : 0}}</td>
                                 <td title="'Counselor Name'" filter="{ name : 'text'}" sortable="'name'">{{info.name ? info.name : 0}}</td>
                                 <td title="'Current Lead Status'" filter="{current_lead_state:'text'}" sortable="'current_lead_state'" >{{info.current_lead_state ? info.current_lead_state : 0}}</td>
                                 <td title="'Bank Name'" filter="{ bank_name : 'text'}" sortable="'bank_name'">{{info.bank_name ? info.bank_name : 0}}</td>
                                 <td title="'Imperial Loan Required'" filter="{ imperial_loan_required : 'number'}" sortable="'imperial_loan_required'">{{info.imperial_loan_required ? info.imperial_loan_required : 0}}</td>
                                 <td title="'Imperial Enrolled'" filter="{ imperial_enrolled : 'text'}" sortable="'imperial_enrolled'">{{info.imperial_enrolled ? info.imperial_enrolled : 0}}</td>
                                 <td title="'Count'"><a data-toggle="modal" data-target="#modal-hearAboutUs-lead" href="#" ng-click="hearAboutUsFilterInfoData(info.id,info.rm_login_id,info.current_lead_state,info.product_id,info.imperial_loan_required,info.imperial_enrolled)" >{{info.count ? info.count : 0}}</a></td>
                              </tr>
                           </table>
                        </div>
                     </div>
                  </div>

                  <div role="tabpanel" class="tab-pane fade" id="tab5">
                     <div class="box" style="overflow-x: scroll;">
                        <div class="box-header" >
                           <h3 class="box-title">One Go Report Data</h3>
                           <hr>
                           <div  id="add_country" class="col-lg-12 form-group" >
                              <div class="col-md-12">

                                <div class="col-md-3">
                                   <label class="control-label">Hear about Us</label>
                                   <select class="form-control" name="hear_About_Us" required id="hear_About_Us" ng-init="status='Please Select'" ng-model="$parent.hear_About_Us" ng-change="hearAboutUsSelect()">
                                       <option value="" >Please Select</option>
                                       <option ng-repeat="option in hearAboutUsOptions" value="{{option.id}}">{{option.status}}</option>
                                   </select>
                                </div>

                                <div class="col-md-3" id="counselorDropDown" style="display: none;">
                                   <label class="control-label">Entity List</label>
                                   <div  ng-dropdown-multiselect="" options="hearAboutUsListData" selected-model="entity_list_id" extra-settings="entityListSetting" ></div>
                                </div>

                                  <div  class="col-md-3" >
                                    <label class="control-label"> Agents List </label>
                                    <div  ng-dropdown-multiselect="" options="agentslist" selected-model="lead_rm_id" extra-settings="rmSetting" ></div>
                                 </div>

                                 <div class="col-md-3">
                                   <label class="control-label">Intake Year</label>
                                   <select class="form-control" name="intake_year_filter" id="intake_year_filter" ng-model="$parent.intake_year_filter">
                                       <option value="" >Please Select Year</option>
                                       <option value="2023">2023</option>
                                       <option value="2024"> 2024 </option>
                                       <option value="2025"> 2025 </option>
                                       <option value="2026"> 2026 </option>
                                       <option value="2027"> 2027 </option>
                                       <option value="ALL">ALL</option>
                                   </select>
                                 </div>

                              </div>
                              <div class="col-md-12">
                                <div class="col-md-3">
                                   <label class="control-label">Lead State</label>
                                   <div  ng-dropdown-multiselect="" options="allStatus" selected-model="lead_state_id" extra-settings="leadStateSetting" ></div>
                                </div>
                                <div class="col-md-3">
                                   <label class="control-label">Product List</label>
                                   <div  ng-dropdown-multiselect="" options="productlists.data" selected-model="product_id" extra-settings="productSetting" ></div>
                                </div>
                                 <div class="col-md-3">
                                    <label class="control-label">Start Date</label>
                                    <input type="date" class="form-control txtBoxBS" name="onego_start_date" id="onego_start_date" ng-model="$parent.onego_start_date">
                                 </div>
                                 <div class="col-md-3">
                                    <label class="control-label">End Date</label>
                                    <input type="date" class="form-control txtBoxBS" name="onego_end_date" id="onego_end_date" ng-model="$parent.onego_end_date">
                                 </div>
                               </div>
                               <div class="col-md-12">
                                 <div class="col-md-3">
                                    <button type="button" class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="oneGoReports()">SHOW</button>
                                 </div>

                              </div>
                           </div>
                           <br/><br/>
                           <h3 class="box-title">{{title}}   </h3>
                        </div>
                        <div class="box-body">
                           <a class="btn" title="Export Table" ng-click='onegoreport.generate()' ng-href="{{ onegoreport.link() }}" download="onegoreport.csv">
                           <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                           </a>
                           <table ng-table="tableParamsOneGoReport" class="table table-bordered table-striped" show-filter="true" export-csv="onegoreport" separator="," export-csv-ignore="ignore">

                              <tr ng-repeat="info in $data">
                                <td title="'Rm email'" filter="{ rm_email : 'text'}" sortable="'rm_email'">{{info.rm_email ? info.rm_email : 0}}</td>
                                 <td title="'Counselor Name'" filter="{ name : 'text'}" sortable="'name'">{{info.name ? info.name : 0}}</td>
                                 <td title="'Current Lead Status'" filter="{current_lead_state:'text'}" sortable="'current_lead_state'" >{{info.current_lead_state ? info.current_lead_state : 0}}</td>
                                 <td title="'Bank Name'" filter="{ bank_name : 'text'}" sortable="'bank_name'">{{info.bank_name ? info.bank_name : 0}}</td>
                                 <td title="'Imperial Loan Required'" filter="{ imperial_loan_required : 'number'}" sortable="'imperial_loan_required'">{{info.imperial_loan_required ? info.imperial_loan_required : 0}}</td>
                                 <td title="'Imperial Enrolled'" filter="{ imperial_enrolled : 'text'}" sortable="'imperial_enrolled'">{{info.imperial_enrolled ? info.imperial_enrolled : 0}}</td>
                                 <td title="'Count'"><a data-toggle="modal" data-target="#modal-hearAboutUs-lead" href="#" ng-click="hearAboutUsFilterInfoData(info.id,info.rm_login_id,info.current_lead_state,info.product_id,info.imperial_loan_required,info.imperial_enrolled)" >{{info.count ? info.count : 0}}</a></td>
                              </tr>
                           </table>
                        </div>
                     </div>
                  </div>

                  <div role="tabpanel" class="tab-pane fade" id="tab6">
                     <div class="box" style="overflow-x: scroll;">
                        <div class="box-header" >
                           <h3 class="box-title">CALL CENTER SOFTWARE REPORT</h3>
                           <hr>
                           <div  id="add_country" class="col-lg-12 form-group" >
                              <div class="col-md-12">
                                 <div  class="col-md-2 form-group" >
                                    <label class="control-label"> Agents List </label>
                                    <select class="form-control" id="application_partner_id" ng-model="application_partner_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist" >
                                       <option value="" >Select Telecaller agents</option>
                                    </select>
                                 </div>
                                 <div class="col-md-2">
                                    <br>
                                    <label class="containerCBx">TEAM
                                    <input type="checkbox" name="application_team" id="application_team" value="11" ng-model="application_team" >
                                    <span class="checkmark"></span>
                                    </label>
                                 </div>

                              </div>
                              <div class="col-md-12">
                                 <div class="col-md-4">
                                    <label class="control-label">Start Date</label>
                                    <input type="date" class="form-control txtBoxBS" name="application_start_date" id="application_start_date" ng-model="application_start_date">
                                 </div>
                                 <div class="col-md-4">
                                    <label class="control-label">End Date</label>
                                    <input type="date" class="form-control txtBoxBS" name="application_end_date" id="application_end_date" ng-model="application_end_date">
                                 </div>
                                 <div class="col-md-4">
                                    <button type="button" class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="callcenterReports()">SHOW</button>
                                 </div>
                              </div>
                           </div>
                           <br/><br/>
                           <h3 class="box-title">{{title}}   </h3>
                        </div>
                        <div class="box-body">
                           <a class="btn" title="Export Table" ng-click='callcenterreportcsv.generate()' ng-href="{{ callcenterreportcsv.link() }}" download="callcenterreportcsv.csv">
                           <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                           </a>
                           <table ng-table="callcenterTableParams" class="table table-bordered table-striped" show-filter="true" export-csv="callcenterreportcsv" separator="," export-csv-ignore="ignore">
                              <!-- <tr>
                                 <th>Product Id </th>
                                 <th> Product Name </th>
                                 <th>Lead State </th>
                                 <th>Application Count </th>
                                 </tr> -->
                              <tr ng-repeat="valuee in $data">
                                 <!-- <td title="'Agent Email'" filter="{ email : 'text'}" sortable="'email'">{{valuee.email ? valuee.email : 0}}</td> -->
                                 <!--<td title="'Product Name'" filter="{ display_name : 'text'}" sortable="'display_name'">{{valuee.display_name ? valuee.display_name : 0}}</td> -->
                                 <td title="'Agent Email'" filter="{ agent_email : 'text'}" sortable="'agent_email'">{{valuee.agent_email ? valuee.agent_email : 0}}</td>
                                 <td title="'Call Count'" filter="{ call_count : 'number'}" sortable="'call_count'"><a data-toggle="modal" data-target="#modal-callcenter-number" href="#" ng-click="applicationCallcenterReportData()" > {{valuee.call_count ? valuee.call_count : 0}} </a></td>
                                  <td title="'Time Spent (Mintues)'" filter="{ total_call_time : 'number'}" sortable="'total_call_time'">{{valuee.total_call_time ? valuee.total_call_time : 0}}</td>
                                 <!-- <td >{{appvalue.product_id}}</td>
                                    <td >{{appvalue.display_name ? appvalue.display_name : 0}}</td>
                                    <td >{{appvalue.current_application_state ? appvalue.current_application_state : 0}}</td>
                                    <td ><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="applicationleadFilterInfoData(appvalue.current_application_state,appvalue.product_id)" > {{appvalue.counts ? appvalue.counts : 0}} ({{ appvalue.time_spent }} Mintues)</a></td> -->
                              </tr>
                           </table>
                        </div>
                     </div>
                  </div>

                  <diiv role="tabpanel" class="tab-pane fade" id="tab7">
                     <div class="box" style="overflow-x: scroll;">
                        <div class="box-header" >
                           <h3 class="box-title">FEEDBACK FILTER REPORT</h3>
                           <hr>
                           <div  id="add_country" class="col-lg-12 form-group" >
                              <div class="col-md-12">

                                <div  class="col-md-3" >
                                    <label class="control-label"> Agents List </label>
                                    <div  ng-dropdown-multiselect="" options="employeelist" selected-model="lead_rm_id" extra-settings="rmSetting" ></div>
                                 </div>

                                 <div class="col-md-3">
                                   <label class="control-label">Intake Year</label>
                                   <select class="form-control" name="intake_year_filter" id="intake_year_filter" ng-model="$parent.intake_year_filter">
                                       <option value="" >Please Select Year</option>
                                       <option value="2023">2023</option>
                                       <option value="2024"> 2024 </option>
                                       <option value="2025"> 2025 </option>
                                       <option value="2026"> 2026 </option>
                                       <option value="2027"> 2027 </option>
                                       <option value="ALL">ALL</option>
                                   </select>
                                 </div>

                                 <div class="col-md-3">
                                    <label class="control-label">Lead State</label>
                                    <div  ng-dropdown-multiselect="" options="allStatus" selected-model="lead_state_id" extra-settings="leadStateSetting" ></div>
                                 </div>

                              </div>
                              <div class="col-md-12">

                                <div class="col-md-3">
                                   <label class="control-label">Product List</label>
                                   <div  ng-dropdown-multiselect="" options="productlists.data" selected-model="product_id" extra-settings="productSetting" ></div>
                                </div>
                                 <div class="col-md-3">
                                    <label class="control-label">Start Date</label>
                                    <input type="date" class="form-control txtBoxBS" name="start_date" id="start_date" ng-model="$parent.start_date">
                                 </div>
                                 <div class="col-md-3">
                                    <label class="control-label">End Date</label>
                                    <input type="date" class="form-control txtBoxBS" name="end_date" id="end_date" ng-model="$parent.end_date">
                                 </div>
                               </div>
                               <div class="col-md-12">
                                 <div class="col-md-3">
                                    <button type="button" class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="feedbackReports()">SHOW</button>
                                 </div>

                                 <div class="col-md-3">
                                    <button type="button" class="btn btn-wd btn-primary" style="margin-top: 25px;" data-toggle="modal" data-target="#modal-feedback-lead-all" ng-click="feedbackAllLeads()">SHOW ALL Leads</button>
                                 </div>
                              </div>
                           </div>
                           <br/><br/>
                           <h3 class="box-title">{{title}}   </h3>
                        </div>
                        <div class="box-body">
                           <a class="btn" title="Export Table" ng-click='feedbackcsv.generate()' ng-href="{{ feedbackcsv.link() }}" download="feedbackcsv.csv">
                           <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                           </a>
                           <table ng-table="tableParamsFeedback" class="table table-bordered table-striped" show-filter="true" export-csv="feedbackcsv" separator="," export-csv-ignore="ignore">

                              <tr ng-repeat="info in $data">
                                <td title="'Rm email'" filter="{ rm_email : 'text'}" sortable="'rm_email'">{{info.rm_email ? info.rm_email : 0}}</td>
                                 <td title="'Counselor Name'" filter="{ name : 'text'}" sortable="'name'">{{info.name ? info.name : 0}}</td>
                                 <td title="'Current Lead Status'" filter="{current_lead_state:'text'}" sortable="'current_lead_state'" >{{info.current_lead_state ? info.current_lead_state : 0}}</td>
                                 <td title="'Bank Name'" filter="{ bank_name : 'text'}" sortable="'bank_name'">{{info.bank_name ? info.bank_name : 0}}</td>
                                 <td title="'Loan Required'" filter="{ imperial_loan_required : 'number'}" sortable="'imperial_loan_required'">{{info.imperial_loan_required ? info.imperial_loan_required : 0}}</td>
                                 <td title="'Imperial Enrolled'" filter="{ imperial_enrolled : 'text'}" sortable="'imperial_enrolled'">{{info.imperial_enrolled ? info.imperial_enrolled : 0}}</td>
                                 <td title="'Count'"><a data-toggle="modal" data-target="#modal-feedback-lead" href="#" ng-click="feedbackcsvFilterInfoData(info.id,info.rm_login_id,info.current_lead_state,info.product_id,info.imperial_loan_required,info.imperial_enrolled)" >{{info.count ? info.count : 0}}</a></td>
                              </tr>
                           </table>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>
   </section>
</div>
<div class="modal fade" id="modal-lead">
   <div class="modal-dialog">
      <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 900px;">
         <a class="btn" title="Export Table" ng-click='leadlistleadcsv.generate()' ng-href="{{ leadlistleadcsv.link() }}" download="leadlistleadcsv.csv">
         <i class="glyphicon glyphicon-new-window"></i> &#160;Export
         </a>
         <table ng-table="leadTableParams" class="table table-bordered" show-filter="true" export-csv="leadlistleadcsv" separator="," export-csv-ignore="ignore">
            <tr ng-repeat="valuee in $data" id="leadfilterdatainfo">
               <td title="'Lead-id'" filter="{ id : 'number'}" sortable="'id'"><a target="_blank" href="/student/{{valuee.id}}/product/0" >{{valuee.id}}</a></td>
               <td title="'Customer Name'" filter="{ customer_name : 'text'}" sortable="'customer_name'">{{valuee.customer_name ? valuee.customer_name : 0}}</td>
               <td title="'Customer Mobile'" filter="{ customer_mobile : 'text'}" sortable="'customer_mobile'">{{valuee.customer_mobile ? valuee.customer_mobile : 0}}</td>
               <td title="'Customer Email'" filter="{ customer_email : 'text'}" sortable="'customer_email'">{{valuee.customer_email ? valuee.customer_email : 0}}</td>
               <td title="'Customer City'" filter="{ customer_city_name : 'text'}" sortable="'customer_city_name'">{{valuee.customer_city_name ? valuee.customer_city_name : 0}}</td>
               <td title="'Parents Email'" filter="{ parent_email : 'text'}" sortable="'parent_email'">{{valuee.parent_email ? valuee.parent_email : 0}}</td>
               <td title="'Decision Maker Email'" filter="{ decision_maker_email : 'text'}" sortable="'decision_maker_email'">{{valuee.decision_maker_email ? valuee.decision_maker_email : 0}}</td>
               <td title="'Decision Maker Mobile'" filter="{ decision_maker_mobile : 'text'}" sortable="'decision_maker_mobile'">{{valuee.decision_maker_mobile ? valuee.decision_maker_mobile : 0}}</td>
               <td title="'Lead State'" filter="{ current_lead_state : 'text'}" sortable="'current_lead_state'">{{valuee.current_lead_state ? valuee.current_lead_state : 0}}</td>
               <td title="'Loan Amount'" filter="{ requested_loan_amount : 'number'}" sortable="'requested_loan_amount'">{{valuee.requested_loan_amount ? valuee.requested_loan_amount : 0}}</td>
               <td title="'Assign To'" filter="{ email : 'text'}" sortable="'email'">{{valuee.email ? valuee.email : 0}}</td>
            </tr>
         </table>
         <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-application-lead">
   <div class="modal-dialog">
      <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 900px;">
         <a class="btn" title="Export Table" ng-click='applistleadcsv.generate()' ng-href="{{ applistleadcsv.link() }}" download="applistleadcsv.csv">
         <i class="glyphicon glyphicon-new-window"></i> &#160;Export
         </a>
         <table ng-table="tableParamsApplication" class="table table-bordered" show-filter="true" export-csv="applistleadcsv" separator="," export-csv-ignore="ignore">
            <tr ng-repeat="valuee in $data" id="applicationleadfilterdatainfo">
               <td title="'Lead-id'" filter="{ id : 'number'}" sortable="'id'"><a target="_blank" href="/student/{{valuee.id}}/product/0" >{{valuee.id}}</a></td>
               <td title="'Customer Name'" filter="{ customer_name : 'text'}" sortable="'customer_name'">{{valuee.customer_name ? valuee.customer_name : 0}}</td>
               <td title="'Customer Mobile'" filter="{ customer_mobile : 'text'}" sortable="'customer_mobile'">{{valuee.customer_mobile ? valuee.customer_mobile : 0}}</td>
               <td title="'Customer Email'" filter="{ customer_email : 'text'}" sortable="'customer_email'">{{valuee.customer_email ? valuee.customer_email : 0}}</td>
               <td title="'Customer City'" filter="{ customer_city_name : 'text'}" sortable="'customer_city_name'">{{valuee.customer_city_name ? valuee.customer_city_name : 0}}</td>
               <td title="'Parents Email'" filter="{ parent_email : 'text'}" sortable="'parent_email'">{{valuee.parent_email ? valuee.parent_email : 0}}</td>
               <td title="'Decision Maker Email'" filter="{ decision_maker_email : 'text'}" sortable="'decision_maker_email'">{{valuee.decision_maker_email ? valuee.decision_maker_email : 0}}</td>
               <td title="'Decision Maker Mobile'" filter="{ decision_maker_mobile : 'text'}" sortable="'decision_maker_mobile'">{{valuee.decision_maker_mobile ? valuee.decision_maker_mobile : 0}}</td>
               <td title="'Lead State'" filter="{ current_lead_state : 'text'}" sortable="'current_lead_state'">{{valuee.current_lead_state ? valuee.current_lead_state : 0}}</td>
               <td title="'Loan Amount'" filter="{ requested_loan_amount : 'number'}" sortable="'requested_loan_amount'">{{valuee.requested_loan_amount ? valuee.requested_loan_amount : 0}}</td>
               <td title="'Assign To'" filter="{ email : 'text'}" sortable="'email'">{{valuee.email ? valuee.email : 0}}</td>
            </tr>
         </table>
         <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-calling-lead">
   <div class="modal-dialog">
      <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 900px;">
         <a class="btn" title="Export Table" ng-click='callingleadcsv.generate()' ng-href="{{ callingleadcsv.link() }}" download="callingleadcsv.csv">
         <i class="glyphicon glyphicon-new-window"></i> &#160;Export
         </a>
         <table ng-table="tableParamsCallingLead" class="table table-bordered" show-filter="true" export-csv="callingleadcsv" separator="," export-csv-ignore="ignore">
            <tr ng-repeat="valuee in $data" id="applicationcallingfilterdatainfo">
               <td title="'Lead-id'" filter="{ id : 'number'}" sortable="'id'">{{valuee.id}}</td>
               <td title="'Customer Name'" filter="{ name : 'text'}" sortable="'name'">{{valuee.name ? valuee.name : 0}}</td>
               <td title="'Customer Email'" filter="{ email : 'text'}" sortable="'email'">{{valuee.email ? valuee.email : 0}}</td>
               <td title="'Customer Mobile'" filter="{ mobile : 'text'}" sortable="'mobile'">{{valuee.mobile ? valuee.mobile : 0}}</td>
               <td title="'Lead State'" filter="{ lead_state : 'text'}" sortable="'lead_state'">{{valuee.lead_state ? valuee.lead_state : 0}}</td>
               <td title="'Source Name'" filter="{ display_name : 'text'}" sortable="'display_name'">{{valuee.display_name ? valuee.display_name : 0}}</td>
               <td title="'Assign To'" filter="{ agent_email : 'text'}" sortable="'agent_email'">{{valuee.agent_email ? valuee.agent_email : 0}}</td>
               <td title="'Comments'" ><a target="_blank" href="/comments/calling/{{valuee.id}}/0" >Comments</a></td>
            </tr>
         </table>
         <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-hearAboutUs-lead">
   <div class="modal-dialog">
      <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 900px;">
         <a class="btn" title="Export Table" ng-click='hearAboutUscsv.generate()' ng-href="{{ hearAboutUscsv.link() }}" download="hearAboutUscsv.csv">
         <i class="glyphicon glyphicon-new-window"></i> &#160;Export
         </a>
         <table ng-table="hearAboutUsTableParams" class="table table-bordered" show-filter="true" export-csv="hearAboutUscsv" separator="," export-csv-ignore="ignore">
            <tr ng-repeat="valueee in $data" id="hearAboutUsfilterdatainfo">
               <td title="'Lead-id'" filter="{ id : 'number'}" sortable="'id'"><a target="_blank" href="/student/{{valueee.id}}/product/0" >{{valueee.id}}</a></td>
               <td title="'Customer Name'" filter="{ customer_name : 'text'}" sortable="'customer_name'">{{valueee.customer_name ? valueee.customer_name : 0}}</td>
               <td title="'Customer Email'" filter="{ customer_email : 'text'}" sortable="'customer_email'">{{valueee.customer_email ? valueee.customer_email : 0}}</td>
               <td title="'Customer Mobile'" filter="{ customer_mobile : 'text'}" sortable="'customer_mobile'">{{valueee.customer_mobile ? valueee.customer_mobile : 0}}</td>
               <td title="'Customer City'" filter="{ customer_city_name : 'text'}" sortable="'customer_city_name'">{{valueee.customer_city_name ? valueee.customer_city_name : "NOT AVAILABLE"}}</td>
               <td title="'Lead State'" filter="{ current_lead_state : 'text'}" sortable="'current_lead_state'">{{valueee.current_lead_state ? valueee.current_lead_state : 0}}</td>
               <!-- <td title="'Source Name'" filter="{ display_name : 'text'}" sortable="'display_name'">{{valueee.display_name ? valueee.display_name : 0}}</td> -->
               <td title="'Assign To'" filter="{ agent_email : 'text'}" sortable="'agent_email'">{{valueee.agent_email ? valueee.agent_email : 0}}</td>
               <td title="'Requested Loan Amount'" filter="{ requested_amount : 'text'}" sortable="'requested_amount'">{{valueee.requested_loan_amount ? valueee.requested_loan_amount : 0}}</td>
               <td title="'Comments'" ><a target="_blank" href="/comments/lead/{{valueee.id}}/0/0" >Comments</a></td>
            </tr>
         </table>
         <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hearAboutUs-lead-all">
   <div class="modal-dialog">
      <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 900px;">
         <a class="btn" title="Export Table" ng-click='hearAboutUscsvall.generate()' ng-href="{{ hearAboutUscsvall.link() }}" download="hearAboutUscsvall.csv">
         <i class="glyphicon glyphicon-new-window"></i> &#160;Export
         </a>
         <table ng-table="hearAboutUsTableParamsall" class="table table-bordered" show-filter="true" export-csv="hearAboutUscsvall" separator="," export-csv-ignore="ignore">
            <tr ng-repeat="valueee in $data" id="hearAboutUsfilterdatainfoall">
               <td title="'Lead-id'" filter="{ id : 'number'}" sortable="'id'"><a target="_blank" href="/student/{{valueee.id}}/product/0" >{{valueee.id}}</a></td>
               <td title="'Customer Name'" filter="{ customer_name : 'text'}" sortable="'customer_name'">{{valueee.customer_name ? valueee.customer_name : 0}}</td>
               <td title="'Customer Email'" filter="{ customer_email : 'text'}" sortable="'customer_email'">{{valueee.customer_email ? valueee.customer_email : 0}}</td>
               <td title="'Customer Mobile'" filter="{ customer_mobile : 'text'}" sortable="'customer_mobile'">{{valueee.customer_mobile ? valueee.customer_mobile : 0}}</td>
               <td title="'Customer City'" filter="{ customer_city_name : 'text'}" sortable="'customer_city_name'">{{valueee.customer_city_name ? valueee.customer_city_name : "NOT AVAILABLE"}}</td>               <td title="'Lead State'" filter="{ current_lead_state : 'text'}" sortable="'current_lead_state'">{{valueee.current_lead_state ? valueee.current_lead_state : 0}}</td>
               <!-- <td title="'Source Name'" filter="{ display_name : 'text'}" sortable="'display_name'">{{valueee.display_name ? valueee.display_name : 0}}</td> -->
               <td title="'Assign To'" filter="{ agent_email : 'text'}" sortable="'agent_email'">{{valueee.agent_email ? valueee.agent_email : 0}}</td>
               <td title="'Requested Loan Amount'" filter="{ requested_amount : 'text'}" sortable="'requested_amount'">{{valueee.requested_loan_amount ? valueee.requested_loan_amount : 0}}</td>
               <td title="'Comments'" ><a target="_blank" href="/comments/lead/{{valueee.id}}/0/0" >Comments</a></td>
            </tr>
         </table>
         <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-feedback-lead-all">
   <div class="modal-dialog">
      <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 900px;">
         <a class="btn" title="Export Table" ng-click='feedbackcsvall.generate()' ng-href="{{ feedbackcsvall.link() }}" download="feedbackcsvall.csv">
         <i class="glyphicon glyphicon-new-window"></i> &#160;Export
         </a>
         <table ng-table="feedbackTableParamsall" class="table table-bordered" show-filter="true" export-csv="feedbackcsvall" separator="," export-csv-ignore="ignore">
            <tr ng-repeat="valueee in $data" id="feedbackfilterdatainfoall">
               <td title="'Lead-id'" filter="{ id : 'number'}" sortable="'id'"><a target="_blank" href="/student/{{valueee.id}}/product/0" >{{valueee.id}}</a></td>
               <td title="'Customer Name'" filter="{ customer_name : 'text'}" sortable="'customer_name'">{{valueee.customer_name ? valueee.customer_name : 0}}</td>
               <td title="'Customer Email'" filter="{ customer_email : 'text'}" sortable="'customer_email'">{{valueee.customer_email ? valueee.customer_email : 0}}</td>
               <td title="'Customer Mobile'" filter="{ customer_mobile : 'text'}" sortable="'customer_mobile'">{{valueee.customer_mobile ? valueee.customer_mobile : 0}}</td>
               <td title="'Customer City'" filter="{ customer_city_name : 'text'}" sortable="'customer_city_name'">{{valueee.customer_city_name ? valueee.customer_city_name : "NOT AVAILABLE"}}</td>               <td title="'Lead State'" filter="{ current_lead_state : 'text'}" sortable="'current_lead_state'">{{valueee.current_lead_state ? valueee.current_lead_state : 0}}</td>
               <!-- <td title="'Source Name'" filter="{ display_name : 'text'}" sortable="'display_name'">{{valueee.display_name ? valueee.display_name : 0}}</td> -->
               <td title="'Assign To'" filter="{ agent_email : 'text'}" sortable="'agent_email'">{{valueee.agent_email ? valueee.agent_email : 0}}</td>
               <td title="'Requested Loan Amount'" filter="{ requested_amount : 'text'}" sortable="'requested_amount'">{{valueee.requested_loan_amount ? valueee.requested_loan_amount : 0}}</td>
               <td title="'Comments'" ><a target="_blank" href="/comments/lead/{{valueee.id}}/0/0" >Comments</a></td>
            </tr>
         </table>
         <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-callcenter-number">
   <div class="modal-dialog">
      <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 900px;">
         <a class="btn" title="Export Table" ng-click='callcenternumber.generate()' ng-href="{{ callcenternumber.link() }}" download="callcenternumber.csv">
         <i class="glyphicon glyphicon-new-window"></i> &#160;Export
         </a>
         <table ng-table="tableParamscallcenternumber" class="table table-bordered" show-filter="true" export-csv="callcenternumber" separator="," export-csv-ignore="ignore">
            <tr ng-repeat="valuee in $data" id="applicationcallcenternumberinfo">
               <td title="'id'" filter="{ id : 'number'}" sortable="'id'">{{valuee.id}}</a></td>
               <td title="'Customer Mobile'" filter="{ mobile_number : 'text'}" sortable="'mobile'">{{valuee.mobile_number ? valuee.mobile_number : 0}}</td>
               <td title="'Call Duration'" filter="{ call_duration : 'text'}" sortable="'call_duration'">{{valuee.call_duration ? valuee.call_duration : 0}}</td>
               <td title="'Call Date Time'" filter="{ call_center_date_time : 'text'}" sortable="'call_center_date_time'">{{valuee.call_center_date_time ? valuee.call_center_date_time : 0}}</td>
               </tr>
         </table>
         <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
