<style type="text/css">
   /* The container */
   .containerCBx {
   display: block;
   position: relative;
   padding-left: 35px;
   margin-bottom: 12px;
   cursor: pointer;
   font-size: 22px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   margin-top: 10px;
   }
   /* Hide the browser's default checkbox */
   .containerCBx input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
   }
   /* Create a custom checkbox */
   .checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 25px;
   width: 25px;
   background-color: #eee;
   }
   /* On mouse-over, add a grey background color */
   .containerCBx:hover input ~ .checkmark {
   background-color: #ccc;
   }
   /* When the checkbox is checked, add a blue background */
   .containerCBx input:checked ~ .checkmark {
   background-color: #2196F3;
   }
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
   content: "";
   position: absolute;
   display: none;
   }
   /* Show the checkmark when checked */
   .containerCBx input:checked ~ .checkmark:after {
   display: block;
   }
   /* Style the checkmark/indicator */
   .containerCBx .checkmark:after {
   left: 9px;
   top: 5px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   }

   @media only screen and (max-width: 650px) {
   .modal-content
     {
      width: auto !important;
     }
   }

   .multiselect-parent .dropdown-toggle {
     width: 250px;
   }

   .multiselect-parent .dropdown-menu {
     width: 250px;
   }

</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
      <h1>Filter Reports Data</h1>
      <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li class="active">Filter Reports Data</li>
      </ol>
   </section>
   <!-- Main content -->
   <section class="content">
      <div class="row">
         <div class="col-xs-12">
            <div class="nav-tabs-custom" style="cursor: move;">
               <!-- Tabs within a box -->
               <ul class="nav nav-tabs ui-sortable-handle">
                  <!--<li class="active"><a href="#" data-toggle="tab" data-target="#tab1" aria-expanded="true" aria-controls="tab1" ><span class="badge bg-blue" style="FONT-SIZE: large;width: 100%;"><b>LEAD SOURCE FILTER</b></span></a></li>
                  <li class=""><a href="#" data-toggle="tab" data-target="#tab2" aria-expanded="true" aria-controls="tab2" ><span class="badge bg-blue" style="FONT-SIZE: large;width: 100%;"><b>COUNSELLOR FILTER</b></span></a></li>-->
                  <li class="active"><a href="#" data-toggle="tab" data-target="#tab3" aria-expanded="true" aria-controls="tab3" ><span class="badge bg-blue" style="FONT-SIZE: large;width: 100%;"><b>DAILY FILTER</b></span></a></li>

               </ul>
               <div class="tab-content no-padding">
                  <div role="tabpanel" class="tab-pane fade" id="tab1">
                     <div class="box" style="overflow-x: scroll;" >
                        <div class="box-header"  >
                           <h3 class="box-title">Lead Source REPORT</h3>
                           <hr>
                           <div  id="source_lead_log" class="col-lg-12 form-group" >
                              <div class="col-md-12">
                                 <div  class="col-md-3" >
                                    <label class="control-label">Eduloans RM'S List</label>
                                    <select class="form-control" id="lead_partner_id" name="lead_partner_id" ng-model="$parent.lead_partner_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist" >
                                       <option value="" >Select Telecaller agents</option>
                                    </select>
                                 </div>

                                 <!-- <div class="col-md-3">
                                    <label class="control-label">Lead State</label>
                                    <div  ng-dropdown-multiselect="" options="allStatus" selected-model="lead_state_id" extra-settings="leadStateSetting" ></div>
                                 </div> -->

                                 <div class="col-md-3">
                                    <label class="control-label"> Date </label>
                                    <input type="date" class="form-control txtBoxBS" name="lead_start_date" id="lead_start_date" ng-model="$parent.lead_start_date">
                                 </div>

                                 <div class="col-md-3">
                                    <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="leadLogsSourceReport()">SHOW</button>
                                 </div>

                              </div>

                           </div>
                           <br/><br/>
                           <h3 class="box-title">{{title}}   </h3>
                        </div>
                        <div class="box-body">

                           <table ng-table="leadAppFilterData" class="table table-bordered table-striped" show-filter="true" >
                              <tr>
                                 <th></th>
                          <th colspan="4"> <span class="badge bg-black" style="FONT-SIZE: large;width: 100%;"> Year 2022 </span> </th>
                          <th colspan="4"> <span class="badge bg-black" style="FONT-SIZE: large;width: 100%;"> Year 2021 </span> </th>
                              </tr>
                              <tr>
                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Lead Source </span> </th>

                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Day </span> </th>
                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Week </span> </th>
                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Month </span> </th>
                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Year </span> </th>

                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Day </span> </th>
                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Week </span> </th>
                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Month </span> </th>
                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Year </span> </th>

                              </tr>
                              <tr ng-repeat="(key, value) in leadLogsData">

                                 <td >{{key}}</td>

                                 <td > <a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadLogsSourceData(key,'LEAD_COUNT_G_DATE')" > {{ value.LEAD_COUNT_G_DATE ? value.LEAD_COUNT_G_DATE : 0 }} </a></td>
                                 <td > <a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadLogsSourceData(key,'LEAD_COUNT_G_WEEK')" > {{ value.LEAD_COUNT_G_WEEK ? value.LEAD_COUNT_G_WEEK : 0 }} </a></td>
                                 <td > <a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadLogsSourceData(key,'LEAD_COUNT_G_MONTH')" > {{ value.LEAD_COUNT_G_MONTH ? value.LEAD_COUNT_G_MONTH : 0 }} </a></td>
                                 <td > <a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadLogsSourceData(key,'LEAD_COUNT_G_YEAR')" > {{ value.LEAD_COUNT_G_YEAR ? value.LEAD_COUNT_G_YEAR : 0 }} </a></td>

                                 <td > <a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadLogsSourceData(key,'LEAD_COUNT_L_DATE')" > {{value.LEAD_COUNT_L_DATE ? value.LEAD_COUNT_L_DATE : 0}} </a></td>
                                 <td > <a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadLogsSourceData(key,'LEAD_COUNT_L_WEEK')" > {{value.LEAD_COUNT_L_WEEK ? value.LEAD_COUNT_L_WEEK : 0}} </a></td>
                                 <td > <a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadLogsSourceData(key,'LEAD_COUNT_L_MONTH')" > {{value.LEAD_COUNT_L_MONTH ? value.LEAD_COUNT_L_MONTH : 0}} </a></td>
                                 <td ><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadLogsSourceData(key,'LEAD_COUNT_L_YEAR')" > {{value.LEAD_COUNT_L_YEAR ? value.LEAD_COUNT_L_YEAR : 0}} </a></td>


                              </tr>
                           </table>
                        </div>
                     </div>
                  </div>

                  <div role="tabpanel" class="tab-pane fade" id="tab2">
                     <div class="box" style="overflow-x: scroll;" >
                        <div class="box-header">
                           <h3 class="box-title">Eduloans Counsellor REPORT</h3>
                           <hr>
                           <div  id="counsellor_lead_log" class="col-lg-12 form-group" >
                              <div class="col-md-12">
                                 <!--<div  class="col-md-3" >
                                    <label class="control-label">Eduloans RM'S List</label>
                                    <select class="form-control" id="lead_partner_id" name="lead_partner_id" ng-model="$parent.lead_partner_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist" >
                                       <option value="" >Select Telecaller agents</option>
                                    </select>
                                 </div>

                                  <div class="col-md-3">
                                    <label class="control-label">Lead State</label>
                                    <div  ng-dropdown-multiselect="" options="allStatus" selected-model="lead_state_id" extra-settings="leadStateSetting" ></div>
                                 </div> -->

                                 <div class="col-md-3">
                                    <label class="control-label"> Date </label>
                                    <input type="date" class="form-control txtBoxBS" name="lead_start_date" id="lead_start_date" ng-model="$parent.lead_start_date">
                                 </div>

                                 <div class="col-md-3">
                                    <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="leadLogsRmsReport()">SHOW</button>
                                 </div>

                              </div>
                            </div>
                            <br/><br/>
                            <h3 class="box-title">{{title}}   </h3>
                         </div>
                        <div class="box-body">
                           <a class="btn" title="Export Table" ng-click='leadlistcsv.generate()' ng-href="{{ leadlistcsv.link() }}" download="leadlistcsv.csv">
                           <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                           </a>
                           <table ng-table="leadAppFilterData" class="table table-bordered table-striped" show-filter="true" >
                              <tr>
                                 <th></th>
                          <th colspan="4"> <span class="badge bg-black" style="FONT-SIZE: large;width: 100%;"> Year 2022 </span> </th>
                          <th colspan="4"> <span class="badge bg-black" style="FONT-SIZE: large;width: 100%;"> Year 2021 </span> </th>
                              </tr>
                              <tr>
                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Counsellor Name </span> </th>

                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Day </span> </th>
                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Week </span> </th>
                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Month </span> </th>
                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Year </span> </th>

                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Day </span> </th>
                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Week </span> </th>
                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Month </span> </th>
                                 <th> <span class="badge bg-green" style="FONT-SIZE: large;width: 100%;"> Year </span> </th>

                              </tr>
                              <tr ng-repeat="(key, value) in leadLogsData">

                                 <td >{{key}}</td>

                                 <td > <a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadLogsRmsData(key,'LEAD_COUNT_G_DATE')" > {{ value.LEAD_COUNT_G_DATE ? value.LEAD_COUNT_G_DATE : 0 }} </a></td>
                                 <td > <a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadLogsRmsData(key,'LEAD_COUNT_G_WEEK')" > {{ value.LEAD_COUNT_G_WEEK ? value.LEAD_COUNT_G_WEEK : 0 }} </a></td>
                                 <td > <a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadLogsRmsData(key,'LEAD_COUNT_G_MONTH')" > {{ value.LEAD_COUNT_G_MONTH ? value.LEAD_COUNT_G_MONTH : 0 }} </a></td>
                                 <td > <a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadLogsRmsData(key,'LEAD_COUNT_G_YEAR')" > {{ value.LEAD_COUNT_G_YEAR ? value.LEAD_COUNT_G_YEAR : 0 }} </a></td>

                                 <td > <a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadLogsRmsData(key,'LEAD_COUNT_L_DATE')" > {{value.LEAD_COUNT_L_DATE ? value.LEAD_COUNT_L_DATE : 0}} </a></td>
                                 <td > <a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadLogsRmsData(key,'LEAD_COUNT_L_WEEK')" > {{value.LEAD_COUNT_L_WEEK ? value.LEAD_COUNT_L_WEEK : 0}} </a></td>
                                 <td > <a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadLogsRmsData(key,'LEAD_COUNT_L_MONTH')" > {{value.LEAD_COUNT_L_MONTH ? value.LEAD_COUNT_L_MONTH : 0}} </a></td>
                                 <td ><a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadLogsRmsData(key,'LEAD_COUNT_L_YEAR')" > {{value.LEAD_COUNT_L_YEAR ? value.LEAD_COUNT_L_YEAR : 0}} </a></td>


                              </tr>
                           </table>
                        </div>
                     </div>
                  </div>


                  <div role="tabpanel" class="tab-pane fade in active" id="tab3">
                     <div class="box" style="overflow-x: scroll;" >
                        <div class="box-header"  >
                           <h3 class="box-title">Daily Lead REPORT</h3>
                           <hr>
                           <div  id="add_country" class="col-lg-12 form-group" >
                              <div class="col-md-12">
                                 <div  class="col-md-3" >
                                    <label class="control-label">Eduloans RM'S List</label>
                                    <select class="form-control" id="lead_partner_id" name="lead_partner_id" ng-model="$parent.lead_partner_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist" >
                                       <option value="" >Select Telecaller agents</option>
                                    </select>
                                 </div>

                                 <!-- <div class="col-md-3">
                                    <label class="control-label">Lead State</label>
                                    <div  ng-dropdown-multiselect="" options="allStatus" selected-model="lead_state_id" extra-settings="leadStateSetting" ></div>
                                 </div> -->

                                 <div class="col-md-3">
                                    <label class="control-label"> Start Date </label>
                                    <input type="date" class="form-control txtBoxBS" name="lead_start_date" id="lead_start_date" ng-model="$parent.lead_start_date">
                                 </div>

                                 <div class="col-md-3">
                                    <label class="control-label"> End Date </label>
                                    <input type="date" class="form-control txtBoxBS" name="lead_end_date" id="lead_end_date" ng-model="$parent.lead_end_date">
                                 </div>

                                 <div class="col-md-3">
                                    <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="dailyLeadLogs()">SHOW</button>
                                 </div>

                              </div>
                           </div>
                           <br/><br/>
                           <h3 class="box-title">{{title}}   </h3>
                        </div>
                        <div class="box-body">
                           <a class="btn" title="Export Table" ng-click='leadlistcsv.generate()' ng-href="{{ leadlistcsv.link() }}" download="leadlistcsv.csv">
                           <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                           </a>
                           <table ng-table="dailyLeadLogsData" class="table table-bordered table-striped" show-filter="true" export-csv="leadlistcsv" separator="," export-csv-ignore="ignore">
                             <tr ng-repeat="valuee in $data" id="dailyLeadLogs">
                             <td title="'Lead-id'" filter="{ id : 'number'}" sortable="'id'"><a target="_blank" href="/student/{{valuee.id}}/product/0" >{{valuee.id}}</a></td>
                             <td title="'Source Name'" filter="{ source_name : 'text'}" sortable="'source_name'">{{valuee.source_name ? valuee.source_name : 0}}</td>
                             <td title="'Customer Name'" filter="{ customer_name : 'text'}" sortable="'customer_name'">{{valuee.customer_name ? valuee.customer_name : 0}}</td>
                             <td title="'Customer Mobile'" filter="{ customer_mobile : 'text'}" sortable="'customer_mobile'">{{valuee.customer_mobile ? valuee.customer_mobile : 0}}</td>
                             <td title="'Customer Email'" filter="{ customer_email : 'text'}" sortable="'customer_email'">{{valuee.customer_email ? valuee.customer_email : 0}}</td>
                             <td title="'Lead State'" filter="{ current_lead_state : 'text'}" sortable="'current_lead_state'">{{valuee.current_lead_state ? valuee.current_lead_state : 0}}</td>
                             <td title="'Assign To'" filter="{ agent_email : 'text'}" sortable="'agent_email'">{{valuee.agent_email ? valuee.agent_email : 0}}</td>
                             <td title="'Comments'" filter="{ comments : 'text'}" sortable="'comments'">{{valuee.comments ? valuee.comments : 0}}</td>
                           </tr>
                           </table>
                        </div>
                     </div>
                  </div>
                </div>

              </div>
           </div>
        </div>

  </section>
</div>

<div class="modal fade" id="modal-application-lead">
   <div class="modal-dialog">
      <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 900px;">
         <a class="btn" title="Export Table" ng-click='applistleadcsv.generate()' ng-href="{{ applistleadcsv.link() }}" download="applistleadcsv.csv">
         <i class="glyphicon glyphicon-new-window"></i> &#160;Export
         </a>
         <table ng-table="tableParamsLeads" class="table table-bordered" show-filter="true" export-csv="applistleadcsv" separator="," export-csv-ignore="ignore">
            <tr ng-repeat="valuee in $data" id="applicationleadfilterdatainfo">
               <td title="'Lead-id'" filter="{ id : 'number'}" sortable="'id'"><a target="_blank" href="/student/{{valuee.id}}/product/0" >{{valuee.id}}</a></td>
               <td title="'Customer Name'" filter="{ customer_name : 'text'}" sortable="'customer_name'">{{valuee.customer_name ? valuee.customer_name : 0}}</td>
               <td title="'Customer Mobile'" filter="{ customer_mobile : 'text'}" sortable="'customer_mobile'">{{valuee.customer_mobile ? valuee.customer_mobile : 0}}</td>
               <td title="'Customer Email'" filter="{ customer_email : 'text'}" sortable="'customer_email'">{{valuee.customer_email ? valuee.customer_email : 0}}</td>
               <td title="'Parents Email'" filter="{ parent_email : 'text'}" sortable="'parent_email'">{{valuee.parent_email ? valuee.parent_email : 0}}</td>
               <td title="'Decision Maker Email'" filter="{ decision_maker_email : 'text'}" sortable="'decision_maker_email'">{{valuee.decision_maker_email ? valuee.decision_maker_email : 0}}</td>
               <td title="'Decision Maker Mobile'" filter="{ decision_maker_mobile : 'text'}" sortable="'decision_maker_mobile'">{{valuee.decision_maker_mobile ? valuee.decision_maker_mobile : 0}}</td>
               <td title="'Lead State'" filter="{ current_lead_state : 'text'}" sortable="'current_lead_state'">{{valuee.current_lead_state ? valuee.current_lead_state : 0}}</td>
               <td title="'Loan Amount'" filter="{ requested_loan_amount : 'number'}" sortable="'requested_loan_amount'">{{valuee.requested_loan_amount ? valuee.requested_loan_amount : 0}}</td>
               <td title="'Intake'" filter="{ intake : 'number'}" sortable="'intake'">{{valuee.intake ? valuee.intake : 0}}</td>
               <td title="'Assign To'" filter="{ agent_email : 'text'}" sortable="'agent_email'">{{valuee.agent_email ? valuee.agent_email : 0}}</td>
            </tr>
         </table>
         <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
