<div class="content-page">
    <div class="content">
        <div class="row">
            <div class="col-lg-12 portlets">
                <div class="widget">
                    <div class="widget-header">
                        <h2><strong>Short Report</strong> List</h2>
                        <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i>
                    </div>
                    <div class="widget-content">
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <div id="sales-report" class="collapse in hidden-xs">
                            <div class="table-responsive">
                                <!--table id="datatables-1" class="table table-striped table-bordered" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th width="70">No</th>
                                            <th width="120">Student Name</th>
                                            <th width="120">Follow up Date</th>
                                            <th width="290">No. Of Days Past Follow Up Date</th>
                                            <th>Financial institution</th>
                                            <th>Application Type</th>
                                            <th>Application Stage</th>
                                            <th>Registration Date</th>
                                            <th width="88">Mobile No</th>
                                            <th width="121">Email id</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key, lead) in leadList">
                                            <td>{{key}}</td>
                                            <td><a href="" target="_blank"></a>{{lead.first_name}}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table-->
                              <table ng-table="tableParams" class="table" show-filter="true">
                                  <tr ng-repeat="value in $data">
                                      <td title="'No'" filter="{ no: 'number'}" sortable="'no'">{{value.no}}</td>
                                      <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">{{value.name}}</td>
                                  </tr>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/text/javascript">
    $("#datatables-1").dataTable({
        "pageLength": 10
    });
</script>
