<style>
/* Center the loader */
#loaderAjax {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 10000;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f9992f;
  border-bottom: 16px solid #f9992f;
  border-right: 16px solid #004b7a;
  border-left: 16px solid #004b7a;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#loaderAjax {
  display: none;
  text-align: center;
}
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Reports Data</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Reports Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <div id="loaderAjax"></div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header" >


                        <div  id="login_stat" class="col-lg-12 form-group" >

                          <div  class="col-md-3 form-group" >
                            <label class="control-label">Calling Agents List</label>
                            <select class="form-control" id="partner_id" ng-model="partner_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist" >
                        <option value="" >Select Telecaller agents</option>
                      </select>

                          </div>
                          <div class="col-md-3">
                            <label class="control-label">Start Date</label>
                            <input type="date" class="form-control txtBoxBS" id="start_date" ng-model="start_date">
                          </div>
                          <div class="col-md-3">
                            <label class="control-label">End Date</label>
                            <input type="date" class="form-control txtBoxBS" id="end_date" ng-model="end_date">
                          </div>

                          <div class="col-md-3">
                            <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="loginStatData()">SHOW</button>
                          </div>
                        </div>
                        <br/><br/>
                          <h3 class="box-title">{{title}}   </h3>


                    </div>



                    <div class="box-body" ng-repeat="(key, value) in loginStatDataList">

                      <div class="pull-center">
                        <label class="control-label"> Date : {{key}} </label> <br/>
                        <label class="control-label"> Total Day Working : {{value.total_time}} Minutes </label> <br/>
                      </div>

                        <table ng-if="showTable" ng-table="tableParams" class="table table-bordered table-striped" show-filter="true" export-csv="csv">
                          <tr >
                              <th >Login Time</th>
                              <th >Logout Time</th>
                              <th >Time Spent</th>

                                </tr>
                            <tr ng-repeat="valuetime in value" >

                                <td >{{valuetime.login_time}}</td>
                                <td >{{valuetime.logout_time}}</td>
                                <td >{{valuetime.time_spent}}</td>

                                  </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
