<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Reports</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">over all report</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>

                    </div>
                    <div class="box-body" style="overflow: scroll;">
                      <span > Total No - <b>{{ tableParams.total() }}</b></span>
                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="assign_table">
                                <td title="'Source Id'" filter="{ source_id : 'number'}" sortable="'source_id'"><a href="/assign/mycalldata/{{value.source_id}}/{{value.lead_state}}" >{{value.source_id}}</a></td>
                                <td title="'Partner Id'" filter="{ id : 'number'}" sortable="'id'">{{value.id}}</td>
                                <td title="'Partner Name'" ng-if="!value.isEditable" filter="{ assigned_name: 'text'}" sortable="'assigned_name'" >{{value.assigned_name}}</td>
                                <td title="'Partner Email'" ng-if="!value.isEditable" filter="{ email: 'text'}" sortable="'email'" >{{value.email}}</td>
                                <td title="'Source Name'" ng-if="!value.isEditable" filter="{ name: 'text'}" sortable="'name'" >{{value.name}}</td>
                                <td title="'Lead State'" ng-if="!value.isEditable" filter="{ lead_state: 'text'}" sortable="'lead_state'" >{{value.lead_state}}</td>
                                <td title="'Count'" ng-if="!value.isEditable" filter="{ count: 'text'}" sortable="'count'" >{{value.count}}</td>
                                  </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
