<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Reports Data</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Reports Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header" >


                        <div  id="add_country" class="row form-group" >

                          <div  class="col-md-3 form-group" >
                            <label class="control-label">Calling Agents List</label>
                            <select class="form-control" id="partner_id" ng-model="partner_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist" >
                        <option value="" >Select Telecaller agents</option>
                      </select>
                          </div>
                          <div class="col-md-3">
                            <label class="control-label">Start Date</label>
                            <input type="date" class="form-control txtBoxBS" id="start_date" ng-model="start_date">
                          </div>
                          <div class="col-md-3">
                            <label class="control-label">End Date</label>
                            <input type="date" class="form-control txtBoxBS" id="end_date" ng-model="end_date">
                          </div>

                          <div class="col-md-3">
                            <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="reportsData()">SHOW</button>
                          </div>
                        </div>
                        <br/><br/>
                          <h3 class="box-title">{{title}}   </h3>
                    </div>
                    <div class="box-body">
                        <table ng-if="showTable" ng-table="tableParams" class="table table-bordered table-striped" show-filter="true" export-csv="csv">
                          <tr >
                              <th >ID</th>
                              <th >Partner Email</th>
                              <th >Partner Mobile</th>
                              <th >Lead State</th>
                              <th >Count</th>
                                </tr>
                            <tr ng-repeat="value in reportsDataList" id="reports_table">
                                <td >{{value.id}}</td>
                                <td >{{value.email}}</td>
                                <td >{{value.mobile_number}}</td>
                                <td >{{value.lead_state}}</td>
                                <td >{{value.count}}</td>
                                  </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
