<style>
/* Center the loader */
#loaderAjax {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 10000;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f9992f;
  border-bottom: 16px solid #f9992f;
  border-right: 16px solid #004b7a;
  border-left: 16px solid #004b7a;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#loaderAjax {
  display: none;
  text-align: center;
}
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Reports Data</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Assign Reports Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <div id="loaderAjax"></div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header" >


                        <div class="col-lg-12 form-group" >

                        <div class="col-md-3 form-group">
                        <label  class="control-label">Source Name</label>

                        <div  ng-dropdown-multiselect="" options="sourceNameValue" selected-model="source_name_value" extra-settings="sourceNameSetting" >
                        </div>

                        </div>

                          <div class="col-md-3">
                            <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="sourceReport()">SHOW</button>
                          </div>
                        </div>
                    </div>

                    <div class="box-body" >

                      <div class="pull-center">
                        <label class="control-label"> Report Info Table</label> <br/>
                      </div>

                        <table ng-table="sourceReportParam" class="table table-bordered table-striped">

                          <tr ng-repeat="info in $data">

                             <td title="'Source Name'" filter="{ source_name : 'text'}" sortable="'source_name'">{{info.source_name ? info.source_name : 0}}</td>
                             <td title="'Lead State'" filter="{ lead_state : 'text'}" sortable="'lead_state'">{{info.lead_state ? info.lead_state : 0}}</td>
                             <td title="'Count'"><a data-toggle="modal" data-target="#modal-calling-lead" href="#" ng-click="sourceReportData(info.source_id,info.lead_state)" >{{info.lead_count ? info.lead_count : 0}}</a></td>

                          </tr>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>


<div class="modal fade" id="modal-calling-lead">
   <div class="modal-dialog">
      <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 900px;">
         <a class="btn" title="Export Table" ng-click='callingleadlistsourcecsv.generate()' ng-href="{{ callingleadlistsourcecsv.link() }}" download="callingleadlistsourcecsv.csv">
         <i class="glyphicon glyphicon-new-window"></i> &#160;Export
         </a>
         <table ng-table="callingleadTableParams" class="table table-bordered" show-filter="true" export-csv="callingleadlistsourcecsv" separator="," export-csv-ignore="ignore">
            <tr ng-repeat="valuee in $data" id="leadfilterdatainfo">
               <td title="'Lead-id'" filter="{ id : 'number'}" sortable="'id'"><a target="_blank" href="/student/{{valuee.id}}/product/0" >{{valuee.id}}</a></td>
               <td title="'Customer Name'" filter="{ name : 'text'}" sortable="'name'">{{valuee.name ? valuee.name : 0}}</td>
               <td title="'Customer Email'" filter="{ email : 'text'}" sortable="'email'">{{valuee.email ? valuee.email : 0}}</td>
               <td title="'Customer Mobile'" filter="{ mobile : 'text'}" sortable="'mobile'">{{valuee.mobile ? valuee.mobile : 0}}</td>
               <td title="'Customer City'" filter="{ city : 'text'}" sortable="'city'">{{valuee.city ? valuee.city : 0}}</td>
               <td title="'Lead State'" filter="{ lead_state : 'text'}" sortable="'lead_state'">{{valuee.lead_state ? valuee.lead_state : 0}}</td>
               <td title="'Assign To'" filter="{ assign_email : 'text'}" sortable="'assign_email'">{{valuee.assign_email ? valuee.assign_email : 0}}</td>
            </tr>
         </table>
         <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
