<style type="text/css">
    /*.nav-pills>li>a{
            border: 1px solid #337ab7;
    }*/
    .nav-pills>li{
      width: 50%;
     /* border: 1px solid #337ab7;*/
    }

    /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #014b79;
}

/* Style the buttons inside the tab */
.tab button {
    color: white;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 50%;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f9992f;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
 background-color: white;
}

.tabsubcontent {
  display: none;
  padding: 6px 12px;

}

.subtabs .tab button{
    width: 50%;
}

.subtabs .tab button.active{
    background-color: #f9992f;
}
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Student Offers</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-users"></i> Student</a></li>
            <li class="active">Offers</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
          <div class="box" style="overflow-x: scroll;">
            <div class="col-md-12">
                <div class="col-xs-12">

                    <div class="tab">
                      <button id="defaultOpen" class="tablinks tabsublinks loan" onclick="openSubTab(event, 'bankapl')" ><b>Bank Application List</b></button>
                      <button class="tablinks tabsublinks forex" onclick="openSubTab(event, 'forexapl')"><b>Forex Application List</b></button>
                    </div>

                    <div class="tab-content">
                        <div id="bankapl" class="tabsubcontent">
                          <div class="box" style="overflow-x: scroll;">
                        <div class="box-header">
                            <h3 class="box-title">{{title}}</h3>
                        </div>
                        <div class="box-body" ng-repeat="(name, tableValues) in tableParams">
                            <h3>{{name}}</h3>
                            <div ng-repeat="(key, values) in tableValues">
                              <div ng-if=" key !== 'Forex Offer' " >
                                <h3><b>{{key}}</b></h3>
                                <table ng-table="values" class="table table-bordered table-striped" show-filter="true">
                                    <tr ng-repeat="value in $data" id="list_table">
                                        <td title="''"><img src="{{value.image_url}}" style="width:50%;"></td>
                                        <td title="'Product Name'"> {{value.display_name}} </td>
                                        <td title="'Amount of Processing Fees'">{{value.processing_fee}}</td>
                                        <td title="'Interest Rate'">{{value.interest_rate}}</td>
                                        <td title="'Convenience of Processing'">{{value.advantages}}</td>
                                        <td title="'Amount for Loan'">{{value.loan_amount}}</td>
                                        <td ng-if=" value.product_id != '4' && appliedProduct.indexOf(value.product_id + '|' + value.university_id + '|' + value.course_id + '|' + value.country_id + '|' + value.loan_type_id) == -1"><button ng-click="applyProduct(value.product_id, value.university_id, value.course_id, value.loan_type_id, value.lead_id, value.country_id)" class="btn btn-md btn-info"><b>Apply</b></button>
                                        </td>

                                        <td ng-if=" value.product_id == '4' && appliedProduct.indexOf(value.product_id + '|' + value.university_id + '|' + value.course_id + '|' + value.country_id + '|' + value.loan_type_id) == -1">
                                          <button ng-click="applyProduct(value.product_id, value.university_id, value.course_id, value.loan_type_id, value.lead_id, value.country_id)" class="btn btn-md btn-info"><b>Apply</b></button>
                                          <a data-toggle="modal" data-target="#basicModal" href="#" class="btn btn-info btn-sm btn-circle" > <b> MPOWER ELIGIBILITY CHECK </b> </a>
                                        </td>

                                        <td ng-if="appliedProduct.indexOf(value.product_id + '|' + value.university_id + '|' + value.course_id + '|' + value.country_id + '|' + value.loan_type_id) != -1"><button class="btn btn-md btn-success" disabled><b>Applied</b></button></td>
                                    </tr>
                                </table>
                              </div>
                            </div>
                        </div>
                    </div>
                        </div>
                        <div id="forexapl" class="tabsubcontent">
                          <div class="box" style="overflow-x: scroll;">
                        <div class="box-header">
                            <h3 class="box-title">{{title}}</h3>
                        </div>
                        <div class="box-body" ng-repeat="(name, tableValues) in tableParams">
                            <h3>{{name}}</h3>
                            <div ng-repeat="(key, values) in tableValues">
                              <div ng-if=" key == 'Forex Offer' " >
                                <h3><b>{{key}} </b></h3>
                                <table ng-table="values" class="table table-bordered table-striped" show-filter="true">
                                    <tr ng-repeat="value in $data" id="list_table">
                                        <td title="''"><img src="{{value.image_url}}" style="width:50%;">{{value.name}}</td>
                                        <td title="'Remittance Type'">{{value.remittance_type}}</a></td>
                                        <td title="'Fixed Charges'">{{value.fixed_charges}}</td>
                                        <td title="'Forex Conversion Rate'">{{value.forex_conversion_rate}}</td>
                                        <td title="'Forex Conversion Amount'">{{value.forex_conversion_amount}}</td>
                                        <td ng-if="appliedForexProduct.indexOf(value.id) == -1"><button ng-click="applyForexProduct(value.id,value.lead_id,value.forex_conversion_amount,value.university_id, value.course_id, value.country_id)" class="btn btn-md btn-info"><b>Apply</b></button>
                                        </td>

                                          <td ng-if="appliedForexProduct.indexOf(value.id) != -1"><button class="btn btn-md btn-success" disabled><b>Applied</b></button></td>
                                    </tr>
                                </table>
                              </
                              div>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="pull-right">
            <a ng-click="finishSignup()" type='button' class='btn btn-fill btn-danger btn-wd margin12'>FINISH</a>
            </div>
        </div>

        <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
								  <div class="modal-dialog">
									<div class="modal-content">
									  <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title"> MPOWER ELIGIBILITY CHECK </h4>
									  </div>
									  <div class="modal-body">
										<h3>MPOWER</h3>

                    <iframe class="center-block" id="f64fac0b-7e9c-4565-94e8-209b6b904510" src="https://widget.mpowerfinancing.com/eligibilityWidget/widget" width="500" height="600" frameborder="0"></iframe>

									  </div>
									  <div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<!--button type="button" class="btn btn-info">Save changes</button-->
									  </div>
									</div>
								  </div>
								</div>
              </div>
            </div>
    </section>


<script>
    window.onload = function(){
        var widget = {
            'id':'root',
            'widget_id':'f64fac0b-7e9c-4565-94e8-209b6b904510'
        };
        function serialize(obj) {
            var str = [];
            for(var p in obj){
                if (obj.hasOwnProperty(p)) {
                    str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                }
            }
            return str.join("&");
        }
        function getWidget() {
            var hostPath = `${window.location.origin}${window.location.pathname}`;
            window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                widget[key] = value;
            });
            widget['host_information'] = hostPath;
            widget['host_name'] = hostPath;
            return widget;
        }
        var iframe = document.getElementById(widget['widget_id']);
        iframe.src = `${iframe.src}?${serialize(getWidget())}`
    }


    function openSubTab(subevt, tabName) {
       var i, tabsubcontent, tabsublinks;
       tabsubcontent = document.getElementsByClassName("tabsubcontent");
       for (i = 0; i < tabsubcontent.length; i++) {
         tabsubcontent[i].style.display = "none";
       }
       tabsublinks = document.getElementsByClassName("tabsublinks");
       for (i = 0; i < tabsublinks.length; i++) {
         tabsublinks[i].className = tabsublinks[i].className.replace(" active", "");
       }
       document.getElementById(tabName).style.display = "block";
       subevt.currentTarget.className += " active";
     }

     // Get the element with id="defaultOpen" and click on it
     document.getElementById("defaultOpen").click();

</script>
