<style>
tr:hover {
    border:2px solid #ddd;
    background-color: #ddd!important;
}
.act{
    background : #dac9c9!important;
}

.modal-content {
    background-color: #fff !important;
    color: #000 !important;
    padding: 20px 50px !important;
}

.modal-content input {
    height: 34px !important;
    border-radius: 0;
}
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>VENDOR LIST </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Students</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                    <div class="box-body">

                      <span > Total No - <b>{{ AllofferVendorListTableParams.total() }}</b></span>

                        <table ng-table="AllofferVendorListTableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="list_table" ng-class="{act : activeMenu === value.lead_id}">

                                <td title="'Name'" filter="{ customer_name: 'text'}" sortable="'customer_name'" ng-if="!isEditable"><a href="/student/{{value.lead_id}}/product/0" target="_blank" ng-click="setActive(value.lead_id)">{{value.first_name}} {{value.last_name}}</a></td>
                                <td title="'Email'" filter="{ vendor_email: 'number'}" sortable="'vendor_email'">{{value.vendor_email}}</td>
                                <td title="'Mobile'" filter="{ vendor_mobile: 'number'}" sortable="'vendor_mobile'">{{value.vendor_mobile}}</td>
                                <td title="'Mobile 1'" filter="{ mobile_number: 'number'}" sortable="'mobile_number'">{{value.mobile_number}}</td>
                                <td title="'Company Name'" filter="{ company_name: 'text'}" sortable="'company_name'">{{value.company_name}}</td>
                                <td title="'Company Url'" filter="{ company_url: 'text'}" sortable="'company_url'">{{value.company_url}}</td>

                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>
<div class="modal fade" id="modal-disbursed-lead">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row form-group">
                    <div class="col-md-3">
                        <h4 class="modal-title"><b>Lead Information : <b></h4>
                    </div>

                </div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" ng-submit="updateDisbursedLeadInfo()">
                  <div class="box-body">

                    <div class="form-group">
                       <label class="col-sm-4 control-label">Name :</label>
                       <div class="col-sm-6">
                          <input type="text" class="form-control" name="name" id="name" ng-model="$parent.name" disabled="true" > </input>
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Email ID :</label>
                       <div class="col-sm-6">
                          <input class="form-control" name="email" id="email" ng-model="$parent.email" disabled="true" >
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Mobile Number :</label>
                       <div class="col-sm-6">
                          <input class="form-control" name="mobile"  id="mobile" ng-model="$parent.mobile_number" disabled="true">
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Assigned To :</label>
                       <div class="col-sm-6">
                          <input class="form-control" name="partnerName" id="partnerName"  ng-model="$parent.partner_name"  disabled="true" >
                       </div>
                    </div>
                    <div class="form-group">
                      <label " class="col-sm-4 control-label">Financial Institution :</label>
                       <div class="col-sm-6">
                          <input class="form-control" name="financialInstitute" id="financialInstitute" ng-model="$parent.product_name" disabled="true">
                       </div>
                    </div>
                    <div class="form-group">
                      <label " class="col-sm-4 control-label">Status :</label>
                       <div class="col-sm-6">
                          <input class="form-control" name="Currentleadstatus" id="Currentleadstatus" ng-model="$parent.current_lead_state" disabled="true">
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Invoice Raised :</label>
                       <div class="col-sm-6">
                          <select class="form-control" name="invoice_raised" ng-init="invoice_raised = 'Please Select'" ng-model="$parent.invoice_raised" required>
                             <option>Please Select</option>
                             <option  value="YES"> YES </option>
                             <option  value="NO"> NO </option>
                          </select>
                       </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Sanctioned Date :</label>
                       <div class="col-sm-6">
                          <datepicker date-format="yyyy-MM-dd"><input ng-model="$parent.sanctioned_date" type="text"/></datepicker>
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Sanctioned Amount :</label>
                       <div class="col-sm-6">
                          <input class="form-control" name="sanctionedAmount" id="sanctionedAmount" ng-model="$parent.sanctioned_amount" >
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Disbursed Date :</label>
                       <div class="col-sm-6">
                          <datepicker date-format="yyyy-MM-dd"><input ng-model="$parent.disbursed_date" type="text"/></datepicker>
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Disbursed Amount :</label>
                       <div class="col-sm-6">
                          <input class="form-control" name="disbursedAmount" id="disbursedAmount" ng-model="$parent.disbursed_amount">
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Disbursal Info :</label>
                       <div class="col-sm-6">
                          <input class="form-control" name="disbursal_info" id="disbursal_info" ng-model="$parent.disbursal_info">
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Amount Calculated :</label>
                       <div class="col-sm-6">
                          <input class="form-control" name="amountCalculated" id="amountCalculated" ng-model="$parent.amount_calculated">
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Amount Received :</label>
                       <div class="col-sm-6">
                          <input class="form-control" name="amountReceived" id="amountReceived" ng-model="$parent.amount_received">
                       </div>
                    </div>
                    <div class="form-group" style="display: none;">
                       <label class="col-sm-4 control-label">ID:</label>
                       <div class="col-sm-6">
                          <input class="form-control" name="email" id="ldid" ng-model="$parent.ldid" disabled="true" >
                       </div>
                    </div>
                    <hr>
                    <div class="form-group">
                      <div class="col-md-12 col-sm-12 form-group">
                         <input type="Submit" class="btn btn-primary" value="Update">
                         <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
