<div class="wrapper" style="height:650px">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Create Data
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-users"></i> Bulk Upload</a></li>
          <li class="active">Create Data</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Create Counselor Calling Data</h3>
              </div>
              <form class="form-horizontal">
                <div class="box-body">

                  <div class="form-group">
                    <label  class="col-sm-4 control-label"> Name</label>

                    <div class="col-sm-8">
                      <input type="text" name="user_name" class="form-control txtBoxBS" form="usrform" ng-model="$parent.user_name" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Email Id</label>

                    <div class="col-sm-8">
                      <input type="text" name="user_email" class="form-control txtBoxBS" form="usrform" ng-model="$parent.user_email" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Mobile Number</label>

                    <div class="col-sm-8">
                      <input type="text" name="mobile" class="form-control txtBoxBS" form="usrform" ng-model="$parent.user_mobile" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Alternate Mobile Number</label>

                    <div class="col-sm-8">
                      <input type="text" name="mobile1" class="form-control txtBoxBS" form="usrform" ng-model="$parent.user_mobile1" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Comapny Name</label>

                    <div class="col-sm-8">
                      <input type="text" name="company_name" class="form-control txtBoxBS" form="usrform" ng-model="$parent.company_name" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">State</label>

                    <div class="col-sm-8">
                      <input type="text" name="user_state" class="form-control txtBoxBS" form="usrform" ng-model="$parent.user_state" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">City</label>

                    <div class="col-sm-8">
                      <input type="text" name="user_city" class="form-control txtBoxBS" form="usrform" ng-model="$parent.user_city" >
                    </div>
                  </div>

                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Source Name</label>

                    <div class="col-sm-8">
                      <input type="text" name="source_name" class="form-control txtBoxBS" form="usrform" ng-model="$parent.source_name" >
                    </div>
                  </div>

                </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-info pull-right" ng-click="createCallingData()">Create</button>
                  <!-- <button type="button" class="btn btn-info pull-left" ng-click="assignData()">Assign</button> -->
                </div>
              </form>
            </div>
          </div>

        </div>
      </section>
      <!-- /.content -->
    </div>
    <div class="control-sidebar-bg"></div>
  </div>
