<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>COMMENTS DATA</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#"><i class="fa fa-dashboard"></i> Counselor</a></li>
            <li class="active">Comment Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                        <!--<button class="btn btn-wd btn-primary"  ng-click="$back()"> Back To leads</button>-->
                        <button class="btn btn-wd btn-primary" data-toggle="collapse" data-target="#add_comment"> ADD NEW</button>
                        <!--<button class="btn btn-wd btn-primary pull-right" data-toggle="modal" data-target="#modal-default"> All Comments</button>-->
                        <hr>
                        <div id="add_comment" class="row form-group collapse" >
                          <div class="col-md-12">
                            <!-- <div class="col-md-3">
                              <label class="control-label">Comment Type</label>
                              <select class="form-control" name="comment_type" id="comment_type" ng-model="comment_type">
                                <option value="" >Select Comment Type</option>
                                  <option value="bank">Bank</option>
                                  <option value="student">Student</option>
                              </select>
                            </div>
                            <div class="col-md-3">
                              <label class="control-label">Product Name</label>
                              <select class="form-control" id="product_type" name="product_type" ng-model="product_type_id" ng-options="item.id as (item.display_name) for item in productslist.data" >
                                <option value="" >Select Product Name</option>
                              </select>
                            </div> -->

                            <div class="col-md-3">
                              <label class="control-label">Time</label>
                              <input id="time_value" type= "number" name="time_value" class="form-control inputtext" form="usrform" ng-model="$parent.time_value" ></textarea>
                            </div>
                            <div class="col-md-3">
                              <label class="control-label">Counselor State</label>
                              <select class="form-control" name="counselor_state" id="counselor_state" ng-init="status='Please Select'" ng-model="$parent.counselor_state">
                                  <option value="" >Please Select</option>
                                  <option ng-repeat="option in allCounselorCallStatus" value="{{option.id}}">{{option.status}}</option>
                              </select>
                            </div>
                          </div>
                          <br>
                          <div class="col-md-12">
                            <div class="col-md-6">
                              <label class="control-label">Comment</label>
                              <textarea id="comments_value" name="comments_value" class="form-control txtBoxBS" form="usrform" ng-model="$parent.comments_value" ></textarea>
                            </div>
                            <div class="col-md-3">
                              <label class="control-label">Next Followup Date</label>
                              <input type="date" class="form-control txtBoxBS" id="next_FollowUp_Date" ng-model="$parent.next_FollowUp_Date">
                            </div>
                            <div class="col-md-2">
                              <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="updateCounselorCallingComment()">SAVE</button>
                            </div>
                          </div>
                        </div>
                        <br/><br/>
                          <h3 class="box-title">{{title}}   </h3>
                    </div>
                    <div class="box-body">
                      <span style="font-size:18px;">Customer Name : <b>{{userInfo[0].name}}</b></span><br/>
                      <span style="font-size:18px;">Customer Number : <b>{{userInfo[0].mobile}}</b></span><br/><br/>
                      <span style="font-size:18px;">Counselor State : <b>{{userInfo[0].counselor_status}}</b></span><br/>
                      <span style="font-size:18px;">Followup Date : <b>{{userInfo[0].next_folloup_date}}</b></span><br/>
                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="comments_table">
                                <!-- <td title="'Comment Id'" filter="{ id : 'number'}" sortable="'id'">{{value.id}}</td> -->
                                <td title="'Calling Id'" filter="{ entity_id : 'number'}" sortable="'id'">{{value.entity_id}}</td>
                                <!-- <td title="'Comment Type'" filter="{ comment_type : 'text'}" sortable="'comment'">{{value.comment_type}}</td>
                                <td title="'Product'" filter="{ product_name : 'text'}" sortable="'product_name'">{{value.product_name}}</td> -->
                                <td title="'Comment'" filter="{ comment : 'text'}" sortable="'comment'">
                                  <textarea cols="60" rows="8" charswidth="30" style="resize:vertical" readonly>{{value.comment}}</textarea>
                                </td>
                                <td title="'Time Spent'" filter="{ time_spent : 'number'}" sortable="'time_spent'">{{value.time_spent}}</td>
                                <td title="'Comment By'" filter="{ partner_name : 'text'}" sortable="'partner_name'">{{value.partner_name}}</td>
                                <td title="'Comment Date'" filter="{ date_updated : 'number'}" sortable="'date_updated'">{{ claculateTime(value.date_updated) | date: 'dd-MM-yyyy - HH:mm:ss' }}</td>

                                  </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row form-group">
                    <div class="col-md-3">
                        <h4 class="modal-title"><b>ALL Commets<b></h4>
                    </div>

                </div>
            </div>
            <div class="modal-body">
                <div class="box-body clearfix" style="overflow-y: scroll; max-height: 500px;">
                  <div class="row" ng-repeat="value in commentslist">
                    <hr/>
                    <div class="col-md-2">
                      <small class="pull-left">Comment Type :  {{value.comment_type}}</small>
                    </div>
                    <div class="col-md-10">
                      <blockquote  class="pull-right">

                          <h5>{{value.comment}}</h5>
                          <small>By <cite title="Source Title">{{value.partner_name}}</cite>   On  <cite title="Source Title">{{value.date_updated}}</cite></small>

                      </blockquote>
                    </div>

                  </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
