<style>
tr:hover {
    border:2px solid #ddd;
    background-color: #ddd!important;
}
/*.act{
    background : #dac9c9!important;
}*/
    .popup .popup-content{
        width: 1000px;
        height: 400px;
        margin-left: -20em;
    }
    /*.popup.in{
        background-color: transparent;
    }
    .modal{
        width: 80%;
        margin-left: 20em;
    }*/
    .modal .modal-content {
        background-color: #ffffff;
        color: rgba(0,0,0,0.5);
    }
    button .close{
        color: rgba(0,0,0,0.5);
    }
    .modal-content{
        margin-top: 30%;
        height: 400px;;
    }
    .modal-body{
        margin-top: 2em;
    }
    .modal-backdrop.in {
            display: none;
        }
    .modal-open {
            overflow: scroll;
    }

    #totalModal #potentialModal #disbursedModal #declinedModal{
        height: 100%;
        width: 100%;
        z-index: 9999;
    }
    .title-name{
        font-style: bold;
        color: #000000;
    }
    .name:hover{
        cursor: pointer;
        text-decoration:underline;
    }
    .listbutton li{
        list-style: none;
        box-sizing: border-box;
        padding: 0.6em;
        padding-top: 1em;
    }

.btn-total,.btn-rev-dec, .btn-pro-off,.btn-interest,.btn-withdrawn, .btn-proc{
        margin-left: -3em;
        width: 200px;
        background-color:#196c81;
        color: #000;
    }
.btn-notint, .btn-disburs-doc,.btn-potential ,.btn-pot-dec, .btn-disbursed, .btn-app-rev, .btn-app-reject {
        margin-left: -3em;
        width: 200px;
        background-color:#3c8dbc;
        color: #000;
    }
    .listbutton li a{
        color: rgb(255, 255, 255);
    }
    .listbutton li a:hover{
        color: #fff;
    }
</style>
<style>
/* Center the loader */
#loaderAjax {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 10000;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f9992f;
  border-bottom: 16px solid #f9992f;
  border-right: 16px solid #004b7a;
  border-left: 16px solid #004b7a;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#loaderAjax {
  display: none;
  text-align: center;
}

</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>All Current Counsellors </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Counsellors</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <div id="loaderAjax"></div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">

                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body">
                      <span > Total No - <b>{{ tableParams.total() }}</b></span>
                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data">

                                 <td ><input type="checkbox" ng-model="checkedvalue" ng-change="selectEntity(value, checkedvalue)"></td>

                                <!--td title="'Student Id'" filter="{lead_id: 'number'}" sortable="'lead_id'"><a href="/student/{{value.lead_id}}/product/0" target="_blank">{{value.lead_id}}</a></td-->
                                <!-- <td title="'Name'" filter="{ name: 'text'}" sortable="'name'" ng-if="!isEditable"><a href="/student/{{value.lead_id}}/product/0" target="_blank" ng-click="setActive(value.lead_id)">{{value.partner_name}}</a></td> -->
                                <!--td title="'Name'" ng-if="isEditable"><input name="name" type="text" ng-click="changeName(value.name)" ng-model="value.name"/></td-->
                                <td title="'Name'" class="name" filter="{ partner_name: 'text'}" sortable="'partner_name'"><a href="/counselor/edit/{{value.login_id}}" target="_blank">{{value.partner_name}}</a></td>
                                <td title="'Company Name'" filter="{ company_name: 'text'}" sortable="'company_name'" >{{value.company_name}}</td>

                                <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td>

                                <td title="'Mobile'" filter="{ mobile_number: 'number'}" sortable="'mobile_number'">{{value.mobile_number}}</td>
                                <td title="'City'" filter="{ counselor_city: 'text'}" sortable="'counselor_city'">{{value.counselor_city}}</td>
                                <td title="'Counsellor Type'" filter="{ counsellor_type: 'text'}" sortable="'counsellor_type'">{{value.counsellor_type}}</td>
                                <td title="'Agreement Signed'" filter="{ agreement: 'text'}" sortable="'agreement'">{{value.agreement}}</td>
                                <td title="'Assigned RM'" ng-if="!value.isEditable" filter="{ facilitator_email: 'text'}" sortable="'facilitator_email'" >{{value.facilitator_email}}</td>
                                <td title="'Assigned RM'" ng-if="value.isEditable" >
                                <div  ng-dropdown-multiselect="" options="agentslist" selected-model="value.facilitator_email" extra-settings="rmSetting" ></div>
                              </td>
                              <td title="'Student Assignment Type'" filter="{ lead_assignment: 'text'}" sortable="'lead_assignment'" ng-if="!value.isEditable">{{value.lead_assignment}} </td>
                              <td title="'Student Assignment Type'" ng-if="value.isEditable">
                                  <select class="form-control" name="lead_assignment" id="lead_assignment" ng-model="value.lead_assignment">
                                      <option value="">Please Select</option>
                                      <option value="Manual">Manual</option>
                                      <option value="Auto">Auto</option>
                                  </select>
                              </td>
                              <td title="'Assign Old Leads '" ng-if="!value.isEditable"> {{value.assign_old_leads}}</td>
                              <td title="'Assign Old Leads '" ng-if="value.isEditable">
                                  <select class="form-control" name="assign_old_leads" id="assign_old_leads" ng-model="value.assign_old_leads">
                                      <option value="">Please Select</option>
                                      <option value="YES">YES</option>
                                      <option value="NO">NO</option>
                                  </select>
                              </td>
                                <td title="'Partner State'" filter="{ partners_state: 'text'}" sortable="'partners_state'" >{{value.partners_state}}</td>
                                <td title="'Next Followup Date'" filter="{ partners_followup_date: 'text'}" sortable="'partners_followup_date'" >{{value.partners_followup_date}}</td>

                                <td title="'Send Mail'">
                                    <button ng-if="value.FLOWMAIL == '0'" class="btn btn-info btn-sm btn-circle" ng-click="connectFlowMail(value.login_id)">Connect Mail</button>
                                    <button ng-if="value.FLOWMAIL >= '1'" class="btn btn-info btn-sm btn-circle"  ng-click="connectFlowMail(value.login_id)">Resend Mail</button>
                                </td>
                                <td title="'My Students'"><button  class="btn btn-info btn-sm btn-circle" ng-click="popMenu(value)">My Students</button></td>
                                <td title="'Comments'" class="comment"><a class="btn btn-info btn-sm" target="_blank" href="/counselor/comments/{{value.partner_id}}"> Comments</a></td>
                                <td title="'My Team'" class="comment"><a class="btn btn-info btn-sm" target="_blank" href="/counselor/{{value.partner_id}}/team/list">My Team</a></td>
                                <td><button ng-if="!value.isEditable" ng-click="counseloreditData(value)" type="button" class="btn btn-warning btn-sm">Edit</button></td>
                                <td title="'Application Actions'" ><button ng-if="value.isEditable" ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-if="value.isEditable" ng-click="counselorRmUpdate(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>
                            </tr>
                        </table>

                    </div>

                    <div class="form-group">
                      <div class="col-lg-12">   <div class="col-md-10" style="display: inline-flex;">
                        <div ng-dropdown-multiselect="" options="agentslist" selected-model="facilitator_email" extra-settings="rmSetting" class="col-md-3 ng-isolate-scope">
                            </div>
                        <button ng-click="multipleTransfer()" type="button" class="btn btn-warning btn-sm"> Transfer ALL </button>   </div> </div>
                      </div>
                      <br/><br/>
                </div>
            </div>
        </div>
        <div class="modal fade popup" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content popup-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: rgba(0, 0, 0, 0.5);">&times;</button>
                  <h4 class="modal-title title-name"></h4>
                </div>
                <div class="modal-body">
                    <ul class="listbutton">
                        <div class="row">
                        <div class="col-sm-3">
                        <li><button class="btn btn-total"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}" target="_blank">Total - {{total}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-notint"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=NOT_INTERESTED" target="_blank">Not Interested - {{notInterested}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-interest"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=INTERESTED" target="_blank">Interested - {{interested}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-potential"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=POTENTIAL" target="_blank">Potential - {{potential}}</a></button></li></div></div>
                        <div class="row">
                        <div class="col-sm-3">
                        <li><button class="btn btn-pot-dec"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=POTENTIAL_DECLINED" target="_blank">Potential Declined -{{potentialDeclined}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-proc"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=APPLICATION_PROCESS" target="_blank">Application Process - {{applicationProcess}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-app-rev"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=APPLICATION_REVIEW" target="_blank">Application Review - {{applicationReview}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-rev-dec"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=APPLICATION_REVIEW_DECLINED" target="_blank">Application Review Declined - {{applicationReviewDeclined}}</a></button></li></div></div>
                        <div class="row">
                        <div class="col-sm-3">
                        <li><button class="btn btn-pro-off"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=PROVISIONAL_OFFER" target="_blank">Provisional Offer - {{provisionalOffer}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-disburs-doc"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=DISBURSAL_DOCUMENTATION" target="_blank">Disbursal Documentation -{{disbursalDocumentation}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-withdrawn"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=APPLICATION_WITHDRAWN" target="_blank">Application Withdraw -{{applicationWithdraw}}</a></button></li></div>
                        <div class="col-sm-3">
                        <li><button class="btn btn-disbursed"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=DISBURSED" target="_blank">Disbursed Leads - {{disbursed}}</a></button></li></div></div>
                        <li><button class="btn btn-app-reject"><a href="/students/assigned-me/allleads?pid={{partnerLoginId}}&lead_state=APPLICATION_DECLINED" target="_blank">Application Rejected -{{applicationRejected}}</a></button></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
    </section>
</div>
