<div class="wrapper" style="height:650px">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Counsellor Lead Transfer
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-users"></i> Counsellors</a></li>
          <li class="active">Lead Transfer</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                  <div class="box-header" >

                      <div  id="lead_transfer" class="row form-group" >

                        <div class="col-md-3">
                          <label class="control-label">Select Lead Type</label>
                          <select class="form-control" name="select_lead_type" id="select_lead_type" ng-model="$parent.select_lead_type">
                              <option value="">Please Select Type</option>
                              <option value="LEAD">Lead</option>
                              <option value="CALLINGDATA">Calling Data</option>
                          </select>
                        </div>

                        <div class="col-md-3">
                          <label class="control-label">Select Entity Type </label>
                          <select class="form-control" name="select_entity_type" id="select_entity_type" ng-model="$parent.select_entity_type" ng-change="agentcounsellorListAll()">
                              <option value="">Please Select Type</option>
                              <option value="COUNSELLOR">Counsellor</option>
                              <option value="AGENT">Agent</option>
                          </select>
                        </div>

                        <div class="col-md-3">
                          <label class="control-label">Select Counsellor / Agent </label>
                          <select class="form-control" name="select_agent_counsellor" id="select_agent_counsellor" ng-model="$parent.select_agent_counsellor">
                              <option value="">Please Select</option>
                              <option ng-repeat="option in agentcounsellorList" value="{{option.id}}">{{option.name ? option.name : option.email}}</option>
                          </select>
                        </div>

                        <div class="col-md-3">
                          <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="getCounsellorDataInfo()">SHOW</button>
                        </div>
                      </div>

                  </div>

                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body">
                      <span > Total No - <b>{{ tableParamsdatainfo.total() }}</b></span>
                        <table ng-table="tableParamsdatainfo" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="list_table" ng-class="{act : activeMenu === value.id}">
                                <td title="'Id'" class="name" filter="{ id: 'number'}" sortable="'id'">{{value.id}}</a></td>
                                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'" >{{value.name}}</td>

                                <td title="'entity_email'" filter="{ entity_email: 'text'}" sortable="'entity_email'">{{value.entity_email}}</td>

                                <td title="'entity_type'" filter="{ entity_type: 'number'}" sortable="'entity_type'">{{value.entity_type}}</td>
                                <td title="'lead_type'" filter="{ lead_type: 'text'}" sortable="'lead_type'">{{value.lead_type}}</td>
                                <td title="'lead_count'" filter="{ lead_count: 'text'}" sortable="'lead_count'">
                                  <a data-toggle="modal" data-target="#modal-application-lead" href="#" ng-click="leadtransferDetail(value)" >
                                    {{value.lead_count}}
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- /.content -->
    </div>


    <div class="modal fade" id="modal-application-lead">
       <div class="modal-dialog">
          <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 900px;">
             <a class="btn" title="Export Table" ng-click='applistleadcsv.generate()' ng-href="{{ applistleadcsv.link() }}" download="applistleadcsv.csv">
             <i class="glyphicon glyphicon-new-window"></i> &#160;Export
             </a>
             <table ng-table="tableParamsApplication" class="table table-bordered" show-filter="true" export-csv="applistleadcsv" separator="," export-csv-ignore="ignore">
                <tr ng-repeat="valuee in $data" id="applicationleadfilterdatainfo">
                   <td title="'Facilitator Id'" filter="{ id : 'text'}" sortable="'id'">{{valuee.id ? valuee.id : 0}}</td>
                   <td title="'Email'" filter="{ email : 'text'}" sortable="'email'">{{valuee.email ? valuee.email : 0}}</td>
                   <td title="'Lead State'" filter="{ current_lead_state : 'text'}" sortable="'current_lead_state'">{{valuee.current_lead_state ? valuee.current_lead_state : 0}}</td>
                   <td title="'Lead Count'" filter="{ lead_count : 'text'}" sortable="'lead_count'">{{valuee.lead_count ? valuee.lead_count : 0}}</td>

                   <td title="'Assigned To New RM'" ng-if="!valuee.isEditable" ></td>
                   <td title="'Assigned To New RM'" ng-if="valuee.isEditable" >
                     <select class="form-control" ng-model="valuee.newfacilitator">
                         <option value="">Please Select</option>
                         <option ng-repeat="option in agentslist" value="{{option.id}}">{{option.name ? option.name : option.email}}</option>
                     </select>
                 </td>
                   <td><button ng-if="!valuee.isEditable" ng-click="leadtransferData(valuee)" type="button" class="btn btn-warning btn-sm">Edit</button></td>
                     <td title="'Application Actions'" ><button ng-if="valuee.isEditable" ng-click="cancelEditData(valuee)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button>
                       <button ng-if="valuee.isEditable" ng-click="updateLeadFacilitator(valuee)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button>
                     </td>
                </tr>
             </table>
             <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
             </div>
          </div>
          <!-- /.modal-content -->
       </div>
       <!-- /.modal-dialog -->
    </div>
