<style>
    .submit_button, .common-submit_button{
        text-align: center;
    }
    .common-submit_button{
        margin-top: 20px;
    }
    .submit-button-input{
        height: 40px;
        width: 80px;
        font-weight: bold;
        font-size: 18px;
    }
    .next-link{
        text-align: right;
    }
    .leads_applied_products_course_id{
        display: none;
    }
    .get-offer{
        float: right!important;
        cursor: pointer;
    }
    .hiddenField{
        display: none;
    }
    .textclr{
        color: white;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Update University Member</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-users"></i> University</a></li>
            <li class="active">Member Update</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row" >
          <div class="col-md-8 col-md-offset-2">
            <div class="box box-info">

                  <form class="form-horizontal" ng-submit="updateMember(partnerId)">
                    <div class="box-body">
                  <div class="form-group">
               <label class="col-sm-4 control-label" >Title *</label>
               <div class="col-sm-6">
               <select class="form-control" name="gentitle" ng-init="gentitle = 'Please Select'" ng-model="$parent.gentitle" required>
                  <option>Please Select</option>
                  <option ng-repeat="option in allTitles" value="{{option.id}}">{{option.display_name}}</option>
               </select>
             </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">First Name *</label>
               <div class="col-sm-6">
               <input class="form-control" name="firstname" id="firstname" ng-model="$parent.first_name"  required >
             </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Last Name *</label>
               <div class="col-sm-6">
               <input class="form-control" name="lastname" id="lastname" ng-model="$parent.last_name"  required >
            </div>
          </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Email *</label>
               <div class="col-sm-6">
               <input class="form-control" name="email" id="email" ng-model="$parent.email" required >
            </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Mobile Number *</label>
               <div class="col-sm-6">
               <input class="form-control" name="mobile"  id="mobile" ng-model="$parent.mobile"  required>
            </div>
            </div>
            <div class="form-group">
               <label class="col-sm-4 control-label">Designation </label>
               <div class="col-sm-6">
               <input class="form-control" name="designation" id="designation" ng-model="$parent.designation" >
            </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Branch Name</label>
                <div class="col-sm-6">
                    <input class="form-control" name="branch_name"  id="branch_name" ng-model="$parent.branch_name">
                </div>
			</div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Branch Email</label>
                <div class="col-sm-6">
                    <input class="form-control" name="branch_email"  id="branch_email" ng-model="$parent.branch_email">
                </div>
			</div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Branch Counselor Name</label>
                <div class="col-sm-6">
                    <input class="form-control" name="branch_counselor_name"  id="branch_counselor_name" ng-model="$parent.branch_counselor_name">
                </div>
			</div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Branch Grade</label>
                <div class="col-sm-6">
                    <input class="form-control" name="branch_grade"  id="branch_grade" ng-model="$parent.branch_grade">
                </div>
			</div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Branch Address</label>
                <div class="col-sm-6">
                    <textarea rows="5" cols="5" class="form-control" name="branch_address" id="branch_address" ng-model="$parent.branch_address"></textarea>
                </div>
			</div>
            <input type="hidden" ng-model="$parent.partner_type" ng-init="partner_type='counselor'">
            <div class="col-md-12 col-sm-12 form-group">
               <input type="Submit" class="btn btn-primary" value="Submit">
            </div>
         </form>
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
        </div>
    </section>
</div>
