<style>
    tr:hover {
        border:2px solid #ddd;
        background-color: #ddd!important;
    }
    .popup .popup-content{
        width: 1000px;
        height: 400px;
        margin-left: -20em;
    }
    .modal .modal-content {
        background-color: #ffffff;
        color: rgba(0,0,0,0.5);
    }
    button .close{
        color: rgba(0,0,0,0.5);
    }
    .modal-content{
        margin-top: 30%;
        height: 400px;;
    }
    .modal-body{
        margin-top: 2em;
    }
    .modal-backdrop.in {
            display: none;
        }
    .modal-open {
            overflow: scroll;
    }

    #totalModal #potentialModal #disbursedModal #declinedModal{
        height: 100%;
        width: 100%;
        z-index: 9999;
    }
    .title-name{
        font-style: bold;
        color: #000000;
    }
    .name:hover{
        cursor: pointer;
        text-decoration:underline;
    }
    .listbutton li{
        list-style: none;
        box-sizing: border-box;
        padding: 0.6em;
        padding-top: 1em;
    }

    .btn-total,.btn-rev-dec, .btn-pro-off,.btn-interest,.btn-withdrawn, .btn-proc{
        margin-left: -3em;
        width: 200px;
        background-color:#196c81;
        color: #000;
    }
    .btn-notint, .btn-disburs-doc,.btn-potential ,.btn-pot-dec, .btn-disbursed, .btn-app-rev, .btn-app-reject {
        margin-left: -3em;
        width: 200px;
        background-color:#3c8dbc;
        color: #000;
    }
    .listbutton li a{
        color: rgb(255, 255, 255);
    }
    .listbutton li a:hover{
        color: #fff;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>All Current University </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">University</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body">
                      <div style="float:left;"><span > Total No - <b>{{ tableParams.total() }}</b></span></div>
                      <div style="float:right; font-size:14px;"><a href="/counselor/{{counselorId}}/team"><button class="btn btn-info btn-sm btn-circle"> Add Member</button> </a></div>
                      <div style="clear:both;"></div>
                        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
                            <tr ng-repeat="value in $data" id="list_table" ng-class="{act : activeMenu === value.lead_id}">
                                <td title="'Name'" class="name" filter="{ partner_name: 'text'}" sortable="'partner_name'"><a href="/counselor/{{value.partner_id}}/team/edit/{{value.member_id}}">{{value.partner_name}}</a></td>
                                <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td>
                                <td title="'Mobile'" filter="{ mobile_number: 'number'}" sortable="'mobile_number'">{{value.mobile_number}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
