<style>
/* Side Widget */


#popup-container , #popup-container-sms , #popup-container-breakin {
  position: fixed;
  z-index: 9990;
  margin: 0 auto;
  top: 10%;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 620px;
  display: none;
}
#popup-container.open {
  display: block;
}

#popup-container-sms.open {
  display: block;
}

#popup-container-breakin.open {
  display: block;
}

.modal-content {
  background-color: rgba(38, 38, 40, 0.92);
  color: #fff;
  padding: 20px 50px;
}
.modal-content input {
  height: 57px;
  border-radius: 0;
}
.modal-content .btn-primary {
  width: 175px;
  background-color: #ef9919;
  border: 0;
}
.modal-content .btn-primary:hover {
  background-color: #0073b7;
  border: 0;
}
.modal-content .logorow {
  text-align: center;
}
.close {
  margin-right: 10px;
  margin-top: 5px;
  color: #fff;
  opacity: .8;
}
.close:hover {
  color: #efefef;
}


@media only screen and (max-width: 400px) {
    /* styles for narrow screens */

  .modal-content {
    max-height: 543px;
  }
  .modal-content input {
    height: 34px;
  }
  .modal-content .btn-primary {
    width: 115px;
    background-color: #ef9919;
    border: 0;
    padding: 0px;
  }
}
/*Sticky Button*/
#mySidenav a {
    position: fixed;
    right: -24px;
    transition: 0.5s;
    padding: 9px 9px 9px 10px;
    width: 85px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 30px 0px 0px 30px;
    z-index: 110;
}

#mySidenav a:hover {
    right: 0;
}


#CallingTab {
    top: 14%;
    background-color: #184658;
}

/*Sticky Menu*/
.sidepanel1  {
    width: 0;
    position: fixed;
    z-index: 110;
    height: 65%;
    top: 20%;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 55px;
    border-radius: 80px 2px 2px 80px;
    box-shadow: 0px 4px 6px 2px #88888887;
}

.sidepanel1 a {
    padding: 20px 4px 20px 10px;
    text-decoration: none;
    font-size: 18px;
    color:  #b8c7ce;
    display: block;
    transition: 0.3s;
    box-shadow: 2px 1px;
}

.sidepanel1 a:hover {
    color: black	;
    background-color: #eee;
}

.sidepanel1 .closebtn {
    padding: 0px !important;
    box-shadow: 0px 0px !important;
    position: absolute;
    top: 15px;
    right: 17px;
    font-size: 28px;
    background-color: #ffffff !important;

}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color:#444;
}



</style>

<div id="mySidenav" class="sidenav">
  <a href="#" id="CallingTab" class="openbtn" onclick="openNav()" ><img src="dist/img/mainTabCall.png"></a>
</div>

<div id="mySidepanel1" class="sidepanel1" ng-controller="authController">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-times" aria-hidden="true"></i></a>
  <a href="#" title="Break In" id="get-started-breakin"><img src="dist/img/breakIN.png"></a>
  <a href="#" title="Break Out" ng-click="agentBreakOut()"><img src="dist/img/breakOUT.png"></a>
  <a href="#" title="Ready" ng-click="agentReady()"><img src="dist/img/callReady.png"></a>
  <a href="#" title="Not Ready" ng-click="agentNotReady()"><img src="dist/img/callNotReady.png"></a>
  <a href="#" title="Wrap In" ng-click="agentWrapIn()"><img src="dist/img/wrapIn.png"></a>
  <a href="#" title="Wrap Out" ng-click="agentWrapOut()"><img src="dist/img/wrapOut.png"></a>
  <a href="#" title="Dial" id="get-started"><img src="dist/img/dial.png"></a>
  <a href="#" title="SMS" id="get-started-sms"><img src="dist/img/sms.png"></a>
</div>


<div id="popup-container" class="col-sm-12" ng-controller="authController">
   <div id="popup-window">
      <div class="modal-content" style="background-color: #ffffff;">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:  black;">&times;</span></button>
         <a href="#" class="your-class"></a>
         <div class="row text-center">
            <h2 style="color: black">MAKE A CALL</h2>
            <hr>
         </div>
         <form class="row" action="" method="post" id="footer-form">
            <div class="col-md-8 col-sm-8 form-group">
               <input class="form-control" ng-model="phoneNumber" name="phoneNumber" id="phoneNumber" placeholder="Enter Phone Number *" required style="border-radius: 6px;">
            </div>
            <div class="col-md-4 col-sm-4 form-group">
               <input type="button" class="btn btn-sm btn-primary" value="CALL" ng-click="agentDialCall()" >
            </div>
         </form>
         <br>
      </div>
   </div>
</div>
<!--////////////////// SMS ///////////////-->
<div id="popup-container-sms" class="col-sm-12" ng-controller="authController">
   <div id="popup-window-sms">
      <div class="modal-content" style="background-color: #ffffff;">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:  black;">&times;</span></button>
         <a href="#" class="your-class"></a>
         <div class="row text-center">
            <h2 style="color: black">Send Message</h2>
            <hr>
         </div>
         <form class="row" action="" method="post" id="footer-form">
            <div class="col-md-12 col-sm-12 form-group">
               <input class="form-control" ng-model="user_number" name="user_number" id="user_number" placeholder="Enter Phone Number *" required style="border-radius: 6px;">
            </div>
            <div class="col-md-12 col-sm-12 form-group">
               <textarea class="form-control" ng-model="sms_msg" name="sms_msg" id="sms_msg" placeholder="Enter Your Message *" required style="border-radius: 6px; min-height: 130px;"></textarea>
            </div>
            <div class="col-md-4 col-sm-4 form-group">
               <input type="button" class="btn btn-sm btn-primary" value="SEND" ng-click="agentSendSMS()" >
            </div>
         </form>
         <br>
      </div>
   </div>
</div>
<!-- BREAK MNEU -->
<div id="popup-container-breakin" class="col-sm-12" ng-controller="authController">
   <div id="popup-window">
      <div class="modal-content" style="background-color: #ffffff;">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:  black;">&times;</span></button>
         <a href="#" class="your-class"></a>
         <div class="row text-center">
            <h2 style="color: black">What type of break ?</h2>
            <hr>
         </div>
         <form class="row" action="" method="post" id="footer-form">
            <div class="col-md-8 col-sm-8 form-group">
               <label class="control-label"> BREAK TYPE </label>
                <select class="form-control" id="breakin_type" ng-model="breakin_type">
                   <option value="" >Select Option</option>
                   <option value="1" >Lunch Break</option>
                   <option value="2" >Tea Break</option>
                   <option value="3" >Bio Break</option>
                   <option value="4" >Meeting</option>
                   <option value="5" >Training</option>
                   <option value="6" >Short Break</option>
                </select>
            </div>
            <div class="col-md-4 col-sm-4 form-group">
               <input type="button" class="btn btn-sm btn-primary" value="SUBMIT" ng-click="agentBreakIn()" >
            </div>
         </form>
         <br>
      </div>
   </div>
</div>

<script>
function openNav() {
    document.getElementById("mySidepanel1").style.width = "60px";
}

function closeNav() {
    document.getElementById("mySidepanel1").style.width = "0";
}

$( document ).ready(function() {
  $('#get-started').on('click', function() {
    var $sidenav, $this;
    $this = $(this);
    $sidenav = $('#popup-container');
    if ($this.hasClass('active')) {
      $this.removeClass('active');
      return $sidenav.removeClass('active');
    } else {
      $this.addClass('active');
      return $sidenav.addClass('active');
    }
  });
  $('#get-started').on('click', function() {
    var $sidenav, $this;
    $this = $(this);
    $sidenav = $('#popup-container');
    if ($this.hasClass('open')) {
      $this.removeClass('open');
      return $sidenav.removeClass('open');
    } else {
      $this.addClass('open');
      return $sidenav.addClass('open');
    }
  });
  $('#popup-container').find('.close').on('click', function() {
    $(this).parent().removeClass('open');
    $('#get-started').removeClass('open')
    return $('#popup-container').removeClass('open');
    return $('#get-started').removeClass('open');
  });
});
/////////////SMS////////////////////////
$( document ).ready(function() {
  $('#get-started-sms').on('click', function() {
    var $sidenav, $this;
    $this = $(this);
    $sidenav = $('#popup-container-sms');
    if ($this.hasClass('active')) {
      $this.removeClass('active');
      return $sidenav.removeClass('active');
    } else {
      $this.addClass('active');
      return $sidenav.addClass('active');
    }
  });
  $('#get-started-sms').on('click', function() {
    var $sidenav, $this;
    $this = $(this);
    $sidenav = $('#popup-container-sms');
    if ($this.hasClass('open')) {
      $this.removeClass('open');
      return $sidenav.removeClass('open');
    } else {
      $this.addClass('open');
      return $sidenav.addClass('open');
    }
  });
  $('#popup-container-sms').find('.close').on('click', function() {
    $(this).parent().removeClass('open');
    $('#get-started-sms').removeClass('open')
    return $('#popup-container-sms').removeClass('open');
    return $('#get-started-sms').removeClass('open');
  });
});

// BREAKIN OPTION ///////
$( document ).ready(function() {
  $('#get-started-breakin').on('click', function() {

    var $sidenav1, $this;
    $this = $(this);
    $sidenav1 = $('#popup-container-breakin');
    if ($this.hasClass('active')) {
      $this.removeClass('active');
      return $sidenav1.removeClass('active');
    } else {
      $this.addClass('active');
      return $sidenav1.addClass('active');
    }
  });

  $('#get-started-breakin').on('click', function() {
    // alert("hi1");
    var $sidenav2, $this;
    $this = $(this);
    $sidenav2 = $('#popup-container-breakin');
    if ($this.hasClass('open')) {
      $this.removeClass('open');
      return $sidenav2.removeClass('open');
    } else {
      $this.addClass('open');
      return $sidenav2.addClass('open');
    }
  });

  $('#popup-container-breakin').find('.close').on('click', function() {
    $(this).parent().removeClass('open');
    $('#get-started-breakin').removeClass('open')
    return $('#popup-container-breakin').removeClass('open');
    return $('#get-started-breakin').removeClass('open');
  });
});
</script>


<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2018 <a href="/">Eduloans</a>.</strong> All Rights Reserved.
</footer>
