<div ng-init="template_header = header;" ng-include="template_header"></div>
<div ng-init="template_menu = menu;" ng-include="template_menu"></div>
<div ng-init="template_action = viewFile;" ng-include="template_action"></div>
<div ng-init="template_footer = footer;" ng-include="template_footer"></div>
