<style>
    tr:hover {
        border:2px solid #ddd;
        background-color: #ddd!important;
    }
    .act{
        background : #dac9c9!important;
    }
    </style>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1> Students with Offers </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Students from Offers</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box" style="overflow-x: scroll;">
                        <div class="box-header">
                            <h3 class="box-title">{{title}}</h3>
                        </div>
                        <div class="box-body">
                          <span > Total No - <b>{{ offerTableParams.total() }}</b></span>
                            <table ng-table="offerTableParams" class="table table-bordered table-striped" show-filter="true">
                                <tr ng-repeat="value in $data" id="list_table">
                                    <td title="'Student Name'" filter="{ student_name: 'text'}" sortable="'student_name'"><a href="/student/{{value.lead_id}}/product/0" target="_blank" ng-click="setActive(value.lead_id)">{{value.student_name}}</a></td>
                                    <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td>
                                    <td title="'Mobile'" filter="{ mobile_number: 'number'}" sortable="'mobile_number'">{{value.mobile_number}}</td>
                                    <td title="'Status'" filter="{ current_lead_state: 'text'}" sortable="'current_lead_state'">{{value.current_lead_state}}</td>
                                    <td title="'Assigned To'" ng-if="!value.isEditable" filter="{ partner_name: 'text'}" sortable="'partner_name'">{{value.partner_name}}</td>
                                    <td title="'Selected Offers'" filter="{ offers: 'text'}" sortable="'offers'">{{value.offers}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
