<div class="content-page">
    <!-- ============================================================== --><!-- Start Content here --><!-- ============================================================== -->
    <div class="content">
        <!-- Page Heading Start -->
        <div class="page-heading"><h1>Change Password</h1></div>
        <!-- Page Heading End-->
        <div class="row">
            <div class="col-sm-12 portlets">
                <div class="widget">
                    <div class="widget-header transparent">
                        <h2><strong>Change</strong> Password</h2>
                        <p id="error" style="color:red; padding-left:10px; padding-bottom:5px;"></p>
                    </div>
                    <div class="col-sm-6">
                        <div class="notes">
                            <div class="widget-content padding">
                                <form  method="post" action="common/profile/updatepassword" id="changepasswordForm">
                                    <div class="form-group">
                                        <label>Password <span style="color:#FF0000;">*</span></label>
                                        <input type="password" class="form-control" name="password" id="password">
                                        <p id="errorpassword" style="color:red"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password <span style="color:#FF0000;">*</span></label>
                                        <input type="password" class="form-control" name="confirm_password" id="confirm_password">
                                        <p id="errorconfirmpassword" style="color:red"></p>
                                    </div>
                                    <button type="button" onClick="window.history.back();" class="btn btn-primary">Back</button>
                                    <button type="submit" id="submit" class="btn btn-primary">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="notes">
                            <h4><i class="fa fa-key" aria-hidden="true"></i> <strong>Change Your Password</strong> </h4>
                            <p style="text-align: justify">You can change your portal password form here. Keep it safe.</p>
                            <p style="text-align: justify">Please contact Admin if any problem you are facing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'views/footer.html'"></div>
    </div>
</div>
<script type="text/javascript">
    $("#submit").click(function(e){
        var pass = $('#password').val();
        var confirmpass = $('#confirm_password').val();
        if(pass != confirmpass){
            $('#error').html("Password mismatched").show();
            e.preventDefault();
            e.stopImmediatePropagation();
            return false;
        }
    });

    $("#password").keyup(function(){
        var pass = this.value;
        var passlength = pass.length;
        if(this.value == ""){
            $('#errorpassword').html("Password cannot be blank").show();
            $('#submit').prop('disabled', true);
        }
        else if(passlength < 6){
            $('#errorpassword').html("Password cannot be less than 6 characters").show();
            $('#submit').prop('disabled', true);
        }
        else{
            $('#errorpassword').hide();
            $('#submit').prop('disabled', false);
        }
    });

    $("#confirm_password").keyup(function(){
        var pass = this.value;var passlength = pass.length;
        if(this.value == ""){
            $('#errorconfirmpassword').html("Password cannot be blank").show();
            $('#submit').prop('disabled', true);
        }
        else if(passlength < 6){
            $('#errorconfirmpassword').html("Password cannot be less than 6 characters").show();
            $('#submit').prop('disabled', true);
        }
        else{
            $('#errorconfirmpassword').hide();
            $('#submit').prop('disabled', false);
        }
    });

    $("#country").change(function(){
        if(this.value){
            var dataString = 'id='+this.value;
            $.ajax({
                type: "POST",
                url:"location/state/getState/",
                data: dataString,cache: false,
                success: function(result){
                    $('.form-group-state').show();
                    $('#state').html(result);
                }
            });
        }
        else{
            $('.form-group-state').hide();
        }
    });

    $("#state").change(function(){
        if(this.value){
            var dataString = 'id='+this.value;
            $.ajax({
                type: "POST",
                url:"location/city/getcity/",
                data: dataString,
                cache: false,
                success: function(result){
                    $('.form-group-city').show();
                    $('#city').html(result);
                }
            });
        }
        else{
            $('.form-group-city').hide();
        }
    });

    $("#zip").keyup(function(){
        if(this.value == ""){
            $('#errorzip').html("Zip Code cannot be blank").show();
            $('#submit').prop('disabled', true);
        }
        else{
            $('#errorzip').hide();$('#submit').prop('disabled', false);
        }
    });

    $("#status").click(function(){
        var isSelected = $("select[name=status] == 0").val();
        if(isSelected){
            $('#errorstatus').html("Select status").show();
            $('#submit').prop('disabled', true);
        }
        else{
            $('#errorstatus').hide();
            $('#submit').prop('disabled', false);
        }
    });
</script>
