<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Applications</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Applications</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">

                  <div class="box-header">
                     <h3 class="box-title">OVERALL Student</h3>
                     <div class="col-md-3 pull-right">
                       <label class="control-label">Intake Year</label>
                       <select class="form-control" name="intake_year_filter" id="intake_year_filter" ng-model="$parent.intake_year_filter" ng-change="dashboardAllStudentList()">
                           <option value="" >Please Select Year</option>
                           <option value="2018">2018</option>
                           <option value="2019">2019</option>
                           <option value="2020">2020</option>
                           <option value="2021">2021</option>
                           <option value="ALL">ALL</option>
                       </select>
                     </div>
                  </div>

                    <div class="box-header">
                        <h3 class="box-title">{{title}}</h3>
                    </div>
                    <div class="box-body">
                        <a class="btn" title="Export Table" ng-click='allCRMStudents.generate()' ng-href="{{ allCRMStudents.link() }}" download="allCRMStudents.csv">
                            <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                        </a>
                        <table ng-table="AllStudentListTableParams" class="table table-bordered table-striped" show-filter="true" export-csv="allCRMStudents" separator="," export-csv-ignore="ignore">
                            <tr ng-repeat="value in $data" id="list_table">
                                <!-- <td title="'Application Id'" filter="{application_id: 'number'}" sortable="'application_id'">{{value.id}}</td> -->
                                <td title="'Name'" filter="{ first_name: 'text'}" sortable="'first_name'" ><a href="/student/{{value.lead_id}}/product/0" target="_blank">{{value.first_name + ' ' + value.last_name}}</a></td>
                                <!-- <td title="'Name'" filter="{ first_name: 'text'}" sortable="'first_name'" >{{value.first_name + ' ' + value.last_name}}</td> -->
                                <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">{{value.email}}</td>
                                <td title="'Mobile'" filter="{ mobile_number: 'number'}" sortable="'mobile_number'">{{value.mobile_number}}</td>
                                <!-- <td title="'University'" filter="{ university: 'text'}" sortable="'university'">{{value.university}}</td>
                                <td title="'Course'" filter="{ course: 'text'}" sortable="'course'">{{value.course}}</td>
                                <td title="'Degree'" filter="{ degree: 'text'}" sortable="'degree'">{{value.degree}}</td> -->
                                <td title="'Application Status'" filter="{ current_lead_state: 'text'}" sortable="'current_lead_state'" >{{value.current_lead_state}}</td>
                                <td title="'Assign To'" filter="{ facilitator_email: 'text'}" sortable="'facilitator_email'" >{{value.facilitator_email}}</td>

                                <!-- <td title="'Bank'" filter="{ bank: 'text'}" sortable="'bank'">{{value.bank}}</td>
                                <td title="'Loan Type'" filter="{ loan_type: 'text'}" sortable="'loan_type'">{{value.loan_type}}</td>
                                <td title="'Loan Amount'" filter="{ loan_amount: 'number'}" sortable="'loan_amount'">{{value.loan_amount}}</td>
                                <td title="'Comments'" filter="{ comments: 'text'}" sortable="'comments'" ng-if="!isEditable">{{value.comments}}</td>
                                <td title="'Comments'" ng-if="isEditable">
                                    <select class="form-control" name="comment" id="comment" required ng-init="comment='Please Select'" ng-model="comment" ng-click="changeName(comment)">
                                        <option>Please Select</option>
                                        <option ng-repeat="option in comments" value="{{option.id}}">{{option.value}}</option>
                                    </select>
                                </td> -->
                                <td title="'Facebook Page'"><input type="checkbox" name="fbpage" value="fbpage" id="fbpage" ng-checked=" value.smm_detail.FACEBOOKPAGE == 'YES'" ng-click="smmUpdate($event,value.id,value.lead_id,'FACEBOOKPAGE')"></td>
                                <!-- <td title="'Facebook Page'"><input type="checkbox" name="fbpage" value="fbpage" id="fbpage" ng-checked=" value.smm_detail.FACEBOOKGROUP == 'YES'" ng-click="smmUpdate($event,value.id,value.lead_id,'FACEBOOKGROUP')"></td> -->
                                <td title="'Facebook Group'"><input type="checkbox" name="fbgroup" value="fbgroup" id="fbgroup" ng-checked=" value.smm_detail.FACEBOOKGROUP == 'YES'" ng-click="smmUpdate($event,value.id,value.lead_id,'FACEBOOKGROUP')"></td>
                                <td title="'Instagram'"><input type="checkbox" name="insta" value="insta" id="insta" ng-checked=" value.smm_detail.INSTAGRAM == 'YES'" ng-click="smmUpdate($event,value.id,value.lead_id,'INSTAGRAM')"></td>
                                <td title="'Google Review'"><input type="checkbox" name="greview" value="greview" id="greview" ng-checked=" value.smm_detail.GOOGLEREVIEW == 'YES'" ng-click="smmUpdate($event,value.id,value.lead_id,'GOOGLEREVIEW')"></td>
                                <td title="'Twitter'"><input type="checkbox" name="twitter" value="twitter" id="twitter" ng-checked=" value.smm_detail.TWITTER == 'YES'" ng-click="smmUpdate($event,value.id,value.lead_id,'TWITTER')"></td>
                                <td title="'Youtube'"><input type="checkbox" name="youtube" value="youtube" id="youtube" ng-checked=" value.smm_detail.YOUTUBE == 'YES'" ng-click="smmUpdate($event,value.id,value.lead_id,'YOUTUBE')"></td>
                                <td ng-if="value.smm_detail.SMMCONNECTMAIL != 'YES'" title="'Send SMM Mail'"><button  class="btn btn-info btn-sm btn-circle" ng-click="smmUpdate($event,value.id,value.lead_id,'SMMCONNECTMAIL')">Send Mail</button></td>
                                <td ng-if="value.smm_detail.SMMCONNECTMAIL == 'YES'" title="'Send SMM Mail'"><button  class="btn btn-warning btn-sm btn-circle"  ng-click="smmUpdate($event,value.id,value.lead_id,'SMMCONNECTMAIL')">Resend Mail</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
