<style>
    .ajax-content{
        width: max-content;
        display: none;
    }
   /* .table{
        border: 1px solid;
        border-collapse: inherit;
    }
    .table>thead>tr>th{
        border-left: 1px solid;
    }
    .table>tbody>tr>td{
        border-left: 1px solid;
        border-top: 1px solid;
    }*/
    .block2{
        margin-left: -400px;
    }
    .block3{
        margin-left: -800px;
    }
    .block4{
        margin-left: -1200px;
    }


</style>

<style>
/* Center the loader */
#loaderAjax {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 10000;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f9992f;
  border-bottom: 16px solid #f9992f;
  border-right: 16px solid #004b7a;
  border-left: 16px solid #004b7a;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#loaderAjax {
  display: none;
  text-align: center;
}

#containDiv {
  height: 800px;
  width: 100%;
}
</style>
<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper" style="min-height: 1700px;">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>        Agent Income  </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Finance</a></li>
            <li class="active">Agent Income</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <div id="loaderAjax"></div>

        <div class="col-lg-12">
           <div class="box" style="overflow-x: scroll;">


              <div class="box" style="overflow-x: scroll;">
                  <div class="box-header">

                    <div class="col-lg-12 form-group" >

                      <div class="col-md-3">
                        <label class="control-label">Start Date </label>
                        <input type="date" class="form-control txtBoxBS" id="start_date" ng-model="$parent.start_date">
                      </div>
                      <div class="col-md-3">
                        <label class="control-label">End Date </label>
                        <input type="date" class="form-control txtBoxBS" id="end_date" ng-model="$parent.end_date">
                      </div>
                      <div class="col-md-2">

                        <label class="control-label">Bank List</label>
                        <div  ng-dropdown-multiselect="" options="banklists" selected-model="disbursed_bank_id" extra-settings="bankSetting" ></div>

                      </div>

                      <div class="col-md-2">
                        <label class="control-label"> Agents List</label>
                        <select class="form-control" id="lead_partner_id" name="lead_partner_id" ng-model="$parent.lead_partner_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist">
                           <option value="" >Select agents</option>
                        </select>
                      </div>

                      <div class="col-md-2">
                        <label class="control-label">Intake Year</label>
                        <select class="form-control" name="intake_year" id="intake_year" ng-model="$parent.intake_year">
                            <option value="" >Please Select Year</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                        </select>
                      </div>

                    </div>

                    <div class="col-lg-12 form-group" >
                      <div class="col-md-2">
                        <label class="control-label"> Agents Team Income</label>
                        <select class="form-control" id="team_type" name="team_type" ng-model="$parent.team_type" >
                           <option value="" >Select Agents Team</option>
                           <option value="YES"> YES </option>
                           <option value="NO"> NO </option>
                        </select>
                      </div>

                      <div class="col-md-2">
                        <label class="control-label"> Agents Percentage</label>
                        <input type="number" class="form-control" name="agent_percentage" id="agent_percentage" ng-model="$parent.agent_percentage">
                      </div>

                      <div class="col-md-2">
                        <label class="control-label"> Agents Team Percentage</label>
                        <input type="number" class="form-control" name="agent_team_percentage" id="agent_team_percentage" ng-model="$parent.agent_team_percentage">
                      </div>

                      <div class="col-md-3">
                        <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="agentDisbursedIncomef('NO')">SHOW DISBURSED INCOME</button>
                      </div>

                      <div class="col-md-3">
                        <button class="btn btn-wd btn-primary" style="margin-top: 25px;" ng-click="agentDisbursedIncomef('YES')">SHOW DISBURSED APPROVED INCOME</button>
                      </div>

                    </div>

                  </div>
              </div>


                  <div class="box-header">
                     <h3 class="box-title">My Income</h3>
                  </div>

                  <div class="box-header pull-right">
                     <h3 class="box-title">RM Total Income : {{ rm_total_income }}</h3> <br/>
                     <h3 class="box-title">RM Team Total Income : {{ rm_total_team_income }}</h3> <br/>
                     <h3 class="box-title">RM Overall Income : {{ rm_overall_income }}</h3> <br/>
                  </div>

              <!-- /.box-header -->
              <div class="box-body no-padding">

                 <table id="myTable" class="table table-bordered table-hover">
                    <thead>
                       <tr>

                          <th> BANK Name </th>
                          <th> No of Students </th>
                          <th> Total Sanctioned Amount </th>
                          <th> Total Amount Disbursed </th>
                          <th> Average Sanctioned Amount </th>
                          <th> Average Amount Disbursed </th>
                          <th> Total Commission Received </th>
                          <th> Total Commission Paid to Counsellor </th>
                          <th> Gross Income  Eduloans </th>
                          <th> Average Income Eduloans </th>
                          <th> Your Net Income </th>

                       </tr>
                    </thead>
                    <tbody >

                    <tr ng-repeat="(key , value) in agentDisbursedIncome" >

                          <td>{{value.display_name}}</td>
                          <td> <a data-toggle="modal" data-target="#modal-disbursedIncome-lead" href="#" ng-click="disbursedIncomeLeadList(disbursedApproved,value.bank_id,'AGENT')" >{{value.total_lead ? value.total_lead : 0}}</a> </td>
                          <td> {{value.total_sanctioned_amount ? value.total_sanctioned_amount : 0 }} </td>
                          <td> {{value.total_disbursed_amount ? value.total_disbursed_amount : 0 }} </td>
                          <td> {{value.avg_sanctioned_amount ? value.avg_sanctioned_amount : 0 }} </td>
                          <td> {{value.avg_disbursed_amount ? value.avg_disbursed_amount : 0 }} </td>
                          <td> {{value.total_commision_from_bank ? value.total_commision_from_bank : 0 }} </td>
                          <td> {{value.total_commision_to_counsellor ? value.total_commision_to_counsellor : 0 }} </td>
                          <td> {{value.total_commision_to_eduloans ? value.total_commision_to_eduloans : 0 }} </td>
                          <td> {{value.avg_commision_to_eduloans ? value.avg_commision_to_eduloans : 0 }} </td>
                          <td> {{value.eduloansrm_net_income ? value.eduloansrm_net_income : 0 }} </td>


                       </tr>

                       <!--<tr>
                         <td> Total Income </td>
                         <td> </td>
                         <td> </td>
                         <td> </td>
                         <td> </td>
                         <td> </td>
                         <td> </td>
                         <td> </td>
                         <td> </td>
                         <td> </td>
                         <td>{{ rm_total_income }} </td>
                       </tr>-->

                    </tbody>
                 </table>
              </div>
              <!-- /.box-body -->
           </div>
        </div>


        <div class="col-lg-12" >
           <div class="box" style="overflow-x: scroll;">

                  <div class="box-header">
                     <h3 class="box-title">My Team Income</h3>
                  </div>

              <!-- /.box-header -->
              <div class="box-body no-padding">

                <table id="myTable2" class="table table-bordered table-hover">
                   <thead>
                      <tr>

                        <th> BANK Name </th>
                        <th> No of Students </th>
                        <th> Total Sanctioned Amount </th>
                        <th> Total Amount Disbursed </th>
                        <th> Average Sanctioned Amount </th>
                        <th> Average Amount Disbursed </th>
                        <th> Total Commission Received </th>
                        <th> Total Commission Paid to Counsellor </th>
                        <th> Gross Income  Eduloans </th>
                        <th> Average Income Eduloans </th>
                        <th> Your Net Income </th>

                      </tr>
                   </thead>
                   <tbody >

                   <tr ng-repeat="(key , value) in agentDisbursedTeamIncome" >

                         <td>{{value.display_name}}</td>
                         <td> <a data-toggle="modal" data-target="#modal-disbursedIncome-lead" href="#" ng-click="disbursedIncomeLeadList(disbursedApproved,value.bank_id,'TEAM')" >{{value.total_lead ? value.total_lead : 0}}</a> </td>
                         <td> {{value.total_sanctioned_amount ? value.total_sanctioned_amount : 0 }} </td>
                         <td> {{value.total_disbursed_amount ? value.total_disbursed_amount : 0 }} </td>
                         <td> {{value.avg_sanctioned_amount ? value.avg_sanctioned_amount : 0 }} </td>
                         <td> {{value.avg_disbursed_amount ? value.avg_disbursed_amount : 0 }} </td>
                         <td> {{value.total_commision_from_bank ? value.total_commision_from_bank : 0 }} </td>
                         <td> {{value.total_commision_to_counsellor ? value.total_commision_to_counsellor : 0 }} </td>
                         <td> {{value.total_commision_to_eduloans ? value.total_commision_to_eduloans : 0 }} </td>
                         <td> {{value.avg_commision_to_eduloans ? value.avg_commision_to_eduloans : 0 }} </td>
                         <td> {{value.eduloansrm_net_income ? value.eduloansrm_net_income : 0 }} </td>


                      </tr>
                      <!--<tr>
                        <td> Total Income </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>{{ rm_total_team_income }} </td>
                      </tr>-->

                   </tbody>
                </table>
              </div>
              <!-- /.box-body -->
           </div>
        </div>

    </section>
    <!-- /.content -->
</div>


<div class="modal fade" id="modal-disbursedIncome-lead">
   <div class="modal-dialog">
      <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 900px;">
         <a class="btn" title="Export Table" ng-click='disbursedIncome.generate()' ng-href="{{ disbursedIncome.link() }}" download="disbursedIncome.csv">
         <i class="glyphicon glyphicon-new-window"></i> &#160;Export
         </a>
         <table ng-table="disbursedIncomeTableParams" class="table table-bordered" show-filter="true" export-csv="disbursedIncome" separator="," export-csv-ignore="ignore">
            <tr ng-repeat="valueee in $data" id="disbursedIncomedatainfo">
               <td title="'Lead-id'" filter="{ id : 'number'}" sortable="'id'"><a target="_blank" href="/student/{{valueee.id}}/product/0" >{{valueee.id}}</a></td>
               <td title="'Customer Name'" filter="{ customer_name : 'text'}" sortable="'customer_name'">{{valueee.customer_name ? valueee.customer_name : 0}}</td>
               <td title="'Customer Email'" filter="{ customer_email : 'text'}" sortable="'customer_email'">{{valueee.customer_email ? valueee.customer_email : 0}}</td>
               <td title="'Customer Mobile'" filter="{ customer_mobile : 'text'}" sortable="'customer_mobile'">{{valueee.customer_mobile ? valueee.customer_mobile : 0}}</td>
               <td title="'Customer City'" filter="{ customer_city_name : 'text'}" sortable="'customer_city_name'">{{valueee.customer_city_name ? valueee.customer_city_name : "NOT AVAILABLE"}}</td>
               <td title="'Lead State'" filter="{ current_lead_state : 'text'}" sortable="'current_lead_state'">{{valueee.current_lead_state ? valueee.current_lead_state : 0}}</td>
               <!-- <td title="'Source Name'" filter="{ display_name : 'text'}" sortable="'display_name'">{{valueee.display_name ? valueee.display_name : 0}}</td> -->
               <td title="'Assign To'" filter="{ agent_email : 'text'}" sortable="'agent_email'">{{valueee.agent_email ? valueee.agent_email : 0}}</td>
               <td title="'Requested Loan Amount'" filter="{ requested_amount : 'text'}" sortable="'requested_amount'">{{valueee.requested_loan_amount ? valueee.requested_loan_amount : 0}}</td>
               <td title="'Comments'" ><a target="_blank" href="/comments/lead/{{valueee.id}}/0" >Comments</a></td>
            </tr>
         </table>
         <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.content-wrapper -->


<div class="modal fade" id="modal-count-tllead">
           <div class="modal-dialog">
              <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 1000px;">
                 <a class="btn" title="Export Table" ng-click='tlIncomeData.generate()' ng-href="{{ tlIncomeData.link() }}" download="tlIncomeData.csv">
                 <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                 </a>
                 <table ng-table="tableParamstlIncomeData" class="table table-bordered" show-filter="true" export-csv="tlIncomeData" separator="," export-csv-ignore="ignore">
                    <tr ng-repeat="valueee in $data" id="tableParamstlIncomeData" >
                       <td title="'Lead-id'" filter="{ lead_id : 'number'}" sortable="'lead_id'"><a target="_blank" href="/student/{{valueee.lead_id}}/product/0" >{{valueee.lead_id}}</a></td>

                       <td title="'Student Name'" filter="{ customer_name : 'text'}" sortable="'first_name'">{{valueee.customer_name}}</td>

                       <td title="'Student Email'" filter="{ customer_email : 'text'}" sortable="'customer_email'">{{valueee.customer_email ? valueee.customer_email : 0}}</td>

                       <td title="'student Mobile'" filter="{ customer_mobile : 'text'}" sortable="'customer_mobile'">{{valueee.customer_mobile ? valueee.customer_mobile : 0}}</td>

                       <td title="'Lead State'" filter="{ lead_state : 'text'}" sortable="'lead_state'">{{valueee.current_lead_state ? valueee.current_lead_state : 0}}</td>

                       <td title="'Assign To'" filter="{ agent_email : 'text'}" sortable="'agent_email'">{{valueee.agent_email ? valueee.agent_email : 0}}</td>

                       <td title="'Estimated Income'" filter="{ estimated_income : 'text'}" sortable="'estimated_income'">{{valueee.estimated_income ? valueee.estimated_income : 0}}</td>
                       <!-- <td title="'Requested Loan Amount'" filter="{ requested_amount : 'text'}" sortable="'requested_amount'">{{valueee.requested_loan_amount ? valueee.requested_loan_amount : 0}}</td> -->

                       <td title="'Comments'" ><a target="_blank" href="/comments/lead/{{valueee.lead_id}}/0" >Comments</a></td>
                    </tr>
                 </table>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
                 </div>
              </div>
              <!-- /.modal-content -->
           </div>
           <!-- /.modal-dialog -->
        </div>
<!-- /.content-wrapper -->

<!-- <script src="components/raphael/raphael.min.js"></script>
<script src="components/morris.js/morris.min.js"></script> -->

<script type="text/javascript">

</script>
