<style>
    .ajax-content{
        width: max-content;
        display: none;
    }
   /* .table{
        border: 1px solid;
        border-collapse: inherit;
    }
    .table>thead>tr>th{
        border-left: 1px solid;
    }
    .table>tbody>tr>td{
        border-left: 1px solid;
        border-top: 1px solid;
    }*/
    .block2{
        margin-left: -400px;
    }
    .block3{
        margin-left: -800px;
    }
    .block4{
        margin-left: -1200px;
    }


</style>
<!-- Content Wrapper. Contains page content -->







<div class="content-wrapper" style="min-height: 1700px;">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>        Agent Income   Intake Year - {{intakeYear}}  </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Finance</a></li>
            <li class="active">Agent Income</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="col-lg-12">
           <div class="box" style="overflow-x: scroll;">


              <div class="box" style="overflow-x: scroll;">
                  <div class="box-header">

                    <div  class="col-md-4" ng-if="role_id == '1' ">
                       <label class="control-label"> Agents List</label>
                       <select class="form-control" id="lead_partner_id" name="lead_partner_id" ng-model="$parent.lead_partner_id" ng-options="item.id as (item.first_name + ' - ' + item.email) for item in agentslist" ng-change="agentFilterAgentIncome()">
                          <option value="" >Select agents</option>
                       </select>
                    </div>

                         <div class="col-md-3 pull-right">
                           <label class="control-label">Intake Year</label>
                           <select class="form-control" name="intake_year_filter" id="intake_year_filter" ng-model="$parent.intake_year_filter" ng-change="intakeYearFilterAgentIncome()">
                               <option value="" >Please Select Year</option>
                               <option value="2018">2018</option>
                               <option value="2019">2019</option>
                               <option value="2020">2020</option>
                               <option value="2021">2021</option>
                               <option value="2022">2022</option>
                               <option value="2023">2023</option>
                           </select>
                         </div>
                      </div>
                  </div>

                  <div class="box-header">
                     <h3 class="box-title">My Income</h3>
                  </div>

              <!-- /.box-header -->
              <div class="box-body no-padding">

                 <table id="myTable" class="table table-bordered table-hover">
                    <thead>
                       <tr>

                          <th style="width: 40px">STAGES</th>
                          <th style="width: 40px">INCOME</th>
                          <th style="width: 40px">LEAD COUNT</th>

                       </tr>
                    </thead>
                    <tbody class="tb_jobsched">

                    <tr ng-repeat="(key , value) in agentIncomeList" >

                          <td>{{key}}</td>

                          <td> {{value.amount}} </td>

                          <td> <a data-toggle="modal" data-target="#modal-count-lead" href="#" ng-click="setLeadState(key,'agent')">{{value.lead_count}}</a></td>
                       </tr>

                       <tr>
                         <td> <b> Estimated Income </b> </td>
                         <td> <b> {{agentEstimatedIncome}}</b> </td>
                         <td> - </td>
                       </tr>

                       <tr>
                         <td> <b> Actual Income</b> </td>
                         <td> <b> {{agentActualIncome}}</b> </td>
                         <td>  - </td>
                       </tr>

                    </tbody>
                 </table>
              </div>
              <!-- /.box-body -->
           </div>
        </div>


        <div class="col-lg-12" ng-if=" role_id == '1' || role_id == '3' ">
           <div class="box" style="overflow-x: scroll;">

                  <div class="box-header">
                     <h3 class="box-title">My Team Income</h3>
                  </div>

              <!-- /.box-header -->
              <div class="box-body no-padding">

                 <table id="myTable" class="table table-bordered table-hover">
                    <thead>
                       <tr>

                          <th style="width: 40px">STAGES</th>
                          <th style="width: 40px">INCOME</th>
                          <th style="width: 40px">LEAD COUNT</th>

                       </tr>
                    </thead>
                    <tbody class="tb_jobsched">

                    <tr ng-repeat="(key , value) in tlIncomeList" >

                          <td>{{key}}</td>

                          <td> {{value.amount}}</td>

                          <td> <a data-toggle="modal" data-target="#modal-count-tllead" href="#" ng-click="setLeadState(key,'tl')">{{value.lead_count}}</a></td>
                       </tr>

                       <tr>
                         <td> <b>Estimated Income</b></td>
                         <td> <b>{{tlEstimatedIncome}}</b></td>
                         <td> - </td>
                       </tr>

                       <tr>
                         <td> <b>Actual Income</b> </td>
                         <td> <b>{{tlActualIncome}}</b> </td>
                         <td>  - </td>
                       </tr>

                    </tbody>
                 </table>
              </div>
              <!-- /.box-body -->
           </div>
        </div>

    </section>
    <!-- /.content -->
</div>


<div class="modal fade" id="modal-count-lead">
           <div class="modal-dialog">
              <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 1000px;">
                 <a class="btn" title="Export Table" ng-click='agentIncomeData.generate()' ng-href="{{ agentIncomeData.link() }}" download="agentIncomeData.csv">
                 <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                 </a>
                 <table ng-table="tableParamsAgentIncomeData" class="table table-bordered" show-filter="true" export-csv="agentIncomeData" separator="," export-csv-ignore="ignore">
                    <tr ng-repeat="valueee in $data" id="tableParamsAgentIncomeData" >
                       <td title="'Lead-id'" filter="{ lead_id : 'number'}" sortable="'lead_id'"><a target="_blank" href="/student/{{valueee.lead_id}}/product/0" >{{valueee.lead_id}}</a></td>

                       <td title="'Student Name'" filter="{ customer_name : 'text'}" sortable="'first_name'">{{valueee.customer_name}}</td>

                       <td title="'Student Email'" filter="{ customer_email : 'text'}" sortable="'customer_email'">{{valueee.customer_email ? valueee.customer_email : 0}}</td>

                       <td title="'student Mobile'" filter="{ customer_mobile : 'text'}" sortable="'customer_mobile'">{{valueee.customer_mobile ? valueee.customer_mobile : 0}}</td>

                       <td title="'Lead State'" filter="{ lead_state : 'text'}" sortable="'lead_state'">{{valueee.current_lead_state ? valueee.current_lead_state : 0}}</td>

                       <td title="'Estimated Income'" filter="{ estimated_income : 'text'}" sortable="'estimated_income'">{{valueee.estimated_income ? valueee.estimated_income : 0}}</td>

                       <td title="'Assign To'" filter="{ agent_email : 'text'}" sortable="'agent_email'">{{valueee.agent_email ? valueee.agent_email : 0}}</td>

                       <!-- <td title="'Requested Loan Amount'" filter="{ requested_amount : 'text'}" sortable="'requested_amount'">{{valueee.requested_loan_amount ? valueee.requested_loan_amount : 0}}</td> -->

                       <td title="'Comments'" ><a target="_blank" href="/comments/lead/{{valueee.lead_id}}/0" >Comments</a></td>
                    </tr>
                 </table>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
                 </div>
              </div>
              <!-- /.modal-content -->
           </div>
           <!-- /.modal-dialog -->
        </div>
<!-- /.content-wrapper -->


<div class="modal fade" id="modal-count-tllead">
           <div class="modal-dialog">
              <div class="modal-content" style="overflow: scroll; background-color: white; color: black; width: 1000px;">
                 <a class="btn" title="Export Table" ng-click='tlIncomeData.generate()' ng-href="{{ tlIncomeData.link() }}" download="tlIncomeData.csv">
                 <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                 </a>
                 <table ng-table="tableParamstlIncomeData" class="table table-bordered" show-filter="true" export-csv="tlIncomeData" separator="," export-csv-ignore="ignore">
                    <tr ng-repeat="valueee in $data" id="tableParamstlIncomeData" >
                       <td title="'Lead-id'" filter="{ lead_id : 'number'}" sortable="'lead_id'"><a target="_blank" href="/student/{{valueee.lead_id}}/product/0" >{{valueee.lead_id}}</a></td>

                       <td title="'Student Name'" filter="{ customer_name : 'text'}" sortable="'first_name'">{{valueee.customer_name}}</td>

                       <td title="'Student Email'" filter="{ customer_email : 'text'}" sortable="'customer_email'">{{valueee.customer_email ? valueee.customer_email : 0}}</td>

                       <td title="'student Mobile'" filter="{ customer_mobile : 'text'}" sortable="'customer_mobile'">{{valueee.customer_mobile ? valueee.customer_mobile : 0}}</td>

                       <td title="'Lead State'" filter="{ lead_state : 'text'}" sortable="'lead_state'">{{valueee.current_lead_state ? valueee.current_lead_state : 0}}</td>

                       <td title="'Assign To'" filter="{ agent_email : 'text'}" sortable="'agent_email'">{{valueee.agent_email ? valueee.agent_email : 0}}</td>

                       <td title="'Estimated Income'" filter="{ estimated_income : 'text'}" sortable="'estimated_income'">{{valueee.estimated_income ? valueee.estimated_income : 0}}</td>
                       <!-- <td title="'Requested Loan Amount'" filter="{ requested_amount : 'text'}" sortable="'requested_amount'">{{valueee.requested_loan_amount ? valueee.requested_loan_amount : 0}}</td> -->

                       <td title="'Comments'" ><a target="_blank" href="/comments/lead/{{valueee.lead_id}}/0" >Comments</a></td>
                    </tr>
                 </table>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary" ng-click="updateComment(callingIdComments)">Download</button> -->
                 </div>
              </div>
              <!-- /.modal-content -->
           </div>
           <!-- /.modal-dialog -->
        </div>
<!-- /.content-wrapper -->

<!-- <script src="components/raphael/raphael.min.js"></script>
<script src="components/morris.js/morris.min.js"></script> -->

<script type="text/javascript">

</script>
