 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<style type="text/css">


.ng-table-counts {
  display: none;
}
</style>
<div class="wrapper" style="height:650px">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Bank Disbursal Information
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-users"></i>Finance</a></li>
          <li class="active">Bank Disbursal Information</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <!-- <div class="row" ng-controller = "bulkuploadController"> -->
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Bank Disbursal Information</h3>
              </div>
              <form class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label  class="col-sm-2 control-label">Select Bank</label>

                    <div class="col-sm-10">
                      <!-- <select class="bankIDSelect form-control" id="bank_id" ng-model="$parent.bank_id" ng-options="item.id as (item.display_name) for item in banklist" >
                        <option value="" >Select Bank</option>
                      </select> -->
                      <select class="form-control" ng-model="$parent.bank_id" id="bankId" name="bankId" ng-options="item.id as (item.display_name) for item in banklist" >
                        <option value="" >Select Bank</option>
                      </select>
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Commission On Sanction Amount :</label>
                      <div class="row">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <label>{{sancAmt}}
                                    <input type="checkbox" ng-model="$parent.sancAmt"
                                           ng-true-value="'YES'" ng-false-value="'NO'">
                                   </label>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Commission On Disbursal Amount :</label>
                      <div class="row">
                          <div class="row">
                              <div class="col-lg-4">
                                  <div class="input-group">
                                      <label>{{disbAmt}}
                                      <input type="checkbox" ng-model="$parent.disbAmt"
                                             ng-true-value="'YES'" ng-false-value="'NO'">
                                     </label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">   
                    <label  class="col-sm-4 control-label">First Disbursal Only :</label>
                    <div class="row">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <label>{{firstDis}}
                                    <input type="checkbox" ng-model="$parent.firstDis"
                                           ng-true-value="'YES'" ng-false-value="'NO'">
                                   </label>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="form-group">    
                    <label  class="col-sm-4 control-label">All Disbursal :</label>
                        <div class="row">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <label>{{allDis}}
                                    <input type="checkbox" ng-model="$parent.allDis"
                                           ng-true-value="'YES'" ng-false-value="'NO'">
                                   </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>
                  <div class="form-group">    
                        <label class="col-sm-4 control-label">Percentage of Value :</label>
                       <div class="col-sm-10 col-md-5">
                          <input type="text" class="form-control" name="percentVal" id="percentVal" ng-model="$parent.percentVal"> </input>
                       </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Range is there ?</label>
                      <div class="row">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group">
                                        <label id="Rlabel">{{range}}
                                    <input type="checkbox" ng-model="$parent.range"
                                           ng-true-value="'YES'" ng-false-value="'NO'" id="amountRange">
                                   </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Amount Range is there ?</label>
                      <div class="row">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group">
                                        <label>{{rangeAmt}}
                                    <input type="checkbox" ng-model="$parent.rangeAmt"
                                           ng-true-value="'YES'" ng-false-value="'NO'" id="amountRange">
                                   </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                       <label class="col-sm-4 control-label">Flat Amount of loan (&#8377;) : </label>
                       <div class="col-sm-10 col-md-5">
                          <input type="text" class="form-control" name="flatValue" id="flatValue" ng-model="$parent.flatValue"> </input>
                       </div> 
                    </div>
                  <div class="form-group" style="display: none;">
                    <label class="col-sm-4 control-label">ID</label>
                       <div class="col-sm-10 col-md-5">
                          <input type="text" class="form-control" name="proID" id="proID" ng-model="$parent.proID"> </input>
                       </div> 
                  </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-info pull-left" ng-click="updateProductDisbursedInfo()">Submit</button>
                </div>
              </form>
              <form class="form-horizontal" id="RangeTableDiv" style="display: none;">
                <div class="box-body">
                  <!-- <div class="form-group">
                    <label  class="col-sm-4 control-label">Amount Range is there ?</label>
                      <div class="row">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon amtRange">
                                        <input type="checkbox" id="amountRange">
                                    </span>
                                    <input type="text" class="form-control pull-right">
                                </div>
                            </div>
                        </div>
                    </div>
                  </div> -->
                  <hr>
                  <div class="form-group">
                    <h3>Range Table :</h3>
                       <div class="table-responsive col-md-12">
                        <table ng-table="productRangeDataList" class="table table-bordered table-striped table-hover table-condensed text-center" >
                          <thead>
                            <tr>
                              <th colspan="1" class="text-center" style="display: none;">
                                ID
                              </th>
                              <th colspan="1" class="text-center">
                                Range Start
                              </th>
                              <th colspan="1" class="text-center">
                                Range End
                              </th>
                              <th colspan="1" class="text-center">
                                Percentage
                              </th>
                              <th colspan="1" class="text-center">
                                Fixed Amount
                              </th>
                              <th colspan="1">
                              </th>
                              <!-- <th class="text-center">
                                
                              </th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="value in $data" >
                              <td name="id" id="id" ng-model="value.id" style="display: none;">
                                {{value.id}}
                              </td>
                              <!-- <td name="start_lead_count" id="start_lead_count" ng-model="$parent.start_lead_count">
                                {{value.start_lead_count}}
                              </td> -->
                              <td title="'Start'" ng-if="!value.isEditable" filter="{ Start: 'text'}" sortable="'Start'" >{{value.start_lead_count}}
                              </td>
                              <td title="'Start'" ng-if="value.isEditable" >
                                <input type="text" class="col-md-12" ng-model="value.start_lead_count"/>
                              </td>
                              <!-- <td name="end_lead_count" id="end_lead_count" ng-model="value.end_lead_count">
                                {{value.end_lead_count}}
                              </td> -->
                              <td title="'End'" ng-if="!value.isEditable" filter="{ End: 'text'}" sortable="'End'" >{{value.end_lead_count}}
                              </td>
                              <td title="'End'" ng-if="value.isEditable" >
                                <input type="text" class="col-md-12" ng-model="value.end_lead_count"/>
                              </td>
                              <!-- <td name="percentage" id="percentage" ng-model="$parent.percentage">
                                {{value.percentage}}
                              </td> -->
                              <td title="'Percentage'" ng-if="!value.isEditable" filter="{ Percentage: 'number'}" sortable="'Percentage'" >{{value.percentage}}
                              </td>
                              <td title="'Percentage'" ng-if="value.isEditable" >
                                <input type="text" class="col-md-12" ng-model="value.percentage"/>
                              </td>
                              <!-- <td name="amount" id="amount" ng-model="$parent.amount">
                                {{value.amount}}
                              </td> -->
                              <td title="'Fixed Amount'" ng-if="!value.isEditable" filter="{ Fixed Amount: 'number'}" sortable="'Fixed Amount'" >{{value.amount}}
                              </td>
                              <td title="'Fixed Amount'" ng-if="value.isEditable" >
                                <input type="text" class="col-md-12" ng-model="value.amount"/>
                              </td>
                              
                              <td title ="Action" ng-if="!value.isEditable"><button ng-click="editData(value)" class="btn btn-sm btn-warning">Edit</button></td>
                              <td ng-if="value.isEditable" style="width:86px;"><button ng-click="cancelEditData(value)" class="btn btn-danger btn-sm btn-circle"> <i class="fa fa-times"></i> </button> <button ng-click="updateProductDisbursedRangeInfo(value)" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i></button></td>
                            </tr>
                            <!-- <tr>
                              <td><button id="addNewRow" class="btn btn-primary btn-sm">Add New Row</button></td>
                            </tr> -->
                            
                          </tbody>
                          
                          <!-- <button type="button" class="btn btn-info pull-left" ng-click="updateProductDisbursedRangeInfo(value)">Submit</button> -->
                        </table>

                        <table class="table table-bordered table-striped table-hover table-condensed text-center" id="newRow" style="display: none;">
                          <thead>
                            <!-- <tr>
                              <th class="text-center">
                                Start
                              </th>
                              <th class="text-center">
                                End
                              </th>
                              <th class="text-center">
                                Percentage
                              </th>
                              <th class="text-center">
                                Fixed Amount
                              </th>
                              <th>
                              </th>
                              
                            </tr> -->
                          </thead>
                          <tbody>
                            <tr id="newRow" >
                              
                              <td title="'Start'">
                                <input type="text" class="col-md-12" ng-model="$parent.start_lead_count"/>
                              </td>
                              
                              <td title="'End'">
                                <input type="text" class="col-md-12" ng-model="$parent.end_lead_count"/>
                              </td>
                              
                              <td title="'Percentage'">
                                <input type="text" class="col-md-12" ng-model="$parent.percentage"/>
                              </td>
                             
                              <td title="'Fixed Amount'">
                                <input type="text" class="col-md-12" ng-model="$parent.amount"/>
                              </td>
                              
                              <td title ="Action" ><button ng-click="updateProductDisbursedRangeInfo1()" type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-check"></i>Save</button></td>
                              
                              <td title ="Action1" id="removeRow" style="display: none;"><button type="button" id="rmBtn">-</button></td>
                            </tr>
                            
                          </tbody>
                          <tfoot>
                              <tr>
                                  <td colspan="6" style="text-align: right;"><button type="button" id="addRowButton">+</button></td>
                              </tr>
                          </tfoot>
                          <!-- <button type="button" class="btn btn-info pull-left" ng-click="updateProductDisbursedRangeInfo()">Submit</button> -->
                        </table>
                        <button id="addNewRow" class="btn btn-primary btn-sm" onclick="toggle_visibility('newRow');">Add New Row</button>
                        </div>
                  </div>
                  
                <div class="box-footer">
                  
                </div>
              </form>
            </div>
          </div>

        </div>
      </section>
      <!-- /.content -->
    </div>
    <div class="control-sidebar-bg"></div>
  </div>
<script type="text/javascript">

    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'none')
          e.style.display = 'block';
       else
          e.style.display = 'none';
    }


    $(document).on('click', '#addRowButton', function() {
    $('#removeRow').show();
    var table = $('#newRow'),
        lastRow = table.find('tbody tr:last'),
        rowClone = lastRow.clone();

    table.find('tbody').append(rowClone);
});

    $('#newRow').on('click', '#rmBtn', function () {
   alert("Are You sure to delete this row ?");
   $(this).closest('tr').remove();
});

 //$('#DyanmicTable').SetEditable({ $addButton: $('#addNewRow')});
</script>