<div class="wrapper" style="height:650px">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Calculate
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-users"></i> Finance</a></li>
          <li class="active">Calculate Data</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">

        <div class="row" >
          <div class="col-md-8 col-md-offset-2">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Calculate Estimated Earnings</h3>
              </div>
              <form class="form-horizontal">
                <div class="box-body">

                  <div class="form-group">
                    <label  class="col-sm-2 control-label">Bank</label>

                  <div class="col-sm-10">
                    <select class="form-control" ng-model="$parent.bank_id" ng-options="item.id as (item.display_name) for item in banklist" >
                <option value="" >Select Bank</option>
              </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Intake Year </label>

                    <div class="col-sm-10">
                      <select class="form-control" name="intake_year" id="intake_year" ng-model="$parent.intake_year">
                          <option value="" >Please Select Year</option>
                          <option value="2018">2018</option>
                          <option value="2019">2019</option>
                          <option value="2020">2020</option>
                          <option value="2021">2021</option>
                          <option value="2022">2022</option>
                          <option value="2023">2023</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-2 control-label">Start Date</label>

                    <div class="col-sm-10">
                      <input type="date" class="form-control txtBoxBS" name="start_date" id="start_date" ng-model="$parent.start_date">
                    </div>
                  </div>
                  <div id="select_source_div" class="form-group">
                    <label  class="col-sm-2 control-label">End Date</label>

                    <div class="col-sm-10">
                      <input type="date" class="form-control txtBoxBS" name="end_date" id="end_date" ng-model="$parent.end_date">
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-info pull-left" ng-click="calculateData()">Calculate</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </section>
      <!-- /.content -->
    </div>
    <div class="control-sidebar-bg"></div>
  </div>
