<style>
tr:hover {
    border:2px solid #ddd;
    background-color: #ddd!important;
}
.act{
    background : #dac9c9!important;
}

.modal-content {
    background-color: #fff !important;
    color: #000 !important;
    padding: 20px 50px !important;
}

.modal-content input {
    height: 34px !important;
    border-radius: 0;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #2fc0ef;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fff;
}

/* Style the tab content */
.tabcontent {
  /*display: none;*/
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>CONFIRMED DISBURSED LEAD LIST ({{intakeYear}}) </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Students</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="overflow-x: scroll;">
                    <div class="box-header">

                           <div class="col-md-3 pull-right">
                             <label class="control-label">Intake Year</label>
                             <select class="form-control" name="confirm_intake_year_filter" id="confirm_intake_year_filter" ng-model="$parent.confirm_intake_year_filter" ng-change="confirmintakeYearFilter()">
                                 <option value="" >Please Select Year</option>
                                 <option value="2018">2018</option>
                                 <option value="2019">2019</option>
                                 <option value="2020">2020</option>
                                 <option value="2021">2021</option>
                                 <option value="2022">2022</option>
                                 <option value="2023">2023</option>
                                 <option value="ALL">ALL</option>
                             </select>
                           </div>
                        </div>
                    </div>
                    <div class="box-body" style="overflow-x: scroll;">

                      <span ng-if="role_id == 1 || role_id == 8 " class="pull-right"> <b>Estimated Earnings</b> - {{ confirmestimatedearnings }} </span><br/>
                      <span class="pull-right"> <b>Recived Earnings</b> - {{ confirmreacivedearnings }} </span> <br/>
                      <span class="pull-right"> <b>Commision Given </b> - {{ confirmcommisiongiven }} </span><br/>
                      <span class="pull-right"> <b>Final Earnings Recived </b> - {{ confirmreacivedearnings - confirmcommisiongiven }} </span>

                      <span > Total No - <b>{{ confirmAllStudentListTableParams.total() }}</b></span>
                      <br/>

                      <a class="btn" title="Export Table" ng-click='confirmdisbursedleadlist.generate()' ng-href="{{ confirmdisbursedleadlist.link() }}" download="confirmdisbursedleadlist.csv">
                      <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                      </a>

                        <table ng-table="confirmAllStudentListTableParams" class="table table-bordered table-hover" show-filter="true" export-csv="confirmdisbursedleadlist" separator="," export-csv-ignore="ignore" >
                            <tr ng-repeat="value in $data" id="list_table" ng-class="{act : activeMenu === value.lead_id}">

                                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'" ng-if="!isEditable"><a href="/student/{{value.lead_id}}/product/{{value.lapid}}" target="_blank" ng-click="setActive(value.lead_id)">{{value.name}}</a></td>
                                <td title="'Mobile'" filter="{ mobile_number: 'number'}" sortable="'mobile_number'">{{value.mobile_number}}</td>
                                <td title="'Email'" filter="{ email: 'text'}" sortable="'text'">{{value.email}}</td>
                                <td title="'Bank'" filter="{ product_name: 'text'}" sortable="'product_name'">{{value.product_name}}</td>
                                <td title="'Status'" filter="{ current_lead_state: 'text'}" sortable="'current_lead_state'">{{value.current_lead_state}}</td>
                                <td title="'Approve By Finance'" filter="{ approved_by_finance: 'text'}" sortable="'approved_by_finance'">{{value.approved_by_finance}}</td>
                                <td title="'Invoice Raised'" filter="{ invoice_raised: 'text'}" sortable="'invoice_raised'">{{value.invoice_raised}}</td>
                                <td title="'More Commision Expected'" filter="{ more_commision_expected: 'text'}" sortable="'more_commision_expected'">{{value.more_commision_expected}}</td>
                                <td title="'Sanctioned Date'" filter="{sanctioned_date: 'text'}" sortable="'sanctioned_date'">{{value.sanctioned_date | date:'dd-MM-yyyy'}}</td>
                                <td title="'Sanctioned Amount'" filter="{sanctioned_amount: 'number'}" sortable="'sanctioned_amount'">{{value.sanctioned_amount}}</td>
                                <td title="'Disbursed Date'" filter="{disbursed_date: 'number'}" sortable="'disbursed_date'">{{value.disbursed_date | date:'dd-MM-yyyy'}}</td>
                                <td title="'Disbursed Amount'" filter="{disbursed_amount: 'number'}" sortable="'disbursed_amount'">{{value.disbursed_amount}}</td>
                                <td title="'Amount Received'" filter="{amount_received: 'number'}" sortable="'amount_received'">{{value.amount_received}}</td>
                                <td title="'Intake'"  filter="{intake: 'text'}" sortable="'intake'">{{value.intake}}</td>
                                <td title="'Bank Reference One'"  filter="{reference_one: 'text'}" sortable="'reference_one'">{{value.reference_one}}</td>
                                <td title="'Bank Reference Two'"  filter="{reference_two: 'text'}" sortable="'reference_two'">{{value.reference_two}}</td>
                                <td title="'AADHAAR ID'"  filter="{aadhaar_id: 'text'}" sortable="'aadhaar_id'">{{value.aadhaar_id}}</td>
                                <td title="'PAN ID'"  filter="{pan_id: 'text'}" sortable="'pan_id'">{{value.pan_id}}</td>
                                <td title="'Assigned To'" filter="{ partner_name: 'text'}" sortable="'partner_name'">{{value.partner_name}}</td>
                                <td title="'Counsellor Name'" filter="{ reference_name: 'text'}" sortable="'reference_name'">{{value.reference_name}}</td>
                                <td ng-if="role_id == 1 || role_id == 8 " title="'View Info'"> <a data-toggle="modal" data-target="#modal-disbursed-lead" href="#" class="btn btn-info btn-sm btn-circle" ng-click="disbursedInfoByLeadId(value.lead_id)"> View info</a></td>


                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>
<div class="modal fade" id="modal-disbursed-lead">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row form-group">
                    <div class="col-md-3">
                        <h4 class="modal-title"><b>Lead Information : 11 {{ leaddisbursalinfobyleadid[0].name }}<b></h4>
                    </div>

                </div>
            </div>
            <div class="modal-body">
                <div class="tab">
                  <button ng-class="{'tablinks active': active==key, 'tablinks': active!=key}" ng-click="selectTab(key)" ng-repeat="(key, value) in leaddisbursalinfobyleadid">{{key}}</button>
                </div>

                <div class="tabcontent" ng-show="active==key" ng-repeat="(key, option) in leaddisbursalinfobyleadid">
                  <h3>{{key}} Information :</h3> <a class="pull-right" href="/student/{{leaddisbursalinfobyleadid[key].lead_id}}/product/{{leaddisbursalinfobyleadid[key].lapid}}" target="_blank" >Lead Link</a>
                 <form class="form-horizontal" ng-submit="updateDisbursedLeadInfo()">
                  <div class="box-body">
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Name :</label>
                       <div class="col-sm-6">
                          <input type="text" class="form-control" ng-model="leaddisbursalinfobyleadid[key].name" disabled="true" > </input>
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Email ID :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].email" disabled="true" >
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Mobile Number :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].mobile_number" disabled="true">
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Assigned To :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].partner_name"  disabled="true" >
                       </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Financial Institution :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].product_name" disabled="true">
                       </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Lead Status :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].current_lead_state" disabled="true">
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Invoice Raised :</label>
                       <div class="col-sm-6">
                          <select class="form-control" ng-init="invoice_raised = 'Please Select'" ng-model="leaddisbursalinfobyleadid[key].invoice_raised" required>
                             <option>Please Select</option>
                             <option  value="YES"> YES </option>
                             <option  value="NO"> NO </option>
                          </select>
                       </div>
                    </div>
                    <div class="form-group" ng-if="leaddisbursalinfobyleadid[key].invoice_raised=='YES'">
                      <label class="col-sm-4 control-label">Invoice Raised Date :</label>
                       <div class="col-sm-6">
                          <datepicker date-format="yyyy-MM-dd"><input ng-model="leaddisbursalinfobyleadid[key].invoice_raised_date" type="text"/></datepicker>
                       </div>
                    </div>
                    <div class="form-group" ng-if="leaddisbursalinfobyleadid[key].invoice_raised=='YES'">
                       <label class="col-sm-4 control-label">Invoice Raised Number :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].invoice_raised_number" >
                       </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Sanctioned Date :</label>
                       <div class="col-sm-6">
                          <datepicker date-format="yyyy-MM-dd"><input ng-model="leaddisbursalinfobyleadid[key].sanctioned_date" type="text"/></datepicker>
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Sanctioned Amount :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].sanctioned_amount"  disabled="true">
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Sanctioned Amount By Finance Team:</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].sanctioned_amount_by_finance" >
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Disbursed Date :</label>
                       <div class="col-sm-6">
                          <datepicker date-format="yyyy-MM-dd"><input ng-model="leaddisbursalinfobyleadid[key].disbursed_date" type="text"/></datepicker>
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Disbursed Amount :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].disbursed_amount" disabled="true">
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Disbursed Amount By Finance Team:</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].disbursed_amount_by_finance">
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Disbursal Info :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].disbursal_info">
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Amount Calculated :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].amount_calculated">
                       </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Amount Received Status:</label>
                      <div class="col-sm-6">
                         <select class="form-control" ng-init="payment_status = 'Please Select'" ng-model="leaddisbursalinfobyleadid[key].payment_status" required>
                            <option>Please Select</option>
                            <option  value="RECEIVED"> RECEIVED </option>
                            <option  value="PENDING"> PENDING </option>
                         </select>
                      </div>
                    </div>
                    <div class="form-group" ng-if="leaddisbursalinfobyleadid[key].payment_status=='RECEIVED'">
                       <label class="col-sm-4 control-label">Payment Received Date :</label>
                       <div class="col-sm-6">
                          <datepicker date-format="yyyy-MM-dd"><input ng-model="leaddisbursalinfobyleadid[key].payment_received_date" type="text"/></datepicker>
                       </div>
                    </div>
                    <div class="form-group" ng-if="leaddisbursalinfobyleadid[key].payment_status=='RECEIVED'">
                       <label class="col-sm-4 control-label">Amount Received :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].amount_received" >
                       </div>
                    </div>
                    <div class="form-group" ng-if="leaddisbursalinfobyleadid[key].payment_status=='RECEIVED'">
                       <label class="col-sm-4 control-label">Other Income Received (LIFE INSURANCE) :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].other_income" >
                       </div>
                    </div>
                    <div class="form-group" ng-if="leaddisbursalinfobyleadid[key].payment_status=='RECEIVED'">
                       <label class="col-sm-4 control-label">Total Amount Received :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].total_income_rececived" ng-value= "(leaddisbursalinfobyleadid[key].total_income_rececived = leaddisbursalinfobyleadid[key].amount_received*1 + leaddisbursalinfobyleadid[key].other_income*1)">
                       </div>
                    </div>

                    <div class="form-group" ng-if="leaddisbursalinfobyleadid[key].reference_type !='' ">
                       <label class="col-sm-4 control-label">Type Of Reference :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].reference_type" disabled>
                       </div>
                    </div>

                    <div class="form-group" ng-if="leaddisbursalinfobyleadid[key].reference_type !='' ">
                       <label class="col-sm-4 control-label">Name Of Reference :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].reference_name"  disabled>
                       </div>
                    </div>

                    <div class="form-group" ng-if="leaddisbursalinfobyleadid[key].reference_type !='' ">
                       <label class="col-sm-4 control-label">Calculated Commision :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].commision_calculated" >
                       </div>
                    </div>

                    <div class="form-group" ng-if="leaddisbursalinfobyleadid[key].reference_type !='' ">
                       <label class="col-sm-4 control-label">Actual Commission Given :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].commision_cashback_given" >
                       </div>
                    </div>

                    <div class="form-group" ng-if="leaddisbursalinfobyleadid[key].reference_type !='' ">
                       <label class="col-sm-4 control-label">Commision Paid :</label>
                       <div class="col-sm-6">
                         <select class="form-control" ng-init="commision_cashback_paid = 'Please Select'" ng-model="leaddisbursalinfobyleadid[key].commision_cashback_paid" required>
                            <option>Please Select</option>
                            <option  value="YES"> YES </option>
                            <option  value="NO"> NO </option>
                         </select>
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">Net Income :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].net_income" ng-value = "(leaddisbursalinfobyleadid[key].net_income = leaddisbursalinfobyleadid[key].total_income_rececived*1 - leaddisbursalinfobyleadid[key].commision_cashback_given*1)">
                       </div>
                    </div>

                    <div class="form-group" ng-if="leaddisbursalinfobyleadid[key].payment_status=='RECEIVED'">
                       <label class="col-sm-4 control-label">Payment Transaction Number :</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].payment_transaction_number">
                       </div>
                    </div>
                    <div class="form-group" ng-if="leaddisbursalinfobyleadid[key].payment_status=='RECEIVED'">
                       <label class="col-sm-4 control-label"> Received In Bank :</label>
                       <div class="col-sm-6">
                         <select class="form-control" ng-init="payment_in_bank = 'Please Select'" ng-model="leaddisbursalinfobyleadid[key].payment_in_bank" required>
                            <option>Please Select</option>
                            <option  value="1"> HDFC bank </option>
                            <option  value="2"> ICICI BANK </option>
                            <option  value="3"> AXIS BANK </option>
                            <option  value="4"> PNB BANK </option>
                            <option  value="5"> BOB BANK </option>
                         </select>
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label"> Approved By Finance Team :</label>
                       <div class="col-sm-6">
                          <select class="form-control" ng-init="approved_by_finance = 'Please Select'" ng-model="leaddisbursalinfobyleadid[key].approved_by_finance" required>
                             <option>Please Select</option>
                             <option  value="YES"> YES </option>
                             <option  value="NO"> NO </option>
                          </select>
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label"> Feedback By Finance Team :</label>
                       <div class="col-sm-6">
                          <textarea class="form-control" ng-model="leaddisbursalinfobyleadid[key].finance_feedback" ></textarea>
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-sm-4 control-label">More Commision Expected :</label>
                       <div class="col-sm-6">
                         <select class="form-control" ng-init="more_commision_expected = 'Please Select'" ng-model="leaddisbursalinfobyleadid[key].more_commision_expected" required>
                            <option>Please Select</option>
                            <option  value="YES"> YES </option>
                            <option  value="NO"> NO </option>
                         </select>
                       </div>
                    </div>
                    <div class="form-group" style="display: none;">
                       <label class="col-sm-4 control-label">ID:</label>
                       <div class="col-sm-6">
                          <input class="form-control" ng-model="leaddisbursalinfobyleadid[key].ldid" disabled="true" >
                       </div>
                    </div>
                    <hr>
                    <div class="form-group">
                      <div class="col-md-12 col-sm-12 form-group">
                         <input type="Submit" class="btn btn-primary" value="Update">
                         <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </form>
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
 <script>
function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
